Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

chore: remove migration-to-operator from rh03 banner
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/konflux-info/info-patch.yaml
Due: none

Revert "fix: disable telemetry on rh03 (#14580)" (#14581)
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/kustomization.yaml
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/telemetry/telemetry-patch.yaml
Due: none

chore: remove migration-to-operator from rh03 banner (#14582)
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/konflux-info/info-patch.yaml
Due: none

chore(ring-0-etcd-shield): promote etcd-shield to ring-0
  components/etcd-shield/rings/ring-0/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-1-etcd-shield): promote etcd-shield to ring-1
  components/etcd-shield/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-1-external-secrets-operator): promote external-secrets-operator to ring-1
  components/external-secrets-operator/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4661 policies: apply buildah ROKS seccomp workaround to step-push (#14533)
  components/policies/rings/ring-1/lightwell-dev/buildah-roks-seccomp-cp.yaml
  components/policies/rings/ring-2/kflux-lw-p01/buildah-roks/buildah-roks-seccomp-and-caps-cp.yaml
Due: none

Add osci-rhel-containers-tenant specific schedule for MintMaker (#14505)
  components/mintmaker/production/stone-prod-p02/create-dependency-update-check-osci-rhel-containers-tenant.yaml
  components/mintmaker/production/stone-prod-p02/kustomization.yaml
Due: none

chore(ring-1-notification-controller): promote notification-controller to ring-1
  components/notification-controller/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4439: Move adjust-buildah-resources platform policy into policies base (#14451)
  components/policies/base/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/README.md
  components/policies/base/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/policies/base/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/chainsaw-assert-failure-policy.yaml
  components/policies/base/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/chainsaw-test.yaml
  components/policies/base/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/configmap-host-config.yaml
  components/policies/base/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/expected-pod-local-platform.yaml
  components/policies/base/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/expected-pod-no-matching-label.yaml
  components/policies/base/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/expected-pod-no-platform.yaml
  components/policies/base/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/expected-pod-remote-platform-not-mutated.yaml
  components/policies/base/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/expected-pod-remote-platform.yaml
  components/policies/base/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/namespace-multi-platform-controller.yaml
  components/policies/base/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/pod-local-platform.yaml
  components/policies/base/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/pod-no-matching-label.yaml
  components/policies/base/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/pod-no-platform.yaml
  components/policies/base/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/pod-remote-platform.yaml
  components/policies/base/build-resources/adjust-buildah-resources-for-remote-platforms/adjust-buildah-resources-for-remote-platforms-cp.yaml
  components/policies/base/build-resources/adjust-buildah-resources-for-remote-platforms/kustomization.yaml
  components/policies/base/build-resources/adjust-buildah-resources-for-remote-platforms/kyverno-configmap-read-rb.yaml
  components/policies/base/build-resources/adjust-buildah-resources-for-remote-platforms/kyverno-configmap-read-role.yaml
  components/policies/base/build-resources/kustomization.yaml
  components/policies/base/kustomization.yaml
  components/policies/rings/ring-2/kflux-lw-p01/kueue/deny-unallowed-annotations/.chainsaw-test/in-tenant/chainsaw-test.yaml
  components/policies/rings/ring-2/kflux-lw-p01/kueue/deny-unallowed-annotations/.chainsaw-test/out-tenant/chainsaw-test.yaml
  components/policies/rings/ring-2/kflux-lw-p01/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4638 Promote GPU host SSH gating to ring-3
  components/multi-platform-controller/rings/ring-3/base/host-config-chart/files/linux-g64xlarge-amd64-init.sh
Due: rhtap-staging-e2e

Update from release-service
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

chore(ring-0-konflux-operator): promote konflux-operator to ring-0
  components/konflux-operator/rings/ring-0/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-0-smee-client): promote smee-client to ring-0
  components/smee-client/rings/ring-0/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-0-artifact-registry-proxy): promote artifact-registry-proxy to ring-0
  components/artifact-registry-proxy/rings/ring-0/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

chore(ring-0-container-image-proxy): promote container-image-proxy to ring-0
  components/container-image-proxy/rings/ring-0/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

chore(ring-1-konflux-operator): promote konflux-operator to ring-1
  components/konflux-operator/rings/ring-1/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5585 Add git provider credentials to kanary run-simple task (#14518)
  components/monitoring/kanary/staging/base/pipelines/kanary-run-simple.yaml
  components/monitoring/kanary/staging/base/tasks/kanary-run-simple.yaml
  components/monitoring/kanary/staging/lightwell-dev/cronjobs/kanary-simple-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/lightwell-dev/cronjobs/kanary-simple-cronjob-rpm.yaml
  components/monitoring/kanary/staging/lightwell-dev/cronjobs/kanary-simple-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-simple-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-simple-cronjob-rpm.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-simple-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-simple-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-simple-cronjob-rpm.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-simple-cronjob-single-arch.yaml
Due: rhtap-staging-e2e

chore(ring-1-smee-client): promote smee-client to ring-1
  components/smee-client/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-2-konflux-operator): promote konflux-operator to ring-2
  components/konflux-operator/rings/ring-2/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5633 Add konflux-kanary Kueue priority class for ring-0/ring-1
  components/kueue/base/workload-priority-classes.yaml
  components/kueue/rings/ring-0/base/tekton-kueue/config.yaml
  components/kueue/rings/ring-1/base/tekton-kueue/config.yaml
  hack/test-tekton-kueue-config.py
Due: rhtap-staging-e2e

chore(ring-1-artifact-registry-proxy): promote artifact-registry-proxy to ring-1
  components/artifact-registry-proxy/rings/ring-1/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

PVO11Y-5577 Add VictoriaMetrics PoC manifests for staging
  components/monitoring/prometheus/staging/stone-stg-rh01/kustomization.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/kustomization.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/namespace.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/networkpolicy.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/operator-helm-generator.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/operator-values.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/rbac.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/scrape-credentials.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/scrape-networkpolicies.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/tekton-networkpolicy.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/tekton-scrapes.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/vmagent.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/vmalert.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/vmcluster.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/vmrule.yaml
Due: rhtap-staging-e2e

PVO11Y-5577 Provision Grafana datasource for VM PoC
  components/monitoring/grafana/staging/stone-stg-rh01/kustomization.yaml
  components/monitoring/grafana/staging/stone-stg-rh01/vm-poc-datasource.yaml
Due: rhtap-staging-e2e

PVO11Y-5577 Document VM PoC validation and cleanup
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/README.md
Due: rhtap-staging-e2e

chore(ring-1-container-image-proxy): promote container-image-proxy to ring-1
  components/container-image-proxy/rings/ring-1/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

PVO11Y-5577 Address VM PoC deployment review findings
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/README.md
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/networkpolicy.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/operator-values.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/scrape-credentials.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/vmalert.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4365 - Announce stone-prd-p01 SA rotation
  components/konflux-info/production/stone-prod-p01/banner-content.yaml
  components/konflux-operator/rings/ring-2/stone-prod-p01/konflux-info/info-patch.yaml
Due: none

chore(ring-1-cluster-secret-store): promote cluster-secret-store to ring-1
  components/cluster-secret-store/rings/ring-1/base/base-snapshot/appsre-stonesoup-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-1/base/base-snapshot/appsre-vault-secret-store.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4365 - Announce stone-prd-p01 SA rotation (#14600)
  components/konflux-info/production/stone-prod-p01/banner-content.yaml
  components/konflux-operator/rings/ring-2/stone-prod-p01/konflux-info/info-patch.yaml
Due: none

KFLUXUI-1481 migrate application-cleaner to ring deployment layout
  argo-cd-apps/base/member/infra-deployments/application-cleaner/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  argo-cd-apps/overlays/rd-staging/application-cleaner/application-cleaner-appset.yaml
  argo-cd-apps/overlays/rd-staging/application-cleaner/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/kustomization.yaml
  components/application-cleaner/base/clusterrolebinding.yaml
  components/application-cleaner/base/configmap.yaml
  components/application-cleaner/base/cronjob.yaml
  components/application-cleaner/base/kustomization.yaml
  components/application-cleaner/base/serviceaccount.yaml
  components/application-cleaner/rings/empty-base/empty-base/kustomization.yaml
  components/application-cleaner/rings/ring-0/base/kustomization.yaml
  components/application-cleaner/rings/ring-1/base/base-snapshot/clusterrolebinding.yaml
  components/application-cleaner/rings/ring-1/base/base-snapshot/configmap.yaml
  components/application-cleaner/rings/ring-1/base/base-snapshot/cronjob.yaml
  components/application-cleaner/rings/ring-1/base/base-snapshot/kustomization.yaml
  components/application-cleaner/rings/ring-1/base/base-snapshot/serviceaccount.yaml
  components/application-cleaner/rings/ring-1/base/kustomization.yaml
  components/application-cleaner/rings/ring-1/lightwell-dev/kustomization.yaml
  components/application-cleaner/rings/ring-1/stone-stage-p01/kustomization.yaml
  components/application-cleaner/rings/ring-1/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5577 Use platform Prometheus federation in VM PoC
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/README.md
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/kustomization.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/namespace.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/networkpolicy.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/platform-federation.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/rbac.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/scrape-credentials.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/scrape-networkpolicies.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/vmagent.yaml
Due: rhtap-staging-e2e

feat(KFLUXUI-1481): add cleaner bot actions for staging (#13246)
  argo-cd-apps/overlays/rd-staging/application-cleaner/application-cleaner-appset.yaml
  argo-cd-apps/overlays/rd-staging/application-cleaner/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/kustomization.yaml
  components/application-cleaner/OWNERS
  components/application-cleaner/base/clusterrolebinding.yaml
  components/application-cleaner/base/configmap.yaml
  components/application-cleaner/base/cronjob.yaml
  components/application-cleaner/base/kustomization.yaml
  components/application-cleaner/base/serviceaccount.yaml
  components/application-cleaner/rings/empty-base/empty-base/kustomization.yaml
  components/application-cleaner/rings/ring-0/base/kustomization.yaml
  components/application-cleaner/rings/ring-1/base/base-snapshot/clusterrolebinding.yaml
  components/application-cleaner/rings/ring-1/base/base-snapshot/configmap.yaml
  components/application-cleaner/rings/ring-1/base/base-snapshot/cronjob.yaml
  components/application-cleaner/rings/ring-1/base/base-snapshot/kustomization.yaml
  components/application-cleaner/rings/ring-1/base/base-snapshot/serviceaccount.yaml
  components/application-cleaner/rings/ring-1/base/kustomization.yaml
  components/application-cleaner/rings/ring-1/lightwell-dev/kustomization.yaml
  components/application-cleaner/rings/ring-1/stone-stage-p01/kustomization.yaml
  components/application-cleaner/rings/ring-1/stone-stg-rh01/kustomization.yaml
  components/konflux-operator/rings/ring-1/base/cr/konflux-rbac/konflux-cleaner-bot-actions.yaml
  components/konflux-operator/rings/ring-1/base/cr/konflux-rbac/kustomization.yaml
  components/konflux-rbac/staging/base/bot/konflux-cleaner-bot-actions.yaml
  components/konflux-rbac/staging/base/bot/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5577 Forward Alloy platform scrape to VM PoC replicas
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/alloy/alloy-config.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/alloy/alloy-networkpolicy.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/README.md
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/kustomization.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/networkpolicy.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/platform-federation.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/rbac.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/vmagent.yaml
Due: rhtap-staging-e2e

PVO11Y-5577 Match Tekton exporter job label in VM scrape
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/tekton-scrapes.yaml
Due: rhtap-staging-e2e
