Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

KubeArchive: bump to v1, breaking changes (#6337)
  components/authentication/base/everyone-can-view.yaml
  components/kubearchive/base/kubearchive-config.yaml
  components/kubearchive/base/kubearchive-maintainer.yaml
  components/kubearchive/base/kustomization.yaml
  components/kubearchive/policies/.chainsaw-test/resources/actual-kubeconfig-archive.yaml
  components/kubearchive/policies/.chainsaw-test/resources/expected-kubearchiveconfig.yaml
  components/kubearchive/policies/.chainsaw-test/resources/kubearchive-crd.yaml
  components/kubearchive/policies/bootstrap-namespace.yaml
  components/kubearchive/policies/kyverno_rbac.yaml
  components/kubearchive/policies/resources/expected-kubearchiveconfig-konflux.yaml
  components/release/staging/kustomization.yaml
Due: rhtap-staging-e2e

etcd-shield: deploy to production
  argo-cd-apps/base/member/infra-deployments/etcd-shield/etcd-shield.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  components/etcd-shield/production/base/config.yaml
  components/etcd-shield/production/base/deployment.yaml
  components/etcd-shield/production/base/etcd_shield_alerts.yaml
  components/etcd-shield/production/base/kustomization.yaml
  components/etcd-shield/production/base/ns.yaml
  components/etcd-shield/production/base/rbac.yaml
  components/etcd-shield/production/base/service.yaml
  components/etcd-shield/production/base/webhook.yaml
  components/etcd-shield/production/kflux-ocp-p01/kustomization.yaml
  components/etcd-shield/production/kflux-prd-rh02/kustomization.yaml
  components/etcd-shield/production/kflux-prd-rh03/kustomization.yaml
  components/etcd-shield/production/stone-prd-rh01/kustomization.yaml
  components/etcd-shield/production/stone-prod-p01/kustomization.yaml
  components/etcd-shield/production/stone-prod-p02/kustomization.yaml
Due: rhtap-staging-e2e

etcd-shield: add to development overlay
  argo-cd-apps/overlays/development/delete-applications.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  components/etcd-shield/development/kustomization.yaml
Due: none

Update security group and subnet for rh03
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
Due: none

Configure single IBM static VMs for each type
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
Due: none

Update rh03 host config (#6365)
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
Due: none

Fix rh03 security group ID
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
Due: none

Add s390x static VMs to rh03
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
Due: none

Fix rh03 security group ID (#6367)
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
Due: none

bootstrap tenant policy creates missing resources
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-existing-resources.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/expected-resources.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.kyverno-test/kyverno-test.yaml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.kyverno-test/resources/expected-configmap_trusted-ca.yml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.kyverno-test/resources/expected-networkpolicy_allow-from-console-namespaces.yml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.kyverno-test/resources/expected-networkpolicy_allow-from-olm-namespaces.yml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.kyverno-test/resources/expected-networkpolicy_allow-from-openshift-ingress.yml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.kyverno-test/resources/expected-networkpolicy_allow-from-openshift-monitoring.yml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/.kyverno-test/resources/expected-networkpolicy_allow-same-namespace.yml
  components/konflux-rbac/policies/bootstrap-tenant-namespace/bootstrap-tenant-namespace-clusterpolicy.yaml
  components/konflux-rbac/production/base/kustomization.yaml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/.chainsaw-test/chainsaw-test.yaml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-appstudio-pipeline-clusterrole.yaml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-existing-rolebinding.yaml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-namespace-konfluxcidev.yaml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-namespace-unlabeled.yaml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/.chainsaw-test/resources/expected-rolebinding.yaml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/.kyverno-test/kyverno-test.yaml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/.kyverno-test/resources/expected-rolebinding-appstudio-runner.yaml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/.kyverno-test/resources/labeled-namespace-konflux.yaml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/bootstrap-tenant-namespace-clusterpolicy.yaml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/kustomization.yaml
  components/konflux-rbac/production/policies/bootstrap-tenant-namespace/kyverno_rbac.yaml
  components/konflux-rbac/production/policies/restrict-binding-system-authenticated/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/konflux-rbac/production/policies/restrict-binding-system-authenticated/.chainsaw-test/chainsaw-test.yaml
  components/konflux-rbac/production/policies/restrict-binding-system-authenticated/.chainsaw-test/resources/invalid-systemauthenticated-rolebinding.yaml
  components/konflux-rbac/production/policies/restrict-binding-system-authenticated/.chainsaw-test/resources/tenant-namespace.yaml
  components/konflux-rbac/production/policies/restrict-binding-system-authenticated/.chainsaw-test/resources/valid-systemauthenticated-rolebinding.yaml
  components/konflux-rbac/production/policies/restrict-binding-system-authenticated/kustomization.yaml
  components/konflux-rbac/production/policies/restrict-binding-system-authenticated/kyverno_rbac.yaml
  components/konflux-rbac/production/policies/restrict-binding-system-authenticated/validate-restrict-binding-system-authenticated-clusterpolicy.yaml
  components/konflux-rbac/production/policies/validate-rolebindings/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/konflux-rbac/production/policies/validate-rolebindings/.chainsaw-test/chainsaw-test.yaml
  components/konflux-rbac/production/policies/validate-rolebindings/.chainsaw-test/resources/rolebinding.yaml
  components/konflux-rbac/production/policies/validate-rolebindings/.chainsaw-test/resources/tenant-namespace.yaml
  components/konflux-rbac/production/policies/validate-rolebindings/invalid-subjects.yaml
  components/konflux-rbac/production/policies/validate-rolebindings/kustomization.yaml
  components/konflux-rbac/production/policies/validate-rolebindings/kyverno_rbac.yaml
Due: rhtap-staging-e2e

etcd-shield: deploy to production (#6343)
  argo-cd-apps/base/member/infra-deployments/etcd-shield/etcd-shield.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  components/etcd-shield/production/base/config.yaml
  components/etcd-shield/production/base/deployment.yaml
  components/etcd-shield/production/base/etcd_shield_alerts.yaml
  components/etcd-shield/production/base/kustomization.yaml
  components/etcd-shield/production/base/ns.yaml
  components/etcd-shield/production/base/rbac.yaml
  components/etcd-shield/production/base/service.yaml
  components/etcd-shield/production/base/webhook.yaml
  components/etcd-shield/production/kflux-ocp-p01/kustomization.yaml
  components/etcd-shield/production/kflux-prd-rh02/kustomization.yaml
  components/etcd-shield/production/kflux-prd-rh03/kustomization.yaml
  components/etcd-shield/production/stone-prd-rh01/kustomization.yaml
  components/etcd-shield/production/stone-prod-p01/kustomization.yaml
  components/etcd-shield/production/stone-prod-p02/kustomization.yaml
Due: rhtap-staging-e2e

Add s390x static VMs to rh03 (#6368)
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
Due: none

Fix AWS key name for all AWS architectures
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
Due: none

Fix AWS key name for all AWS architectures (#6369)
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
Due: none

Re-create all s390x VMs for rh03
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
Due: none

Re-create all s390x VMs for rh03 (#6370)
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
Due: none

Add all remaining rh01 ppc VMs
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
Due: none

Add all remaining rh01 ppc VMs (#6371)
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
Due: none

fix RBAC
  components/konflux-rbac/policies/bootstrap-tenant-namespace/kyverno_rbac.yaml
Due: none

fix rbac
  components/konflux-rbac/policies/bootstrap-tenant-namespace/kyverno_rbac.yaml
Due: none

add list RoleBindings to maintainers and contributors in staging
  components/konflux-rbac/staging/base/konflux-contributor-user-actions.yaml
  components/konflux-rbac/staging/base/konflux-maintainer-user-actions.yaml
Due: rhtap-staging-e2e

Bump mintmaker on stage
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Bump mintmaker on stage (#6374)
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

etcd-shield: enable in production
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
Due: none

Promote release-service from staging to production
  components/release/production/kustomization.yaml
Due: none

Promote release-service from staging to production (#6377)
  components/release/production/kustomization.yaml
Due: none

etcd-shield: enable in production (#6376)
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
Due: none

fix(PVO11Y-4653): Add es01 clusterDir for monitoring-workload-prometheus
  argo-cd-apps/base/all-clusters/infra-deployments/monitoring-workload-prometheus/monitoring-workload-prometheus.yaml
Due: none

Test new e1080 PPC static VMs for stage-p02
  components/multi-platform-controller/production-downstream/stone-prod-p02/host-config.yaml
Due: none

Test new e1080 PPC static VMs for stage-p02 (#6379)
  components/multi-platform-controller/production-downstream/stone-prod-p02/host-config.yaml
Due: none

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
