Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

Revert restrict-binding-denylist (#14059)
  components/policies-rd/base/konflux-rbac/kustomization.yaml
  components/policies-rd/base/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/chainsaw-assert-validatingadmissionpolicy.yaml
  components/policies-rd/base/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/chainsaw-test.yaml
  components/policies-rd/base/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/invalid-rolebinding-model.yaml
  components/policies-rd/base/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/invalid-rolebinding-secrets.yaml
  components/policies-rd/base/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/invalid-rolebinding-viewer.yaml
  components/policies-rd/base/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/tenant-namespace.yaml
  components/policies-rd/base/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/tenant-role.yaml
  components/policies-rd/base/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/valid-rolebinding.yaml
  components/policies-rd/base/konflux-rbac/restrict-binding-denylist/create/kustomization.yaml
  components/policies-rd/base/konflux-rbac/restrict-binding-denylist/create/restrict-binding-denylist-create-validatingadmissionpolicy.yaml
  components/policies-rd/base/konflux-rbac/restrict-binding-denylist/create/restrict-binding-denylist-create-validatingadmissionpolicybinding.yaml
  components/policies-rd/base/konflux-rbac/restrict-binding-denylist/kustomization.yaml
  components/policies-rd/rings/ring-1/base/base-snapshot/konflux-rbac/kustomization.yaml
  components/policies-rd/rings/ring-1/base/base-snapshot/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/chainsaw-assert-validatingadmissionpolicy.yaml
  components/policies-rd/rings/ring-1/base/base-snapshot/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/chainsaw-test.yaml
  components/policies-rd/rings/ring-1/base/base-snapshot/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/invalid-rolebinding-model.yaml
  components/policies-rd/rings/ring-1/base/base-snapshot/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/invalid-rolebinding-secrets.yaml
  components/policies-rd/rings/ring-1/base/base-snapshot/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/invalid-rolebinding-viewer.yaml
  components/policies-rd/rings/ring-1/base/base-snapshot/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/tenant-namespace.yaml
  components/policies-rd/rings/ring-1/base/base-snapshot/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/tenant-role.yaml
  components/policies-rd/rings/ring-1/base/base-snapshot/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/valid-rolebinding.yaml
  components/policies-rd/rings/ring-1/base/base-snapshot/konflux-rbac/restrict-binding-denylist/create/kustomization.yaml
  components/policies-rd/rings/ring-1/base/base-snapshot/konflux-rbac/restrict-binding-denylist/create/restrict-binding-denylist-create-validatingadmissionpolicy.yaml
  components/policies-rd/rings/ring-1/base/base-snapshot/konflux-rbac/restrict-binding-denylist/create/restrict-binding-denylist-create-validatingadmissionpolicybinding.yaml
  components/policies-rd/rings/ring-1/base/base-snapshot/konflux-rbac/restrict-binding-denylist/kustomization.yaml
Due: rhtap-staging-e2e

Update konflux-kite staging images to 83d204d
  components/konflux-kite/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-2-artifact-registry-proxy): promote artifact-registry-proxy to ring-2
  components/artifact-registry-proxy/rings/ring-2/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

chore(ring-1-artifact-registry-proxy): promote artifact-registry-proxy to ring-1
  components/artifact-registry-proxy/rings/ring-1/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

chore(KAR-961): Upgrade KubeArchive to v1.23.0 in production clusters (1/3)
  components/kubearchive/production/stone-prd-rh01/kubearchive.yaml
  components/kubearchive/production/stone-prd-rh01/kustomization.yaml
  components/kubearchive/production/stone-prod-p01/kubearchive.yaml
  components/kubearchive/production/stone-prod-p01/kustomization.yaml
  components/kubearchive/production/stone-prod-p02/kubearchive.yaml
  components/kubearchive/production/stone-prod-p02/kustomization.yaml
Due: none

Update konflux-kite staging images to 83d204d (#14076)
  components/konflux-kite/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Update konflux-kite production images to 83d204d
  components/konflux-kite/production/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-1-konflux-operator): promote konflux-operator to ring-1
  components/konflux-operator/rings/ring-1/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-2-konflux-operator): promote konflux-operator to ring-2
  components/konflux-operator/rings/ring-2/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

(onboarding) Migrate production repository-validator AppSet to ring deployments ArgoCD
  argo-cd-apps/overlays/rd-production/kustomization.yaml
  argo-cd-apps/overlays/rd-production/repository-validator/kustomization.yaml
  argo-cd-apps/overlays/rd-production/repository-validator/repository-validator-appset.yaml
  components/repository-validator-rd/rings/ring-2/base/base-snapshot/kustomization.yaml
  components/repository-validator-rd/rings/ring-2/base/base-snapshot/namespace.yaml
  components/repository-validator-rd/rings/ring-2/base/base-snapshot/validating-admission-policy-binding.yaml
  components/repository-validator-rd/rings/ring-2/base/base-snapshot/validating-admission-policy.yaml
  components/repository-validator-rd/rings/ring-2/base/kustomization.yaml
  components/repository-validator-rd/rings/ring-3/base/base-snapshot/kustomization.yaml
  components/repository-validator-rd/rings/ring-3/base/base-snapshot/namespace.yaml
  components/repository-validator-rd/rings/ring-3/base/base-snapshot/validating-admission-policy-binding.yaml
  components/repository-validator-rd/rings/ring-3/base/base-snapshot/validating-admission-policy.yaml
  components/repository-validator-rd/rings/ring-3/base/kustomization.yaml
  components/repository-validator-rd/rings/ring-4/base/base-snapshot/kustomization.yaml
  components/repository-validator-rd/rings/ring-4/base/base-snapshot/namespace.yaml
  components/repository-validator-rd/rings/ring-4/base/base-snapshot/validating-admission-policy-binding.yaml
  components/repository-validator-rd/rings/ring-4/base/base-snapshot/validating-admission-policy.yaml
  components/repository-validator-rd/rings/ring-4/base/kustomization.yaml
Due: rhtap-staging-e2e

Fixing rin4 and typo in cluster name
  components/repository-validator-rd/rings/ring-2/kflux-ocp-p01/kustomization.yaml
  components/repository-validator-rd/rings/ring-4/base/kustomization.yaml
Due: rhtap-staging-e2e

Adding clusters dirs
  components/repository-validator-rd/rings/ring-2/flux-ocp-p01/kustomization.yaml
  components/repository-validator-rd/rings/ring-2/kflux-lw-p01/kustomization.yaml
  components/repository-validator-rd/rings/ring-2/kflux-osp-p01/kustomization.yaml
  components/repository-validator-rd/rings/ring-2/kflux-rhel-p01/kustomization.yaml
  components/repository-validator-rd/rings/ring-2/stone-prod-p01/kustomization.yaml
  components/repository-validator-rd/rings/ring-3/stone-prod-p02/kustomization.yaml
Due: none

Fixing trailing spaces
  argo-cd-apps/overlays/rd-production/repository-validator/repository-validator-appset.yaml
Due: none

Revert "Update konflux-kite staging images to 83d204d (#14076)"
  components/konflux-kite/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Revert "Update konflux-kite staging images to 83d204d (#14076)" (#14083)
  components/konflux-kite/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Configure kflux-lw-p01 MPC AWS host values and local platforms (#14075)
  components/multi-platform-controller/rings/ring-2/kflux-lw-p01/host-values.yaml
Due: none

feat(KFLUXINFRA-4368) Update fedora konflux certificate duration and renewal.
  components/konflux-ui/production/kflux-fedora-01/letsencrypt/certificate.yaml
Due: none

chore(ring-3-authentication): promote authentication to ring-3
  components/authentication/rings/ring-3/base/base-snapshot/rbac/everyone-can-view-crs.yaml
  components/authentication/rings/ring-3/base/base-snapshot/rbac/konflux-admins-cr.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4520: (onboarding) Migrate production repository-validator AppSet to ring deployments ArgoCD (#14063)
  argo-cd-apps/overlays/rd-production/kustomization.yaml
  argo-cd-apps/overlays/rd-production/repository-validator/kustomization.yaml
  argo-cd-apps/overlays/rd-production/repository-validator/repository-validator-appset.yaml
  components/repository-validator-rd/rings/ring-2/base/base-snapshot/kustomization.yaml
  components/repository-validator-rd/rings/ring-2/base/base-snapshot/namespace.yaml
  components/repository-validator-rd/rings/ring-2/base/base-snapshot/validating-admission-policy-binding.yaml
  components/repository-validator-rd/rings/ring-2/base/base-snapshot/validating-admission-policy.yaml
  components/repository-validator-rd/rings/ring-2/base/kustomization.yaml
  components/repository-validator-rd/rings/ring-2/kflux-lw-p01/kustomization.yaml
  components/repository-validator-rd/rings/ring-2/kflux-ocp-p01/kustomization.yaml
  components/repository-validator-rd/rings/ring-2/kflux-osp-p01/kustomization.yaml
  components/repository-validator-rd/rings/ring-2/kflux-rhel-p01/kustomization.yaml
  components/repository-validator-rd/rings/ring-2/stone-prod-p01/kustomization.yaml
  components/repository-validator-rd/rings/ring-3/base/base-snapshot/kustomization.yaml
  components/repository-validator-rd/rings/ring-3/base/base-snapshot/namespace.yaml
  components/repository-validator-rd/rings/ring-3/base/base-snapshot/validating-admission-policy-binding.yaml
  components/repository-validator-rd/rings/ring-3/base/base-snapshot/validating-admission-policy.yaml
  components/repository-validator-rd/rings/ring-3/base/kustomization.yaml
  components/repository-validator-rd/rings/ring-3/stone-prod-p02/kustomization.yaml
  components/repository-validator-rd/rings/ring-4/base/base-snapshot/kustomization.yaml
  components/repository-validator-rd/rings/ring-4/base/base-snapshot/namespace.yaml
  components/repository-validator-rd/rings/ring-4/base/base-snapshot/validating-admission-policy-binding.yaml
  components/repository-validator-rd/rings/ring-4/base/base-snapshot/validating-admission-policy.yaml
  components/repository-validator-rd/rings/ring-4/base/kustomization.yaml
Due: rhtap-staging-e2e

mintmaker: add new renovate-image annotation rules for pre-prod
  components/mintmaker/development/kustomizeconfig.yaml
  components/mintmaker/staging/base/kustomizeconfig.yaml
Due: rhtap-staging-e2e

feat(KFLUXINFRA-4368) Update fedora konflux certificate alias. (#14070)
  components/konflux-ui/production/kflux-fedora-01/dex-config.yaml
  components/konflux-ui/production/kflux-fedora-01/letsencrypt/certificate.yaml
  components/konflux-ui/production/kflux-fedora-01/letsencrypt/konflux-san-routes.yaml
  components/konflux-ui/production/kflux-fedora-01/letsencrypt/kustomization.yaml
  components/konflux-ui/production/kflux-fedora-01/oauth2-proxy-args-patch.yaml
Due: none

Update from release-service
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

KFLUXVNGD-1303 Update production proxy endpoints (ring-2)
  components/konflux-info/production/kflux-ocp-p01/cluster-config.env
  components/konflux-info/production/kflux-osp-p01/cluster-config.env
  components/konflux-info/production/kflux-prd-rh03/cluster-config.env
  components/konflux-info/production/kflux-rhel-p01/cluster-config.env
  components/konflux-info/production/stone-prod-p01/cluster-config.env
Due: none

Update rd repo-vaidator external ref
  components/repository-validator-rd/rings/ring-2/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-1-kueue): promote kueue to ring-1
  components/kueue/rings/ring-1/base/tekton-kueue/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/image-rbac-proxy/development/kustomization.yaml
  components/image-rbac-proxy/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

KFLUXINFRA-4260 fix duplicate SCC keys and drop stale Replace=true in production wave 2 (ring-3)
  components/kyverno/production/stone-prod-p02/kyverno-helm-values.yaml
Due: none

Migrate notification-controller production to ring deployments
  argo-cd-apps/overlays/rd-production/kustomization.yaml
  argo-cd-apps/overlays/rd-production/notification-controller/kustomization.yaml
  argo-cd-apps/overlays/rd-production/notification-controller/notification-controller-appset.yaml
  components/notification-controller-rd/rings/ring-2/base/aws-sns-es.yaml
  components/notification-controller-rd/rings/ring-2/base/kustomization.yaml
  components/notification-controller-rd/rings/ring-2/base/patches/increase-memory-patch.yaml
  components/notification-controller-rd/rings/ring-2/base/patches/pipelinerun_filters-patch.yaml
  components/notification-controller-rd/rings/ring-2/base/patches/topic_region_add-patch.yaml
  components/notification-controller-rd/rings/ring-2/kflux-lw-p01/kustomization.yaml
  components/notification-controller-rd/rings/ring-2/kflux-ocp-p01/kustomization.yaml
  components/notification-controller-rd/rings/ring-2/kflux-osp-p01/kustomization.yaml
  components/notification-controller-rd/rings/ring-2/kflux-rhel-p01/kustomization.yaml
  components/notification-controller-rd/rings/ring-2/stone-prod-p01/kustomization.yaml
  components/notification-controller-rd/rings/ring-3/base/aws-sns-es.yaml
  components/notification-controller-rd/rings/ring-3/base/kustomization.yaml
  components/notification-controller-rd/rings/ring-3/base/patches/increase-memory-patch.yaml
  components/notification-controller-rd/rings/ring-3/base/patches/pipelinerun_filters-patch.yaml
  components/notification-controller-rd/rings/ring-3/base/patches/topic_region_add-patch.yaml
  components/notification-controller-rd/rings/ring-3/stone-prod-p02/kustomization.yaml
  components/notification-controller-rd/rings/ring-4/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-1-notification-controller): promote notification-controller to ring-1
  components/notification-controller-rd/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

Revert "add VAP to deprecate ClusterRoles (#13799)" (#14055)
  components/konflux-rbac/staging/base/bot/konflux-model-bot-actions.yaml
  components/konflux-rbac/staging/base/bot/konflux-secrets-bot-actions.yaml
  components/konflux-rbac/staging/base/bot/konflux-viewer-bot-actions.yaml
  components/policies/development/konflux-rbac/kustomization.yaml
  components/policies/development/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/chainsaw-assert-validatingadmissionpolicy.yaml
  components/policies/development/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/chainsaw-test.yaml
  components/policies/development/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/invalid-rolebinding-model.yaml
  components/policies/development/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/invalid-rolebinding-secrets.yaml
  components/policies/development/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/invalid-rolebinding-viewer.yaml
  components/policies/development/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/tenant-namespace.yaml
  components/policies/development/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/tenant-role.yaml
  components/policies/development/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/valid-rolebinding.yaml
  components/policies/development/konflux-rbac/restrict-binding-denylist/create/kustomization.yaml
  components/policies/development/konflux-rbac/restrict-binding-denylist/create/restrict-binding-denylist-create-validatingadmissionpolicy.yaml
  components/policies/development/konflux-rbac/restrict-binding-denylist/create/restrict-binding-denylist-create-validatingadmissionpolicybinding.yaml
  components/policies/development/konflux-rbac/restrict-binding-denylist/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-0-konflux-operator): promote konflux-operator
  components/konflux-operator/rings/ring-0/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4260 bump kyverno to 3.9.0 (v1.19) in production wave 2, stone-prod-p02 (ring-3) (#13734)
  components/kyverno/production/stone-prod-p02/kustomization.yaml
  components/kyverno/production/stone-prod-p02/kyverno-helm-generator.yaml
  components/kyverno/production/stone-prod-p02/kyverno-helm-values.yaml
Due: none

Update from release-service
  components/smee-client/staging/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/notification-controller/development/kustomization.yaml
  components/notification-controller/staging/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/project-controller/development/kustomization.yaml
  components/project-controller/staging/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXVNGD-1303 Update production proxy endpoints (ring-2) (#14086)
  components/konflux-info/production/kflux-ocp-p01/cluster-config.env
  components/konflux-info/production/kflux-osp-p01/cluster-config.env
  components/konflux-info/production/kflux-prd-rh03/cluster-config.env
  components/konflux-info/production/kflux-rhel-p01/cluster-config.env
  components/konflux-info/production/stone-prod-p01/cluster-config.env
Due: none

chore(ring-0-artifact-registry-proxy): promote artifact-registry-proxy to ring-0
  components/artifact-registry-proxy/rings/ring-0/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

chore(ring-0-container-image-proxy): promote container-image-proxy to ring-0
  components/container-image-proxy/rings/ring-0/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
