Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

feat: allow integration team to manage integrationtestscenarios (#3686)
  components/integration/base/kustomization.yaml
  components/integration/base/manage-integrationtestscenarios.yaml
Due: rhtap-staging-e2e

tekton-ci: remove build-service PaC Repository (#3678)
  components/tekton-ci/base/repository.yaml
Due: rhtap-staging-e2e

bump images to latest
  components/ui/production/kustomization.yaml
Due: none

Bump hac-dev, chrome service, chrome frontend tags (#3656)
  components/ui/production/kustomization.yaml
Due: none

build-service update
  components/build-service/development/kustomization.yaml
  components/build-service/production/base/kustomization.yaml
  components/build-service/staging/base/kustomization.yaml
Due: build-service-prod-overlay-update, rhtap-staging-e2e

build-service update (#3687)
  components/build-service/development/kustomization.yaml
  components/build-service/production/base/kustomization.yaml
  components/build-service/staging/base/kustomization.yaml
Due: build-service-prod-overlay-update, rhtap-staging-e2e

KFLUXBUGS-863: introduce results fixes with requisite performance related tuning (dev/stage) (#3616)
  components/monitoring/grafana/base/dashboards/pipeline-service/kustomization.yaml
  components/pipeline-service/development/bump-results-watcher-replicas.yaml
  components/pipeline-service/development/config.env
  components/pipeline-service/development/kustomization.yaml
  components/pipeline-service/development/update-results-watcher-performance.yaml
  components/pipeline-service/staging/base/bump-results-watcher-replicas.yaml
  components/pipeline-service/staging/base/config.env
  components/pipeline-service/staging/base/kustomization.yaml
  components/pipeline-service/staging/base/update-results-watcher-performance.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-m01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

Revert "KFLUXBUGS-863: introduce results fixes with requisite performance related tuning (dev/stage) (#3616)"
  components/monitoring/grafana/base/dashboards/pipeline-service/kustomization.yaml
  components/pipeline-service/development/bump-results-watcher-replicas.yaml
  components/pipeline-service/development/config.env
  components/pipeline-service/development/kustomization.yaml
  components/pipeline-service/development/update-results-watcher-performance.yaml
  components/pipeline-service/staging/base/bump-results-watcher-replicas.yaml
  components/pipeline-service/staging/base/config.env
  components/pipeline-service/staging/base/kustomization.yaml
  components/pipeline-service/staging/base/update-results-watcher-performance.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-m01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

Revert "KFLUXBUGS-863: introduce results fixes with requisite performance related tuning (dev/stage) (#3616)" (#3688)
  components/monitoring/grafana/base/dashboards/pipeline-service/kustomization.yaml
  components/pipeline-service/development/bump-results-watcher-replicas.yaml
  components/pipeline-service/development/config.env
  components/pipeline-service/development/kustomization.yaml
  components/pipeline-service/development/update-results-watcher-performance.yaml
  components/pipeline-service/staging/base/bump-results-watcher-replicas.yaml
  components/pipeline-service/staging/base/config.env
  components/pipeline-service/staging/base/kustomization.yaml
  components/pipeline-service/staging/base/update-results-watcher-performance.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-m01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

Change user password due to secret leak. (#3567)
  components/dev-sso/keycloak-realm.yaml
Due: none

pin results image until watcher mem leak fix is deemed ok
  components/pipeline-service/development/kustomization.yaml
  components/pipeline-service/production/base/kustomization.yaml
  components/pipeline-service/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(STONEINTG-836): migrate integration-service to konflux-ci
  components/integration/README.md
  components/integration/development/kustomization.yaml
  components/integration/production/base/kustomization.yaml
  components/integration/staging/base/kustomization.yaml
  components/monitoring/grafana/base/dashboards/integration/kustomization.yaml
  hack/preview.sh
Due: rhtap-staging-e2e

pin results image until watcher mem leak fix is deemed ok (#3644)
  components/pipeline-service/development/kustomization.yaml
  components/pipeline-service/production/base/kustomization.yaml
  components/pipeline-service/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(STONEINTG-836): migrate integration-service to konflux-ci (#3691)
  components/integration/README.md
  components/integration/development/kustomization.yaml
  components/integration/production/base/kustomization.yaml
  components/integration/staging/base/kustomization.yaml
  components/monitoring/grafana/base/dashboards/integration/kustomization.yaml
  hack/preview.sh
Due: rhtap-staging-e2e

Enable Tekton StepActions in dev and staging
  components/pipeline-service/development/enable-step-actions.yaml
  components/pipeline-service/development/kustomization.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-m01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

chore: add ci-helper-app
  argo-cd-apps/base/ci-helper-app/ci-helper-app.yaml
  argo-cd-apps/base/ci-helper-app/kustomization.yaml
  argo-cd-apps/overlays/development/delete-applications.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-staging/kustomization.yaml
  components/backup/base/member/schedules/backup-tenants-schedule.yaml
  components/ci-helper-app/OWNERS
  components/ci-helper-app/base/kustomization.yaml
  components/ci-helper-app/base/rbac/ci-helper-app.yaml
  components/ci-helper-app/base/rbac/kustomization.yaml
  components/ci-helper-app/development/kustomization.yaml
  components/ci-helper-app/staging/external-secrets/ci-helper-app-secrets.yaml
  components/ci-helper-app/staging/external-secrets/kustomization.yaml
  components/ci-helper-app/staging/kustomization.yaml
  components/cluster-secret-store/base/appsre-stonesoup-vault-secret-store.yaml
  docs/_data/navigation.yml
  docs/misc/ci-helper-app.md
  hack/bootstrap-host-cluster.sh
  hack/destroy-cluster.sh
  hack/preview-template.env
  hack/secret-creator/create-ci-helper-app-secret.sh
Due: rhtap-staging-e2e

Create first application/component on eaas cluster (#3682)
  argo-cd-apps/base/eaas/kustomization.yaml
  argo-cd-apps/base/eaas/some-component/kustomization.yaml
  argo-cd-apps/base/eaas/some-component/some-component.yaml
  argo-cd-apps/k-components/deploy-to-eaas-cluster-merge-generator/eaas-cluster-label-selector.yaml
  argo-cd-apps/k-components/deploy-to-eaas-cluster-merge-generator/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  argo-cd-apps/overlays/staging-downstream/kustomization.yaml
  components/some-component/base/kustomization.yaml
  components/some-component/base/namespace.yaml
  components/some-component/production/kustomization.yaml
  components/some-component/staging/kustomization.yaml
Due: rhtap-staging-e2e

Fix eaas component path
  argo-cd-apps/base/eaas/some-component/some-component.yaml
Due: none

Enable Tekton StepActions in dev and staging (#3693)
  components/pipeline-service/development/enable-step-actions.yaml
  components/pipeline-service/development/kustomization.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-m01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

Fix eaas component path (#3695)
  argo-cd-apps/base/eaas/some-component/some-component.yaml
Due: none

chore: add ci-helper-app (#3643)
  argo-cd-apps/base/ci-helper-app/ci-helper-app.yaml
  argo-cd-apps/base/ci-helper-app/kustomization.yaml
  argo-cd-apps/overlays/development/delete-applications.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-staging/kustomization.yaml
  components/backup/base/member/schedules/backup-tenants-schedule.yaml
  components/ci-helper-app/OWNERS
  components/ci-helper-app/base/kustomization.yaml
  components/ci-helper-app/base/rbac/ci-helper-app.yaml
  components/ci-helper-app/base/rbac/kustomization.yaml
  components/ci-helper-app/development/kustomization.yaml
  components/ci-helper-app/staging/external-secrets/ci-helper-app-secrets.yaml
  components/ci-helper-app/staging/external-secrets/kustomization.yaml
  components/ci-helper-app/staging/kustomization.yaml
  components/cluster-secret-store/base/appsre-stonesoup-vault-secret-store.yaml
  docs/_data/navigation.yml
  docs/misc/ci-helper-app.md
  hack/bootstrap-host-cluster.sh
  hack/destroy-cluster.sh
  hack/preview-template.env
  hack/secret-creator/create-ci-helper-app-secret.sh
Due: rhtap-staging-e2e

Build config for build pipelines for build-service, will be used in future instead of build selectors
  components/build-service/base/build-pipeline-config/build-pipeline-config.yaml
  components/build-service/base/kustomization.yaml
  components/build-service/base/rbac/build-config.yaml
  components/build-service/base/rbac/kustomization.yaml
Due: rhtap-staging-e2e

Build config for build pipelines for build-service, (#3629)
  components/build-service/base/build-pipeline-config/build-pipeline-config.yaml
  components/build-service/base/kustomization.yaml
  components/build-service/base/rbac/build-config.yaml
  components/build-service/base/rbac/kustomization.yaml
Due: rhtap-staging-e2e

SRVKP-4361: enable results-from sidecar-logs for pipelines on dev and stagging
  components/pipeline-service/development/kustomization.yaml
  components/pipeline-service/development/tekton-pipelines-controller-pods-log-access-rbac.yaml
  components/pipeline-service/development/update-tekton-config-features.yaml
  components/pipeline-service/staging/base/kustomization.yaml
  components/pipeline-service/staging/base/tekton-pipelines-controller-pods-log-access-rbac.yaml
  components/pipeline-service/staging/base/update-tekton-config-features.yaml
  components/pipeline-service/staging/stone-stg-m01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

add p01 - bifrost is off of stage now
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
Due: rhtap-staging-e2e

Deploy ci-helper-app only on clusters with matching label
  argo-cd-apps/base/ci-helper-app/ci-helper-app.yaml
Due: none

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
