Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

KFLUXVNGD-1111 Refactor crossplane-control-plane staging into per-cluster overlays (#12822)
  argo-cd-apps/base/member/infra-deployments/crossplane-control-plane/crossplane-control-plane.yaml
  components/crossplane-control-plane/staging/base/kustomization.yaml
  components/crossplane-control-plane/staging/base/provider-config.yaml
  components/crossplane-control-plane/staging/base/testplatform-provider-config.yaml
  components/crossplane-control-plane/staging/stone-stage-p01/kustomization.yaml
  components/crossplane-control-plane/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

feat(PVO11Y-5321): Forward KAExporter labels stage (#12874)
  components/monitoring/prometheus/staging/base/federation/writeRelabelConfigs.yaml
Due: rhtap-staging-e2e

KONFLUX-14639 querier pods OOMKilled staging fix (#12873)
  components/vector-kubearchive-log-collector/staging/stone-stage-p01/loki-helm-stg-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-stg-values.yaml
Due: rhtap-staging-e2e

Move tracing component under monitoring directory
  argo-cd-apps/base/member/infra-deployments/tempo/tempo.yaml
  argo-cd-apps/base/member/infra-deployments/tracing-workload-otel-collector/tracing-workload-otel-collector.yaml
  argo-cd-apps/base/member/infra-deployments/tracing-workload-otel-collector/tracing-workload-tracing.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-production/production-tracing-overlay-patch.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/production-tracing-overlay-patch.yaml
  components/monitoring/tracing/otel-collector/base/enable-tekton-tracing/enable-tekton-tracing.yaml
  components/monitoring/tracing/otel-collector/base/enable-tekton-tracing/kustomization.yaml
  components/monitoring/tracing/otel-collector/base/external-secrets/kustomization.yaml
  components/monitoring/tracing/otel-collector/base/external-secrets/signalfx-api-key.yaml
  components/monitoring/tracing/otel-collector/base/kustomization.yaml
  components/monitoring/tracing/otel-collector/development/kustomization.yaml
  components/monitoring/tracing/otel-collector/development/otel-collector-helm-values.yaml
  components/monitoring/tracing/otel-collector/development/patch-delete-external-secrets.yaml
  components/monitoring/tracing/otel-collector/staging/kustomization.yaml
  components/monitoring/tracing/otel-collector/staging/otel-collector-helm-values.yaml
  components/monitoring/tracing/otel-collector/staging/servicemonitors/kustomization.yaml
  components/monitoring/tracing/otel-collector/staging/servicemonitors/otel-collector-kanary-servicemonitor.yaml
  components/monitoring/tracing/otel-collector/staging/signalfx-api-key-secret-path.yaml
  components/monitoring/tracing/tempo/development/kustomization.yaml
  components/monitoring/tracing/tempo/development/tempo-operator.yaml
  components/monitoring/tracing/tempo/development/tempo.yaml
Due: rhtap-staging-e2e

add patch for upsizing resource limits
  components/cost-management/base/costmanagement-metrics-operator.yaml
  components/cost-management/staging/base/cost-management-operator-resources-patch.yaml
  components/cost-management/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5107 Document and organize production label allowlist in writeRelabelConfigs
  components/monitoring/prometheus/production/base/federation/writeRelabelConfigs.yaml
Due: rhtap-staging-e2e

KFLUXVNGD-985 Enable TLS for konflux-kite in development
  components/konflux-kite/development/kustomization.yaml
Due: none

feat(KFLUXVNGD-1079): fetch and display per-service feat/fix commits in changelog comment, and fix multi-bump detection within a single kustomization file (#12794)
  infra-tools/cmd/changelog-generator/main.go
  infra-tools/cmd/changelog-generator/main_test.go
  infra-tools/internal/changelog/bumps.go
  infra-tools/internal/changelog/bumps_test.go
  infra-tools/internal/changelog/commits.go
  infra-tools/internal/changelog/commits_test.go
  infra-tools/internal/changelog/upstream_test.go
Due: none

feat(spre-5500): add service monitors to development
  components/cert-manager/development/kustomization.yaml
  components/cert-manager/development/monitoring/kustomization.yaml
  components/cert-manager/development/monitoring/monitoring-rbac.yaml
  components/cert-manager/development/monitoring/namespace-label.yaml
  components/cert-manager/development/monitoring/servicemonitor.yaml
  components/cert-manager/development/operator.yaml
Due: none

feat(spre-5500): add service monitors for cert-mager operator in staging env
  components/cert-manager/staging/base/kustomization.yaml
  components/cert-manager/staging/base/monitoring/kustomization.yaml
  components/cert-manager/staging/base/monitoring/monitoring-rbac.yaml
  components/cert-manager/staging/base/monitoring/namespace-label.yaml
  components/cert-manager/staging/base/monitoring/servicemonitor.yaml
  components/cert-manager/staging/base/operator.yaml
Due: rhtap-staging-e2e

fix parallelism and query parameters for loki
  components/vector-kubearchive-log-collector/production/kflux-ocp-p01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/stone-prod-p02/loki-helm-prod-values.yaml
Due: none

Update from release-service
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

feat: Also enable ExternalSecrets in managed-konflux-perfscale-tenant NS in prod
  components/cluster-secret-store/production/perfscale-namespaces-patch.yaml
Due: none

PVO11Y-5150 Refactor Kanary V1 staging layout
  components/monitoring/kanary/base/kustomization.yaml
  components/monitoring/kanary/base/pipelines/kanary-otel-pipeline.yaml
  components/monitoring/kanary/base/pipelines/kustomization.yaml
  components/monitoring/kanary/base/rbac/kanary-cronjob-rbac.yaml
  components/monitoring/kanary/base/rbac/kanary-maintainers.yaml
  components/monitoring/kanary/base/rbac/kanary-o11y-cronjob-trigger-rbac.yaml
  components/monitoring/kanary/base/rbac/kustomization.yaml
  components/monitoring/kanary/base/tasks/kustomization.yaml
  components/monitoring/kanary/base/tasks/push-kanary-metrics.yaml
  components/monitoring/kanary/base/tasks/run-kanary-tests.yaml
  components/monitoring/kanary/staging/base/kustomization.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/stone-stage-p01/external-secrets/kanary-probe-credentials.yaml
  components/monitoring/kanary/staging/stone-stage-p01/external-secrets/kanary-probe-prometheus-credentials.yaml
  components/monitoring/kanary/staging/stone-stage-p01/external-secrets/kanary-probe-users-credentials.yaml
  components/monitoring/kanary/staging/stone-stage-p01/external-secrets/kustomization.yaml
  components/monitoring/kanary/staging/stone-stage-p01/external-secrets/patches/kanary-probe-credentials-path.yaml
  components/monitoring/kanary/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/external-secrets/kanary-probe-credentials.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/external-secrets/kanary-probe-prometheus-credentials.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/external-secrets/kanary-probe-users-credentials.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/external-secrets/kustomization.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/external-secrets/patches/kanary-probe-credentials-path.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/build-service/development/kustomization.yaml
  components/build-service/staging/base/kustomization.yaml
Due: build-service-prod-overlay-update, rhtap-staging-e2e

SPRE-4610: bump internal-infra-deployments ref for staging blackbox fixes
  components/monitoring/blackbox/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/blackbox/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

[KFLUXINFRA-3215] [KFLUXINFRA-3217] Removed wrong file
  components/backup/production/stone-prd-rh01/kustomization.yaml
  components/backup/production/stone-prd-rh01/oadp-channel-patch.yaml
  components/backup/production/stone-prod-p02/kustomization.yaml
  components/backup/production/stone-prod-p02/oadp-channel-patch.yaml
Due: none

Upgrade kubearchive to v1.22.2 on kflux-rhel-p01 (#12791)
  components/kubearchive/production/kflux-rhel-p01/kubearchive.yaml
  components/kubearchive/production/kflux-rhel-p01/kustomization.yaml
Due: none

KAR-893 remove from loadbalancer on stone-prd-rh01 stone-prod-p01 (#12347)
  components/vector-kubearchive-log-collector/production/stone-prd-rh01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/stone-prd-rh01/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/production/stone-prod-p01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/stone-prod-p01/loki-helm-values.yaml
Due: none

add kubearchive headers for development access to logging
  components/kubearchive/development/kubearchive.yaml
Due: none

Update from release-service
  components/integration/development/kustomization.yaml
  components/integration/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5323 Allow cardinality exporter to reach Tekton Prometheus
  components/monitoring/prometheus/staging/tekton-ms/networkpolicy.yaml
Due: rhtap-staging-e2e

PVO11Y-5323 Add Tekton Prometheus to cardinality exporter discovery
  components/monitoring/cardinality/base/resources/deployment.yaml
Due: rhtap-staging-e2e

Promote release-service and grafana-dashboard from staging to production
  components/monitoring/grafana/production/dashboards/release/kustomization.yaml
  components/release/production/kustomization.yaml
Due: none

add konflux-tester-internalbot-actions to prod (#12810)
  components/konflux-rbac/production/base/konflux-tester-internalbot-actions.yaml
  components/konflux-rbac/production/base/kustomization.yaml
Due: rhtap-staging-e2e

lower resources for staging env pods
  components/cost-management/staging/base/cost-management-operator-resources-patch.yaml
Due: rhtap-staging-e2e

KFLUXVNGD-1111 Refactor crossplane-control-plane production into per-cluster overlays
  argo-cd-apps/base/member/infra-deployments/crossplane-control-plane/crossplane-control-plane.yaml
  components/crossplane-control-plane/production/base/kustomization.yaml
  components/crossplane-control-plane/production/base/provider-config.yaml
  components/crossplane-control-plane/production/base/testplatform-provider-config.yaml
  components/crossplane-control-plane/production/kflux-fedora-01/kustomization.yaml
  components/crossplane-control-plane/production/kflux-ocp-p01/kustomization.yaml
  components/crossplane-control-plane/production/kflux-osp-p01/kustomization.yaml
  components/crossplane-control-plane/production/kflux-prd-rh02/kustomization.yaml
  components/crossplane-control-plane/production/kflux-prd-rh03/kustomization.yaml
  components/crossplane-control-plane/production/kflux-rhel-p01/kustomization.yaml
  components/crossplane-control-plane/production/stone-prd-rh01/kustomization.yaml
  components/crossplane-control-plane/production/stone-prod-p01/kustomization.yaml
  components/crossplane-control-plane/production/stone-prod-p02/kustomization.yaml
Due: rhtap-staging-e2e

[KFLUXINFRA-3212] [KFLUXINFRA-3218] Update OADP channel to stable for kflux-prd-rh03 and stone-prod-p01 (#12861)
  components/backup/production/kflux-prd-rh03/kustomization.yaml
  components/backup/production/kflux-prd-rh03/oadp-channel-patch.yaml
  components/backup/production/stone-prod-p01/kustomization.yaml
  components/backup/production/stone-prod-p01/oadp-channel-patch.yaml
Due: none

Update from release-service
  components/multi-platform-controller/base/kustomization.yaml
Due: rhtap-staging-e2e

modify owners lists for KubeArchive repos
  components/kubearchive/OWNERS
  components/vector-kubearchive-log-collector/OWNERS
Due: none

KONFLUX-14639 query pods OOMKills development changes (#12844)
  components/vector-kubearchive-log-collector/development/loki-helm-dev-values.yaml
Due: none

KFLUXVNGD-985 Update konflux-operator and enable kite/kubearchive proxy endpoints in dev (#12866)
  components/konflux-kite/development/kustomization.yaml
  components/konflux-operator/development/cr/overlay-patches/konflux-ui/ui.yaml
  components/konflux-operator/development/invariant/kustomization.yaml
Due: none

add maruiz93 as a reviewer
  components/kubearchive/OWNERS
  components/vector-kubearchive-log-collector/OWNERS
Due: none

improve nvidia CDI configuration logic
  components/multi-platform-controller/base/host-config-chart/files/linux-g64xlarge-amd64-init.sh
  components/multi-platform-controller/staging/base/host-config-chart/files/linux-g64xlarge-amd64-init.sh
Due: rhtap-staging-e2e

Promote integration-service from staging to production (#12733)
  components/integration/production/base/kustomization.yaml
Due: rhtap-staging-e2e
