Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

fixup(PVO11Y-4652): Only export idle-mode metrics to reduce cardinality from unused labels
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: rhtap-staging-e2e

Expose KubeArchive API (#6206)
  components/konflux-ui/staging/base/proxy/nginx.conf
  components/konflux-ui/staging/base/proxy/proxy.yaml
  components/konflux-ui/staging/stone-stage-p01/kustomization.yaml
  components/konflux-ui/staging/stone-stg-rh01/kustomization.yaml
  components/kubearchive/base/kubearchive-routes.yaml
Due: rhtap-staging-e2e

Disable kyverno WebhookCleanup job in dev and stg
  components/kyverno/development/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stage-p01/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-values.yaml
Due: rhtap-staging-e2e

use helm in chainsaw overlay
  .github/workflows/chainsaw-tests.yaml
  components/kyverno/chainsaw/job_resources.yaml
  components/kyverno/chainsaw/kustomization.yaml
  components/kyverno/chainsaw/kyverno-helm-generator.yaml
  components/kyverno/chainsaw/kyverno-helm-values.yaml
  components/kyverno/chainsaw/namespace.yaml
  hack/chainsaw/chainsaw-prepare.sh
Due: none

fix: running ir shold not be removed by job
  components/release/base/cronjobs/remove-internal-requests.yaml
Due: rhtap-staging-e2e

Disable kyverno WebhookCleanup job in dev and stg (#6242)
  components/kyverno/development/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stage-p01/kyverno-helm-values.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-values.yaml
Due: rhtap-staging-e2e

deploy knative-eventing to stone-prod-p02
  components/knative-eventing/production/stone-prod-p02/kustomization.yaml
Due: none

deploy knative-eventing to stone-prod-p02 (#6245)
  components/knative-eventing/production/stone-prod-p02/kustomization.yaml
Due: none

deploy knative-eventing to stone-stg-rh01
  argo-cd-apps/base/member/infra-deployments/knative-eventing/knative-eventing.yaml
  components/knative-eventing/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

deploy knative-eventing to stone-stg-rh01 (#6246)
  argo-cd-apps/base/member/infra-deployments/knative-eventing/knative-eventing.yaml
  components/knative-eventing/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

Always validate and initialize variables
  hack/new-cluster/playbook.yaml
Due: none

fix-up(PVO11Y-4652): Export new cluster and etcd metrics (#6231)
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: rhtap-staging-e2e

Promote integration-service from staging to production
  components/integration/production/base/kustomization.yaml
Due: rhtap-staging-e2e

Promote integration-service from staging to production (#6251)
  components/integration/production/base/kustomization.yaml
Due: rhtap-staging-e2e

fix: remove failing checks (#6216)
  components/release/base/monitor/production/configmap.yaml
Due: rhtap-staging-e2e

fix: running ir shold not be removed by job (#6244)
  components/release/base/cronjobs/remove-internal-requests.yaml
Due: rhtap-staging-e2e

Inclue the .p1 suffix in longname.
  hack/new-cluster/README.md
  hack/new-cluster/playbook.yaml
  hack/new-cluster/tasks/github/app.yaml
  hack/new-cluster/templates/integration/console-url-config-patch.json
  hack/new-cluster/templates/konflux-ui/dex-config.yaml
  hack/new-cluster/templates/konflux-ui/oauth2-proxy-args-patch.yaml
  hack/new-cluster/templates/konflux-ui/set-hostname.yaml
  hack/new-cluster/templates/konflux-ui/set-redirect-uri.yaml
  hack/new-cluster/templates/pipeline-service/deploy.yaml
  hack/new-cluster/templates/pipeline-service/resources/update-tekton-config-pac.yaml
Due: none

Cleanup Knative Eventing deployment folders
  argo-cd-apps/base/member/infra-deployments/knative-eventing/knative-eventing.yaml
  components/knative-eventing/production/stone-prd-m01/kustomization.yaml
  components/knative-eventing/production/stone-prd-rh01/kustomization.yaml
Due: none

removing livenessProbe
  components/smee-client/base/deployment.yaml
Due: rhtap-staging-e2e

update components/build-service/development/kustomization.yaml
  components/build-service/development/kustomization.yaml
Due: none

update components/build-service/staging/base/kustomization.yaml
  components/build-service/staging/base/kustomization.yaml
Due: build-service-prod-overlay-update, rhtap-staging-e2e

Knative Eventing: increase memory usage for controller
  components/knative-eventing/base/kustomization.yaml
Due: rhtap-staging-e2e

Knative Eventing: increase memory usage for controller (#6259)
  components/knative-eventing/base/kustomization.yaml
Due: rhtap-staging-e2e

update console urls in integration component
  components/integration/production/base/kustomization.yaml
  components/integration/production/kflux-ocp-p01/console-url-config-patch.json
  components/integration/production/stone-prod-p01/console-url-config-patch.json
  components/integration/production/stone-prod-p02/console-url-config-patch.json
  components/integration/staging/base/kustomization.yaml
  components/integration/staging/stone-stage-p01/console-url-config-patch.json
Due: rhtap-staging-e2e

update console urls in integration component (#6263)
  components/integration/production/base/kustomization.yaml
  components/integration/production/kflux-ocp-p01/console-url-config-patch.json
  components/integration/production/stone-prod-p01/console-url-config-patch.json
  components/integration/production/stone-prod-p02/console-url-config-patch.json
  components/integration/staging/base/kustomization.yaml
  components/integration/staging/stone-stage-p01/console-url-config-patch.json
Due: rhtap-staging-e2e

add konflux-viewer-user-actions role to stg and prod
  components/konflux-rbac/production/base/konflux-viewer-user-actions.yaml
  components/konflux-rbac/production/base/kustomization.yaml
  components/konflux-rbac/staging/base/konflux-viewer-user-actions.yaml
  components/konflux-rbac/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Align pipeline-service base with cluster configs
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

Align pipeline-service base with cluster configs (#6272)
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e
