Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

Update from release-service
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

konflux-ui: promote dynamic dex SA token to both staging clusters (#13008)
  components/konflux-ui/staging/base/dex/dex.yaml
  components/konflux-ui/staging/base/dex/kustomization.yaml
  components/konflux-ui/staging/base/dex/run-dex.sh
  components/konflux-ui/staging/base/kustomization.yaml
  components/konflux-ui/staging/base/route-and-oauth.yaml
  components/konflux-ui/staging/stone-stage-p01/base/dex/dex.yaml
  components/konflux-ui/staging/stone-stage-p01/base/dex/kustomization.yaml
  components/konflux-ui/staging/stone-stage-p01/kustomization.yaml
  components/konflux-ui/staging/stone-stage-p01/remove-dex-client-secret.yaml
  components/konflux-ui/staging/stone-stage-p01/remove-dex-client.yaml
  components/konflux-ui/staging/stone-stg-rh01/dex-config.yaml
  components/konflux-ui/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5342 Refactor kanary staging and add pre-cleanup step
  components/monitoring/kanary/staging/base/pipelines/kanary-otel-pipeline.yaml
  components/monitoring/kanary/staging/base/tasks/run-kanary-tests.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-single-arch.yaml
Due: rhtap-staging-e2e

PVO11Y-5347 Deploy cardinality exporter to production
  argo-cd-apps/base/member/infra-deployments/monitoring-cardinality/monitoring-cardinality.yaml
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  components/monitoring/cardinality/production/base/kustomization.yaml
  components/monitoring/cardinality/production/kflux-prd-rh02/kustomization.yaml
  components/monitoring/cardinality/production/stone-prd-rh01/kustomization.yaml
Due: rhtap-staging-e2e

Enable proxy for pip on select prod clusters
  components/konflux-info/production/kflux-prd-rh02/cluster-config.env
  components/konflux-info/production/stone-prod-p01/cluster-config.env
Due: none

PVO11Y-5342 Address review: improve pre-cleanup script
  components/monitoring/kanary/staging/base/tasks/run-kanary-tests.yaml
Due: rhtap-staging-e2e

KONFLUX-14907 Configure Tekton resolver retry and back-off (#13006)
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

PVO11Y-5310 Move cardinality exporter into exporters directory
  argo-cd-apps/base/member/infra-deployments/monitoring-cardinality/monitoring-cardinality.yaml
  components/monitoring/exporters/cardinality/base/kustomization.yaml
  components/monitoring/exporters/cardinality/base/rbac/cardinality-exporter.yaml
  components/monitoring/exporters/cardinality/base/rbac/cardinality-maintainers.yaml
  components/monitoring/exporters/cardinality/base/rbac/kustomization.yaml
  components/monitoring/exporters/cardinality/base/resources/auth-config.yaml
  components/monitoring/exporters/cardinality/base/resources/deployment.yaml
  components/monitoring/exporters/cardinality/base/resources/kustomization.yaml
  components/monitoring/exporters/cardinality/base/resources/namespace.yaml
  components/monitoring/exporters/cardinality/base/resources/service.yaml
  components/monitoring/exporters/cardinality/base/resources/servicemonitor.yaml
  components/monitoring/exporters/cardinality/staging/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5347 Restructure cardinality exporter for per-cluster deployment
  argo-cd-apps/base/member/infra-deployments/monitoring-cardinality/monitoring-cardinality.yaml
  components/monitoring/exporters/cardinality/base/kustomization.yaml
  components/monitoring/exporters/cardinality/staging/base/kustomization.yaml
  components/monitoring/exporters/cardinality/staging/base/rbac/cardinality-exporter.yaml
  components/monitoring/exporters/cardinality/staging/base/rbac/cardinality-maintainers.yaml
  components/monitoring/exporters/cardinality/staging/base/rbac/kustomization.yaml
  components/monitoring/exporters/cardinality/staging/base/resources/auth-config.yaml
  components/monitoring/exporters/cardinality/staging/base/resources/deployment.yaml
  components/monitoring/exporters/cardinality/staging/base/resources/kustomization.yaml
  components/monitoring/exporters/cardinality/staging/base/resources/namespace.yaml
  components/monitoring/exporters/cardinality/staging/base/resources/service.yaml
  components/monitoring/exporters/cardinality/staging/base/resources/servicemonitor.yaml
  components/monitoring/exporters/cardinality/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/exporters/cardinality/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5310 Exclude cardinality exporter from development overlay
  argo-cd-apps/overlays/development/delete-applications.yaml
Due: none

Enable proxy for pip on select prod clusters (#13016)
  components/konflux-info/production/kflux-prd-rh02/cluster-config.env
  components/konflux-info/production/stone-prod-p01/cluster-config.env
Due: none

KONFLUX-14700: OOM fix kflux-osp-p01 kflux-fedora-01 (#12938)
  components/vector-kubearchive-log-collector/production/kflux-fedora-01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-osp-p01/loki-helm-prod-values.yaml
Due: none

KONFLUX-14700: OOM kflux-rhel-p01 stone-prd-rh01 stone-prod-p01 (#12934)
  components/vector-kubearchive-log-collector/production/kflux-rhel-p01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/stone-prd-rh01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/stone-prod-p01/loki-helm-prod-values.yaml
Due: none

KONFLUX-14700: OOM fix kflux-prd-rh02 kflux-prd-rh-03 (#12940)
  components/vector-kubearchive-log-collector/production/kflux-prd-rh02/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-prd-rh03/loki-helm-prod-values.yaml
Due: none

Enable proxy for pip on remaining prod clusters
  components/konflux-info/production/kflux-ocp-p01/cluster-config.env
  components/konflux-info/production/kflux-osp-p01/cluster-config.env
  components/konflux-info/production/kflux-prd-rh03/cluster-config.env
  components/konflux-info/production/kflux-rhel-p01/cluster-config.env
  components/konflux-info/production/stone-prd-rh01/cluster-config.env
  components/konflux-info/production/stone-prod-p02/cluster-config.env
Due: none

PVO11Y-5310 Move cardinality exporter to exporters dir and restructure for per-cluster deployment (#13017)
  argo-cd-apps/base/member/infra-deployments/monitoring-cardinality/monitoring-cardinality.yaml
  argo-cd-apps/overlays/development/delete-applications.yaml
  components/monitoring/cardinality/base/kustomization.yaml
  components/monitoring/exporters/cardinality/staging/base/kustomization.yaml
  components/monitoring/exporters/cardinality/staging/base/rbac/cardinality-exporter.yaml
  components/monitoring/exporters/cardinality/staging/base/rbac/cardinality-maintainers.yaml
  components/monitoring/exporters/cardinality/staging/base/rbac/kustomization.yaml
  components/monitoring/exporters/cardinality/staging/base/resources/auth-config.yaml
  components/monitoring/exporters/cardinality/staging/base/resources/deployment.yaml
  components/monitoring/exporters/cardinality/staging/base/resources/kustomization.yaml
  components/monitoring/exporters/cardinality/staging/base/resources/namespace.yaml
  components/monitoring/exporters/cardinality/staging/base/resources/service.yaml
  components/monitoring/exporters/cardinality/staging/base/resources/servicemonitor.yaml
  components/monitoring/exporters/cardinality/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/exporters/cardinality/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

fix(PVO11Y-4905): Enable larger results via sidecar logs for stage
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

PVO11Y-5342 Prepare kueue ClusterPolicy for recreation on fedora (#13010)
  components/policies/production/kflux-fedora-01/kustomization.yaml
  components/policies/production/kflux-fedora-01/patches/kueue-policy-prepare-recreate.yaml
Due: none

KFLUXVNGD-1121 Promote crossplane-control-plane upgrade to production
  components/crossplane-control-plane/production/base/kustomization.yaml
  components/crossplane-control-plane/production/kflux-fedora-01/environment-config.yaml
  components/crossplane-control-plane/production/kflux-fedora-01/kustomization.yaml
  components/crossplane-control-plane/production/kflux-ocp-p01/environment-config.yaml
  components/crossplane-control-plane/production/kflux-ocp-p01/kustomization.yaml
  components/crossplane-control-plane/production/kflux-osp-p01/environment-config.yaml
  components/crossplane-control-plane/production/kflux-osp-p01/kustomization.yaml
  components/crossplane-control-plane/production/kflux-prd-rh02/environment-config.yaml
  components/crossplane-control-plane/production/kflux-prd-rh02/kustomization.yaml
  components/crossplane-control-plane/production/kflux-prd-rh03/environment-config.yaml
  components/crossplane-control-plane/production/kflux-prd-rh03/kustomization.yaml
  components/crossplane-control-plane/production/kflux-rhel-p01/environment-config.yaml
  components/crossplane-control-plane/production/kflux-rhel-p01/kustomization.yaml
  components/crossplane-control-plane/production/stone-prd-rh01/environment-config.yaml
  components/crossplane-control-plane/production/stone-prd-rh01/kustomization.yaml
  components/crossplane-control-plane/production/stone-prod-p01/environment-config.yaml
  components/crossplane-control-plane/production/stone-prod-p01/kustomization.yaml
  components/crossplane-control-plane/production/stone-prod-p02/environment-config.yaml
  components/crossplane-control-plane/production/stone-prod-p02/kustomization.yaml
Due: rhtap-staging-e2e

Correct namespace for pipeline-controller pod log access
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
Due: rhtap-staging-e2e

Sync pipeline service staging config
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

Enable proxy for pip on remaining prod clusters (#13018)
  components/konflux-info/production/kflux-ocp-p01/cluster-config.env
  components/konflux-info/production/kflux-osp-p01/cluster-config.env
  components/konflux-info/production/kflux-prd-rh03/cluster-config.env
  components/konflux-info/production/kflux-rhel-p01/cluster-config.env
  components/konflux-info/production/stone-prd-rh01/cluster-config.env
  components/konflux-info/production/stone-prod-p02/cluster-config.env
Due: none

Update pipelines to next nightly build in dev/staging 5.0.5-849
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/konflux-ui/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

feat(SPRE-5500): add ServiceMonitor for cert-manager in production
  components/cert-manager/production/base/kustomization.yaml
  components/cert-manager/production/base/monitoring/kustomization.yaml
  components/cert-manager/production/base/monitoring/monitoring-rbac.yaml
  components/cert-manager/production/base/monitoring/namespace-label.yaml
  components/cert-manager/production/base/monitoring/servicemonitor.yaml
  components/cert-manager/production/base/operator.yaml
Due: rhtap-staging-e2e

KONFLUX-14156 Update multi-platform-controller on production (ring-2)
  components/multi-platform-controller/base/logcollector/otelcollector.yaml
  components/multi-platform-controller/production-downstream/base/kustomization.yaml
  components/multi-platform-controller/production-downstream/kflux-osp-p01/kustomization.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p01/kustomization.yaml
  components/multi-platform-controller/production/base/kustomization.yaml
  components/multi-platform-controller/production/kflux-fedora-01/kustomization.yaml
  components/multi-platform-controller/production/kflux-prd-rh02/kustomization.yaml
  components/multi-platform-controller/production/kflux-prd-rh03/kustomization.yaml
  components/multi-platform-controller/production/logcollector-ring1/kustomization.yaml
  components/multi-platform-controller/production/logcollector-ring1/otelcollector.yaml
Due: rhtap-staging-e2e

feat(SPRE-5502): expose cert-manager metrics to RHOBS in production
  components/monitoring/prometheus/production/base/federation/endpoints-params.yaml
  components/monitoring/prometheus/production/base/federation/writeRelabelConfigs.yaml
Due: rhtap-staging-e2e

PVO11Y-5342 Add ImageRepository to pre-cleanup
  components/monitoring/kanary/staging/base/tasks/run-kanary-tests.yaml
Due: rhtap-staging-e2e

Promote release-service and grafana-dashboard from staging to production
  components/monitoring/grafana/production/dashboards/release/kustomization.yaml
  components/release/production/kustomization.yaml
Due: none

PVO11Y-5342 Remove kueue ClusterPolicy from fedora kustomization
  components/policies/production/kflux-fedora-01/kustomization.yaml
  components/policies/production/kflux-fedora-01/patches/kueue-policy-prepare-recreate.yaml
Due: none

PVO11Y-5094 Move Tekton MS base config into per-environment overlays
  components/monitoring/prometheus/staging/tekton-ms/base/kustomization.yaml
  components/monitoring/prometheus/staging/tekton-ms/base/monitoringstack.yaml
  components/monitoring/prometheus/staging/tekton-ms/base/namespace.yaml
  components/monitoring/prometheus/staging/tekton-ms/base/rbac.yaml
  components/monitoring/prometheus/staging/tekton-ms/base/servicemonitor-pipeline-exporter.yaml
  components/monitoring/prometheus/staging/tekton-ms/base/servicemonitor.yaml
  components/monitoring/prometheus/staging/tekton-ms/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5094 Move Tekton MS base config into per-environment overlays (#13028)
  components/monitoring/prometheus/staging/tekton-ms/base/kustomization.yaml
  components/monitoring/prometheus/staging/tekton-ms/base/monitoringstack.yaml
  components/monitoring/prometheus/staging/tekton-ms/base/namespace.yaml
  components/monitoring/prometheus/staging/tekton-ms/base/rbac.yaml
  components/monitoring/prometheus/staging/tekton-ms/base/servicemonitor-pipeline-exporter.yaml
  components/monitoring/prometheus/staging/tekton-ms/base/servicemonitor.yaml
  components/monitoring/prometheus/staging/tekton-ms/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5094 Grant vault access to appstudio-tekton namespace in production
  components/cluster-secret-store/production/kustomization.yaml
  components/cluster-secret-store/production/observability-namespaces-patch.yaml
Due: none

PVO11Y-5094 Create production Tekton Prometheus overlay
  components/monitoring/prometheus/production/stone-prod-p01/kustomization.yaml
  components/monitoring/prometheus/production/tekton-ms/base/kustomization.yaml
  components/monitoring/prometheus/production/tekton-ms/base/monitoringstack.yaml
  components/monitoring/prometheus/production/tekton-ms/base/namespace.yaml
  components/monitoring/prometheus/production/tekton-ms/base/rbac.yaml
  components/monitoring/prometheus/production/tekton-ms/base/servicemonitor-pipeline-exporter.yaml
  components/monitoring/prometheus/production/tekton-ms/base/servicemonitor.yaml
  components/monitoring/prometheus/production/tekton-ms/external-secrets/kustomization.yaml
  components/monitoring/prometheus/production/tekton-ms/external-secrets/rhobs.yaml
  components/monitoring/prometheus/production/tekton-ms/kube-rbac-proxy.yaml
  components/monitoring/prometheus/production/tekton-ms/kustomization.yaml
  components/monitoring/prometheus/production/tekton-ms/networkpolicy.yaml
  components/monitoring/prometheus/production/tekton-ms/remote-write-env-details.yaml
  components/monitoring/prometheus/production/tekton-ms/source-environment-label.yaml
Due: rhtap-staging-e2e

Promote release-service and grafana-dashboard from staging to production (#13027)
  components/monitoring/grafana/production/dashboards/release/kustomization.yaml
  components/release/production/kustomization.yaml
Due: none

Enable SLSA v1.0 attestations on stone-stg-rh01
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/resources/kustomization.yaml
  components/pipeline-service/staging/stone-stg-rh01/resources/tekton-chains-slsa-v1.yaml
Due: rhtap-staging-e2e

Enable SLSA v1.0 attestations on stone-stage-p01
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stage-p01/resources/kustomization.yaml
  components/pipeline-service/staging/stone-stage-p01/resources/tekton-chains-slsa-v1.yaml
Due: rhtap-staging-e2e

PVO11Y-5342 Clean up kanary staging params and add pre-cleanup step (#12880)
  components/monitoring/kanary/staging/base/pipelines/kanary-otel-pipeline.yaml
  components/monitoring/kanary/staging/base/tasks/run-kanary-tests.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-single-arch.yaml
Due: rhtap-staging-e2e

Changing how verify-pipelines-configs checkout branch
  .github/workflows/verify-pipelines-configs.yaml
Due: none
