Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

KFLUXVNGD-1157 Update production proxy endpoints (ring-4) (#14118)
  components/konflux-info/production/kflux-prd-rh02/cluster-config.env
Due: none

fix panic in kustomize build
  components/pipeline-service-rd/rings/ring-0/base/kustomization.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/delete-chains-public-key-es-patch.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/delete-chains-signing-secret-es-patch.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/delete-tekton-results-configmap-patch.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/delete-tekton-results-database-es-patch.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/delete-tekton-results-resources-patch.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/delete-tekton-results-s3-es-patch.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/delete-testing-crb-patch.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/delete-testing-ns-patch.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/delete-testing-rb-patch.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/delete-testing-resources-patch.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/delete-testing-sa-patch.yaml
Due: rhtap-staging-e2e

PVO11Y-5599 add federation allowlist and recording rule for RelEng tenant metrics - staging
  components/monitoring/prometheus/staging/base/federation/endpoints-params.yaml
  components/monitoring/prometheus/staging/base/federation/prometheusrule-uwm.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-0000: (onboarding) Migrate trust-manager to ring deployments (dev + staging) (#14669)
  argo-cd-apps/overlays/development/kustomization.yaml
  argo-cd-apps/overlays/rd-dev/delete-legacy-konflux-member-appsets.yaml
  argo-cd-apps/overlays/rd-dev/kustomization.yaml
  argo-cd-apps/overlays/rd-dev/trust-manager/kustomization.yaml
  argo-cd-apps/overlays/rd-dev/trust-manager/trust-manager-appset.yaml
  argo-cd-apps/overlays/rd-staging/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/trust-manager/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/trust-manager/trust-manager-appset.yaml
  components/trust-manager-rd/OWNERS
  components/trust-manager-rd/rings/empty-base/empty-base/kustomization.yaml
  components/trust-manager-rd/rings/ring-0/base/kustomization.yaml
  components/trust-manager-rd/rings/ring-0/base/trust-manager-helm-generator.yaml
  components/trust-manager-rd/rings/ring-1/base/kustomization.yaml
  components/trust-manager-rd/rings/ring-1/base/trust-manager-helm-generator.yaml
  components/trust-manager-rd/rings/ring-1/kflux-stg-p02/kustomization.yaml
  components/trust-manager-rd/rings/ring-1/lightwell-dev/kustomization.yaml
  components/trust-manager-rd/rings/ring-1/stone-stage-p01/kustomization.yaml
  components/trust-manager-rd/rings/ring-1/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-0000: (onboarding) Remove staging trust-manager apps from AppSRE ArgoCD
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
Due: none

Update from release-service
  components/integration/development/kustomization.yaml
  components/integration/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXVNGD-1360 remove temporary Ring 4 bundle retention
  components/container-image-proxy/rings/ring-4/base/caching-helm-generator.yaml
  components/container-image-proxy/rings/ring-4/base/kustomization.yaml
Due: rhtap-staging-e2e

Grant konflux-grafana-viewers cluster-monitoring-view access
  components/authentication/README.md
  components/authentication/base/rbac/grafana-view-only-cr.yaml
  components/authentication/rings/ring-1/base/base-snapshot/rbac/grafana-view-only-cr.yaml
  components/authentication/rings/ring-2/base/base-snapshot/rbac/grafana-view-only-cr.yaml
  components/authentication/rings/ring-3/base/base-snapshot/rbac/grafana-view-only-cr.yaml
  components/authentication/rings/ring-4/base/base-snapshot/rbac/grafana-view-only-cr.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-0000: (onboarding) Remove staging trust-manager apps from AppSRE ArgoCD (#14697)
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
Due: none

Migrate dev pipeline service (#14694)
  argo-cd-apps/overlays/development-operator/kustomization.yaml
  argo-cd-apps/overlays/development-operator/pipeline-service-operator-patch.yaml
  argo-cd-apps/overlays/development/delete-applications.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  argo-cd-apps/overlays/rd-dev/kustomization.yaml
  argo-cd-apps/overlays/rd-dev/pipeline-service-operator-patch.yaml
  argo-cd-apps/overlays/rd-dev/pipeline-service/kustomization.yaml
  argo-cd-apps/overlays/rd-dev/pipeline-service/pipeline-service-appset.yaml
  components/pipeline-service-rd/base/kustomization.yaml
  components/pipeline-service-rd/rings/ring-0/base/base-snapshot/appstudio-pipelines-scc.yaml
  components/pipeline-service-rd/rings/ring-0/base/base-snapshot/kustomization.yaml
  components/pipeline-service-rd/rings/ring-0/base/kustomization.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/delete-chains-public-key-es-patch.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/delete-chains-signing-secret-es-patch.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/delete-tekton-results-configmap-patch.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/delete-tekton-results-database-es-patch.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/delete-tekton-results-resources-patch.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/delete-tekton-results-s3-es-patch.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/delete-testing-crb-patch.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/delete-testing-ns-patch.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/delete-testing-rb-patch.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/delete-testing-resources-patch.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/delete-testing-sa-patch.yaml
  components/pipeline-service-rd/rings/ring-0/legacy-development/appstudio-pipelines-scc.yaml
  components/pipeline-service-rd/rings/ring-0/legacy-development/kustomization.yaml
Due: rhtap-staging-e2e

EC-2254: Enable SLSA v1.0 attestations on stone-prd-rh01 (ring-3)
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/resources/kustomization.yaml
  components/pipeline-service/production/stone-prd-rh01/resources/tekton-chains-slsa-v1.yaml
Due: none

EC-2254: Enable SLSA v1.0 attestations on kflux-lw-p01 (ring-2)
  components/pipeline-service/production/kflux-lw-p01/deploy.yaml
  components/pipeline-service/production/kflux-lw-p01/resources/kustomization.yaml
  components/pipeline-service/production/kflux-lw-p01/resources/tekton-chains-slsa-v1.yaml
Due: none

Grant konflux-grafana-viewers cluster-monitoring-view access (#14700)
  components/authentication/README.md
  components/authentication/base/rbac/grafana-view-only-cr.yaml
  components/authentication/rings/ring-1/base/base-snapshot/rbac/grafana-view-only-cr.yaml
  components/authentication/rings/ring-2/base/base-snapshot/rbac/grafana-view-only-cr.yaml
  components/authentication/rings/ring-3/base/base-snapshot/rbac/grafana-view-only-cr.yaml
  components/authentication/rings/ring-4/base/base-snapshot/rbac/grafana-view-only-cr.yaml
Due: rhtap-staging-e2e

fix(KAR-967): migrate service-ca cert-manager development (#14386)
  components/kubearchive/development/kustomization.yaml
Due: none

eso: use only relevant CIDR blocks in ingress policies (ring 3) (#14375)
  components/external-secrets-operator/rings/ring-3/stone-prd-rh01/ingress-pod-cidr-patch.yaml
  components/external-secrets-operator/rings/ring-3/stone-prd-rh01/kustomization.yaml
  components/external-secrets-operator/rings/ring-3/stone-prod-p02/ingress-pod-cidr-patch.yaml
  components/external-secrets-operator/rings/ring-3/stone-prod-p02/kustomization.yaml
Due: none

eso: use only relevant CIDR blocks in ingress policies (ring 4)
  components/external-secrets-operator/rings/ring-4/kflux-prd-rh02/ingress-pod-cidr-patch.yaml
  components/external-secrets-operator/rings/ring-4/kflux-prd-rh02/kustomization.yaml
Due: none

fix: set temporary certificate to avoid conflict between existing cert
  components/konflux-kite/base/cert-manager/certificate.yaml
Due: rhtap-staging-e2e

eso: use only relevant CIDR blocks in ingress policies (ring 4) (#14376)
  components/external-secrets-operator/rings/ring-4/kflux-prd-rh02/ingress-pod-cidr-patch.yaml
  components/external-secrets-operator/rings/ring-4/kflux-prd-rh02/kustomization.yaml
Due: none

chore(ring-1-notification-controller): promote notification-controller to ring-1
  components/notification-controller/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXVNGD-1360 remove temporary Ring 4 bundle retention (#14699)
  components/container-image-proxy/rings/ring-4/base/caching-helm-generator.yaml
  components/container-image-proxy/rings/ring-4/base/kustomization.yaml
Due: rhtap-staging-e2e

Migrate staging pipeline-service to new Argo CDs
  argo-cd-apps/base/member/infra-deployments/pipeline-service/pipeline-service.yaml
  argo-cd-apps/overlays/konflux-public-production/cluster-secret-store-production-auto-sync-patch.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-production/production-auto-sync-patch.yaml
  argo-cd-apps/overlays/production-downstream/cluster-secret-store-production-auto-sync-patch.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/production-auto-sync-patch.yaml
  argo-cd-apps/overlays/rd-staging/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/pipeline-service/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/pipeline-service/pipeline-service-appset.yaml
  components/pipeline-service-rd/README.md
  components/pipeline-service-rd/base/tekton-logging/pipeline-metrics-exporter-deployment.yaml
  components/pipeline-service-rd/rings/empty-base/empty-base/kustomization.yaml
  components/pipeline-service-rd/rings/ring-0/base/base-snapshot/tekton-logging/pipeline-metrics-exporter-deployment.yaml
  components/pipeline-service-rd/rings/ring-1/base/base-snapshot/kustomization.yaml
  components/pipeline-service-rd/rings/ring-1/base/base-snapshot/tekton-logging/pipeline-metrics-exporter-deployment.yaml
  components/pipeline-service-rd/rings/ring-1/base/kustomization.yaml
  components/pipeline-service-rd/rings/ring-1/base/patches/add-env-to-api-container-patch.yaml
  components/pipeline-service-rd/rings/ring-1/base/patches/chains-slsa-artifact-format-patch.yaml
  components/pipeline-service-rd/rings/ring-1/base/patches/set-api-container-resources-limits-patch.yaml
  components/pipeline-service-rd/rings/ring-1/base/patches/set-api-container-resources-requests-patch.yaml
  components/pipeline-service-rd/rings/ring-1/base/patches/set-argocd-sync-wave-to-1-patch.yaml
  components/pipeline-service-rd/rings/ring-1/base/patches/tektonconfig-disable-pruner-patch.yaml
  components/pipeline-service-rd/rings/ring-1/base/patches/update-tekton-results-watcher-container-args-patch.yaml
  components/pipeline-service-rd/rings/ring-1/kflux-stg-p02/deploy.yaml
  components/pipeline-service-rd/rings/ring-1/lightwell-dev/kustomization.yaml
  components/pipeline-service-rd/rings/ring-1/lightwell-dev/patches/delete-tekton-results-cluster-rbac-patch.yaml
  components/pipeline-service-rd/rings/ring-1/lightwell-dev/patches/delete-tekton-results-external-secrets-patch.yaml
  components/pipeline-service-rd/rings/ring-1/lightwell-dev/patches/delete-tekton-results-namespace-patch.yaml
  components/pipeline-service-rd/rings/ring-1/lightwell-dev/patches/delete-tekton-results-test-resources-patch.yaml
  components/pipeline-service-rd/rings/ring-1/lightwell-dev/patches/delete-tr-namespaced-resources-patch.yaml
  components/pipeline-service-rd/rings/ring-1/lightwell-dev/patches/pipeline-metrics-exporter-resources-patch.yaml
  components/pipeline-service-rd/rings/ring-1/lightwell-dev/patches/pipelines-as-code-secret-path-patch.yaml
  components/pipeline-service-rd/rings/ring-1/lightwell-dev/patches/tekton-chains-public-key-path-patch.yaml
  components/pipeline-service-rd/rings/ring-1/lightwell-dev/patches/tekton-chains-signing-secret-path-patch.yaml
  components/pipeline-service-rd/rings/ring-1/lightwell-dev/patches/tekton-config-pac-settings-patch.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stage-p01/deploy.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stg-rh01/deploy.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stg-rh01/kustomization.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stg-rh01/security-context-constraints.yaml
Due: rhtap-staging-e2e

Update env-detector to skip some label applications
  infra-tools/cmd/env-detector/main.go
  infra-tools/internal/github/labels.go
  infra-tools/internal/github/pulls.go
  skills/pr-workflow.md
Due: none

chore(ring-0-project-controller): promote project-controller to ring-0
  components/project-controller/rings/ring-0/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-2-konflux-operator): promote konflux-operator to ring-2
  components/konflux-operator/rings/ring-2/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-1-konflux-operator): promote konflux-operator to ring-1
  components/konflux-operator/rings/ring-1/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

etcd-shield: add cert-manager service CA
  components/etcd-shield/base/certificate.yaml
  components/etcd-shield/base/issuer.yaml
  components/etcd-shield/base/kustomization.yaml
  components/etcd-shield/rings/ring-0/base/base-snapshot/certificate.yaml
  components/etcd-shield/rings/ring-0/base/base-snapshot/issuer.yaml
  components/etcd-shield/rings/ring-0/base/base-snapshot/kustomization.yaml
  components/etcd-shield/rings/ring-1/base/base-snapshot/certificate.yaml
  components/etcd-shield/rings/ring-1/base/base-snapshot/issuer.yaml
  components/etcd-shield/rings/ring-1/base/base-snapshot/kustomization.yaml
Due: rhtap-staging-e2e

etcd-shield: add cert-manager service CA (#14710)
  components/etcd-shield/base/certificate.yaml
  components/etcd-shield/base/issuer.yaml
  components/etcd-shield/base/kustomization.yaml
  components/etcd-shield/rings/ring-0/base/base-snapshot/certificate.yaml
  components/etcd-shield/rings/ring-0/base/base-snapshot/issuer.yaml
  components/etcd-shield/rings/ring-0/base/base-snapshot/kustomization.yaml
  components/etcd-shield/rings/ring-1/base/base-snapshot/certificate.yaml
  components/etcd-shield/rings/ring-1/base/base-snapshot/issuer.yaml
  components/etcd-shield/rings/ring-1/base/base-snapshot/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-1-etcd-shield): promote etcd-shield to ring-1
  components/etcd-shield/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/squid/development/caching-helm-generator.yaml
  components/squid/staging/caching-helm-generator.yaml
Due: rhtap-staging-e2e

chore(ring-0-container-image-proxy): promote container-image-proxy to ring-0
  components/container-image-proxy/rings/ring-0/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

chore(ring-0-artifact-registry-proxy): promote artifact-registry-proxy to ring-0
  components/artifact-registry-proxy/rings/ring-0/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

chore(ring-1-container-image-proxy): promote container-image-proxy to ring-1
  components/container-image-proxy/rings/ring-1/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

chore(ring-1-artifact-registry-proxy): promote artifact-registry-proxy to ring-1
  components/artifact-registry-proxy/rings/ring-1/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

KFLUXINFRA-0000: (onboarding) Migrate production trust-manager AppSet to ring deployments ArgoCD
  argo-cd-apps/overlays/rd-production/kustomization.yaml
  argo-cd-apps/overlays/rd-production/trust-manager/kustomization.yaml
  argo-cd-apps/overlays/rd-production/trust-manager/trust-manager-appset.yaml
  components/trust-manager-rd/rings/ring-2/base/kustomization.yaml
  components/trust-manager-rd/rings/ring-2/base/trust-manager-helm-generator.yaml
  components/trust-manager-rd/rings/ring-2/kflux-fedora-01/kustomization.yaml
  components/trust-manager-rd/rings/ring-2/kflux-lw-p01/kustomization.yaml
  components/trust-manager-rd/rings/ring-2/kflux-ocp-p01/kustomization.yaml
  components/trust-manager-rd/rings/ring-2/kflux-osp-p01/kustomization.yaml
  components/trust-manager-rd/rings/ring-2/kflux-prd-rh03/kustomization.yaml
  components/trust-manager-rd/rings/ring-2/kflux-rhel-p01/kustomization.yaml
  components/trust-manager-rd/rings/ring-2/stone-prod-p01/kustomization.yaml
  components/trust-manager-rd/rings/ring-3/base/kustomization.yaml
  components/trust-manager-rd/rings/ring-3/base/trust-manager-helm-generator.yaml
  components/trust-manager-rd/rings/ring-3/stone-prd-rh01/kustomization.yaml
  components/trust-manager-rd/rings/ring-3/stone-prod-p02/kustomization.yaml
  components/trust-manager-rd/rings/ring-4/base/kustomization.yaml
  components/trust-manager-rd/rings/ring-4/base/trust-manager-helm-generator.yaml
  components/trust-manager-rd/rings/ring-4/kflux-prd-rh02/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/monitoring/grafana/development/dashboards/release/kustomization.yaml
  components/release/development/kustomization.yaml
Due: none

chore(ring-2-crossplane-control-plane): promote crossplane-control-plane to ring-2
  components/crossplane-control-plane/rings/ring-2/base/base-snapshot/cronjob.yaml
  components/crossplane-control-plane/rings/ring-2/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-2-smee-client): promote smee-client to ring-2
  components/smee-client/rings/ring-2/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-2-artifact-registry-proxy): promote artifact-registry-proxy to ring-2
  components/artifact-registry-proxy/rings/ring-2/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
