Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

Update fullsend reusable-dispatch to v0.34.0
  .github/workflows/fullsend.yaml
Due: none

Update from release-service
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Update from release-service
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Remove auto-sync from public staging AppSets
  argo-cd-apps/app-of-app-sets/konflux-public-staging/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-staging/disable-auto-sync-patch.yaml
  argo-cd-apps/overlays/konflux-public-staging/kustomization.yaml
Due: none

chore(ring-2-etcd-defrag): promote etcd-defrag-rd to ring-2
  configs/etcd-defrag-rd/rings/ring-2/base/kustomization.yaml
Due: none

chore(ring-2-etcd-shield): promote etcd-shield to ring-2
  components/etcd-shield/rings/ring-2/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-3-authentication): promote authentication to ring-3
  components/authentication/rings/ring-3/base/base-snapshot/rbac/everyone-can-view-crs.yaml
  components/authentication/rings/ring-3/base/base-snapshot/rbac/konflux-admins-cr.yaml
Due: rhtap-staging-e2e

chore(ring-2-kueue): promote kueue to ring-2
  components/kueue/rings/ring-2/base/tekton-kueue/kustomization.yaml
Due: rhtap-staging-e2e

refactor(PVO11Y-5503): Move s3-upload-failed result initialization to upload step
  components/monitoring/kanary/staging/base/tasks/run-kanary-tests.yaml
Due: rhtap-staging-e2e

(onboarding) Migrate crossplane-control-plane to ring deployments (staging only)
  argo-cd-apps/base/member/infra-deployments/crossplane-control-plane/crossplane-control-plane.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  argo-cd-apps/overlays/rd-dev/crossplane-control-plane/crossplane-control-plane-appset.yaml
  argo-cd-apps/overlays/rd-dev/crossplane-control-plane/kustomization.yaml
  argo-cd-apps/overlays/rd-dev/delete-legacy-konflux-member-appsets.yaml
  argo-cd-apps/overlays/rd-dev/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/crossplane-control-plane/crossplane-control-plane-appset.yaml
  argo-cd-apps/overlays/rd-staging/crossplane-control-plane/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/kustomization.yaml
  components/crossplane-control-plane-rd/OWNERS
  components/crossplane-control-plane-rd/base/configmap.yaml
  components/crossplane-control-plane-rd/base/cronjob.yaml
  components/crossplane-control-plane-rd/base/kustomization.yaml
  components/crossplane-control-plane-rd/base/rbac.yaml
  components/crossplane-control-plane-rd/k-components/crossplane-resources/deployment-resources-patch.yaml
  components/crossplane-control-plane-rd/k-components/crossplane-resources/kustomization.yaml
  components/crossplane-control-plane-rd/rings/empty-base/empty-base/kustomization.yaml
  components/crossplane-control-plane-rd/rings/ring-0/base/base-snapshot/configmap.yaml
  components/crossplane-control-plane-rd/rings/ring-0/base/base-snapshot/cronjob.yaml
  components/crossplane-control-plane-rd/rings/ring-0/base/base-snapshot/kustomization.yaml
  components/crossplane-control-plane-rd/rings/ring-0/base/base-snapshot/rbac.yaml
  components/crossplane-control-plane-rd/rings/ring-0/base/environment-config.yaml
  components/crossplane-control-plane-rd/rings/ring-0/base/kustomization.yaml
  components/crossplane-control-plane-rd/rings/ring-1/base/base-snapshot/configmap.yaml
  components/crossplane-control-plane-rd/rings/ring-1/base/base-snapshot/cronjob.yaml
  components/crossplane-control-plane-rd/rings/ring-1/base/base-snapshot/kustomization.yaml
  components/crossplane-control-plane-rd/rings/ring-1/base/base-snapshot/rbac.yaml
  components/crossplane-control-plane-rd/rings/ring-1/base/eaas-cluster-es.yaml
  components/crossplane-control-plane-rd/rings/ring-1/base/environment-config.yaml
  components/crossplane-control-plane-rd/rings/ring-1/base/kustomization.yaml
  components/crossplane-control-plane-rd/rings/ring-1/base/provider-config.yaml
  components/crossplane-control-plane-rd/rings/ring-1/base/testplatform-cluster-es.yaml
  components/crossplane-control-plane-rd/rings/ring-1/base/testplatform-provider-config.yaml
  components/crossplane-control-plane-rd/rings/ring-1/lightwell-dev/kustomization.yaml
  components/crossplane-control-plane-rd/rings/ring-1/stone-stage-p01/kustomization.yaml
  components/crossplane-control-plane-rd/rings/ring-1/stone-stage-p01/patches/cluster-name-patch.yaml
  components/crossplane-control-plane-rd/rings/ring-1/stone-stg-rh01/kustomization.yaml
  components/crossplane-control-plane-rd/rings/ring-1/stone-stg-rh01/patches/cluster-name-patch.yaml
Due: rhtap-staging-e2e

Delete repository-validator application sets from prod
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
Due: none

chore(KAR-961): Upgrade KubeArchive to v1.23.0 in production clusters (1/3)
  components/kubearchive/production/stone-prd-rh01/kubearchive.yaml
  components/kubearchive/production/stone-prd-rh01/kustomization.yaml
  components/kubearchive/production/stone-prod-p01/kubearchive.yaml
  components/kubearchive/production/stone-prod-p01/kustomization.yaml
  components/kubearchive/production/stone-prod-p02/kubearchive.yaml
  components/kubearchive/production/stone-prod-p02/kustomization.yaml
Due: none

adding the component in resources list
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
Due: none

chore(ring-1-konflux-operator): promote konflux-operator to ring-1
  components/konflux-operator/rings/ring-1/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXVNGD-1157 Update production proxy endpoints (ring-4)
  components/konflux-info/production/kflux-prd-rh02/cluster-config.env
Due: none

KFLUXINFRA-4260 bump kyverno to 3.9.0 (v1.19) in production wave 3, kflux-prd-rh02 self-host, last ring (ring-4) (#13735)
  components/kyverno/production/kflux-prd-rh02/kustomization.yaml
  components/kyverno/production/kflux-prd-rh02/kyverno-helm-generator.yaml
  components/kyverno/production/kflux-prd-rh02/kyverno-helm-values.yaml
Due: none

Update from release-service
  components/internal-services/development/kustomization.yaml
Due: none

Restrict ImageRepository notification URL to Red Hat Bombino only for stage clusters
  components/policies-rd/rings/ring-1/base/image-controller/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/policies-rd/rings/ring-1/base/image-controller/.chainsaw-test/chainsaw-test.yaml
  components/policies-rd/rings/ring-1/base/image-controller/.chainsaw-test/resources/imagerepository-bad-deprecated-group.yaml
  components/policies-rd/rings/ring-1/base/image-controller/.chainsaw-test/resources/imagerepository-bad-lookalike-url.yaml
  components/policies-rd/rings/ring-1/base/image-controller/.chainsaw-test/resources/imagerepository-bad-mixed.yaml
  components/policies-rd/rings/ring-1/base/image-controller/.chainsaw-test/resources/imagerepository-bad-prod-url.yaml
  components/policies-rd/rings/ring-1/base/image-controller/.chainsaw-test/resources/imagerepository-bad-url.yaml
  components/policies-rd/rings/ring-1/base/image-controller/.chainsaw-test/resources/imagerepository-crd-deprecated.yaml
  components/policies-rd/rings/ring-1/base/image-controller/.chainsaw-test/resources/imagerepository-crd.yaml
  components/policies-rd/rings/ring-1/base/image-controller/.chainsaw-test/resources/imagerepository-good-bombino.yaml
  components/policies-rd/rings/ring-1/base/image-controller/.chainsaw-test/resources/imagerepository-good-no-notifications.yaml
  components/policies-rd/rings/ring-1/base/image-controller/kustomization.yaml
  components/policies-rd/rings/ring-1/base/image-controller/restrict-notifications-url.yaml
  components/policies-rd/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/image-rbac-proxy/development/kustomization.yaml
  components/image-rbac-proxy/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

feat(KFLUXUI-1481): add cleaner bot actions for staging
  components/konflux-rbac/staging/base/konflux-cleaner-bot-actions.yaml
  components/konflux-rbac/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

feat(KFLUXUI-1481): add cleaner bot ClusterRole to ring deployments
  components/konflux-operator/rings/ring-1/base/cr/konflux-rbac/konflux-cleaner-bot-actions.yaml
  components/konflux-operator/rings/ring-1/base/cr/konflux-rbac/kustomization.yaml
  components/konflux-operator/rings/ring-2/base/cr/konflux-rbac/konflux-cleaner-bot-actions.yaml
  components/konflux-operator/rings/ring-2/base/cr/konflux-rbac/kustomization.yaml
Due: rhtap-staging-e2e

feat(KFLUXUI-1481): add periodic application cleaner CronJob
  components/konflux-operator/rings/ring-1/base/cr/application-cleaner/OWNERS
  components/konflux-operator/rings/ring-1/base/cr/application-cleaner/configmap.yaml
  components/konflux-operator/rings/ring-1/base/cr/application-cleaner/cronjob.yaml
  components/konflux-operator/rings/ring-1/base/cr/application-cleaner/kustomization.yaml
  components/konflux-operator/rings/ring-1/base/cr/application-cleaner/rbac.yaml
  components/konflux-operator/rings/ring-1/base/kustomization.yaml
  components/konflux-operator/rings/ring-2/base/cr/application-cleaner/OWNERS
  components/konflux-operator/rings/ring-2/base/cr/application-cleaner/configmap.yaml
  components/konflux-operator/rings/ring-2/base/cr/application-cleaner/cronjob.yaml
  components/konflux-operator/rings/ring-2/base/cr/application-cleaner/kustomization.yaml
  components/konflux-operator/rings/ring-2/base/cr/application-cleaner/rbac.yaml
  components/konflux-operator/rings/ring-2/base/kustomization.yaml
  components/konflux-rbac/staging/base/application-cleaner/configmap.yaml
  components/konflux-rbac/staging/base/application-cleaner/cronjob.yaml
  components/konflux-rbac/staging/base/application-cleaner/kustomization.yaml
  components/konflux-rbac/staging/base/application-cleaner/rbac.yaml
  components/konflux-rbac/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

fix(KAR-964): liveness probe timeouts - development
  components/kubearchive/development/kustomization.yaml
Due: none

bot suggestion
  components/konflux-operator/rings/ring-1/base/cr/konflux-ui/external-secrets/kustomization.yaml
  components/konflux-operator/rings/ring-1/base/cr/konflux-ui/external-secrets/watson-config.yaml
  components/konflux-operator/rings/ring-1/base/cr/konflux-ui/kustomization.yaml
Due: rhtap-staging-e2e

revert: remove Watson X chatbot infrastructure from PR #8542
  components/cluster-secret-store/base/appsre-stonesoup-vault-secret-store.yaml
  components/konflux-ui/staging/base/external-secret.yaml
  components/konflux-ui/staging/base/kustomization.yaml
  components/konflux-ui/staging/base/proxy/kustomization.yaml
  components/konflux-ui/staging/base/proxy/proxy.yaml
  components/konflux-ui/staging/base/proxy/watson-auth.conf
  components/konflux-ui/staging/base/proxy/watson.conf
  components/konflux-ui/staging/stone-stage-p01/kustomization.yaml
  components/konflux-ui/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-0-konflux-operator): promote konflux-operator
  components/konflux-operator/rings/ring-0/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

feat(KFLUXUI-1481): drop ring-2 application cleaner from PR
  components/konflux-operator/rings/ring-2/base/cr/application-cleaner/OWNERS
  components/konflux-operator/rings/ring-2/base/cr/application-cleaner/configmap.yaml
  components/konflux-operator/rings/ring-2/base/cr/application-cleaner/cronjob.yaml
  components/konflux-operator/rings/ring-2/base/cr/application-cleaner/kustomization.yaml
  components/konflux-operator/rings/ring-2/base/cr/application-cleaner/rbac.yaml
  components/konflux-operator/rings/ring-2/base/cr/konflux-rbac/konflux-cleaner-bot-actions.yaml
  components/konflux-operator/rings/ring-2/base/cr/konflux-rbac/kustomization.yaml
  components/konflux-operator/rings/ring-2/base/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/image-controller/development/kustomization.yaml
  components/image-controller/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4600 Add g7.2xlarge and g7.4xlarge GPU instances for stone-prod-p02
  components/kueue/rings/ring-3/stone-prod-p02/cluster-queue.yaml
  components/multi-platform-controller/rings/ring-3/base/host-config-chart/templates/host-config.yaml
  components/multi-platform-controller/rings/ring-3/stone-prod-p02/host-values.yaml
  components/policies/production/stone-prod-p02/kueue/deny-unallowed-annotations/.chainsaw-test/resources/pipelinerun_with_allowed_and_unallowed_annotations.yaml
  components/policies/production/stone-prod-p02/kueue/deny-unallowed-annotations/.chainsaw-test/resources/pipelinerun_with_allowed_annotations.yaml
  components/policies/production/stone-prod-p02/kueue/deny-unallowed-annotations/deny-unallowed-annotations-configmap.yaml
  hack/new-cluster/templates/kueue/cluster-queue.yaml
  hack/new-cluster/templates/multi-platform-controller/host-values.yaml
Due: rhtap-staging-e2e

PVO11Y-5568 Add IBM O11y admin group
  components/monitoring/grafana/production/kflux-lw-p01/ibm-o11y-admins-subject-patch.yaml
  components/monitoring/grafana/production/kflux-lw-p01/kustomization.yaml
  components/monitoring/logging/production/kflux-lw-p01/ibm-o11y-admins-subject-patch.yaml
  components/monitoring/logging/production/kflux-lw-p01/kustomization.yaml
  components/monitoring/prometheus/production/kflux-lw-p01/ibm-o11y-admins-subject-patch.yaml
  components/monitoring/prometheus/production/kflux-lw-p01/kustomization.yaml
  components/monitoring/prometheus/production/kflux-lw-p01/o11y-admins-group.yaml
Due: none

feat(PVO11Y-5503): Push kanary probe-run artifacts to S3 after each run (#13787)
  components/monitoring/kanary/staging/base/pipelines/kanary-otel-pipeline.yaml
  components/monitoring/kanary/staging/base/tasks/push-kanary-metrics.yaml
  components/monitoring/kanary/staging/base/tasks/run-kanary-tests.yaml
  components/monitoring/kanary/staging/lightwell-dev/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/lightwell-dev/cronjobs/kanary-cronjob-rpm.yaml
  components/monitoring/kanary/staging/lightwell-dev/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-rpm.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/stone-stage-p01/external-secrets/kustomization.yaml
  components/monitoring/kanary/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-rpm.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-single-arch.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4509 Announce Konflux staging SA rotation
  components/konflux-info/staging/stone-stage-p01/banner-content.yaml
  components/konflux-info/staging/stone-stg-rh01/banner-content.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4600 Add g7.2xlarge and g7.4xlarge GPU instances for stone-stage-p01
  components/kueue/rings/ring-1/stone-stage-p01/cluster-queue.yaml
  components/multi-platform-controller/rings/ring-1/base/host-config-chart/templates/host-config.yaml
  components/multi-platform-controller/rings/ring-1/stone-stage-p01/host-values.yaml
  components/policies-rd/rings/ring-1/stone-stage-p01/kueue-config/deny-unallowed-annotations-configmap.yaml
Due: rhtap-staging-e2e

(onboarding) Migrate staging kyverno AppSet to ring deployments ArgoCD (#13775)
  argo-cd-apps/base/member/infra-deployments/kyverno/kyverno.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-production/kyverno-production-auto-sync-patch.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/kyverno-production-auto-sync-patch.yaml
  argo-cd-apps/overlays/rd-staging/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/kyverno/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/kyverno/kyverno-appset.yaml
  components/kyverno-rd/rings/ring-1/base/base-snapshot/kustomization.yaml
  components/kyverno-rd/rings/ring-1/base/kustomization.yaml
  components/kyverno-rd/rings/ring-1/lightwell-dev/job_resources.yaml
  components/kyverno-rd/rings/ring-1/lightwell-dev/kustomization.yaml
  components/kyverno-rd/rings/ring-1/lightwell-dev/kyverno-helm-generator.yaml
  components/kyverno-rd/rings/ring-1/lightwell-dev/kyverno-helm-values.yaml
  components/kyverno-rd/rings/ring-1/stone-stage-p01/job_resources.yaml
  components/kyverno-rd/rings/ring-1/stone-stage-p01/kustomization.yaml
  components/kyverno-rd/rings/ring-1/stone-stage-p01/kyverno-helm-generator.yaml
  components/kyverno-rd/rings/ring-1/stone-stage-p01/kyverno-helm-values.yaml
  components/kyverno-rd/rings/ring-1/stone-stg-rh01/job_resources.yaml
  components/kyverno-rd/rings/ring-1/stone-stg-rh01/kustomization.yaml
  components/kyverno-rd/rings/ring-1/stone-stg-rh01/kyverno-helm-generator.yaml
  components/kyverno-rd/rings/ring-1/stone-stg-rh01/kyverno-helm-values.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/konflux-ui/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/build-service/development/kustomization.yaml
  components/build-service/staging/base/kustomization.yaml
Due: build-service-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
