Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

KFLUXINFRA-4286 feat(kyverno-rd): migrate staging AppSet to ring deployments
  argo-cd-apps/base/member/infra-deployments/kyverno/kyverno.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-production/kyverno-production-auto-sync-patch.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/kyverno-production-auto-sync-patch.yaml
  argo-cd-apps/overlays/rd-staging/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/kyverno/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/kyverno/kyverno-appset.yaml
  components/kyverno-rd/rings/ring-1/base/base-snapshot/kustomization.yaml
  components/kyverno-rd/rings/ring-1/base/kustomization.yaml
  components/kyverno-rd/rings/ring-1/lightwell-dev/job_resources.yaml
  components/kyverno-rd/rings/ring-1/lightwell-dev/kustomization.yaml
  components/kyverno-rd/rings/ring-1/lightwell-dev/kyverno-helm-generator.yaml
  components/kyverno-rd/rings/ring-1/lightwell-dev/kyverno-helm-values.yaml
  components/kyverno-rd/rings/ring-1/stone-stage-p01/job_resources.yaml
  components/kyverno-rd/rings/ring-1/stone-stage-p01/kustomization.yaml
  components/kyverno-rd/rings/ring-1/stone-stage-p01/kyverno-helm-generator.yaml
  components/kyverno-rd/rings/ring-1/stone-stage-p01/kyverno-helm-values.yaml
  components/kyverno-rd/rings/ring-1/stone-stg-rh01/job_resources.yaml
  components/kyverno-rd/rings/ring-1/stone-stg-rh01/kustomization.yaml
  components/kyverno-rd/rings/ring-1/stone-stg-rh01/kyverno-helm-generator.yaml
  components/kyverno-rd/rings/ring-1/stone-stg-rh01/kyverno-helm-values.yaml
Due: rhtap-staging-e2e

KFLUXVNGD-1283: enable Cargo config.json subFilters on production (rings 2-3) (#13753)
  components/squid/production/kflux-ocp-p01/caching-helm-generator.yaml
  components/squid/production/kflux-prd-rh02/caching-helm-generator.yaml
  components/squid/production/kflux-prd-rh03/caching-helm-generator.yaml
  components/squid/production/kflux-rhel-p01/caching-helm-generator.yaml
  components/squid/production/stone-prd-rh01/caching-helm-generator.yaml
  components/squid/production/stone-prod-p02/caching-helm-generator.yaml
Due: none

Do not deploy operator owned component to kflux-lw-p01
  argo-cd-apps/overlays/production-downstream/exclude-operator-owned-clusters.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/preserve-resources-on-deletion.yaml
Due: none

Remove people who left Konflux from OWNERS files (#13774)
  OWNERS
  components/has/OWNERS
  components/konflux-info/OWNERS
  components/konflux-operator/rings/ring-0/base/cr/konflux-info/OWNERS
  components/konflux-operator/rings/ring-0/base/cr/konflux-ui/OWNERS
  components/konflux-operator/rings/ring-1/base/cr/konflux-info/OWNERS
  components/konflux-operator/rings/ring-1/base/cr/konflux-ui/OWNERS
  components/konflux-operator/rings/ring-1/lightwell-dev/konflux-info/OWNERS
  components/konflux-operator/rings/ring-1/lightwell-dev/konflux-ui/OWNERS
  components/konflux-operator/rings/ring-1/stone-stage-p01/konflux-info/OWNERS
  components/konflux-operator/rings/ring-1/stone-stage-p01/konflux-ui/OWNERS
  components/konflux-ui/OWNERS
  components/mintmaker/OWNERS
  components/pipeline-service/OWNERS
Due: rhtap-staging-e2e

fix: add conformance-test-runner SA with full RBAC for PipelineRun-based tests (#13759)
  components/konflux-verifications-rd/base/conformance-test-runner-rbac.yaml
  components/konflux-verifications-rd/base/conformance-test-runner-sa.yaml
  components/konflux-verifications-rd/base/kustomization.yaml
  components/konflux-verifications-rd/base/rbac.yaml
  components/konflux-verifications-rd/rings/ring-1/base/base-snapshot/conformance-test-runner-rbac.yaml
  components/konflux-verifications-rd/rings/ring-1/base/base-snapshot/conformance-test-runner-sa.yaml
  components/konflux-verifications-rd/rings/ring-1/base/base-snapshot/kustomization.yaml
  components/konflux-verifications-rd/rings/ring-1/base/base-snapshot/rbac.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4286 fix(kyverno-rd): restore backoff factor and maxDuration
  argo-cd-apps/overlays/rd-staging/kyverno/kyverno-appset.yaml
Due: none

Do not deploy operator owned component to kflux-lw-p01 (#13747)
  argo-cd-apps/overlays/production-downstream/exclude-operator-owned-clusters.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/preserve-resources-on-deletion.yaml
Due: none

Update from release-service
  components/konflux-ui/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

fix(KONFLUX-15214): upgrade otel collector 0.158.0
  components/kubearchive/production/kflux-rhel-p01/kustomization.yaml
Due: none

PVO11Y-5502 Add NetworkPolicy for tekton-ms Prometheus to scrape controller
  components/monitoring/prometheus/staging/tekton-ms/base/kustomization.yaml
  components/monitoring/prometheus/staging/tekton-ms/base/scrape-networkpolicy.yaml
Due: rhtap-staging-e2e

PVO11Y-5502 Add NetworkPolicy for tekton-ms Prometheus to scrape controller (#13776)
  components/monitoring/prometheus/staging/tekton-ms/base/kustomization.yaml
  components/monitoring/prometheus/staging/tekton-ms/base/scrape-networkpolicy.yaml
Due: rhtap-staging-e2e

chore(ring-0-konflux-operator): promote konflux-operator
  components/konflux-operator/rings/ring-0/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4497 test: add local ring-render and base common-ground checks (#13739)
  hack/test-base-common.sh
  hack/test-ring-render.sh
Due: none

fix: add conformance-test-runner SA with full RBAC for PipelineRun-based tests (#13759) (#13778)
  components/konflux-verifications-rd/base/conformance-test-runner-rbac.yaml
  components/konflux-verifications-rd/rings/ring-1/base/base-snapshot/conformance-test-runner-rbac.yaml
Due: rhtap-staging-e2e

chore(ring-1-konflux-operator): promote konflux-operator to ring-1
  components/konflux-operator/rings/ring-1/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5502 allow appstudio-tekton-ms Prometheus to scrape tekton controller in production
  components/monitoring/prometheus/production/tekton-ms/base/kustomization.yaml
  components/monitoring/prometheus/production/tekton-ms/base/scrape-networkpolicy.yaml
Due: rhtap-staging-e2e

PVO11Y-5502 allow appstudio-tekton-ms Prometheus to scrape tekton controller in production (#13780)
  components/monitoring/prometheus/production/tekton-ms/base/kustomization.yaml
  components/monitoring/prometheus/production/tekton-ms/base/scrape-networkpolicy.yaml
Due: rhtap-staging-e2e

fix: prevent ArgoCD from pruning conformance-test-runner SA and RBAC
  components/konflux-verifications-rd/base/conformance-test-runner-rbac.yaml
  components/konflux-verifications-rd/base/conformance-test-runner-sa.yaml
  components/konflux-verifications-rd/rings/ring-1/base/base-snapshot/conformance-test-runner-rbac.yaml
  components/konflux-verifications-rd/rings/ring-1/base/base-snapshot/conformance-test-runner-sa.yaml
Due: rhtap-staging-e2e

fix: prevent ArgoCD from pruning conformance-test-runner SA and RBAC (#13783)
  components/konflux-verifications-rd/base/conformance-test-runner-rbac.yaml
  components/konflux-verifications-rd/base/conformance-test-runner-sa.yaml
  components/konflux-verifications-rd/rings/ring-1/base/base-snapshot/conformance-test-runner-rbac.yaml
  components/konflux-verifications-rd/rings/ring-1/base/base-snapshot/conformance-test-runner-sa.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

fix: add roles/rolebindings RBAC for conformance-test-runner
  components/konflux-verifications-rd/base/conformance-test-runner-rbac.yaml
  components/konflux-verifications-rd/rings/ring-1/base/base-snapshot/conformance-test-runner-rbac.yaml
Due: rhtap-staging-e2e

fix: add conformance-test-runner extra RBAC in conformance-tests namespace
  components/konflux-verifications-rd/base/conformance-test-runner-rbac.yaml
  components/konflux-verifications-rd/rings/ring-1/base/base-snapshot/conformance-test-runner-rbac.yaml
Due: rhtap-staging-e2e

fix(KONFLUX-15214): upgrade otel collector 0.158.0
  components/kubearchive/production/kflux-osp-p01/kustomization.yaml
  components/kubearchive/production/kflux-prd-rh02/kustomization.yaml
  components/kubearchive/production/kflux-prd-rh03/kustomization.yaml
Due: none

fix(KONFLUX-15214): upgrade otel collector 0.158.0
  components/kubearchive/production/kflux-fedora-01/kustomization.yaml
  components/kubearchive/production/kflux-lw-p01/kustomization.yaml
  components/kubearchive/production/kflux-ocp-p01/kustomization.yaml
Due: none

fix: add conformance-test-runner extra RBAC in conformance-tests namespace (#13788)
  components/konflux-verifications-rd/base/conformance-test-runner-rbac.yaml
  components/konflux-verifications-rd/rings/ring-1/base/base-snapshot/conformance-test-runner-rbac.yaml
Due: rhtap-staging-e2e

Update quay.io/openshift/origin-cli to 4.21 in MintMaker resources
  components/mintmaker/base/cronjobs/create-dependency-update-check.yaml
  components/mintmaker/base/cronjobs/delete-dependency-update-checks.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/kyverno/chainsaw/kustomization.yaml
  components/kyverno/development/kustomization.yaml
  components/kyverno/staging/stone-stage-p01/kustomization.yaml
  components/kyverno/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-0-artifact-registry-proxy): promote artifact-registry-proxy to ring-0
  components/artifact-registry-proxy/rings/ring-0/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

Update banner-content.yaml prd rh01
  components/konflux-info/production/stone-prd-rh01/banner-content.yaml
Due: none

KFLUXINFRA-4426 Distribute RH internal CA to lightwell-dev via trust-manager
  argo-cd-apps/base/member/infra-deployments/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/roks-trusted-ca/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/roks-trusted-ca/roks-trusted-ca.yaml
  argo-cd-apps/base/roks-trusted-ca-source/kustomization.yaml
  argo-cd-apps/base/roks-trusted-ca-source/roks-trusted-ca-source.yaml
  argo-cd-apps/overlays/staging-downstream/kustomization.yaml
  components/policies/staging/lightwell-dev/kustomization.yaml
  components/roks-trusted-ca/development/empty-base/kustomization.yaml
  components/roks-trusted-ca/production/empty-base/kustomization.yaml
  components/roks-trusted-ca/staging/empty-base/kustomization.yaml
  components/roks-trusted-ca/staging/lightwell-dev/kustomization.yaml
  components/roks-trusted-ca/staging/lightwell-dev/rh-internal-ca-bundle.yaml
Due: rhtap-staging-e2e
