Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

mintmaker update prod (#12356)
  components/mintmaker/production/base/kustomization.yaml
Due: rhtap-staging-e2e

disable tekton events controller in staging and development
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

Use the renamed folder in kustomize
  components/monitoring/prometheus/production/base/kustomization.yaml
Due: rhtap-staging-e2e

Add federation folder to production overlay
  components/monitoring/prometheus/production/base/federation/cluster-type-patch.yaml
  components/monitoring/prometheus/production/base/federation/endpoints-params.yaml
  components/monitoring/prometheus/production/base/federation/kustomization.yaml
  components/monitoring/prometheus/production/base/federation/prometheusrule-uwm.yaml
  components/monitoring/prometheus/production/base/federation/remote-write-env-details.yaml
  components/monitoring/prometheus/production/base/federation/writeRelabelConfigs.yaml
Due: rhtap-staging-e2e

remove misleading comment
  components/vector-kubearchive-log-collector/production/kflux-fedora-01/loki-helm-values.yaml
Due: none

refactor(KONFLUX-13283): use task-runner for claim cleaner in prod (#12318)
  components/crossplane-control-plane/production/kustomization.yaml
Due: none

PVO11Y-5262 Re-enable taskruns_pod_latency_milliseconds metric in tekton-ms
  components/monitoring/prometheus/base/tekton-ms/servicemonitor.yaml
Due: rhtap-staging-e2e

chore(STONEINTG-1633): update integration-service
  components/integration/development/kustomization.yaml
  components/integration/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5262 Re-enable taskruns_pod_latency_milliseconds metric in tekton-ms (#12410)
  components/monitoring/prometheus/base/tekton-ms/servicemonitor.yaml
Due: rhtap-staging-e2e

add kflux-ocp-p01 kflux-osp-p01 cluster changes
  components/vector-kubearchive-log-collector/production/kflux-ocp-p01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-ocp-p01/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-osp-p01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-osp-p01/loki-helm-values.yaml
Due: none

add kflux-prd-rh02 kflux-prd-rh03 kflux-rhel-p01 changes
  components/vector-kubearchive-log-collector/production/kflux-prd-rh02/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-prd-rh03/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-prd-rh03/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-rhel-p01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-rhel-p01/loki-helm-values.yaml
Due: none

add stone-prod-p01 cluster settings
  components/vector-kubearchive-log-collector/production/stone-prod-p01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/stone-prod-p01/loki-helm-values.yaml
Due: none

remove extra comment
  components/vector-kubearchive-log-collector/production/stone-prd-rh01/loki-helm-values.yaml
Due: none

disable tekton events controller in staging and development (#12298)
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

restrict release PLRs in OCP and RHEL clusters (#12405)
  components/kueue/production/kflux-ocp-p01/queue-config/cluster-queue.yaml
  components/kueue/production/kflux-rhel-p01/config.yaml
  components/kueue/production/kflux-rhel-p01/kustomization.yaml
  components/kueue/production/kflux-rhel-p01/queue-config/cluster-queue.yaml
  hack/test-tekton-kueue-config.py
Due: none

Revert "Disable mintmaker in staging (#12268)" (#12357)
  components/mintmaker/staging/base/kustomization.yaml
  components/mintmaker/staging/base/suspend-dependency-check-patch.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Revert "Disable mintmaker in production (#12269)" (#12358)
  components/mintmaker/production/base/kustomization.yaml
  components/mintmaker/production/base/suspend-dependency-check-patch.yaml
Due: rhtap-staging-e2e

fix(KONFLUX-14438): Add push label filter to restore notifications for all tenants
  components/notification-controller/development/pipelinerun_filters.yaml
  components/notification-controller/staging/pipelinerun_filters.yaml
Due: rhtap-staging-e2e

fix: add e2e cleanup related priviledges to the clusterrole (#12363)
  components/konflux-ci/base/test-runner-cluster-role.yaml
Due: rhtap-staging-e2e

chore(STONEINTG-1633): update integration-service (#12407)
  components/integration/development/kustomization.yaml
  components/integration/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Add `prod/*` labels to list of managed labels
  infra-tools/internal/github/labels.go
  infra-tools/internal/github/labels_test.go
Due: none

Remove ring deployment check (#12337)
  .github/workflows/enforce-ring-deployment.yaml
  docs/_data/navigation.yml
  docs/deployment/ring-deployment.md
Due: none

fix(KONFLUX-14438): Add push label filter to restore notifications for all tenants (#12417)
  components/notification-controller/development/pipelinerun_filters.yaml
  components/notification-controller/staging/pipelinerun_filters.yaml
Due: rhtap-staging-e2e

reduce MintMaker freq in prod p02
  components/mintmaker/production/stone-prod-p02/create-dependency-update-check-cron-patch.yaml
  components/mintmaker/production/stone-prod-p02/kustomization.yaml
Due: none

Promote release-service and grafana-dashboard from staging to production (#12326)
  components/monitoring/grafana/production/dashboards/release/kustomization.yaml
  components/release/production/kustomization.yaml
Due: none

PVO11Y-5265 Build users.json from raw vault token at runtime
  components/monitoring/kanary/staging/base/pipelines/kanary-otel-pipeline.yaml
  components/monitoring/kanary/staging/base/tasks/run-kanary-tests.yaml
Due: rhtap-staging-e2e

Promote integration-service from staging to production
  components/integration/production/base/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-3967 Update custom-kube-state-metrics README with constraints and validation guide
  components/monitoring/custom-kube-state-metrics/README.md
Due: none

(KAR-885): fix minIO misconfiguration (#12351)
  components/vector-kubearchive-log-collector/development/loki-helm-dev-values.yaml
  components/vector-kubearchive-log-collector/development/loki-helm-images.yaml
  components/vector-kubearchive-log-collector/development/loki-helm-minio-values.yaml
  components/vector-kubearchive-log-collector/development/rbac.yaml
  components/vector-kubearchive-log-collector/development/sa.yaml
  components/vector-kubearchive-log-collector/development/scc-patch.yaml
Due: none

Update from release-service
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Update from release-service
  components/build-service/development/kustomization.yaml
  components/build-service/staging/base/kustomization.yaml
Due: build-service-prod-overlay-update, rhtap-staging-e2e

KFLUXINFRA-3967 Update custom-kube-state-metrics README with constraints and validation guide (#12411)
  components/monitoring/custom-kube-state-metrics/README.md
Due: none

PVO11Y-5265 Build users.json from raw vault token at runtime (#12437)
  components/monitoring/kanary/staging/base/pipelines/kanary-otel-pipeline.yaml
  components/monitoring/kanary/staging/base/tasks/run-kanary-tests.yaml
Due: rhtap-staging-e2e

KAR-896 force auth for gateway on staging
  components/vector-kubearchive-log-collector/staging/base/loki-secret.yaml
  components/vector-kubearchive-log-collector/staging/stone-stage-p01/loki-helm-stg-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-stg-values.yaml
Due: rhtap-staging-e2e

PVO11Y-5265 Fix kanary run script path
  components/monitoring/kanary/staging/base/tasks/run-kanary-tests.yaml
Due: rhtap-staging-e2e

PVO11Y-5265 Fix kanary run script path (#12450)
  components/monitoring/kanary/staging/base/tasks/run-kanary-tests.yaml
Due: rhtap-staging-e2e

fix(KONFLUX-14438): Add push label filter to restore notifications for all tenants in production
  components/notification-controller/production/pipelinerun_filters.yaml
Due: none

Allow Pipelines SREs CRUD access to TektonInstallerSets
  components/pipeline-service/base/rbac/cluster-role/pipeline-service-sre.yaml
  components/pipeline-service/production/base/kustomization.yaml
  components/pipeline-service/production/base/remove-tektoninstallerset-permissions.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

chore(KONFLUX-13283): update claim cleaner image
  components/crossplane-control-plane/base/cronjob.yaml
Due: rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
