Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

KFLUXINFRA-4414 Deploy kube-shard to lightwell-dev
  .github/workflows/kube-linter.yaml
  argo-cd-apps/overlays/rd-staging/kube-shard/include-lightwell-dev.yaml
  argo-cd-apps/overlays/rd-staging/kube-shard/kube-shard-appset.yaml
  argo-cd-apps/overlays/rd-staging/kube-shard/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/kustomization.yaml
  components/kube-shard/OWNERS
  components/kube-shard/base/kustomization.yaml
  components/kube-shard/rings/empty-base/empty-base/kustomization.yaml
  components/kube-shard/rings/ring-1/base/base-snapshot/kustomization.yaml
  components/kube-shard/rings/ring-1/base/konflux-tekton-shard-apishard.yaml
  components/kube-shard/rings/ring-1/base/kustomization.yaml
  components/kube-shard/rings/ring-1/lightwell-dev/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4414 Patch readOnlyRootFilesystem on kube-shard operator
  components/kube-shard/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4414 Update kube-shard to d0b933b and drop readOnlyRootFilesystem patch
  components/kube-shard/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

fix(PVO11Y-5298): Add annotation to disable autogen production
  components/policies/production/base/cost-management/OWNERS
  components/policies/production/base/cost-management/propagate-cost-management-labels/propagate-cost-management-labels.yaml
Due: rhtap-staging-e2e

Delete kueue apps from staging overlays (#13481)
  argo-cd-apps/base/member/infra-deployments/kueue/kueue.yaml
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
Due: none

Revert "Delete kueue apps from staging overlays (#13481)"
  argo-cd-apps/base/member/infra-deployments/kueue/kueue.yaml
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
Due: none

Revert "Delete kueue apps from staging overlays (#13481)" (#13607)
  argo-cd-apps/base/member/infra-deployments/kueue/kueue.yaml
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
Due: none

feat: migrate konflux-verifications-rd to ring deployments with PushSecret
  argo-cd-apps/overlays/development/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
  argo-cd-apps/overlays/rd-staging/konflux-verifications-rd/konflux-verifications-rd-appset.yaml
  argo-cd-apps/overlays/rd-staging/konflux-verifications-rd/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/kustomization.yaml
  argo-cd-apps/overlays/staging-downstream/kustomization.yaml
  components/cluster-secret-store/staging/konflux-verifications-rd-namespaces-patch.yaml
  components/cluster-secret-store/staging/kustomization.yaml
  components/konflux-verifications-rd/rings/empty-base/empty-base/kustomization.yaml
  components/konflux-verifications-rd/rings/ring-0/base/kustomization.yaml
  components/konflux-verifications-rd/rings/ring-1/base/base-snapshot/kustomization.yaml
  components/konflux-verifications-rd/rings/ring-1/base/base-snapshot/namespaces.yaml
  components/konflux-verifications-rd/rings/ring-1/base/base-snapshot/rbac.yaml
  components/konflux-verifications-rd/rings/ring-1/base/base-snapshot/serviceaccount.yaml
  components/konflux-verifications-rd/rings/ring-1/base/kustomization.yaml
  components/konflux-verifications-rd/rings/ring-1/lightwell-dev/kustomization.yaml
  components/konflux-verifications-rd/rings/ring-1/lightwell-dev/push-secret.yaml
  components/konflux-verifications-rd/rings/ring-1/stone-stage-p01/kustomization.yaml
  components/konflux-verifications-rd/rings/ring-1/stone-stage-p01/push-secret.yaml
  components/konflux-verifications-rd/rings/ring-1/stone-stg-rh01/kustomization.yaml
  components/konflux-verifications-rd/rings/ring-1/stone-stg-rh01/push-secret.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4414: Deploy kube-shard to lightwell-dev (#13587)
  .github/workflows/kube-linter.yaml
  argo-cd-apps/overlays/rd-staging/kube-shard/include-lightwell-dev.yaml
  argo-cd-apps/overlays/rd-staging/kube-shard/kube-shard-appset.yaml
  argo-cd-apps/overlays/rd-staging/kube-shard/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/kustomization.yaml
  components/kube-shard/OWNERS
  components/kube-shard/base/kustomization.yaml
  components/kube-shard/rings/empty-base/empty-base/kustomization.yaml
  components/kube-shard/rings/ring-1/base/base-snapshot/kustomization.yaml
  components/kube-shard/rings/ring-1/base/konflux-tekton-shard-apishard.yaml
  components/kube-shard/rings/ring-1/base/kustomization.yaml
  components/kube-shard/rings/ring-1/lightwell-dev/kustomization.yaml
Due: rhtap-staging-e2e

Revert "Add managed-konflux-perfscale-readonly-role ClusterRole (#13426)"
  components/perf-team-prometheus-reader/base/tenants-rbac/managed-konflux-perfscale-tenant/kustomization.yaml
  components/perf-team-prometheus-reader/base/tenants-rbac/managed-konflux-perfscale-tenant/managed-konflux-perfscale-readonly-clusterrole.yaml
Due: rhtap-staging-e2e

Revert "Add managed-konflux-perfscale-readonly-role ClusterRole (#13426)" (#13608)
  components/perf-team-prometheus-reader/base/tenants-rbac/managed-konflux-perfscale-tenant/kustomization.yaml
  components/perf-team-prometheus-reader/base/tenants-rbac/managed-konflux-perfscale-tenant/managed-konflux-perfscale-readonly-clusterrole.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/konflux-ui/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Update from release-service
  components/monitoring/grafana/development/dashboards/release/kustomization.yaml
  components/release/development/kustomization.yaml
Due: none

chore(ring-0-konflux-operator): promote konflux-operator
  components/konflux-operator/rings/ring-0/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

feat(PVO11Y-5479): Use kanary-pipeline as phase for mechanism failures
  components/monitoring/kanary/staging/base/tasks/push-kanary-metrics.yaml
Due: rhtap-staging-e2e

feat(PVO11Y-5479): Use kanary-pipeline as phase for mechanism failures (#13612)
  components/monitoring/kanary/staging/base/tasks/push-kanary-metrics.yaml
Due: rhtap-staging-e2e

KFLUXINFRA Enable Sentry monitoring on all production clusters
  components/konflux-ui/production/kflux-ocp-p01/kustomization.yaml
  components/konflux-ui/production/kflux-osp-p01/kustomization.yaml
  components/konflux-ui/production/kflux-prd-rh02/kustomization.yaml
  components/konflux-ui/production/kflux-prd-rh03/kustomization.yaml
  components/konflux-ui/production/kflux-rhel-p01/kustomization.yaml
  components/konflux-ui/production/stone-prd-rh01/kustomization.yaml
  components/konflux-ui/production/stone-prod-p01/kustomization.yaml
  components/konflux-ui/production/stone-prod-p02/kustomization.yaml
  components/konflux-ui/staging/stone-stage-p01/kustomization.yaml
  components/konflux-ui/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Set MONITORING_SAMPLE_RATE_ERRORS=1 on all production clusters
  components/konflux-ui/production/kflux-ocp-p01/kustomization.yaml
  components/konflux-ui/production/kflux-osp-p01/kustomization.yaml
  components/konflux-ui/production/kflux-prd-rh02/kustomization.yaml
  components/konflux-ui/production/kflux-prd-rh03/kustomization.yaml
  components/konflux-ui/production/kflux-rhel-p01/kustomization.yaml
  components/konflux-ui/production/stone-prd-rh01/kustomization.yaml
  components/konflux-ui/production/stone-prod-p01/kustomization.yaml
  components/konflux-ui/production/stone-prod-p02/kustomization.yaml
Due: none

chore(ring-1): promote konflux-operator to ring-1
  components/konflux-operator/rings/ring-1/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

SPRE-5236: add Altas probes and its secrets
  components/monitoring/blackbox/staging/stone-stage-p01/kustomization.yaml
Due: rhtap-staging-e2e

fix(KONFLUX-15214): upgrade otel collector to 0.158.0 in stone-prod-rh01, stone-prod-p01 and stone-prod-p02 (#13505)
  components/kubearchive/production/stone-prd-rh01/kustomization.yaml
  components/kubearchive/production/stone-prod-p01/kustomization.yaml
  components/kubearchive/production/stone-prod-p02/kustomization.yaml
Due: none

KFLUXINFRA-4363 Add applications read access to konflux-viewer-bot-actions
  components/konflux-rbac/staging/base/konflux-viewer-bot-actions.yaml
Due: rhtap-staging-e2e

Revert "Update CatalogSource image to 5.0.5-871 in dev/staging (#13452)"
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/lightwell-dev/deploy.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4363 Add applications read access to konflux-viewer-bot-actions (#13619)
  components/konflux-rbac/staging/base/konflux-viewer-bot-actions.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4363 Add applications read access to konflux-viewer-bot-actions
  components/konflux-rbac/production/base/konflux-viewer-bot-actions.yaml
Due: rhtap-staging-e2e

fix(PVO11Y-5480): KAExporter update for tenant UX SLO calculations
  components/monitoring/exporters/kaexporter/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

fix(PVO11Y-5480): KAExporter update for tenant UX SLO calculations (#13623)
  components/monitoring/exporters/kaexporter/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4385 Document tag/digest resolution logic in semver task
  hack/new-cluster/tasks/quay/find-latest-semver-tag.yaml
Due: none

KFLUXINFRA-4363 Add applications read access to konflux-viewer-bot-actions (#13622)
  components/konflux-rbac/production/base/konflux-viewer-bot-actions.yaml
Due: rhtap-staging-e2e

fix(pipelines-staging): use correct resolver bucket count
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/lightwell-dev/deploy.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

fix(pipelines-staging): use correct resolver bucket count (#13624)
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/lightwell-dev/deploy.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

fix(PVO11Y-5480): KAExporter update for production
  components/monitoring/exporters/kaexporter/production/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-1): promote dummy-deployment to ring-1
  components/dummy-deployment/overlays/staging/kustomization.yaml
Due: rhtap-staging-e2e

Override pipeline controller/webhook/resolvers to build 854 in dev/staging
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/lightwell-dev/deploy.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

fix kube-linter errors
  components/vector-kubearchive-log-collector/staging/stone-stage-p01/loki-helm-stg-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-stg-values.yaml
Due: rhtap-staging-e2e
