Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

KAR-639: set up kubearchive-logging staging monitoring
  components/vector-kubearchive-log-collector/staging/base/kustomization.yaml
  components/vector-kubearchive-log-collector/staging/base/namespace-patch.yaml
  components/vector-kubearchive-log-collector/staging/base/namespace.yaml
  components/vector-kubearchive-log-collector/staging/base/prometheus-rules.yaml
  components/vector-kubearchive-log-collector/staging/base/rbac.yaml
Due: rhtap-staging-e2e

Add NOTIFICATION_FILTER_ANNOTATIONS env var for production
  components/notification-controller/production/kustomization.yaml
  components/notification-controller/production/pipelinerun_filters.yaml
Due: none

KONFLUX-13356: Use Kubernetes canonical Quantity form for v1beta2 quotas
  .github/workflows/verify-kueue-queue-configs.yaml
  components/kueue/staging/stone-stage-p01/queue-config/cluster-queue.yaml
  components/kueue/staging/stone-stg-rh01/queue-config/cluster-queue.yaml
  hack/kueue-vm-quotas/README.md
  hack/kueue-vm-quotas/update-kueue-vm-quotas.py
Due: rhtap-staging-e2e

Port UI proxy token hot-reload fixes from konflux-ci/konflux-ci#6780
  components/konflux-ui/staging/base/proxy/kustomization.yaml
  components/konflux-ui/staging/base/proxy/proxy.yaml
  components/konflux-ui/staging/base/proxy/scripts/proxy-nginx-generate-loop-probe.sh
  components/konflux-ui/staging/base/proxy/scripts/proxy-nginx-generate-loop.sh
  components/konflux-ui/staging/base/proxy/scripts/proxy-nginx-run.sh
Due: rhtap-staging-e2e

feat: remove the replica patch from kite development environment
  components/konflux-kite/development/kustomization.yaml
Due: none

feat(KFLUXVNGD-906): development-operator overlay for Konflux operator
  .github/workflows/forbid-clusterpolicies.yaml
  .github/workflows/kube-linter.yaml
  argo-cd-apps/app-of-app-sets/development-operator/change-source-path.yaml
  argo-cd-apps/app-of-app-sets/development-operator/change-target-namespace.yaml
  argo-cd-apps/app-of-app-sets/development-operator/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/konflux-operator/konflux-operator.yaml
  argo-cd-apps/base/member/infra-deployments/konflux-operator/kustomization.yaml
  argo-cd-apps/overlays/development-operator/delete-legacy-konflux-member-appsets.yaml
  argo-cd-apps/overlays/development-operator/development-operator-generator-patch.yaml
  argo-cd-apps/overlays/development-operator/kustomization.yaml
  components/konflux-operator/OWNERS
  components/konflux-operator/README.md
  components/konflux-operator/development/cr/overlay-patches/build/OWNERS
  components/konflux-operator/development/cr/overlay-patches/build/build-service.yaml
  components/konflux-operator/development/cr/overlay-patches/build/kustomization.yaml
  components/konflux-operator/development/cr/overlay-patches/image-controller/OWNERS
  components/konflux-operator/development/cr/overlay-patches/image-controller/image-controller.yaml
  components/konflux-operator/development/cr/overlay-patches/image-controller/kustomization.yaml
  components/konflux-operator/development/cr/overlay-patches/integration/OWNERS
  components/konflux-operator/development/cr/overlay-patches/integration/integration-service.yaml
  components/konflux-operator/development/cr/overlay-patches/integration/kustomization.yaml
  components/konflux-operator/development/cr/overlay-patches/konflux-info/OWNERS
  components/konflux-operator/development/cr/overlay-patches/konflux-info/konflux-info.yaml
  components/konflux-operator/development/cr/overlay-patches/konflux-info/kustomization.yaml
  components/konflux-operator/development/cr/overlay-patches/konflux-ui/OWNERS
  components/konflux-operator/development/cr/overlay-patches/konflux-ui/kustomization.yaml
  components/konflux-operator/development/cr/overlay-patches/konflux-ui/ui.yaml
  components/konflux-operator/development/cr/overlay-patches/namespace-lister/OWNERS
  components/konflux-operator/development/cr/overlay-patches/namespace-lister/kustomization.yaml
  components/konflux-operator/development/cr/overlay-patches/namespace-lister/namespace-lister.yaml
  components/konflux-operator/development/cr/overlay-patches/release/OWNERS
  components/konflux-operator/development/cr/overlay-patches/release/kustomization.yaml
  components/konflux-operator/development/cr/overlay-patches/release/release-service.yaml
  components/konflux-operator/development/invariant/konflux.yaml
  components/konflux-operator/development/invariant/kustomization.yaml
  components/konflux-operator/development/invariant/release-config.yaml
  components/konflux-operator/development/kustomization.yaml
  hack/bootstrap-cluster.sh
  hack/preview.sh
Due: none

Add authorization config for kube-rbac-proxy to allow metrics-reader SA access
  components/monitoring/prometheus/staging/tekton-ms/kube-rbac-proxy.yaml
Due: rhtap-staging-e2e

Replace generic kube-rbac-proxy authorization with CMO pattern
  components/monitoring/prometheus/staging/tekton-ms/kube-rbac-proxy.yaml
Due: rhtap-staging-e2e

Remove dead tekton-ms-metrics-reader ClusterRole/ClusterRoleBinding
  components/monitoring/prometheus/staging/tekton-ms/kube-rbac-proxy.yaml
Due: rhtap-staging-e2e

Applying codo suggestions + fixing comment path for staging-downstream
  components/multi-platform-controller/staging-downstream/host-values.yaml
  components/multi-platform-controller/staging/base/host-config-chart/templates/_windows-init.ps1.tpl
  components/multi-platform-controller/staging/host-values.yaml
Due: rhtap-staging-e2e

feat: Create a dummy app to practice for ring deployment and put the base for best practices for teams as example
  components/dummy-deployment/OWNERS
  components/dummy-deployment/base/kustomization.yaml
  components/dummy-deployment/overlays/development/kustomization.yaml
  components/dummy-deployment/overlays/staging/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5150: Add RBAC for o11y team to create PipelineRuns in kanary
  components/monitoring/kanary/staging/base/rbac/kanary-o11y-pipelinerun-rbac.yaml
  components/monitoring/kanary/staging/base/rbac/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5150: Scope o11y RBAC to cronjob trigger instead of PipelineRun create
  components/monitoring/kanary/staging/base/rbac/kanary-o11y-cronjob-trigger-rbac.yaml
  components/monitoring/kanary/staging/base/rbac/kustomization.yaml
Due: rhtap-staging-e2e

fix(MPC): fix GPU init script and extract staging-downstream inline scripts
  components/multi-platform-controller/staging-downstream/host-values.yaml
  components/multi-platform-controller/staging/base/host-config-chart/files/linux-g64xlarge-amd64-init.sh
Due: rhtap-staging-e2e

Update pipelines-index-4.18 to next nightly build in dev/staging 5.0.5-819
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

dev/stage move PaC config from "spec.platforms.openshift" to "spec.platforms.kubernetes"
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stage-p01/resources/update-tekton-config-pac.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

increase tekton events controller memory in dev+staging
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

update opentelemetry-collector for KubeArchive stage config
  components/kubearchive/production/base/kustomization.yaml
Due: rhtap-staging-e2e

fix linter errors
  components/kubearchive/production/base/kustomization.yaml
Due: rhtap-staging-e2e

refactor otel-collector patch
  components/kubearchive/production/base/kustomization.yaml
  components/kubearchive/production/kflux-fedora-01/kustomization.yaml
  components/kubearchive/production/kflux-prd-rh02/kustomization.yaml
  components/kubearchive/production/kflux-prd-rh03/kustomization.yaml
  components/kubearchive/production/kflux-rhel-p01/kustomization.yaml
  components/kubearchive/production/stone-prd-rh01/kustomization.yaml
  components/kubearchive/production/stone-prod-p01/kustomization.yaml
  components/kubearchive/production/stone-prod-p02/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-3786: revoke Role write permissions from tenant admins (staging)
  components/konflux-rbac/staging/base/konflux-admin-user-actions.yaml
Due: rhtap-staging-e2e

fix kustomization files
  components/kubearchive/production/kflux-ocp-p01/kustomization.yaml
  components/kubearchive/production/kflux-osp-p01/kustomization.yaml
Due: none

fix linter errors
  components/kubearchive/production/kflux-prd-rh02/kustomization.yaml
  components/kubearchive/production/kflux-rhel-p01/kustomization.yaml
  components/kubearchive/production/stone-prd-rh01/kustomization.yaml
  components/kubearchive/production/stone-prod-p01/kustomization.yaml
  components/kubearchive/production/stone-prod-p02/kustomization.yaml
Due: none

feat: Add Argo application for the dummy deploy
  argo-cd-apps/base/member/infra-deployments/dummy-deployment/dummy-deployment.yaml
  argo-cd-apps/base/member/infra-deployments/dummy-deployment/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/kustomization.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
Due: none

policies: rollout queue-config policy to prod
  components/policies/production/policies/kueue/queue-config/.chainsaw-test/README.md
  components/policies/production/policies/kueue/queue-config/.chainsaw-test/chainsaw-test.yaml
  components/policies/production/policies/kueue/queue-config/.chainsaw-test/resources/expected-localqueue-kanary.yaml
  components/policies/production/policies/kueue/queue-config/.chainsaw-test/resources/expected-localqueue-paused.yaml
  components/policies/production/policies/kueue/queue-config/.chainsaw-test/resources/expected-localqueue.yaml
  components/policies/production/policies/kueue/queue-config/.chainsaw-test/resources/namespace-kanary.yaml
  components/policies/production/policies/kueue/queue-config/.chainsaw-test/resources/namespace-tenant-paused.yaml
  components/policies/production/policies/kueue/queue-config/.chainsaw-test/resources/namespace-tenant-unpaused.yaml
  components/policies/production/policies/kueue/queue-config/cluster-policy.yaml
Due: none

fix: exclude dummy-deployment from production overlays
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
Due: none

unroll build-service update, which contains change to Repository CR naming
  components/build-service/production/base/kustomization.yaml
Due: rhtap-staging-e2e

unroll build-service update, which contains change to Repository CR naming
  components/build-service/development/kustomization.yaml
  components/build-service/staging/base/kustomization.yaml
Due: build-service-prod-overlay-update, rhtap-staging-e2e

Remove tkdchen from OWNERS
  components/build-service/OWNERS
  components/image-controller/OWNERS
  components/monitoring/grafana/base/dashboards/build-service/OWNERS
  components/monitoring/grafana/base/dashboards/image-controller/OWNERS
Due: rhtap-staging-e2e

KFLUXINFRA-3786: revoke Role write permissions from tenant admins (production)
  components/konflux-rbac/production/base/konflux-admin-user-actions.yaml
Due: rhtap-staging-e2e

UI proxy: replace long-lived token with rotated short-lived tokens (production)
  components/konflux-ui/production/base/proxy/kustomization.yaml
  components/konflux-ui/production/base/proxy/proxy.yaml
  components/konflux-ui/production/base/proxy/scripts/proxy-nginx-generate-loop-probe.sh
  components/konflux-ui/production/base/proxy/scripts/proxy-nginx-generate-loop.sh
  components/konflux-ui/production/base/proxy/scripts/proxy-nginx-run.sh
Due: rhtap-staging-e2e

Fix production overlay patches for new sidecar container index
  components/konflux-ui/production/kflux-fedora-01/oauth2-proxy-args-patch.yaml
  components/konflux-ui/production/kflux-fedora-01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/kflux-ocp-p01/oauth2-proxy-args-patch.yaml
  components/konflux-ui/production/kflux-ocp-p01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/kflux-osp-p01/oauth2-proxy-args-patch.yaml
  components/konflux-ui/production/kflux-osp-p01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/kflux-prd-rh02/oauth2-proxy-args-patch.yaml
  components/konflux-ui/production/kflux-prd-rh02/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/kflux-prd-rh03/oauth2-proxy-args-patch.yaml
  components/konflux-ui/production/kflux-prd-rh03/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/kflux-rhel-p01/oauth2-proxy-args-patch.yaml
  components/konflux-ui/production/kflux-rhel-p01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/stone-prd-rh01/oauth2-proxy-args-patch.yaml
  components/konflux-ui/production/stone-prd-rh01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/stone-prod-p01/oauth2-proxy-args-patch.yaml
  components/konflux-ui/production/stone-prod-p01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/stone-prod-p02/oauth2-proxy-args-patch.yaml
  components/konflux-ui/production/stone-prod-p02/remove-run-as-user-proxy-patch.yaml
Due: none

Fix new-cluster template patches for new sidecar container index
  hack/new-cluster/templates/konflux-ui/oauth2-proxy-args-patch.yaml
  hack/new-cluster/templates/konflux-ui/remove-run-as-user-proxy-patch.yaml
Due: none

UI proxy: replace long-lived token with rotated short-lived tokens (production ring 1)
  components/konflux-ui/production/base-ring2/dex/dex.yaml
  components/konflux-ui/production/base-ring2/dex/kustomization.yaml
  components/konflux-ui/production/base-ring2/kustomization.yaml
  components/konflux-ui/production/base-ring2/proxy/auth.conf
  components/konflux-ui/production/base-ring2/proxy/kite.conf
  components/konflux-ui/production/base-ring2/proxy/kubearchive.conf
  components/konflux-ui/production/base-ring2/proxy/kustomization.yaml
  components/konflux-ui/production/base-ring2/proxy/nginx.conf
  components/konflux-ui/production/base-ring2/proxy/otel-collector-config.yaml
  components/konflux-ui/production/base-ring2/proxy/proxy.yaml
  components/konflux-ui/production/base-ring2/proxy/tekton-results-workspaces.conf
  components/konflux-ui/production/base-ring2/proxy/tekton-results.conf
  components/konflux-ui/production/base-ring2/route-and-oauth.yaml
  components/konflux-ui/production/base/proxy/scripts/proxy-nginx-generate-loop-probe.sh
  components/konflux-ui/production/base/proxy/scripts/proxy-nginx-generate-loop.sh
  components/konflux-ui/production/base/proxy/scripts/proxy-nginx-run.sh
  components/konflux-ui/production/kflux-fedora-01/oauth2-proxy-args-patch.yaml
  components/konflux-ui/production/kflux-fedora-01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/kflux-ocp-p01/kustomization.yaml
  components/konflux-ui/production/kflux-osp-p01/oauth2-proxy-args-patch.yaml
  components/konflux-ui/production/kflux-osp-p01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/kflux-prd-rh02/oauth2-proxy-args-patch.yaml
  components/konflux-ui/production/kflux-prd-rh02/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/kflux-prd-rh03/oauth2-proxy-args-patch.yaml
  components/konflux-ui/production/kflux-prd-rh03/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/kflux-rhel-p01/oauth2-proxy-args-patch.yaml
  components/konflux-ui/production/kflux-rhel-p01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/stone-prd-rh01/kustomization.yaml
  components/konflux-ui/production/stone-prod-p01/oauth2-proxy-args-patch.yaml
  components/konflux-ui/production/stone-prod-p01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/stone-prod-p02/kustomization.yaml
  hack/new-cluster/templates/konflux-ui/oauth2-proxy-args-patch.yaml
  hack/new-cluster/templates/konflux-ui/remove-run-as-user-proxy-patch.yaml
Due: rhtap-staging-e2e

UI proxy: migrate ring 2 clusters and remove base-ring2 (production ring 2)
  components/konflux-ui/production/base-ring2/dex/dex.yaml
  components/konflux-ui/production/base-ring2/dex/kustomization.yaml
  components/konflux-ui/production/base-ring2/kustomization.yaml
  components/konflux-ui/production/base-ring2/proxy/auth.conf
  components/konflux-ui/production/base-ring2/proxy/kite.conf
  components/konflux-ui/production/base-ring2/proxy/kubearchive.conf
  components/konflux-ui/production/base-ring2/proxy/kustomization.yaml
  components/konflux-ui/production/base-ring2/proxy/nginx.conf
  components/konflux-ui/production/base-ring2/proxy/otel-collector-config.yaml
  components/konflux-ui/production/base-ring2/proxy/proxy.yaml
  components/konflux-ui/production/base-ring2/proxy/tekton-results-workspaces.conf
  components/konflux-ui/production/base-ring2/proxy/tekton-results.conf
  components/konflux-ui/production/base-ring2/route-and-oauth.yaml
  components/konflux-ui/production/kflux-ocp-p01/kustomization.yaml
  components/konflux-ui/production/kflux-ocp-p01/oauth2-proxy-args-patch.yaml
  components/konflux-ui/production/kflux-ocp-p01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/stone-prd-rh01/kustomization.yaml
  components/konflux-ui/production/stone-prd-rh01/oauth2-proxy-args-patch.yaml
  components/konflux-ui/production/stone-prd-rh01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/stone-prod-p02/kustomization.yaml
  components/konflux-ui/production/stone-prod-p02/oauth2-proxy-args-patch.yaml
  components/konflux-ui/production/stone-prod-p02/remove-run-as-user-proxy-patch.yaml
Due: none

KFLUXINFRA-3786: add watch verb for roles read-only rule
  components/konflux-rbac/production/base/konflux-admin-user-actions.yaml
  components/konflux-rbac/staging/base/konflux-admin-user-actions.yaml
Due: rhtap-staging-e2e

Add k8s groups component
  argo-cd-apps/base/k8s-groups/k8s-groups.yaml
  argo-cd-apps/base/k8s-groups/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-staging/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
Due: none

info: announce maintenance on Friday, May 15th
  components/konflux-info/production/kflux-ocp-p01/banner-content.yaml
  components/konflux-info/production/kflux-osp-p01/banner-content.yaml
  components/konflux-info/production/kflux-prd-rh02/banner-content.yaml
  components/konflux-info/production/kflux-prd-rh03/banner-content.yaml
  components/konflux-info/production/kflux-rhel-p01/banner-content.yaml
  components/konflux-info/production/stone-prd-rh01/banner-content.yaml
  components/konflux-info/production/stone-prod-p01/banner-content.yaml
  components/konflux-info/production/stone-prod-p02/banner-content.yaml
Due: none

Fix k8s-groups to not deploy in cluster
  argo-cd-apps/base/all-clusters/internal-infra-deployments/k8s-groups/k8s-groups.yaml
  argo-cd-apps/base/all-clusters/internal-infra-deployments/k8s-groups/kustomization.yaml
  argo-cd-apps/base/all-clusters/internal-infra-deployments/kustomization.yaml
  argo-cd-apps/base/all-clusters/kustomization.yaml
  argo-cd-apps/k-components/inject-internal-infra-deployments-repo-details/application-patch.yaml
  argo-cd-apps/k-components/inject-internal-infra-deployments-repo-details/application-set-patch.yaml
  argo-cd-apps/k-components/inject-internal-infra-deployments-repo-details/kustomization.yaml
  argo-cd-apps/overlays/development/delete-applications.yaml
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/konflux-public-staging/kustomization.yaml
Due: none

bump build-service
  components/build-service/development/kustomization.yaml
  components/build-service/staging/base/kustomization.yaml
Due: build-service-prod-overlay-update, rhtap-staging-e2e
