Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

fix(KONFLUX-13202): Upsize cost-management-operator pod resource limits (#12875)
  components/cost-management/staging/base/cost-management-operator-resources-patch.yaml
  components/cost-management/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

SPRE-4610: bump internal-infra-deployments ref for staging blackbox fixes (#12881)
  components/monitoring/blackbox/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/blackbox/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5323 Enable cardinality monitoring for Tekton Prometheus (#12883)
  components/monitoring/cardinality/base/resources/deployment.yaml
  components/monitoring/prometheus/staging/tekton-ms/networkpolicy.yaml
Due: rhtap-staging-e2e

Fix authentication-rd appset
  argo-cd-apps/base/ring-deployments/authentication-rd/authentication-rd.yaml
Due: none

Deploy PaC v0.48.0 to Konflux production - Ring 3
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/rings/ring-1/kustomization.yaml
  components/pipeline-service/production/rings/ring-2/kustomization.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
Due: rhtap-staging-e2e

Disable tekton events controller in production Ring 3
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-fedora-01/deploy.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-osp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/kflux-rhel-p01/deploy.yaml
  components/pipeline-service/production/rings/ring-3/kustomization.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: rhtap-staging-e2e

Fix authentication-rd appset (#12888)
  argo-cd-apps/base/ring-deployments/authentication-rd/authentication-rd.yaml
Due: none

Update from release-service
  components/project-controller/development/kustomization.yaml
  components/project-controller/staging/kustomization.yaml
Due: rhtap-staging-e2e

[KFLUXINFRA-3980] Add type guards to build-platforms CEL expressions (dev/staging)
  components/kueue/development/tekton-kueue/config.yaml
  components/kueue/staging/base/tekton-kueue/config.yaml
  hack/test-tekton-kueue-config.py
Due: rhtap-staging-e2e

Delete old authentication appset
  argo-cd-apps/base/all-clusters/infra-deployments/authentication/authentication.yaml
  argo-cd-apps/base/all-clusters/infra-deployments/authentication/kustomization.yaml
  argo-cd-apps/base/all-clusters/infra-deployments/kustomization.yaml
  argo-cd-apps/base/ring-deployments/authentication-rd/authentication-rd.yaml
  argo-cd-apps/overlays/development/delete-applications.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
Due: none

Update from release-service
  components/smee-client/staging/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/notification-controller/development/kustomization.yaml
  components/notification-controller/staging/kustomization.yaml
Due: rhtap-staging-e2e

feat: Also enable ExternalSecrets in managed-konflux-perfscale-tenant NS in prod (#12877)
  components/cluster-secret-store/production/perfscale-namespaces-patch.yaml
Due: none

modify owners lists for KubeArchive repos (#12887)
  components/kubearchive/OWNERS
  components/vector-kubearchive-log-collector/OWNERS
Due: none

KFLUXINFRA-3973: add token resource to kueue in production (ring 2)
  components/kueue/production/kflux-osp-p01/config.yaml
  components/kueue/production/kflux-osp-p01/kustomization.yaml
  components/kueue/production/kflux-osp-p01/queue-config/cluster-queue.yaml
  components/kueue/production/kflux-prd-rh03/config.yaml
  components/kueue/production/kflux-prd-rh03/kustomization.yaml
  components/kueue/production/kflux-prd-rh03/queue-config/cluster-queue.yaml
  components/kueue/production/stone-prod-p02/queue-config/cluster-queue.yaml
  hack/test-tekton-kueue-config.py
Due: none

KFLUXVNGD-1111 Refactor crossplane-control-plane production into per-cluster overlays (#12886)
  argo-cd-apps/base/member/infra-deployments/crossplane-control-plane/crossplane-control-plane.yaml
  components/crossplane-control-plane/production/base/kustomization.yaml
  components/crossplane-control-plane/production/base/provider-config.yaml
  components/crossplane-control-plane/production/base/testplatform-provider-config.yaml
  components/crossplane-control-plane/production/kflux-fedora-01/kustomization.yaml
  components/crossplane-control-plane/production/kflux-ocp-p01/kustomization.yaml
  components/crossplane-control-plane/production/kflux-osp-p01/kustomization.yaml
  components/crossplane-control-plane/production/kflux-prd-rh02/kustomization.yaml
  components/crossplane-control-plane/production/kflux-prd-rh03/kustomization.yaml
  components/crossplane-control-plane/production/kflux-rhel-p01/kustomization.yaml
  components/crossplane-control-plane/production/stone-prd-rh01/kustomization.yaml
  components/crossplane-control-plane/production/stone-prod-p01/kustomization.yaml
  components/crossplane-control-plane/production/stone-prod-p02/kustomization.yaml
Due: rhtap-staging-e2e

remove tekton-ci component (#12637)
  argo-cd-apps/base/tekton-ci/kustomization.yaml
  argo-cd-apps/base/tekton-ci/tekton-ci.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  components/cluster-secret-store/base/appsre-stonesoup-vault-secret-store.yaml
  components/tekton-ci/base/appstudio-pipelines-runner-rolebinding.yaml
  components/tekton-ci/base/external-secrets/clair-in-ci-db-github-token.yaml
  components/tekton-ci/base/external-secrets/github-secret.yaml
  components/tekton-ci/base/external-secrets/infra-deployments-pr-creator.yaml
  components/tekton-ci/base/external-secrets/kustomization.yaml
  components/tekton-ci/base/external-secrets/quay-push-secret.yaml
  components/tekton-ci/base/external-secrets/registry-redhat-io-pull-secret.yaml
  components/tekton-ci/base/external-secrets/slack-webhook-notification-secret.yaml
  components/tekton-ci/base/external-secrets/snyk-shared-token.yaml
  components/tekton-ci/base/kustomization.yaml
  components/tekton-ci/base/namespace.yaml
  components/tekton-ci/base/repository.yaml
  components/tekton-ci/base/serviceaccount.yaml
  components/tekton-ci/base/tekton-ci-maintainers-rb.yaml
  components/tekton-ci/production/infra-deployments-pr-creator.yaml
  components/tekton-ci/production/kustomization.yaml
  components/tekton-ci/production/plnsvc-ci-secret.yaml
  components/tekton-ci/production/plnsvc-codecov-secret.yaml
  components/tekton-ci/production/quay-push-secret.yaml
  components/tekton-ci/production/snyk-shared-token.yaml
  components/tekton-ci/staging/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5279 Deploy KubeArchive exporter to staging
  argo-cd-apps/base/member/infra-deployments/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/monitoring-konflux-o11y-exporters/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/monitoring-konflux-o11y-exporters/monitoring-workload-konflux-o11y-exporters.yaml
  argo-cd-apps/overlays/development/delete-applications.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  components/monitoring/exporters/kaexporter/production/kustomization.yaml
  components/monitoring/exporters/kaexporter/staging/base/external-secrets/ka-kubearchive-credentials.yaml
  components/monitoring/exporters/kaexporter/staging/base/external-secrets/kustomization.yaml
  components/monitoring/exporters/kaexporter/staging/base/kustomization.yaml
  components/monitoring/exporters/kaexporter/staging/base/rbac/kaexporter-maintainers.yaml
  components/monitoring/exporters/kaexporter/staging/base/rbac/kustomization.yaml
  components/monitoring/exporters/kaexporter/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/exporters/kaexporter/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

Upsize cost-management-operator resource limits in production
  components/cost-management/production/base/cost-management-operator-resources-patch.yaml
  components/cost-management/production/base/kustomization.yaml
Due: rhtap-staging-e2e

SPRE-4610: bump internal-infra-deployments ref for production nexus probes consolidation
  components/monitoring/blackbox/production/kflux-fedora-01/kustomization.yaml
  components/monitoring/blackbox/production/kflux-ocp-p01/kustomization.yaml
  components/monitoring/blackbox/production/kflux-osp-p01/kustomization.yaml
  components/monitoring/blackbox/production/kflux-prd-rh02/kustomization.yaml
  components/monitoring/blackbox/production/kflux-prd-rh03/kustomization.yaml
  components/monitoring/blackbox/production/kflux-rhel-p01/kustomization.yaml
  components/monitoring/blackbox/production/stone-prd-rh01/kustomization.yaml
  components/monitoring/blackbox/production/stone-prod-p01/kustomization.yaml
  components/monitoring/blackbox/production/stone-prod-p02/kustomization.yaml
Due: none

Promote release-service and grafana-dashboard from staging to production (#12884)
  components/monitoring/grafana/production/dashboards/release/kustomization.yaml
  components/release/production/kustomization.yaml
Due: none

PVO11Y-5151 Use empty-base as default clusterDir for kanary appset
  argo-cd-apps/base/member/infra-deployments/monitoring-workload-kanary/monitoring-workload-kanary.yaml
  components/monitoring/kanary/production/empty-base/kustomization.yaml
  components/monitoring/kanary/staging/empty-base/kustomization.yaml
Due: rhtap-staging-e2e

improve nvidia CDI configuration logic (#12889)
  components/multi-platform-controller/base/host-config-chart/files/linux-g64xlarge-amd64-init.sh
  components/multi-platform-controller/staging/base/host-config-chart/files/linux-g64xlarge-amd64-init.sh
Due: rhtap-staging-e2e

Move tracing component under monitoring directory (#12872)
  argo-cd-apps/base/member/infra-deployments/tempo/tempo.yaml
  argo-cd-apps/base/member/infra-deployments/tracing-workload-otel-collector/tracing-workload-otel-collector.yaml
  argo-cd-apps/base/member/infra-deployments/tracing-workload-otel-collector/tracing-workload-tracing.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-production/production-tracing-overlay-patch.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/production-tracing-overlay-patch.yaml
  components/monitoring/tracing/otel-collector/base/enable-tekton-tracing/enable-tekton-tracing.yaml
  components/monitoring/tracing/otel-collector/base/enable-tekton-tracing/kustomization.yaml
  components/monitoring/tracing/otel-collector/base/external-secrets/kustomization.yaml
  components/monitoring/tracing/otel-collector/base/external-secrets/signalfx-api-key.yaml
  components/monitoring/tracing/otel-collector/base/kustomization.yaml
  components/monitoring/tracing/otel-collector/development/kustomization.yaml
  components/monitoring/tracing/otel-collector/development/otel-collector-helm-values.yaml
  components/monitoring/tracing/otel-collector/development/patch-delete-external-secrets.yaml
  components/monitoring/tracing/otel-collector/staging/kustomization.yaml
  components/monitoring/tracing/otel-collector/staging/otel-collector-helm-values.yaml
  components/monitoring/tracing/otel-collector/staging/servicemonitors/kustomization.yaml
  components/monitoring/tracing/otel-collector/staging/servicemonitors/otel-collector-kanary-servicemonitor.yaml
  components/monitoring/tracing/otel-collector/staging/signalfx-api-key-secret-path.yaml
  components/monitoring/tracing/tempo/development/kustomization.yaml
  components/monitoring/tracing/tempo/development/tempo-operator.yaml
  components/monitoring/tracing/tempo/development/tempo.yaml
Due: rhtap-staging-e2e

SPRE-4610: bump internal-infra-deployments ref for production nexus probes consolidation (#12898)
  components/monitoring/blackbox/production/kflux-fedora-01/kustomization.yaml
  components/monitoring/blackbox/production/kflux-ocp-p01/kustomization.yaml
  components/monitoring/blackbox/production/kflux-osp-p01/kustomization.yaml
  components/monitoring/blackbox/production/kflux-prd-rh02/kustomization.yaml
  components/monitoring/blackbox/production/kflux-prd-rh03/kustomization.yaml
  components/monitoring/blackbox/production/kflux-rhel-p01/kustomization.yaml
  components/monitoring/blackbox/production/stone-prd-rh01/kustomization.yaml
  components/monitoring/blackbox/production/stone-prod-p01/kustomization.yaml
  components/monitoring/blackbox/production/stone-prod-p02/kustomization.yaml
Due: none

feat(SPRE-4427) Update recording rule in prod and forward to rhobs.
  components/monitoring/prometheus/production/base/federation/prometheusrule-uwm.yaml
Due: rhtap-staging-e2e

feat(SPRE-4427) Update endpoints-params with new rec rules.
  components/monitoring/prometheus/production/base/federation/endpoints-params.yaml
Due: rhtap-staging-e2e

PVO11Y-5323 Fix --namespaces flag to use repeated args
  components/monitoring/cardinality/base/resources/deployment.yaml
Due: rhtap-staging-e2e

Upgrade kubearchive to v1.22.2 on kflux-fedora-01
  components/kubearchive/production/kflux-fedora-01/kubearchive.yaml
  components/kubearchive/production/kflux-fedora-01/kustomization.yaml
Due: none

PVO11Y-5323 Add federation Prometheus to cardinality exporter discovery
  components/monitoring/cardinality/base/resources/deployment.yaml
Due: rhtap-staging-e2e

Promote release-service and grafana-dashboard from staging to production
  components/monitoring/grafana/production/dashboards/release/kustomization.yaml
  components/release/production/kustomization.yaml
Due: none

upsize memory resources on production in ring deployment method
  components/cost-management/production/base/kustomization.yaml
  components/cost-management/production/stone-prod-p01/cost-management-operator-resources-patch.yaml
  components/cost-management/production/stone-prod-p01/kustomization.yaml
Due: rhtap-staging-e2e

Add prometheus_replica to staging writeRelabelConfigs LabelKeep
  components/monitoring/prometheus/staging/base/federation/writeRelabelConfigs.yaml
Due: rhtap-staging-e2e

fix the typo and new-cluster config
  components/kubearchive/production/kflux-fedora-01/kubearchive.yaml
  hack/new-cluster/templates/kubearchive/kustomization.yaml
Due: none

PVO11Y-5151 Use empty-base as default clusterDir for kanary appset (#12895)
  argo-cd-apps/base/member/infra-deployments/monitoring-workload-kanary/monitoring-workload-kanary.yaml
  components/monitoring/kanary/production/empty-base/kustomization.yaml
  components/monitoring/kanary/staging/empty-base/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

KONFLUX-14639 query OOMKills on kflux-ocp-p01/stone-prod-p02 (#12846)
  components/vector-kubearchive-log-collector/production/kflux-ocp-p01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/stone-prod-p02/loki-helm-prod-values.yaml
Due: none

PVO11Y-5107 Document and organize production label allowlist in writeRelabelConfigs (#12876)
  components/monitoring/prometheus/production/base/federation/writeRelabelConfigs.yaml
Due: rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
