Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

Install External secret operator version 0.11.0 on staging (#6209)
  components/external-secrets-operator/staging/starting-csv-patch.yaml
Due: rhtap-staging-e2e

Install External secret operator version 0.11.0 on prod
  components/external-secrets-operator/base/subscription.yaml
  components/external-secrets-operator/staging/kustomization.yaml
  components/external-secrets-operator/staging/starting-csv-patch.yaml
Due: rhtap-staging-e2e

Deploy Redis for MintMaker to production (#6200)
  components/mintmaker/base/kustomization.yaml
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Install External secret operator version 0.11.0 on prod (#6210)
  components/external-secrets-operator/base/subscription.yaml
  components/external-secrets-operator/staging/kustomization.yaml
  components/external-secrets-operator/staging/starting-csv-patch.yaml
Due: rhtap-staging-e2e

Promote integration-service from staging to production
  components/integration/production/base/kustomization.yaml
Due: rhtap-staging-e2e

Promote integration-service from staging to production (#6214)
  components/integration/production/base/kustomization.yaml
Due: rhtap-staging-e2e

fix: remove failing checks
  components/release/base/monitor/production/configmap.yaml
Due: rhtap-staging-e2e

mintmaker update
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

mintmaker update (#6220)
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Increase memory limit for crossplane controller in prod and staging
  components/crossplane-control-plane/production/kustomization.yaml
  components/crossplane-control-plane/staging/kustomization.yaml
Due: rhtap-staging-e2e

Increase memory limit for crossplane controller in prod and staging (#6221)
  components/crossplane-control-plane/production/kustomization.yaml
  components/crossplane-control-plane/staging/kustomization.yaml
Due: rhtap-staging-e2e

Expose KubeArchive API
  components/konflux-ui/staging/base/proxy/nginx.conf
  components/konflux-ui/staging/base/proxy/proxy.yaml
  components/konflux-ui/staging/stone-stage-p01/kustomization.yaml
  components/konflux-ui/staging/stone-stg-rh01/kustomization.yaml
  components/kubearchive/base/kubearchive-routes.yaml
Due: rhtap-staging-e2e

Add more RAM for MPC controller on ocp-art
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/kustomization.yaml
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/manager_resources_patch.yaml
Due: none

Add more RAM for MPC controller on ocp-art (#6223)
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/kustomization.yaml
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/manager_resources_patch.yaml
Due: none

Update prod-p02 MPC
  components/multi-platform-controller/production-downstream/stone-prod-p02/external-secrets.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/kustomization.yaml
Due: none

KubeArchive: change when resources are archived
  components/kubearchive/base/kubearchive-config.yaml
Due: rhtap-staging-e2e

Update prod-p02 MPC (#6208)
  components/multi-platform-controller/production-downstream/stone-prod-p02/external-secrets.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/kustomization.yaml
Due: none

Knative-Eventing: going to production
  argo-cd-apps/base/member/infra-deployments/knative-eventing/knative-eventing.yaml
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
  components/knative-eventing/production/base/kustomization.yaml
  components/knative-eventing/production/kflux-ocp-p01/kustomization.yaml
  components/knative-eventing/production/kflux-prd-rh02/kustomization.yaml
  components/knative-eventing/production/kflux-prd-rh03/kustomization.yaml
  components/knative-eventing/production/stone-prod-p01/kustomization.yaml
  components/knative-eventing/production/stone-prod-rh02/kustomization.yaml
  components/knative-eventing/staging/stone-stage-p01/kustomization.yaml
Due: rhtap-staging-e2e

fix-up(PVO11Y-4652): Export new cluster and etcd metrics
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: rhtap-staging-e2e

Knative-Eventing: going to production (#6139)
  argo-cd-apps/base/member/infra-deployments/knative-eventing/knative-eventing.yaml
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
  components/knative-eventing/production/base/kustomization.yaml
  components/knative-eventing/production/kflux-ocp-p01/kustomization.yaml
  components/knative-eventing/production/kflux-prd-rh02/kustomization.yaml
  components/knative-eventing/production/kflux-prd-rh03/kustomization.yaml
  components/knative-eventing/production/stone-prod-p01/kustomization.yaml
  components/knative-eventing/production/stone-prod-rh02/kustomization.yaml
  components/knative-eventing/staging/stone-stage-p01/kustomization.yaml
Due: rhtap-staging-e2e

Update to correct commit
  components/multi-platform-controller/production-downstream/stone-prod-p02/kustomization.yaml
Due: none

KubeArchive: change when resources are archived (#6012)
  components/kubearchive/base/kubearchive-config.yaml
Due: rhtap-staging-e2e

Update to correct commit (#6232)
  components/multi-platform-controller/production-downstream/stone-prod-p02/kustomization.yaml
Due: none

Fix MPC on prod-p02
  components/multi-platform-controller/production-downstream/stone-prod-p02/kustomization.yaml
Due: none

Fix MPC on prod-p02 (#6234)
  components/multi-platform-controller/production-downstream/stone-prod-p02/kustomization.yaml
Due: none

Update all production MPCs
  components/multi-platform-controller/production-downstream/base/kustomization.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/external-secrets.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/kustomization.yaml
  components/multi-platform-controller/production/kflux-prd-rh02/kustomization.yaml
  components/multi-platform-controller/production/kflux-prd-rh03/kustomization.yaml
  components/multi-platform-controller/production/stone-prd-rh01/kustomization.yaml
Due: rhtap-staging-e2e

Update all production MPCs (#6236)
  components/multi-platform-controller/production-downstream/base/kustomization.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/external-secrets.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/kustomization.yaml
  components/multi-platform-controller/production/kflux-prd-rh02/kustomization.yaml
  components/multi-platform-controller/production/kflux-prd-rh03/kustomization.yaml
  components/multi-platform-controller/production/stone-prd-rh01/kustomization.yaml
Due: rhtap-staging-e2e
