Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

chore(ring-1): promote konflux-operator to ring-1
  components/konflux-operator/rings/ring-1/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

kueue: increase tekton-kueue's memory limits on lightwell
  components/kueue/staging/lightwell-dev/controller-patch.yaml
  components/kueue/staging/lightwell-dev/kustomization.yaml
Due: rhtap-staging-e2e

kueue: manage lightwell's installation through argo
  argo-cd-apps/base/member/infra-deployments/kueue/kueue.yaml
Due: none

production Ring 2: upgrade pipelines 830 to 854 (#13449)
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-rhel-p01/deploy.yaml
  components/pipeline-service/production/rings/ring-2/kustomization.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: none

Add cost-management to kflux-osp-p01 and kflux-rhel-p01 clusters
  argo-cd-apps/base/all-clusters/infra-deployments/cost-management/costmanagement-metrics-operator.yaml
Due: none

chore(ring-1): Migrate staging cost-management AppSet to ring deployments ArgoCD
  argo-cd-apps/base/all-clusters/infra-deployments/cost-management/costmanagement-metrics-operator.yaml
  argo-cd-apps/overlays/rd-staging/cost-management/cost-management-appset.yaml
  argo-cd-apps/overlays/rd-staging/cost-management/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/kustomization.yaml
  components/cost-management/rings/empty-base/empty-base/kustomization.yaml
  components/cost-management/rings/ring-1/base/base-snapshot/costmanagement-metrics-config.yaml
  components/cost-management/rings/ring-1/base/base-snapshot/costmanagement-metrics-operator.yaml
  components/cost-management/rings/ring-1/base/base-snapshot/external-service-account-secret.yaml
  components/cost-management/rings/ring-1/base/base-snapshot/kustomization.yaml
  components/cost-management/rings/ring-1/base/base-snapshot/rbac/cost-management-admin.yaml
  components/cost-management/rings/ring-1/base/base-snapshot/rbac/kustomization.yaml
  components/cost-management/rings/ring-1/base/kustomization.yaml
  components/cost-management/rings/ring-1/base/patches/cost-management-operator-resources-patch.yaml
  components/cost-management/rings/ring-1/base/patches/cost-mangement-external-secret-patch.yaml
  components/cost-management/rings/ring-1/kflux-stg-es01/kustomization.yaml
  components/cost-management/rings/ring-1/kflux-stg-es01/patches/cost-management-config-source-patch.yaml
  components/cost-management/rings/ring-1/stone-stage-p01/kustomization.yaml
  components/cost-management/rings/ring-1/stone-stage-p01/patches/cost-management-config-source-patch.yaml
  components/cost-management/rings/ring-1/stone-stg-rh01/kustomization.yaml
  components/cost-management/rings/ring-1/stone-stg-rh01/patches/cost-management-config-source-patch.yaml
Due: rhtap-staging-e2e

PVO11Y-5451 Deploy blackbox exporter to lightwell-dev (#13514)
  argo-cd-apps/base/monitoring-blackbox/monitoring-blackbox.yaml
  components/monitoring/blackbox/staging/lightwell-dev/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4267 Configure Fedora 44 root pools with jq/yq on kflux-fedora-01
  components/multi-platform-controller/production/kflux-fedora-01/host-values.yaml
Due: none

KFLUXINFRA-4267 Drop NVMe format/mount from fedora-01 root userdata
  components/multi-platform-controller/production/kflux-fedora-01/host-values.yaml
Due: none

KFLUXINFRA-4267 Slim root userdata to jq/yq and set arm64 m6g.2xlarge
  components/multi-platform-controller/production/kflux-fedora-01/host-values.yaml
Due: none

Double tekton-kueue-controller-manager memory for lightwell-dev
  components/kueue-rd/rings/ring-1/lightwell-dev/controller-manager-memory-patch.yaml
  components/kueue-rd/rings/ring-1/lightwell-dev/kustomization.yaml
Due: none

Update from release-service
  components/konflux-ui/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Double tekton-kueue-controller-manager memory for lightwell-dev (#13521)
  components/kueue-rd/rings/ring-1/lightwell-dev/controller-manager-memory-patch.yaml
  components/kueue-rd/rings/ring-1/lightwell-dev/kustomization.yaml
Due: none

KONFLUX-15352 Bump repository-validator staging ref for rhtap-perf-test allowlist
  components/repository-validator/staging/kustomization.yaml
Due: rhtap-staging-e2e

KONFLUX-15352 Bump repository-validator staging ref for rhtap-perf-test allowlist (#13522)
  components/repository-validator/staging/kustomization.yaml
Due: rhtap-staging-e2e

production Ring 3: upgrade pipelines 830 to 854 (#13483)
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/rings/ring-3/kustomization.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
Due: none

fix left_ingesters_timeout comment
  components/vector-kubearchive-log-collector/production/kflux-fedora-01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-osp-p01/loki-helm-prod-values.yaml
Due: none

KAR-947 propagate loki config to prod clusters
  components/vector-kubearchive-log-collector/production/kflux-fedora-01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-osp-p01/loki-helm-prod-values.yaml
Due: none

irrelevant comment removed
  components/vector-kubearchive-log-collector/production/kflux-fedora-01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-osp-p01/loki-helm-prod-values.yaml
Due: none

KFLUXINFRA-4267 Exclude lightwell-dev from legacy kueue ApplicationSet
  argo-cd-apps/overlays/staging-downstream/exclude-lightwell-dev-from-kueue.yaml
  argo-cd-apps/overlays/staging-downstream/kustomization.yaml
Due: none

Changed default e2e test overlay to rd-dev
  .github/workflows/check-overlay-app-collisions.yaml
  argo-cd-apps/app-of-app-sets/rd-dev/kustomization.yaml
  argo-cd-apps/app-of-app-sets/rd-dev/patches/source-path-patch.yaml
  argo-cd-apps/app-of-app-sets/rd-dev/patches/target-namespace-patch.yaml
  hack/preview.sh
  infra-tools/Makefile
  infra-tools/README.md
  infra-tools/cmd/overlay-app-collision-checker/main.go
  infra-tools/internal/collision/collision.go
  infra-tools/internal/collision/collision_test.go
  infra-tools/internal/collision/export_test.go
Due: none

Fix Kueue dev and add development to rd-dev overlay
  argo-cd-apps/overlays/development/delete-applications.yaml
  argo-cd-apps/overlays/development/dev-application-auto-sync-patch.yaml
  argo-cd-apps/overlays/development/dev-application-sync-wave-kueue.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  argo-cd-apps/overlays/rd-dev/kueue/kueue-appset.yaml
  argo-cd-apps/overlays/rd-dev/kustomization.yaml
  argo-cd-apps/overlays/rd-dev/patches/delete-legacy-konflux-member-appsets.yaml
  argo-cd-apps/overlays/rd-dev/patches/pipeline-service-env-patch.yaml
Due: none

Implement feedback from AI reviews and linting
  .github/workflows/check-overlay-app-collisions.yaml
  argo-cd-apps/app-of-app-sets/rd-dev/kustomization.yaml
  argo-cd-apps/overlays/rd-dev/kustomization.yaml
  argo-cd-apps/overlays/rd-dev/patches/delete-legacy-konflux-member-appsets.yaml
  components/konflux-operator/README.md
  components/konflux-operator/ci/openshift-overlay-e2e/README.md
  hack/preview.sh
  infra-tools/README.md
  infra-tools/cmd/overlay-app-collision-checker/main.go
Due: none

KFLUXINFRA-4375: Add seccompProfiles to the policy
  components/policies/staging/lightwell-dev/buildah-roks-scc.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4375: Add seccompProfiles to the policy (#13526)
  components/policies/staging/lightwell-dev/buildah-roks-scc.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4267: Configure Fedora 44 root pools with jq/yq on kflux-fedora-01 (#13520)
  components/multi-platform-controller/production/kflux-fedora-01/host-values.yaml
Due: none

chore(ring-0-dummy-deployment): promote dummy-deployment
  components/dummy-deployment/overlays/development/kustomization.yaml
Due: none

chore(ring-1): promote dummy-deployment to ring-1
  components/dummy-deployment/overlays/staging/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-0-artifact-registry-proxy): promote artifact-registry-proxy to ring-0
  components/artifact-registry-proxy/rings/ring-0/base/base-snapshot/konflux-vanguard-admins-rb.yaml
Due: rhtap-staging-e2e

chore(ring-1): promote artifact-registry-proxy to ring-1
  components/artifact-registry-proxy/rings/ring-1/base/base-snapshot/konflux-vanguard-admins-rb.yaml
Due: rhtap-staging-e2e

PVO11Y-5451 Update blackbox exporter ref with security context fix
  components/monitoring/blackbox/staging/lightwell-dev/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5451 Update blackbox exporter ref with security context fix (#13532)
  components/monitoring/blackbox/staging/lightwell-dev/kustomization.yaml
Due: rhtap-staging-e2e

chore: bump new kite version
  components/konflux-kite/production/base/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4375: Bump repository-validator staging ref
  components/repository-validator/staging/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4375: Bump repository-validator staging ref (#13534)
  components/repository-validator/staging/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

PVO11Y-5451 Update blackbox exporter ref with tested security context
  components/monitoring/blackbox/staging/lightwell-dev/kustomization.yaml
Due: rhtap-staging-e2e
