Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

fix(STONEINTG-872): update integration health dashboard pr 680 (#3605)
  components/monitoring/grafana/base/dashboards/integration/kustomization.yaml
Due: rhtap-staging-e2e

konflux growth necessitates metric exporter bump
  components/pipeline-service/production/base/bump-exporter-mem.yaml
  components/pipeline-service/production/stone-prd-m01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
Due: rhtap-staging-e2e

konflux growth necessitates metric exporter bump (#3613)
  components/pipeline-service/production/base/bump-exporter-mem.yaml
  components/pipeline-service/production/stone-prd-m01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
Due: rhtap-staging-e2e

Promote integration-service from staging to production (#3608)
  components/integration/production/base/kustomization.yaml
Due: rhtap-staging-e2e

Build service update
  components/build-service/development/kustomization.yaml
  components/build-service/staging/base/kustomization.yaml
Due: build-service-prod-overlay-update, rhtap-staging-e2e

Image controller update dev & stg
  components/image-controller/development/kustomization.yaml
  components/image-controller/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Update to recent commit
  components/image-controller/development/kustomization.yaml
  components/image-controller/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

chore: move ci-helper-app Repo CR to konflux-ci
  components/konflux-ci/base/repository.yaml
  components/tekton-ci/base/repository.yaml
Due: rhtap-staging-e2e

Image controller update to dev & stg (#3624)
  components/image-controller/development/kustomization.yaml
  components/image-controller/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

bump prod images
  components/ui/production/kustomization.yaml
Due: none

bump prod images (#3632)
  components/ui/production/kustomization.yaml
Due: none

Promote SPI/RemoteSecret from staging to prod
  components/remote-secret-controller/overlays/production/base/kustomization.yaml
  components/spi/overlays/production/base/kustomization.yaml
Due: rhtap-staging-e2e

Build service update (#3623)
  components/build-service/development/kustomization.yaml
  components/build-service/staging/base/kustomization.yaml
Due: build-service-prod-overlay-update, rhtap-staging-e2e

Promote SPI/RemoteSecret from staging to prod (#3636)
  components/remote-secret-controller/overlays/production/base/kustomization.yaml
  components/spi/overlays/production/base/kustomization.yaml
Due: rhtap-staging-e2e

chore: move ci-helper-app Repo CR to konflux-ci (#3631)
  components/konflux-ci/base/repository.yaml
  components/tekton-ci/base/repository.yaml
Due: rhtap-staging-e2e

fix: run one pipeline at a time
  components/tekton-ci/base/repository.yaml
Due: rhtap-staging-e2e

fix: run one pipeline at a time (#3640)
  components/tekton-ci/base/repository.yaml
Due: rhtap-staging-e2e

[DO NOT MERGE] dummy change, test CI
  date
Due: none

Revert "fix: run one pipeline at a time (#3640)"
  components/tekton-ci/base/repository.yaml
Due: rhtap-staging-e2e

Revert "fix: run one pipeline at a time (#3640)" (#3649)
  components/tekton-ci/base/repository.yaml
Due: rhtap-staging-e2e

fix(STONEINTG-840): migrate clair-in-ci-db to konflux-ci org
  components/tekton-ci/base/repository.yaml
Due: rhtap-staging-e2e

fix(STONEINTG-840): migrate clair-in-ci-db to konflux-ci org (#3653)
  components/tekton-ci/base/repository.yaml
Due: rhtap-staging-e2e

fix(KFLUXBUGS-1218): add pipelineRun timeout environment vars
  components/integration/development/kustomization.yaml
  components/integration/development/manager_resources_patch.yaml
  components/integration/production/base/kustomization.yaml
  components/integration/production/base/manager_resources_patch.yaml
  components/integration/staging/base/kustomization.yaml
  components/integration/staging/base/manager_resources_patch.yaml
Due: rhtap-staging-e2e

fix: increase cpu and mem for release cleanup cronjob
  components/release/base/cronjobs/remove-expired-releases.yaml
Due: rhtap-staging-e2e

fix: increase cpu and mem for release cleanup cronjob (#3650)
  components/release/base/cronjobs/remove-expired-releases.yaml
Due: rhtap-staging-e2e

bump hac-dev, chrome service, chrome frontend tags
  components/ui/production/kustomization.yaml
Due: none

feat(STONEINTG-839): hacbs-test migration
  components/tekton-ci/base/repository.yaml
Due: rhtap-staging-e2e

use alpha-num tag for chrome-service
  components/ui/production/kustomization.yaml
Due: none

feat(STONEINTG-839): hacbs-test migration (#3657)
  components/tekton-ci/base/repository.yaml
Due: rhtap-staging-e2e
