Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

chore(ring-1): promote authentication to ring-1
  components/authentication/rings/ring-1/base/base-snapshot/rbac/patches/everyone-can-view-patch.yaml
Due: rhtap-staging-e2e

chore: bump konflux-ui (production) 699264adfe48 => fb53156c224a (#13201)
  components/konflux-ui/production/base/kustomization.yaml
Due: rhtap-staging-e2e

RELEASE-2681: add ExternalSecret for release-service-github-token
  components/release/staging/external-secrets/release-service-github-token.yaml
  components/release/staging/kustomization.yaml
Due: rhtap-staging-e2e

RELEASE-2681: add ExternalSecret for release-service-github-token (#13196)
  components/release/staging/external-secrets/release-service-github-token.yaml
  components/release/staging/kustomization.yaml
Due: rhtap-staging-e2e

Reconfigure how AppSet cluster lists are populated
  argo-cd-apps/k-components/deploy-to-all-production-clusters/all-clusters-label-selector-patch.yaml
  argo-cd-apps/k-components/deploy-to-all-production-clusters/all-clusters-list-patch.yaml
  argo-cd-apps/k-components/deploy-to-all-production-clusters/kustomization.yaml
  argo-cd-apps/k-components/deploy-to-all-staging-clusters/all-clusters-label-selector-patch.yaml
  argo-cd-apps/k-components/deploy-to-all-staging-clusters/all-clusters-list-patch.yaml
  argo-cd-apps/k-components/deploy-to-all-staging-clusters/kustomization.yaml
  argo-cd-apps/k-components/deploy-to-production-eaas-clusters/eaas-clusters-label-selector-patch.yaml
  argo-cd-apps/k-components/deploy-to-production-eaas-clusters/eaas-clusters-list-patch.yaml
  argo-cd-apps/k-components/deploy-to-production-eaas-clusters/kustomization.yaml
  argo-cd-apps/k-components/deploy-to-production-internal-tenant-clusters/internal-tenant-clusters-label-selector-patch.yaml
  argo-cd-apps/k-components/deploy-to-production-internal-tenant-clusters/internal-tenant-clusters-list-patch.yaml
  argo-cd-apps/k-components/deploy-to-production-internal-tenant-clusters/kustomization.yaml
  argo-cd-apps/k-components/deploy-to-production-tenant-clusters/kustomization.yaml
  argo-cd-apps/k-components/deploy-to-production-tenant-clusters/tenant-clusters-label-selector-patch.yaml
  argo-cd-apps/k-components/deploy-to-production-tenant-clusters/tenant-clusters-list-patch.yaml
  argo-cd-apps/k-components/deploy-to-staging-eaas-clusters/eaas-clusters-label-selector-patch.yaml
  argo-cd-apps/k-components/deploy-to-staging-eaas-clusters/eaas-clusters-list-patch.yaml
  argo-cd-apps/k-components/deploy-to-staging-eaas-clusters/kustomization.yaml
  argo-cd-apps/k-components/deploy-to-staging-internal-tenant-clusters/internal-tenant-clusters-label-selector-patch.yaml
  argo-cd-apps/k-components/deploy-to-staging-internal-tenant-clusters/internal-tenant-clusters-list-patch.yaml
  argo-cd-apps/k-components/deploy-to-staging-internal-tenant-clusters/kustomization.yaml
  argo-cd-apps/k-components/deploy-to-staging-tenant-clusters/kustomization.yaml
  argo-cd-apps/k-components/deploy-to-staging-tenant-clusters/tenant-clusters-label-selector-patch.yaml
  argo-cd-apps/k-components/deploy-to-staging-tenant-clusters/tenant-clusters-list-patch.yaml
  argo-cd-apps/overlays/rd-staging/authentication/authentication-appset.yaml
  argo-cd-apps/overlays/rd-staging/etcd-shield/etcd-shield-appset.yaml
  argo-cd-apps/overlays/rd-staging/konflux-operator/konflux-operator-appset.yaml
  argo-cd-apps/overlays/rd-staging/kustomization.yaml
Due: none

RELEASE-2681: fix staging Vault path for release-service GitHub token
  components/release/staging/external-secrets/release-service-github-token.yaml
Due: rhtap-staging-e2e

chore(ring-0-konflux-operator): promote konflux-operator
  components/konflux-operator/rings/ring-0/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

Add new cronjob
  components/mintmaker/staging/base/kustomization.yaml
  components/mintmaker/staging/base/mintmaker-schedule-calculator.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Create a MM schedule calculator service account.
  components/mintmaker/staging/base/kustomization.yaml
  components/mintmaker/staging/base/mintmaker-schedule-calculator-manager.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Fix review
  components/mintmaker/staging/base/kustomization.yaml
  components/mintmaker/staging/base/mintmaker-schedule-calculator-manager.yaml
  components/mintmaker/staging/base/mintmaker-schedule-calculator.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Create a MM schedule calculator service account and cronjob (#11341)
  components/mintmaker/staging/base/kustomization.yaml
  components/mintmaker/staging/base/mintmaker-schedule-calculator-manager.yaml
  components/mintmaker/staging/base/mintmaker-schedule-calculator.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Promote project-controller to production
  components/project-controller/production/kustomization.yaml
Due: none

PVO11Y-5384 Enable delivery tracing in staging
  components/integration/staging/base/manager_resources_patch.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stage-p01/resources/update-tekton-config-pac.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
  components/release/staging/controller-manager-otel-env-patch.yaml
  components/release/staging/kustomization.yaml
Due: rhtap-staging-e2e

Promote project-controller to production (#13236)
  components/project-controller/production/kustomization.yaml
Due: none

RELEASE-2681: fix staging Vault path for release-service GitHub token (#13237)
  components/release/staging/external-secrets/release-service-github-token.yaml
Due: rhtap-staging-e2e

Reconfigure how AppSet cluster lists are populated (#13235)
  argo-cd-apps/k-components/deploy-to-all-production-clusters/all-clusters-label-selector-patch.yaml
  argo-cd-apps/k-components/deploy-to-all-production-clusters/all-clusters-list-patch.yaml
  argo-cd-apps/k-components/deploy-to-all-production-clusters/kustomization.yaml
  argo-cd-apps/k-components/deploy-to-all-staging-clusters/all-clusters-label-selector-patch.yaml
  argo-cd-apps/k-components/deploy-to-all-staging-clusters/all-clusters-list-patch.yaml
  argo-cd-apps/k-components/deploy-to-all-staging-clusters/kustomization.yaml
  argo-cd-apps/k-components/deploy-to-production-eaas-clusters/eaas-clusters-label-selector-patch.yaml
  argo-cd-apps/k-components/deploy-to-production-eaas-clusters/eaas-clusters-list-patch.yaml
  argo-cd-apps/k-components/deploy-to-production-eaas-clusters/kustomization.yaml
  argo-cd-apps/k-components/deploy-to-production-internal-tenant-clusters/internal-tenant-clusters-label-selector-patch.yaml
  argo-cd-apps/k-components/deploy-to-production-internal-tenant-clusters/internal-tenant-clusters-list-patch.yaml
  argo-cd-apps/k-components/deploy-to-production-internal-tenant-clusters/kustomization.yaml
  argo-cd-apps/k-components/deploy-to-production-tenant-clusters/kustomization.yaml
  argo-cd-apps/k-components/deploy-to-production-tenant-clusters/tenant-clusters-label-selector-patch.yaml
  argo-cd-apps/k-components/deploy-to-production-tenant-clusters/tenant-clusters-list-patch.yaml
  argo-cd-apps/k-components/deploy-to-staging-eaas-clusters/eaas-clusters-label-selector-patch.yaml
  argo-cd-apps/k-components/deploy-to-staging-eaas-clusters/eaas-clusters-list-patch.yaml
  argo-cd-apps/k-components/deploy-to-staging-eaas-clusters/kustomization.yaml
  argo-cd-apps/k-components/deploy-to-staging-internal-tenant-clusters/internal-tenant-clusters-label-selector-patch.yaml
  argo-cd-apps/k-components/deploy-to-staging-internal-tenant-clusters/internal-tenant-clusters-list-patch.yaml
  argo-cd-apps/k-components/deploy-to-staging-internal-tenant-clusters/kustomization.yaml
  argo-cd-apps/k-components/deploy-to-staging-tenant-clusters/kustomization.yaml
  argo-cd-apps/k-components/deploy-to-staging-tenant-clusters/tenant-clusters-label-selector-patch.yaml
  argo-cd-apps/k-components/deploy-to-staging-tenant-clusters/tenant-clusters-list-patch.yaml
  argo-cd-apps/overlays/rd-staging/authentication/authentication-appset.yaml
  argo-cd-apps/overlays/rd-staging/etcd-shield/etcd-shield-appset.yaml
  argo-cd-apps/overlays/rd-staging/konflux-operator/konflux-operator-appset.yaml
  argo-cd-apps/overlays/rd-staging/kustomization.yaml
Due: none

chore(ring-1-konflux-operator): promote konflux-operator
  components/konflux-operator/rings/ring-1/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

feat: include operator feat/fix commits in changelog PR comments
  infra-tools/cmd/changelog-generator/main.go
  infra-tools/cmd/changelog-generator/main_test.go
  infra-tools/internal/changelog/upstream.go
  infra-tools/internal/changelog/upstream_test.go
Due: none

remove konflux-rhel-read-events ClusterRole
  components/konflux-rbac/production/kflux-rhel-p01/kustomization.yaml
  components/konflux-rbac/production/kflux-rhel-p01/rhel/konflux-rhel-read-events-role.yaml
  components/konflux-rbac/production/kflux-rhel-p01/rhel/kustomization.yaml
Due: none

ci: kustomize build with retries for hack/forbid-clusterpolicies.sh
  .github/workflows/forbid-clusterpolicies.yaml
  .github/workflows/kube-linter.yaml
  hack/forbid-clusterpolicies.sh
  hack/kustomize-build-with-retry.sh
Due: none

remove konflux-rhel-read-events ClusterRole from p02
  components/konflux-rbac/production/stone-prod-p02/kustomization.yaml
  components/konflux-rbac/production/stone-prod-p02/rhel/konflux-rhel-read-events-role.yaml
  components/konflux-rbac/production/stone-prod-p02/rhel/kustomization.yaml
Due: none

chore(ring-1-konflux-operator): promote konflux-operator (#13243)
  components/konflux-operator/rings/ring-1/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

chore: drop operator-owned component-apps on stone-stage-p01
  argo-cd-apps/overlays/staging-downstream/disable-auto-sync.yaml
  argo-cd-apps/overlays/staging-downstream/exclude-stone-stage-p01-operator-owned.yaml
  argo-cd-apps/overlays/staging-downstream/kustomization.yaml
  argo-cd-apps/overlays/staging-downstream/preserve-resources-on-deletion.yaml
Due: none

chore: drop operator-owned component-apps on stone-stage-p01 (#13245)
  argo-cd-apps/overlays/staging-downstream/disable-auto-sync.yaml
  argo-cd-apps/overlays/staging-downstream/exclude-stone-stage-p01-operator-owned.yaml
  argo-cd-apps/overlays/staging-downstream/kustomization.yaml
  argo-cd-apps/overlays/staging-downstream/preserve-resources-on-deletion.yaml
Due: none

add gitlab token secret (#13190)
  components/konflux-ci/production/kflux-prd-rh03/e2e-tests-gitlab-token.yaml
  components/konflux-ci/production/kflux-prd-rh03/kustomization.yaml
Due: none

ci: kustomize build with retries for hack/forbid-clusterpolicies.sh (#13202)
  .github/workflows/forbid-clusterpolicies.yaml
  .github/workflows/kube-linter.yaml
  hack/forbid-clusterpolicies.sh
  hack/kustomize-build-with-retry.sh
Due: none

feat(KFLUXUI-1481): add cleaner bot actions for staging
  components/konflux-rbac/staging/base/konflux-cleaner-bot-actions.yaml
  components/konflux-rbac/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

feat: include operator feat/fix commits in changelog PR comments (#13242)
  infra-tools/cmd/changelog-generator/main.go
  infra-tools/cmd/changelog-generator/main_test.go
  infra-tools/internal/changelog/upstream.go
  infra-tools/internal/changelog/upstream_test.go
Due: none

Update from release-service
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Bump repository validator, staging only
  components/repository-validator/staging/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-2): promote authentication to ring-2
  components/authentication/rings/ring-2/base/base-snapshot/rbac/patches/everyone-can-view-patch.yaml
Due: rhtap-staging-e2e

Bump repository validator, staging only (#13248)
  components/repository-validator/staging/kustomization.yaml
Due: rhtap-staging-e2e

Omit local cluster from all-clusters k-component
  argo-cd-apps/k-components/deploy-to-all-staging-clusters/all-clusters-label-selector-patch.yaml
Due: none

chore(crossplane): bump dev and stg
  components/crossplane-control-plane/development/kustomization.yaml
  components/crossplane-control-plane/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Test etcd-shield auto-promotion with Kargo
  components/etcd-shield/base/config.yaml
Due: rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
