Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

KFLUXINFRA-2451: Enable OpenShift Observability for ESO Metrics (#8773)
  components/external-secrets-operator/base/operator-config.yaml
Due: rhtap-staging-e2e

fixing dynatrace instance url
  components/monitoring/logging/base/configure-logging/configure-logforwarder.yaml
Due: rhtap-staging-e2e

KubeArchive Logging: increase querier memory
  components/vector-kubearchive-log-collector/production/kflux-osp-p01/loki-helm-prod-values.yaml
Due: none

KubeArchive Logging: increase querier memory (#8782)
  components/vector-kubearchive-log-collector/production/kflux-osp-p01/loki-helm-prod-values.yaml
Due: none

disable querier autoscaler for kflux-osp-p01
  components/vector-kubearchive-log-collector/production/kflux-osp-p01/loki-helm-prod-values.yaml
Due: none

disable querier autoscaling on staging clusters
  components/vector-kubearchive-log-collector/staging/stone-stage-p01/loki-helm-stg-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-stg-values.yaml
Due: rhtap-staging-e2e

disable querier autoscaling on staging clusters (#8784)
  components/vector-kubearchive-log-collector/staging/stone-stage-p01/loki-helm-stg-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-stg-values.yaml
Due: rhtap-staging-e2e

KA Logging: enable deployment metrics
  components/monitoring/prometheus/production/base/monitoringstack/endpoints-params.yaml
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: rhtap-staging-e2e

disable querier autoscaler for kflux-osp-p01 (#8783)
  components/vector-kubearchive-log-collector/production/kflux-osp-p01/loki-helm-prod-values.yaml
Due: none

adding dynatrace secrets
  components/monitoring/logging/base/external-secrets/splunk-log-forwarder-external-secrets.yaml
  components/monitoring/logging/production/base/kustomization.yaml
  components/monitoring/logging/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Promote integration-service from staging to production
  components/integration/production/base/kustomization.yaml
Due: rhtap-staging-e2e

Update pipelines version in dev and staging
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

Promote integration-service from staging to production (#8790)
  components/integration/production/base/kustomization.yaml
Due: rhtap-staging-e2e

remove host-specific components (#8756)
  argo-cd-apps/base/host/ingresscontroller/ingresscontroller.yaml
  argo-cd-apps/base/host/ingresscontroller/kustomization.yaml
  argo-cd-apps/base/host/kustomization.yaml
  argo-cd-apps/base/host/sprayproxy/kustomization.yaml
  argo-cd-apps/base/host/sprayproxy/sprayproxy.yaml
  argo-cd-apps/overlays/development/delete-applications.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
  argo-cd-apps/overlays/konflux-public-staging/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
  components/sprayproxy/OWNERS
  components/sprayproxy/base/kustomization.yaml
  components/sprayproxy/base/rbac/kustomization.yaml
  components/sprayproxy/base/rbac/pipeline-service-sre.yaml
  components/sprayproxy/base/servicemonitor-rbacproxy/auth-proxy-clusterrolebinding.yaml
  components/sprayproxy/base/servicemonitor-rbacproxy/kustomization.yaml
  components/sprayproxy/base/servicemonitor-rbacproxy/servicemonitor.yaml
  components/sprayproxy/production/bump-replicas.yaml
  components/sprayproxy/production/change-backends.yaml
  components/sprayproxy/production/change-webhook-secret.yaml
  components/sprayproxy/production/kustomization.yaml
  components/sprayproxy/production/pipelines-as-code-secret.yaml
  components/sprayproxy/staging/bump-replicas.yaml
  components/sprayproxy/staging/change-backends.yaml
  components/sprayproxy/staging/change-webhook-secret.yaml
  components/sprayproxy/staging/kustomization.yaml
  components/sprayproxy/staging/pipelines-as-code-secret.yaml
  configs/ingresscontroller/base/kustomization.yaml
  configs/ingresscontroller/base/timeout-patch.yaml
  configs/ingresscontroller/development/kustomization.yaml
  configs/ingresscontroller/production/stone-prd-host1/kustomization.yaml
  configs/ingresscontroller/staging/stone-stg-host/kustomization.yaml
  docs/deployment/extending-the-service.md
Due: rhtap-staging-e2e

Update pipelines version in dev and staging (#8777)
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

chore(KFLUXSPRT-3001): konflux-support read access in all namespaces
  components/policies/development/konflux-rbac/konflux-support-viewer-access/OWNERS
  components/policies/development/konflux-rbac/konflux-support-viewer-access/generate-support-viewer-rolebinding-clusterpolicy.yaml
  components/policies/development/konflux-rbac/konflux-support-viewer-access/kustomization.yaml
  components/policies/development/konflux-rbac/konflux-support-viewer-access/kyverno_rbac.yaml
  components/policies/development/konflux-rbac/kustomization.yaml
  components/policies/production/base/konflux-rbac/konflux-support-viewer-access/OWNERS
  components/policies/production/base/konflux-rbac/konflux-support-viewer-access/generate-support-viewer-rolebinding-clusterpolicy.yaml
  components/policies/production/base/konflux-rbac/konflux-support-viewer-access/kustomization.yaml
  components/policies/production/base/konflux-rbac/konflux-support-viewer-access/kyverno_rbac.yaml
  components/policies/production/base/konflux-rbac/kustomization.yaml
Due: rhtap-staging-e2e

KA Logging: enable deployment metrics (#8786)
  components/monitoring/prometheus/production/base/monitoringstack/endpoints-params.yaml
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: rhtap-staging-e2e

chore: remove sealights-related resources
  components/build-service/development/kustomization.yaml
  components/build-service/development/sealights-token-patch.yaml
  components/image-controller/development/kustomization.yaml
  components/image-controller/development/sealights-token-patch.yaml
  components/integration/development/kustomization.yaml
  components/integration/development/sealights-token-patch.yaml
  components/release/development/kustomization.yaml
  components/release/development/sealights-token-patch.yaml
  hack/bootstrap-host-cluster.sh
  hack/secret-creator/create-sealights-secrets.sh
Due: none

stone-stage-p01 reduce vector memory limit
  components/vector-kubearchive-log-collector/staging/stone-stage-p01/vector-helm-stg-values.yaml
Due: rhtap-staging-e2e

stone-stage-p01 reduce vector memory limit (#8802)
  components/vector-kubearchive-log-collector/staging/stone-stage-p01/vector-helm-stg-values.yaml
Due: rhtap-staging-e2e

chore: remove sealights-related resources (#8800)
  components/build-service/development/kustomization.yaml
  components/build-service/development/sealights-token-patch.yaml
  components/image-controller/development/kustomization.yaml
  components/image-controller/development/sealights-token-patch.yaml
  components/integration/development/kustomization.yaml
  components/integration/development/sealights-token-patch.yaml
  components/release/development/kustomization.yaml
  components/release/development/sealights-token-patch.yaml
  hack/bootstrap-host-cluster.sh
  hack/secret-creator/create-sealights-secrets.sh
Due: none

KubeArchive: increase API replicas to 2
  components/kubearchive/development/kustomization.yaml
Due: none

Add hcc-platex-services-tenant namespace to secret store
  components/cluster-secret-store-rh/production/stone-prd-rh01/insights-secret-store.yaml
Due: none

Add hcc-platex-services-tenant namespace to secret store (#8809)
  components/cluster-secret-store-rh/production/stone-prd-rh01/insights-secret-store.yaml
Due: none

Update pipelines version in prod clusters
  components/build-service/development/kustomization.yaml
  components/build-service/production/base/kustomization.yaml
  components/build-service/staging/base/kustomization.yaml
  components/kubearchive/development/kubearchive-config.yaml
  components/kubearchive/production/base/kubearchive-config.yaml
  components/kubearchive/production/kflux-ocp-p01/kustomization.yaml
  components/kubearchive/production/kflux-osp-p01/kustomization.yaml
  components/kubearchive/production/kflux-prd-rh02/kustomization.yaml
  components/kubearchive/production/kflux-prd-rh03/kustomization.yaml
  components/kubearchive/production/kflux-rhel-p01/kustomization.yaml
  components/kubearchive/production/pentest-p01/kustomization.yaml
  components/kubearchive/production/stone-prd-rh01/kustomization.yaml
  components/kubearchive/production/stone-prod-p01/kustomization.yaml
  components/kubearchive/production/stone-prod-p02/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
  components/monitoring/grafana/base/dashboards/release/kustomization.yaml
  components/multi-platform-controller/base/host-config-chart/templates/host-config.yaml
  components/multi-platform-controller/production/stone-prd-rh01/host-values.yaml
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-osp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/kflux-rhel-p01/deploy.yaml
  components/pipeline-service/production/pentest-p01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
  components/release/development/kustomization.yaml
Due: build-service-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

Update pipelines version in prod clusters
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-osp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/kflux-rhel-p01/deploy.yaml
  components/pipeline-service/production/pentest-p01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: rhtap-staging-e2e

cost-management: remove host cluster configuration
  argo-cd-apps/base/all-clusters/infra-deployments/cost-management/costmanagement-metrics-operator.yaml
  components/cost-management/production/stone-prd-host1/cost-management-config-source-patch.yaml
  components/cost-management/production/stone-prd-host1/kustomization.yaml
  components/cost-management/staging/stone-stg-host/cost-management-config-source-patch.yaml
  components/cost-management/staging/stone-stg-host/kustomization.yaml
Due: rhtap-staging-e2e

monitoring: remove host cluster configuration
  argo-cd-apps/base/all-clusters/infra-deployments/monitoring-workload-prometheus/monitoring-workload-prometheus.yaml
  components/monitoring/prometheus/production/stone-prd-host1/cluster-id-label.yaml
  components/monitoring/prometheus/production/stone-prd-host1/kustomization.yaml
  components/monitoring/prometheus/staging/stone-stg-host/cluster-id-label.yaml
  components/monitoring/prometheus/staging/stone-stg-host/kustomization.yaml
Due: rhtap-staging-e2e

new-cluster: use common clusters for smee
  hack/new-cluster/playbook.yaml
Due: none

Use existing subnet for AWS MPC VMs on prod-p01
  components/multi-platform-controller/production-downstream/stone-prod-p01/host-values.yaml
Due: none

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
