Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

chore(ring-1): promote konflux-operator to ring-1
  components/konflux-operator/rings/ring-1/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/integration/development/kustomization.yaml
  components/integration/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-0-konflux-operator): promote konflux-operator
  components/konflux-operator/rings/ring-0/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

fix: add update and delete to test-runner cluster role (#13298)
  components/konflux-ci/base/test-runner-cluster-role.yaml
Due: rhtap-staging-e2e

bind konflux-bot-* SA to allowed ClusterRoles only - ring 3 (#13167)
  components/policies/production/base/konflux-rbac/kustomization.yaml
  components/policies/production/kflux-fedora-01/kustomization.yaml
  components/policies/production/kflux-ocp-p01/kustomization.yaml
  components/policies/production/kflux-osp-p01/kustomization.yaml
  components/policies/production/kflux-rhel-p01/kustomization.yaml
  components/policies/production/stone-prod-p01/kustomization.yaml
  components/policies/production/stone-prod-p02/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Update from release-service
  components/konflux-ui/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-4): promote authentication to ring-4
  components/authentication/rings/ring-4/base/base-snapshot/rbac/patches/everyone-can-view-patch.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/image-controller/development/kustomization.yaml
  components/image-controller/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/build-service/development/kustomization.yaml
  components/build-service/staging/base/kustomization.yaml
Due: build-service-prod-overlay-update, rhtap-staging-e2e

Promote integration-service from staging to production (#13272)
  components/integration/production/base/kustomization.yaml
Due: rhtap-staging-e2e

Fix double .yaml errors
  components/pipeline-service-rd/rings/ring-1/stone-stage-p01/kustomization.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stage-p01/patches/tekton-results-db-es-key-patch.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stg-rh01/kustomization.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stg-rh01/patches/tekton-results-db-es-key-patch.yaml
Due: none

STONEINTG-1682 Add delete to nudge-migration ClusterRole on staging
  components/authentication/rings/ring-1/base/nudge-migration-rbac.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-2236 - continued work from Manish's PR. Applying fixes, round VIII.
  tests/disaster-recovery/tenant_application_lifecycle.go
Due: none

KFLUXINFRA-2236 - continued work from Manish's PR. Applying fixes, round IV.
  tests/disaster-recovery/const.go
  tests/disaster-recovery/disaster_recovery.go
  tests/disaster-recovery/dr_backwards_compat.go
  tests/disaster-recovery/dr_same_version.go
Due: none

KFLUXINFRA-2236 Use INFRA_DEPLOYMENTS_DIR env var for upgrade repo path
  tests/disaster-recovery/dr_backwards_compat.go
Due: none

KFLUXINFRA-2236 - continued work from Manish's PR. Applying fixes, round VII.
  tests/disaster-recovery/disaster_recovery.go
  tests/disaster-recovery/dr_suite.go
Due: none

KFLUXINFRA-2236 - Added pull secrets to waitForPushSecretReadiness
  tests/disaster-recovery/disaster_recovery.go
Due: none

KFLUXINFRA-2236 - continued work from Manish's PR. Applying fixes, round X.
  tests/disaster-recovery/disaster_recovery.go
  tests/disaster-recovery/dr_backwards_compat.go
  tests/disaster-recovery/dr_same_version.go
Due: none

KFLUXINFRA-2236 Make MinIO tarball size check best-effort
  tests/disaster-recovery/disaster_recovery.go
Due: none

KFLUXINFRA-2236 Push to ArgoCD-watched preview branch on qe remote
  tests/disaster-recovery/dr_backwards_compat.go
Due: none

KFLUXINFRA-2236 - adding missing post-restore release reconciliation
  tests/disaster-recovery/disaster_recovery.go
  tests/disaster-recovery/tenant_application_lifecycle.go
Due: none

KFLUXINFRA-2236 - assert pull secrets saved
  tests/disaster-recovery/disaster_recovery.go
  tests/disaster-recovery/dr_backwards_compat.go
  tests/disaster-recovery/dr_same_version.go
Due: none

KFLUXINFRA-2236 - continued work from Manish's PR. Applying fixes, round XI.
  tests/disaster-recovery/disaster_recovery.go
  tests/disaster-recovery/dr_backwards_compat.go
  tests/disaster-recovery/dr_same_version.go
Due: none

KFLUXINFRA-2236 - continued work from Manish's PR. Applying fixes, round VI.
  tests/disaster-recovery/const.go
  tests/disaster-recovery/tenant_application_lifecycle.go
Due: none

KFLUXINFRA-2236 - continued work from Manish's PR. Applying fixes, round IX.
  tests/disaster-recovery/disaster_recovery.go
  tests/disaster-recovery/dr_backwards_compat.go
  tests/disaster-recovery/dr_same_version.go
Due: none

KFLUXINFRA-2236 - Recover damaged ImageRepositories by removing finalizer
  tests/disaster-recovery/disaster_recovery.go
Due: none

KFLUXINFRA-2236 DR test suite refinements (Tasks 1-8)
  tests/disaster-recovery/backup_infra.go
  tests/disaster-recovery/const.go
  tests/disaster-recovery/disaster_recovery.go
  tests/disaster-recovery/dr_backwards_compat.go
  tests/disaster-recovery/dr_same_version.go
  tests/disaster-recovery/dr_suite.go
Due: none

KFLUXINFRA-2236 - move to URL-based repository PaC
  tests/disaster-recovery/disaster_recovery.go
  tests/disaster-recovery/dr_same_version.go
Due: none

KFLUXINFRA-2236 - Adding logs for debugging
  tests/disaster-recovery/tenant_application_lifecycle.go
Due: none

KFLUXINFRA-2236 - fix push PRs to make them more realistic and trigger a release PLR
  tests/disaster-recovery/disaster_recovery.go
  tests/disaster-recovery/tenant_application_lifecycle.go
Due: none

KFLUXINFRA-2236 - continued work from Manish's PR. Applying fixes, round XII.
  tests/disaster-recovery/disaster_recovery.go
  tests/disaster-recovery/dr_backwards_compat.go
  tests/disaster-recovery/dr_same_version.go
Due: none

KFLUXINFRA-2236 Reorder Phase 1: merge PaC config PRs before pipeline chain wait
  tests/disaster-recovery/dr_backwards_compat.go
  tests/disaster-recovery/dr_same_version.go
Due: none

KFLUXINFRA-2236 - add fail fast on PLR number mismatch instead of waiting for the right number, adding debug artifact capture to figure out where an extra PLR comes from
  tests/disaster-recovery/tenant_application_lifecycle.go
Due: none

KFLUXINFRA-2236 - continued work from Manish's PR. Applying fixes, round III.
  tests/disaster-recovery/disaster_recovery.go
Due: none
