Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

fix-up(PVO11Y-4652): Keep node cpu label
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: rhtap-staging-e2e

kyverno: rollout v1.14.1 to staging
  components/kyverno/staging/stone-stage-p01/kustomization.yaml
  components/kyverno/staging/stone-stage-p01/kyverno-helm-generator.yaml
  components/kyverno/staging/stone-stg-rh01/kustomization.yaml
  components/kyverno/staging/stone-stg-rh01/kyverno-helm-generator.yaml
Due: rhtap-staging-e2e

chore: promote konflux-ui
  components/konflux-ui/production/base/kustomization.yaml
Due: rhtap-staging-e2e

fix: use newer version of OSP (next)
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
Due: none

fix: use newer version of OSP (next) (#6293)
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
Due: none

fix-up(PVO11Y-4681): Fix typo - pipelinerun -> pipelineruns (#6281)
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: rhtap-staging-e2e

Add enable enum feature: required to use parameter enumeration in integration test definitions (#6261)
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

chore: promote konflux-ui (#6294)
  components/konflux-ui/production/base/kustomization.yaml
Due: rhtap-staging-e2e

removing livenessProbe (#6258)
  components/smee-client/base/deployment.yaml
Due: rhtap-staging-e2e

Add mintmaker SLO metric to monitoring stack
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: rhtap-staging-e2e

fix-up(PVO11Y-4652): Keep node cpu label (#6266)
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: rhtap-staging-e2e

add restrict-binding-system-authenticated Policy (#6280)
  components/konflux-rbac/policies/restrict-binding-system-authenticated/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/konflux-rbac/policies/restrict-binding-system-authenticated/.chainsaw-test/chainsaw-test.yaml
  components/konflux-rbac/policies/restrict-binding-system-authenticated/.chainsaw-test/resources/invalid-systemauthenticated-rolebinding.yaml
  components/konflux-rbac/policies/restrict-binding-system-authenticated/.chainsaw-test/resources/tenant-namespace.yaml
  components/konflux-rbac/policies/restrict-binding-system-authenticated/.chainsaw-test/resources/valid-systemauthenticated-rolebinding.yaml
  components/konflux-rbac/policies/restrict-binding-system-authenticated/kustomization.yaml
  components/konflux-rbac/policies/restrict-binding-system-authenticated/kyverno_rbac.yaml
  components/konflux-rbac/policies/restrict-binding-system-authenticated/validate-restrict-binding-system-authenticated-clusterpolicy.yaml
  components/konflux-rbac/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

konflux-rbac: disallow certain groups in rolebindings
  components/konflux-rbac/policies/validate-rolebindings/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/konflux-rbac/policies/validate-rolebindings/.chainsaw-test/chainsaw-test.yaml
  components/konflux-rbac/policies/validate-rolebindings/.chainsaw-test/resources/masters-rolebinding.yaml
  components/konflux-rbac/policies/validate-rolebindings/.chainsaw-test/resources/rolebinding.yaml
  components/konflux-rbac/policies/validate-rolebindings/.chainsaw-test/resources/tenant-namespace.yaml
  components/konflux-rbac/policies/validate-rolebindings/invalid-subjects.yaml
  components/konflux-rbac/policies/validate-rolebindings/kustomization.yaml
  components/konflux-rbac/policies/validate-rolebindings/kyverno_rbac.yaml
  components/konflux-rbac/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

konflux-rbac: disallow certain groups in rolebindings (#6278)
  components/konflux-rbac/policies/validate-rolebindings/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/konflux-rbac/policies/validate-rolebindings/.chainsaw-test/chainsaw-test.yaml
  components/konflux-rbac/policies/validate-rolebindings/.chainsaw-test/resources/masters-rolebinding.yaml
  components/konflux-rbac/policies/validate-rolebindings/.chainsaw-test/resources/rolebinding.yaml
  components/konflux-rbac/policies/validate-rolebindings/.chainsaw-test/resources/tenant-namespace.yaml
  components/konflux-rbac/policies/validate-rolebindings/invalid-subjects.yaml
  components/konflux-rbac/policies/validate-rolebindings/kustomization.yaml
  components/konflux-rbac/policies/validate-rolebindings/kyverno_rbac.yaml
  components/konflux-rbac/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Configure RH01 cluster to test static PVMs (#6290)
  components/multi-platform-controller/production/stone-prd-rh01/host-config.yaml
Due: none

Configure RH01 cluster to test static PVMs (#6290) (#6303)
  components/multi-platform-controller/production/stone-prd-rh01/host-config.yaml
Due: none

build-service update (#6256)
  components/build-service/development/kustomization.yaml
  components/build-service/staging/base/kustomization.yaml
Due: build-service-prod-overlay-update, rhtap-staging-e2e

Revert "[dev+stage] Add SCC for nested containerization (#6127)"
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
  components/sandbox/toolchain-member-operator/staging/kustomization.yaml
  components/sandbox/toolchain-member-operator/staging/patch-appstudio-pipelines-runner.yaml
Due: rhtap-staging-e2e

Add one s390x statgic machine to rh02 from Tokyo DC
  components/multi-platform-controller/production/kflux-prd-rh02/external-secrets.yaml
  components/multi-platform-controller/production/kflux-prd-rh02/host-config.yaml
Due: none

Add one s390x statgic machine to rh02 from Tokyo DC (#6309)
  components/multi-platform-controller/production/kflux-prd-rh02/external-secrets.yaml
  components/multi-platform-controller/production/kflux-prd-rh02/host-config.yaml
Due: none

Update Results v0.14.0-4 staging
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

Expose etcd_disk_defrag_inflight for cluster capacity monitoring (#6172)
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: rhtap-staging-e2e

Enable-param-enum to production clusters
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/stone-prd-m01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: rhtap-staging-e2e

Add temporary permissions to the nginx proxy sa
  components/konflux-ui/staging/base/proxy/proxy.yaml
Due: rhtap-staging-e2e

Update Results v0.14.0-4 staging (#6276)
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

Update Results v0.14.0-4 prod
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/stone-prd-m01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: rhtap-staging-e2e

update mintmaker controller
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
