Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

Use Vector mirrored image prod (#5932)
  components/vector-tekton-logs-collector/production/vector-helm-generator.yaml
  components/vector-tekton-logs-collector/production/vector-helm-values.yaml
Due: none

Updated the base image for ppc with updated rhsm conf
  components/multi-platform-controller/production/stone-prd-rh01/host-config.yaml
Due: none

Updated the base image for ppc with updated rhsm conf (#5942)
  components/multi-platform-controller/production/stone-prd-rh01/host-config.yaml
Due: none

Update stage mintmaker
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Update stage mintmaker (#5943)
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

nslister-monitoring: add panel for subject types (#5922)
  components/monitoring/grafana/base/dashboards/namespace-lister/namespace-lister-metrics.json
Due: rhtap-staging-e2e

Update KubeArchive to release 12.
  components/kubearchive/base/kustomization.yaml
Due: rhtap-staging-e2e

bump namespace-lister in staging
  components/namespace-lister/base/kustomization.yaml
Due: rhtap-staging-e2e

Update KubeArchive to release 12. (#5951)
  components/kubearchive/base/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-4689 Update the Konflux Splunk logging endpoint (#5937)
  components/monitoring/logging/base/configure-logging/configure-logforwarder.yaml
Due: rhtap-staging-e2e

bump namespace-lister in staging (#5952)
  components/namespace-lister/base/kustomization.yaml
Due: rhtap-staging-e2e

Update KubeArchive to release 12.1.
  components/kubearchive/base/kustomization.yaml
Due: rhtap-staging-e2e

bump nslister in staging
  components/namespace-lister/base/kustomization.yaml
Due: rhtap-staging-e2e

bump nslister in prod
  components/namespace-lister/production/base/kustomization.yaml
Due: rhtap-staging-e2e

Renaming cachi2 to hermeto
  components/konflux-ci/base/repository.yaml
Due: rhtap-staging-e2e

bump nslister in staging (#5958)
  components/namespace-lister/base/kustomization.yaml
Due: rhtap-staging-e2e

Update KubeArchive to release 12.1. (#5957)
  components/kubearchive/base/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-4652 - Expose Konflux etcd metrics for export to RHOBS (#5807)
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: rhtap-staging-e2e

bump namespace-lister in production (#5960)
  components/namespace-lister/production/base/kustomization.yaml
Due: rhtap-staging-e2e

konfluxui: clean proxy's configuration (#5891)
  components/konflux-ui/staging/base/proxy/nginx.conf
Due: rhtap-staging-e2e

Pull KubeArchive file to make it independent from GitHub
  components/kubearchive/base/kubearchive.yaml
  components/kubearchive/base/kustomization.yaml
Due: rhtap-staging-e2e

Renaming cachi2 to hermeto (#5959)
  components/konflux-ci/base/repository.yaml
Due: rhtap-staging-e2e

Update prod-p02 MPC w/ code cleanup (#5913)
  components/multi-platform-controller/production-downstream/stone-prod-p02/external-secrets.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/kustomization.yaml
Due: none

align new konflux users permissions with old ones
  components/konflux-rbac/staging/base/konflux-admin-user-actions.yaml
  components/konflux-rbac/staging/base/konflux-maintainer-user-actions.yaml
Due: rhtap-staging-e2e

Update ocp-p01 MPC w/ code cleanup
  components/multi-platform-controller/production-downstream/base/kustomization.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p01/external-secrets.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p01/kustomization.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/external-secrets.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/kustomization.yaml
Due: rhtap-staging-e2e

Update prd-rh01 MPC w/ code cleanup
  components/multi-platform-controller/production/stone-prd-rh01/kustomization.yaml
Due: none

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
