Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

Promote release-service from development to staging (#4777)
  components/release/staging/kustomization.yaml
Due: rhtap-staging-e2e

Reduce Tekton resolver resources
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/stone-prd-m01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: rhtap-staging-e2e

Reduce Tekton resolver resources (#4778)
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/stone-prd-m01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: rhtap-staging-e2e

Add Knative Event, KubeArchive dependency, as infra component (#4764)
  argo-cd-apps/base/member/infra-deployments/knative-eventing/knative-eventing.yaml
  argo-cd-apps/base/member/infra-deployments/knative-eventing/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/kustomization.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
  components/knative-eventing/OWNERS
  components/knative-eventing/base/kustomization.yaml
  components/knative-eventing/development/kustomization.yaml
  components/knative-eventing/staging/kustomization.yaml
Due: rhtap-staging-e2e

Ignore Aggregated Roles in Knative Eventing
  argo-cd-apps/base/member/infra-deployments/knative-eventing/knative-eventing.yaml
Due: none

Temporary dev MPC image for staging (#4775)
  components/multi-platform-controller/base/kustomization.yaml
Due: rhtap-staging-e2e

Update KubeArchive to v0.3.0
  argo-cd-apps/base/member/infra-deployments/kubearchive/kubearchive.yaml
  components/kubearchive/base/alternative-service.yaml
  components/kubearchive/base/kustomization.yaml
  components/kubearchive/development/kustomization.yaml
  components/kubearchive/staging/database-secret.yaml
Due: rhtap-staging-e2e

Ignore Aggregated Roles in Knative Eventing (#4779)
  argo-cd-apps/base/member/infra-deployments/knative-eventing/knative-eventing.yaml
Due: none

create internal certs config map in all cluster for build-service
  components/build-service/production/base/kustomization.yaml
  components/build-service/production/stone-prod-p01/kustomization.yaml
  components/build-service/production/stone-prod-p02/kustomization.yaml
  components/build-service/staging/base/kustomization.yaml
  components/build-service/staging/stone-stage-p01/kustomization.yaml
Due: build-service-prod-overlay-update, rhtap-staging-e2e

create internal certs config map in all cluster for build-service (#4783)
  components/build-service/production/base/kustomization.yaml
  components/build-service/production/stone-prod-p01/kustomization.yaml
  components/build-service/production/stone-prod-p02/kustomization.yaml
  components/build-service/staging/base/kustomization.yaml
  components/build-service/staging/stone-stage-p01/kustomization.yaml
Due: build-service-prod-overlay-update, rhtap-staging-e2e

Promote mintmaker from stage to prod
  components/mintmaker/production/base/kustomization.yaml
Due: rhtap-staging-e2e

Include myself in MintMaker code owners
  components/mintmaker/OWNERS
Due: none

Update KubeArchive to v0.3.0 (#4765)
  argo-cd-apps/base/member/infra-deployments/kubearchive/kubearchive.yaml
  components/kubearchive/base/alternative-service.yaml
  components/kubearchive/base/kustomization.yaml
  components/kubearchive/development/kustomization.yaml
  components/kubearchive/staging/database-secret.yaml
Due: rhtap-staging-e2e

Include myself in MintMaker code owners (#4785)
  components/mintmaker/OWNERS
Due: none

Promote mintmaker from stage to prod (#4784)
  components/mintmaker/production/base/kustomization.yaml
Due: rhtap-staging-e2e

Promote release-service from development to staging
  components/release/staging/kustomization.yaml
Due: rhtap-staging-e2e

Promote release-service from development to staging (#4786)
  components/release/staging/kustomization.yaml
Due: rhtap-staging-e2e

Make sure we have 2 worker nodes in advance
  configs/proactive-scaler/base/deployments.yaml
Due: none

Fix authentication for new kflux-ocp-p01 cluster
  components/authentication/production/kflux-ocp-p01/kustomization.yaml
Due: none

Fix authentication for new kflux-ocp-p01 cluster (#4788)
  components/authentication/production/kflux-ocp-p01/kustomization.yaml
Due: none

Increase s390x capacity for pub prod
  components/multi-platform-controller/production/common/host-config.yaml
Due: none

Increase s390x capacity for pub prod (#4789)
  components/multi-platform-controller/production/common/host-config.yaml
Due: none

Make sure we have 2 worker nodes in advance (#4787)
  configs/proactive-scaler/base/deployments.yaml
Due: none

Configure Pipelines as Code to require /ok-to-test on every new commit
  components/pipeline-service/production/base/update-tekton-config-pac.yaml
  components/pipeline-service/production/stone-prod-p01/resources/update-tekton-config-pac.yaml
  components/pipeline-service/production/stone-prod-p02/resources/update-tekton-config-pac.yaml
  components/pipeline-service/staging/stone-stage-p01/resources/update-tekton-config-pac.yaml
Due: rhtap-staging-e2e

enable compression for SPLUNK log forwarder (stg)
  components/monitoring/logging/staging/stone-stage-p01/configure-logforwarder-compression-patch.yaml
  components/monitoring/logging/staging/stone-stage-p01/kustomization.yaml
Due: rhtap-staging-e2e

enable compression for SPLUNK log forwarder (stg) (#4792)
  components/monitoring/logging/staging/stone-stage-p01/configure-logforwarder-compression-patch.yaml
  components/monitoring/logging/staging/stone-stage-p01/kustomization.yaml
Due: rhtap-staging-e2e

Configure Pipelines as Code to require /ok-to-test on every new commit (#4791)
  components/pipeline-service/production/base/update-tekton-config-pac.yaml
  components/pipeline-service/production/stone-prod-p01/resources/update-tekton-config-pac.yaml
  components/pipeline-service/production/stone-prod-p02/resources/update-tekton-config-pac.yaml
  components/pipeline-service/staging/stone-stage-p01/resources/update-tekton-config-pac.yaml
Due: rhtap-staging-e2e
