Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

add autoscaler settings to loki
  components/vector-kubearchive-log-collector/production/pentest-p01/loki-helm-prod-values.yaml
Due: none

deploy kubearchive logging to pentest-p01 (#8907)
  components/vector-kubearchive-log-collector/production/pentest-p01/kustomization.yaml
  components/vector-kubearchive-log-collector/production/pentest-p01/loki-helm-generator.yaml
  components/vector-kubearchive-log-collector/production/pentest-p01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/pentest-p01/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/production/pentest-p01/vector-helm-generator.yaml
  components/vector-kubearchive-log-collector/production/pentest-p01/vector-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/pentest-p01/vector-helm-values.yaml
Due: none

Remove appstudio-pipeline service account from dev and stage (#8837)
  argo-cd-apps/base/konflux-ci/konflux-ci.yaml
  argo-cd-apps/base/member/infra-deployments/build-templates/build-templates.yaml
  argo-cd-apps/base/tekton-ci/tekton-ci.yaml
  components/build-service/README.md
  components/pipeline-service/base/rbac/cluster-role/pipeline-service-sre.yaml
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
  components/policies/development/konflux-rbac/bootstrap-tenant-namespace/.chainsaw-test/chainsaw-test.yaml
  components/policies/development/konflux-rbac/bootstrap-tenant-namespace/.chainsaw-test/resources/actual-existing-rolebinding.yaml
  components/policies/development/konflux-rbac/bootstrap-tenant-namespace/.chainsaw-test/resources/expected-rolebinding.yaml
  components/policies/development/konflux-rbac/bootstrap-tenant-namespace/.kyverno-test/kyverno-test.yaml
  components/policies/development/konflux-rbac/bootstrap-tenant-namespace/.kyverno-test/resources/expected-rolebinding-appstudio-runner.yaml
  components/policies/development/konflux-rbac/bootstrap-tenant-namespace/bootstrap-tenant-namespace-rbcm-clusterpolicy.yaml
  components/policies/development/konflux-rbac/bootstrap-tenant-namespace/kyverno_rbac.yaml
  components/tekton-ci/base/appstudio-pipelines-runner-rolebinding.yaml
  components/tekton-ci/base/serviceaccount.yaml
  components/tekton-ci/production/cleanup-cronjob.yaml
  hack/build/setup-namespace.sh
  hack/new-cluster/templates/pipeline-service/deploy.yaml
  hack/secret-creator/set-docker-hub-pull-secret.sh
Due: rhtap-staging-e2e

feat(SPRE-2042): Include stg rh01 cluster reference
  components/monitoring/blackbox/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/blackbox/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

feat(SPRE-2042): Include stg rh01 cluster reference (#9004)
  components/monitoring/blackbox/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/blackbox/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

feat(SPRE-2042): Include blackbox exporter in argocd overlays
  argo-cd-apps/overlays/konflux-public-staging/kustomization.yaml
  argo-cd-apps/overlays/staging-downstream/kustomization.yaml
Due: none

MintMaker weekly release
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

feat(SPRE-2042): Include blackbox exporter in argocd overlays (#9005)
  argo-cd-apps/overlays/konflux-public-staging/kustomization.yaml
  argo-cd-apps/overlays/staging-downstream/kustomization.yaml
Due: none

chore: bump konflux-ui (production) 2d4ffcf60c2c => 61e1352bddc1
  components/konflux-ui/production/base/kustomization.yaml
Due: rhtap-staging-e2e

Promote release-service from development to staging
  components/release/staging/kustomization.yaml
Due: rhtap-staging-e2e

chore: bump konflux-ui (production) 2d4ffcf60c2c => 61e1352bddc1 (#9008)
  components/konflux-ui/production/base/kustomization.yaml
Due: rhtap-staging-e2e

fix(KAR-671): stale inggester pod on kflux-rhel-p01
  components/vector-kubearchive-log-collector/development/kustomization.yaml
  components/vector-kubearchive-log-collector/development/loki-helm-dev-values.yaml
  components/vector-kubearchive-log-collector/production/base/kustomization.yaml
  components/vector-kubearchive-log-collector/production/kflux-rhel-p01/kustomization.yaml
  components/vector-kubearchive-log-collector/production/kflux-rhel-p01/loki-helm-prod-values.yaml
Due: rhtap-staging-e2e

Move/cleanup/standardize MPC secrets for kflux-prd-rh02 (#8962)
  components/multi-platform-controller/production/kflux-prd-rh02/external-secrets.yaml
  components/multi-platform-controller/production/kflux-prd-rh02/host-values.yaml
Due: none

MintMaker weekly release to prod
  components/mintmaker/production/base/kustomization.yaml
Due: rhtap-staging-e2e

fix: adding StanislavJochman into CODEOWNERS
  components/konflux-info/OWNERS
  components/konflux-kite/OWNERS
  components/konflux-ui/OWNERS
Due: none

Update internal production MPC with latest version
  components/multi-platform-controller/production-downstream/base/kustomization.yaml
Due: rhtap-staging-e2e

MintMaker weekly release to prod (#9012)
  components/mintmaker/production/base/kustomization.yaml
Due: rhtap-staging-e2e

Update internal production MPC with latest version (#9014)
  components/multi-platform-controller/production-downstream/base/kustomization.yaml
Due: rhtap-staging-e2e

Add admin RBAC permissions for Grafana namespace
  components/monitoring/grafana/base/rbac/grafana-admin.yaml
  components/monitoring/grafana/base/rbac/kustomization.yaml
Due: rhtap-staging-e2e

Add admin RBAC permissions for Grafana namespace (#9015)
  components/monitoring/grafana/base/rbac/grafana-admin.yaml
  components/monitoring/grafana/base/rbac/kustomization.yaml
Due: rhtap-staging-e2e

product-kubearchive-logging: expose namespace metrics
  components/monitoring/prometheus/production/base/monitoringstack/endpoints-params.yaml
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: rhtap-staging-e2e

KubeArchive: upgrade to v1.11.1 on staging
  components/kubearchive/development/kustomization.yaml
Due: none

KubeArchive: rollout v1.11.1 to some production clusters
  components/kubearchive/production/stone-prd-rh01/kubearchive.yaml
  components/kubearchive/production/stone-prd-rh01/kustomization.yaml
  components/kubearchive/production/stone-prod-p02/kubearchive.yaml
  components/kubearchive/production/stone-prod-p02/kustomization.yaml
Due: none

KubeArchive: rollout v1.11.1 to some production clusters (#9029)
  components/kubearchive/production/stone-prd-rh01/kubearchive.yaml
  components/kubearchive/production/stone-prd-rh01/kustomization.yaml
  components/kubearchive/production/stone-prod-p02/kubearchive.yaml
  components/kubearchive/production/stone-prod-p02/kustomization.yaml
Due: none

feat(SPRE-2042): Include blackbox exporter CA module
  components/monitoring/blackbox/staging/stone-stage-p01/kustomization.yaml
Due: rhtap-staging-e2e

feat(SPRE-2042): Include blackbox exporter CA module (#9031)
  components/monitoring/blackbox/staging/stone-stage-p01/kustomization.yaml
Due: rhtap-staging-e2e

KubeArchive: fix valueFrom syntax replacement
  components/kubearchive/production/stone-prd-rh01/kustomization.yaml
  components/kubearchive/production/stone-prod-p02/kustomization.yaml
Due: none

KubeArchive: fix valueFrom syntax replacement (#9032)
  components/kubearchive/production/stone-prd-rh01/kustomization.yaml
  components/kubearchive/production/stone-prod-p02/kustomization.yaml
Due: none
