Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

update mintmaker controller (#6317)
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

instead of commit use devel tag
  components/build-service/base/build-pipeline-config/build-pipeline-config.yaml
Due: rhtap-staging-e2e

instead of commit use devel tag (#6288)
  components/build-service/base/build-pipeline-config/build-pipeline-config.yaml
Due: rhtap-staging-e2e

Promote release-service from development to staging
  components/release/staging/kustomization.yaml
Due: rhtap-staging-e2e

Promote release-service from development to staging (#6326)
  components/release/staging/kustomization.yaml
Due: rhtap-staging-e2e

Change s390x and ppc64le to static VMs on RH02
  components/multi-platform-controller/production/kflux-prd-rh02/external-secrets.yaml
  components/multi-platform-controller/production/kflux-prd-rh02/host-config.yaml
Due: none

Change s390x and ppc64le to static VMs on RH02 (#6327)
  components/multi-platform-controller/production/kflux-prd-rh02/external-secrets.yaml
  components/multi-platform-controller/production/kflux-prd-rh02/host-config.yaml
Due: none

rbac: disallow certain groups from rolebindings in prod
  components/konflux-rbac/production/base/kustomization.yaml
Due: rhtap-staging-e2e

rbac: disallow certain groups from rolebindings in prod (#6329)
  components/konflux-rbac/production/base/kustomization.yaml
Due: rhtap-staging-e2e

Add temporary permissions to the nginx proxy sa (#6316)
  components/konflux-ui/staging/base/proxy/proxy.yaml
Due: rhtap-staging-e2e

fix(PVO11Y-4653): Include es01 cluster labels
  components/monitoring/prometheus/production/kflux-prd-es01/cluster-id-label.yaml
  components/monitoring/prometheus/production/kflux-prd-es01/kustomization.yaml
  components/monitoring/prometheus/staging/kflux-stg-es01/cluster-id-label.yaml
  components/monitoring/prometheus/staging/kflux-stg-es01/kustomization.yaml
Due: rhtap-staging-e2e

etcd-shield: deploy to staging
  argo-cd-apps/base/member/infra-deployments/etcd-shield/etcd-shield.yaml
  argo-cd-apps/base/member/infra-deployments/etcd-shield/kustomization.yaml
  components/etcd-shield/OWNERS
  components/etcd-shield/base/config.yaml
  components/etcd-shield/base/deployment.yaml
  components/etcd-shield/base/etcd_shield_alerts.yaml
  components/etcd-shield/base/kustomization.yaml
  components/etcd-shield/base/ns.yaml
  components/etcd-shield/base/rbac.yaml
  components/etcd-shield/base/service.yaml
  components/etcd-shield/base/webhook.yaml
  components/etcd-shield/staging/stone-stage-p01/kustomization.yaml
  components/etcd-shield/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

Add first static s390x VM to rh03
  components/multi-platform-controller/production/kflux-prd-rh03/external-secrets.yaml
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
Due: none

etcd-shield: deploy to staging (#6295)
  argo-cd-apps/base/member/infra-deployments/etcd-shield/etcd-shield.yaml
  argo-cd-apps/base/member/infra-deployments/etcd-shield/kustomization.yaml
  components/etcd-shield/OWNERS
  components/etcd-shield/base/config.yaml
  components/etcd-shield/base/deployment.yaml
  components/etcd-shield/base/etcd_shield_alerts.yaml
  components/etcd-shield/base/kustomization.yaml
  components/etcd-shield/base/ns.yaml
  components/etcd-shield/base/rbac.yaml
  components/etcd-shield/base/service.yaml
  components/etcd-shield/base/webhook.yaml
  components/etcd-shield/staging/stone-stage-p01/kustomization.yaml
  components/etcd-shield/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

etcd-shield: fix ApplicationSet name
  argo-cd-apps/base/member/infra-deployments/etcd-shield/etcd-shield.yaml
Due: none

etcd-shield: fix ApplicationSet name (#6334)
  argo-cd-apps/base/member/infra-deployments/etcd-shield/etcd-shield.yaml
Due: none

Add first static s390x VM to rh03 (#6333)
  components/multi-platform-controller/production/kflux-prd-rh03/external-secrets.yaml
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
Due: none

Remove s390x from dynamic platforms
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
Due: none

Remove s390x from dynamic platforms (#6335)
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
Due: none

Update Results v0.14.0-4 prod (#6320)
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/stone-prd-m01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: rhtap-staging-e2e

KubeArchive: bump to v1, breaking changes
  components/authentication/base/everyone-can-view.yaml
  components/kubearchive/base/kubearchive-config.yaml
  components/kubearchive/base/kubearchive-maintainer.yaml
  components/kubearchive/base/kustomization.yaml
  components/kubearchive/policies/.chainsaw-test/resources/actual-kubeconfig-archive.yaml
  components/kubearchive/policies/.chainsaw-test/resources/expected-kubearchiveconfig.yaml
  components/kubearchive/policies/.chainsaw-test/resources/kubearchive-crd.yaml
  components/kubearchive/policies/bootstrap-namespace.yaml
  components/kubearchive/policies/kyverno_rbac.yaml
  components/kubearchive/policies/resources/expected-kubearchiveconfig-konflux.yaml
  components/release/staging/kustomization.yaml
Due: rhtap-staging-e2e

chore(ecp): update tag for ec-task-policy
  components/enterprise-contract/ecp.yaml
Due: none

Cleanup Knative Eventing deployment folders (#6253)
  argo-cd-apps/base/member/infra-deployments/knative-eventing/knative-eventing.yaml
  components/knative-eventing/production/stone-prd-m01/kustomization.yaml
  components/knative-eventing/production/stone-prd-rh01/kustomization.yaml
Due: none

add etcd-shield as a kustomize resource
  argo-cd-apps/base/member/infra-deployments/kustomization.yaml
Due: none

etcd-shield: pull etcd db size from promtheus
  components/etcd-shield/base/etcd_shield_alerts.yaml
Due: rhtap-staging-e2e

chore(ecp): update tag for ec-task-policy (#6338)
  components/enterprise-contract/ecp.yaml
Due: none

etcd-shield: remove from prod/dev overlays
  argo-cd-apps/overlays/development/delete-applications.yaml
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
Due: none
