Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

PVO11Y-5268 Add RHOBS credentials to appstudio-tekton namespace
  components/monitoring/prometheus/base/tekton-ms/external-secrets/kustomization.yaml
  components/monitoring/prometheus/base/tekton-ms/external-secrets/rhobs.yaml
  components/monitoring/prometheus/base/tekton-ms/kustomization.yaml
  components/monitoring/prometheus/staging/tekton-ms/kustomization.yaml
  components/monitoring/prometheus/staging/tekton-ms/rhobs-secret-path.yaml
Due: rhtap-staging-e2e

PVO11Y-5268 Add remote-write config to tekton-ms MonitoringStack
  components/monitoring/prometheus/base/tekton-ms/monitoringstack.yaml
  components/monitoring/prometheus/staging/tekton-ms/kustomization.yaml
  components/monitoring/prometheus/staging/tekton-ms/remote-write-env-details.yaml
  components/monitoring/prometheus/staging/tekton-ms/writeRelabelConfigs.yaml
Due: rhtap-staging-e2e

PVO11Y-5268 Add source_cluster labels to tekton-ms
  components/monitoring/prometheus/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5268 Remove tekton_pipelines_controller from staging federation
  components/monitoring/prometheus/staging/base/federation/endpoints-params.yaml
Due: rhtap-staging-e2e

PVO11Y-5285 Remove migration team dashboard (#12599)
  components/monitoring/grafana/base/dashboards/kustomization.yaml
  components/monitoring/grafana/base/dashboards/migration/OWNERS
  components/monitoring/grafana/base/dashboards/migration/dashboard.yaml
  components/monitoring/grafana/base/dashboards/migration/kustomization.yaml
  components/monitoring/grafana/base/dashboards/migration/migration-team-dashboard.json
Due: rhtap-staging-e2e

PVO11Y-5268 Fix kustomize patch scoping for tekton-ms
  components/monitoring/prometheus/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/kustomization.yaml
  components/monitoring/prometheus/staging/tekton-ms/kustomization.yaml
Due: rhtap-staging-e2e

bump application-api prod
  components/application-api/production/kustomization.yaml
Due: none

PVO11Y-5268 Filter remote-write to only forward federated metrics
  components/monitoring/prometheus/staging/tekton-ms/writeRelabelConfigs.yaml
Due: rhtap-staging-e2e

PVO11Y-5268 Keep instance label to distinguish controller replicas
  components/monitoring/prometheus/staging/tekton-ms/writeRelabelConfigs.yaml
Due: rhtap-staging-e2e

PVO11Y-5268 List forwarded metrics explicitly instead of regex
  components/monitoring/prometheus/staging/tekton-ms/writeRelabelConfigs.yaml
Due: rhtap-staging-e2e

PVO11Y-5268 Drop le label from writeRelabelConfigs
  components/monitoring/prometheus/staging/tekton-ms/writeRelabelConfigs.yaml
Due: rhtap-staging-e2e

PVO11Y-5268 Increase retention to 7d and add persistent storage
  components/monitoring/prometheus/base/tekton-ms/monitoringstack.yaml
Due: rhtap-staging-e2e

Exclude imagestreams from OADP backup schedule (#12594)
  components/backup/base/member/schedules/backup-tenants-schedule.yaml
  components/backup/staging/stone-stage-p01/exclude-imagestreams-patch.yaml
  components/backup/staging/stone-stage-p01/kustomization.yaml
  components/backup/staging/stone-stg-rh01/exclude-imagestreams-patch.yaml
  components/backup/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

bump application-api stage/dev (#12586)
  components/application-api/development/kustomization.yaml
  components/application-api/staging/kustomization.yaml
Due: rhtap-staging-e2e

bump application-api prod (#12587)
  components/application-api/production/kustomization.yaml
Due: none

Update from release-service
  components/konflux-ui/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

KONFLUX-13198 disable kyverno reports controller on kflux-osp-p01
  components/kyverno/production/kflux-osp-p01/kyverno-helm-values.yaml
Due: none

Update from release-service
  components/konflux-operator/development/invariant/kustomization.yaml
Due: none

test(KFLUXVNGD-1081): run operator proxy tests
  components/konflux-operator/ci/openshift-overlay-e2e/README.md
  components/konflux-operator/ci/openshift-overlay-e2e/run-e2e.sh
Due: none

test(KFLUXVNGD-1081): run operator proxy tests (#12442)
  components/konflux-operator/ci/openshift-overlay-e2e/README.md
  components/konflux-operator/ci/openshift-overlay-e2e/run-e2e.sh
  components/konflux-operator/development/invariant/kustomization.yaml
Due: none

Fixing new eol
  components/monitoring/custom-kube-state-metrics/staging/custom-resource-state-config.yaml
Due: rhtap-staging-e2e

Fixing help text
  components/monitoring/custom-kube-state-metrics/staging/custom-resource-state-config.yaml
Due: rhtap-staging-e2e

adding custom-kube-metric concurrentPLR stage
  components/monitoring/custom-kube-state-metrics/staging/custom-resource-state-config.yaml
Due: rhtap-staging-e2e

filtering using completionTime
  components/monitoring/custom-kube-state-metrics/staging/custom-resource-state-config.yaml
Due: rhtap-staging-e2e

Changing stateSet for gauge
  components/monitoring/custom-kube-state-metrics/staging/custom-resource-state-config.yaml
Due: rhtap-staging-e2e

Fixing trailspaces
  components/monitoring/custom-kube-state-metrics/staging/custom-resource-state-config.yaml
Due: rhtap-staging-e2e

removing trailing space
  components/monitoring/custom-kube-state-metrics/staging/custom-resource-state-config.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Adding status label to tekton.dev
  components/monitoring/custom-kube-state-metrics/staging/custom-resource-state-config.yaml
Due: rhtap-staging-e2e

Restore platform ApplicationSets on development-operator overlay.
  argo-cd-apps/overlays/development-operator/delete-legacy-konflux-member-appsets.yaml
  hack/build/setup-pac-integration.sh
Due: none

KONFLUX-13198 disable kyverno reports controller on kflux-osp-p01 (#12611)
  components/kyverno/production/kflux-osp-p01/kyverno-helm-values.yaml
Due: none

Gate konflux-operator Argo health on Konflux CR readiness.
  hack/argocd-operator-overlay-health-checks.yaml
  hack/bootstrap-cluster.sh
  hack/deploy-argocd.sh
Due: none

KFLUXINFRA-3973: add token resource to kueue in production (ring 1) (#12529)
  components/kueue/production/kflux-ocp-p01/queue-config/cluster-queue.yaml
  components/kueue/production/kflux-prd-rh02/config.yaml
  components/kueue/production/kflux-prd-rh02/kustomization.yaml
  components/kueue/production/kflux-prd-rh02/queue-config/cluster-queue.yaml
  components/kueue/production/stone-prod-p01/config.yaml
  components/kueue/production/stone-prod-p01/kustomization.yaml
  components/kueue/production/stone-prod-p01/queue-config/cluster-queue.yaml
  hack/test-tekton-kueue-config.py
Due: none

fix: address qodo's relevant comments
  docs/misc/visual-learning-guides/visual-components-map.html
  hack/preview-template.env
Due: none

chore: remove ci-helper-app
  argo-cd-apps/base/ci-helper-app/ci-helper-app.yaml
  argo-cd-apps/base/ci-helper-app/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-staging/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
  components/backup/base/member/schedules/backup-tenants-schedule.yaml
  components/backup/development/in-cluster-local/backup-tenants-schedule.yaml
  components/ci-helper-app/OWNERS
  components/ci-helper-app/base/kustomization.yaml
  components/ci-helper-app/base/rbac/ci-helper-app.yaml
  components/ci-helper-app/base/rbac/kustomization.yaml
  components/ci-helper-app/development/kustomization.yaml
  components/ci-helper-app/staging/external-secrets/ci-helper-app-secrets.yaml
  components/ci-helper-app/staging/external-secrets/kustomization.yaml
  components/ci-helper-app/staging/kustomization.yaml
  components/cluster-secret-store/base/appsre-stonesoup-vault-secret-store.yaml
  components/konflux-ci/base/repository.yaml
  docs/_data/navigation.yml
  docs/misc/ci-helper-app.md
  hack/bootstrap-host-cluster.sh
  hack/destroy-cluster.sh
  hack/new-cluster/templates/backup/backup-tenants-schedule.yaml
  hack/secret-creator/create-ci-helper-app-secret.sh
Due: rhtap-staging-e2e

Temporarily disable s390x-static-1 on kflux-ocp-p01 due to failure state
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/host-values.yaml
Due: none

Update Kueue
  components/kueue/production/kflux-ocp-p01/queue-config/cluster-queue.yaml
Due: none

feat: split IS into per-environment overlays
  argo-cd-apps/base/member/infra-deployments/internal-services/internal-services.yaml
  argo-cd-apps/base/member/infra-deployments/internal-services/kustomization.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  components/internal-services/OWNERS
  components/internal-services/base/internal-services.yaml
  components/internal-services/base/internal_service_request_role.yaml
  components/internal-services/base/internal_service_request_role_binding.yaml
  components/internal-services/base/internal_service_request_service_account.yaml
  components/internal-services/base/internal_service_service_account_token.yaml
  components/internal-services/base/kustomization.yaml
  components/internal-services/development/kustomization.yaml
  components/internal-services/production/base/internal-services.yaml
  components/internal-services/production/base/internal_service_request_role.yaml
  components/internal-services/production/base/internal_service_request_role_binding.yaml
  components/internal-services/production/base/internal_service_request_service_account.yaml
  components/internal-services/production/base/internal_service_service_account_token.yaml
  components/internal-services/production/base/kustomization.yaml
  components/internal-services/production/kustomization.yaml
  components/internal-services/staging/kustomization.yaml
Due: rhtap-staging-e2e

Temporarily disable s390x-static-1 on kflux-ocp-p01 due to failure state (#12640)
  components/kueue/production/kflux-ocp-p01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/host-values.yaml
Due: none

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
