Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

Enable Sentry monitoring for konflux-ui on stone-prd-rh01 (#12499)
  components/konflux-ui/production/base/proxy/proxy.yaml
  components/konflux-ui/production/kflux-fedora-01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/kflux-ocp-p01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/kflux-osp-p01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/kflux-prd-rh02/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/kflux-prd-rh03/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/kflux-rhel-p01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/stone-prd-rh01/kustomization.yaml
  components/konflux-ui/production/stone-prd-rh01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/stone-prod-p01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/stone-prod-p02/remove-run-as-user-proxy-patch.yaml
Due: rhtap-staging-e2e

PVO11Y-5268 Switch pipeline-service dashboard to tekton-ms datasource
  components/monitoring/grafana/base/dashboards/pipeline-service/grafana-config.yaml
Due: rhtap-staging-e2e

Deploy PaC v0.48.0 to Konflux production - Ring 2 (#12567)
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-rhel-p01/deploy.yaml
  components/pipeline-service/production/rings/ring-2/kustomization.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: none

PVO11Y-5268 Split pipeline-service dashboard into per-environment overlays
  components/monitoring/grafana/base/dashboards/kustomization.yaml
  components/monitoring/grafana/development/dashboards/kustomization.yaml
  components/monitoring/grafana/development/dashboards/pipeline-service/grafana-config.yaml
  components/monitoring/grafana/development/dashboards/pipeline-service/kustomization.yaml
  components/monitoring/grafana/production/dashboards/kustomization.yaml
  components/monitoring/grafana/production/dashboards/pipeline-service/grafana-config.yaml
  components/monitoring/grafana/production/dashboards/pipeline-service/kustomization.yaml
  components/monitoring/grafana/staging/dashboards/kustomization.yaml
  components/monitoring/grafana/staging/dashboards/pipeline-service/grafana-config.yaml
  components/monitoring/grafana/staging/dashboards/pipeline-service/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5290 Add pipeline-metrics-exporter to tekton-ms
  components/monitoring/prometheus/base/tekton-ms/kustomization.yaml
  components/monitoring/prometheus/base/tekton-ms/servicemonitor-pipeline-exporter.yaml
Due: rhtap-staging-e2e

PVO11Y-5290 Add pipeline-metrics-exporter to tekton-ms (#12816)
  components/monitoring/prometheus/base/tekton-ms/kustomization.yaml
  components/monitoring/prometheus/base/tekton-ms/servicemonitor-pipeline-exporter.yaml
Due: rhtap-staging-e2e

PVO11Y-5128 Stop deploying monitoring-cardinality to public production
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
Due: none

PVO11Y-5150 Stagger kanary cronjob schedules to reduce Kueue contention
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-single-arch.yaml
Due: rhtap-staging-e2e

Create a MM schedule calculator service account.
  components/mintmaker/staging/base/kustomization.yaml
  components/mintmaker/staging/base/mintmaker-schedule-calculator-manager.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

PVO11Y-5150 Stagger kanary cronjob schedules to reduce Kueue contention (#12818)
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-single-arch.yaml
Due: rhtap-staging-e2e

PVO11Y-5128 Allow cardinality exporter labels through remote-write
  components/monitoring/prometheus/staging/base/federation/writeRelabelConfigs.yaml
Due: rhtap-staging-e2e

SPRE-4610: bump internal-infra-deployments ref for nexus GET endpoint fix
  components/monitoring/blackbox/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/blackbox/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

Add new cronjob
  components/mintmaker/staging/base/kustomization.yaml
  components/mintmaker/staging/base/mintmaker-schedule-calculator.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

KFLUXINFRA-3009 Harden route cert sync CronJob against hangs and hard-coded NS
  components/konflux-ui/production/kflux-fedora-01/letsencrypt/route-cert-sync-cronjob.yaml
Due: none

PVO11Y-5128 Allow cardinality exporter labels through remote-write (#12819)
  components/monitoring/prometheus/staging/base/federation/writeRelabelConfigs.yaml
Due: rhtap-staging-e2e

SPRE-4610: bump internal-infra-deployments ref for nexus GET endpoint fix (#12820)
  components/monitoring/blackbox/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/blackbox/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5150 Rename kanary metrics to remove _poc suffix
  components/monitoring/kanary/staging/base/tasks/push-kanary-metrics.yaml
Due: rhtap-staging-e2e

PVO11Y-5150 Add metric_expiration to staging otel and increase cronjob frequency
  components/tracing/otel-collector/staging/otel-collector-helm-values.yaml
Due: rhtap-staging-e2e

feat(PVO11Y-5283): forward Kueue admission wait sum and count (#12706)
  components/monitoring/prometheus/production/base/federation/endpoints-params.yaml
Due: rhtap-staging-e2e

Actually deploy authentication-rd to clusters
  argo-cd-apps/base/ring-deployments/kustomization.yaml
  components/authentication-rd/rings/ring-1/kflux-stg-es01/kustomization.yaml
  components/authentication-rd/rings/ring-2/kflux-fedora-01/kustomization.yaml
  components/authentication-rd/rings/ring-2/kflux-prd-es01/kustomization.yaml
Due: none

PVO11Y-5128 Stop deploying monitoring-cardinality to public production (#12817)
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
Due: none

PVO11Y-5150 Rename kanary metrics and add metric_expiration to staging otel (#12776)
  components/monitoring/kanary/staging/base/tasks/push-kanary-metrics.yaml
  components/tracing/otel-collector/staging/otel-collector-helm-values.yaml
Due: rhtap-staging-e2e

Remove power-monitoring component and dashboard (#12677)
  components/monitoring/grafana/base/dashboards/kustomization.yaml
  components/monitoring/grafana/base/dashboards/power-monitoring/dashboard.yaml
  components/monitoring/grafana/base/dashboards/power-monitoring/kepler.json
  components/monitoring/grafana/base/dashboards/power-monitoring/kustomization.yaml
  components/power-monitoring/OWNERS
  components/power-monitoring/kepler.yaml
  components/power-monitoring/kustomization.yaml
  components/power-monitoring/power-monitoring-operator.yaml
Due: rhtap-staging-e2e

Enable proxy for go, pip, pnpm on select prod clusters (#12757)
  components/konflux-info/production/kflux-prd-rh02/cluster-config.env
  components/konflux-info/production/stone-prod-p01/cluster-config.env
Due: none

PVO11Y-5151 Enable metrics pipeline on production otel collector
  components/tracing/otel-collector/production/kustomization.yaml
  components/tracing/otel-collector/production/otel-collector-helm-values.yaml
  components/tracing/otel-collector/production/servicemonitors/kustomization.yaml
  components/tracing/otel-collector/production/servicemonitors/otel-collector-kanary-servicemonitor.yaml
Due: none

PVO11Y-5151 Bump production otel collector image to 0.113.0
  components/tracing/otel-collector/production/otel-collector-helm-values.yaml
Due: none

Actually deploy authentication-rd to clusters (#12821)
  argo-cd-apps/base/ring-deployments/kustomization.yaml
  components/authentication-rd/rings/ring-1/kflux-stg-es01/kustomization.yaml
  components/authentication-rd/rings/ring-2/kflux-fedora-01/kustomization.yaml
  components/authentication-rd/rings/ring-2/kflux-prd-es01/kustomization.yaml
Due: none

Update from release-service
  components/kueue/development/tekton-kueue/kustomization.yaml
Due: none

fix: strengthen Qodo ring-deployment false-positive suppression
  .pr_agent.toml
Due: none

Upgrade kubearchive to v1.22.2 on kflux-rhel-p01 (#12791)
  components/kubearchive/production/kflux-rhel-p01/kubearchive.yaml
  components/kubearchive/production/kflux-rhel-p01/kustomization.yaml
Due: none

KAR-893 remove from loadbalancer on stone-prd-rh01 stone-prod-p01 (#12347)
  components/vector-kubearchive-log-collector/production/stone-prd-rh01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/stone-prd-rh01/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/production/stone-prod-p01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/stone-prod-p01/loki-helm-values.yaml
Due: none

KONFLUX-14639 query pods OOMKills development changes
  components/vector-kubearchive-log-collector/development/loki-helm-dev-values.yaml
Due: none

KONFLUX-14639 query pods OOMKills changes changes
  components/vector-kubearchive-log-collector/staging/stone-stage-p01/loki-helm-stg-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-stg-values.yaml
Due: rhtap-staging-e2e

KAR-893 remove from loadbalancer kflux-fedora-01 kflux-ocp-p01 kflux-osp-p01 (#12341)
  components/vector-kubearchive-log-collector/production/kflux-fedora-01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-fedora-01/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-ocp-p01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-ocp-p01/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-osp-p01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-osp-p01/loki-helm-values.yaml
Due: none

KAR-893 remove from loadbalancer on kflux-prd-rh02 kflux-prd-rh03 kflux-rhel-p01 (#12344)
  components/vector-kubearchive-log-collector/production/kflux-prd-rh02/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-prd-rh02/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-prd-rh03/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-prd-rh03/loki-helm-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-rhel-p01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-rhel-p01/loki-helm-values.yaml
Due: none

KONFLUX-14639 query OOMKills on kflux-ocp-p01/stone-prod-p02
  components/vector-kubearchive-log-collector/production/kflux-ocp-p01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/stone-prod-p02/loki-helm-prod-values.yaml
Due: none

fix(PVO11Y-5298): Add annotation to disable autogen
  components/policies/development/cost-management/OWNERS
  components/policies/development/cost-management/propagate-cost-management-labels/propagate-cost-management-labels.yaml
  components/policies/staging/base/cost-management/OWNERS
Due: rhtap-staging-e2e

KONFLUX-14639 query pods OOMKills changes changes (#12845)
  components/vector-kubearchive-log-collector/staging/stone-stage-p01/loki-helm-stg-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-stg-values.yaml
Due: rhtap-staging-e2e

SPRE-4610: bump internal-infra-deployments ref for final staging nexus fixes
  components/monitoring/blackbox/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/blackbox/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/image-controller/development/kustomization.yaml
  components/image-controller/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
