Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

Offboard Dheeraj from Integration service (#6142)
  components/integration/OWNERS
Due: none

Promote MintMaker stage to prod (weekly MintMaker deployment) (#6133)
  components/mintmaker/production/base/kustomization.yaml
Due: rhtap-staging-e2e

Grant Build Service rights to run build pipelines
  components/build-service/base/build-pipeline-runner-rolebinding.yaml
  components/build-service/base/kustomization.yaml
Due: rhtap-staging-e2e

Reduce priority for nested containerization SCC
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

feat(RELEASE-1532): use trusted artifacts
  components/release/development/release_service_config.yaml
  components/release/staging/release_service_config.yaml
Due: rhtap-staging-e2e

Update Cluster-logging operator to stable-6.1
  components/monitoring/logging/base/install-logging-operator.yaml
Due: rhtap-staging-e2e

Promote release-service from staging to production
  components/release/production/kustomization.yaml
Due: none

Update Cluster-logging operator to stable-6.1 (#6148)
  components/monitoring/logging/base/install-logging-operator.yaml
Due: rhtap-staging-e2e

Promote release-service from staging to production (#6149)
  components/release/production/kustomization.yaml
Due: none

Grant Build Service rights to run build pipelines (#6143)
  components/build-service/base/build-pipeline-runner-rolebinding.yaml
  components/build-service/base/kustomization.yaml
Due: rhtap-staging-e2e

MintMaker: Deploy Redis for Renovate cache
  components/mintmaker/base/kustomization.yaml
  components/mintmaker/base/redis-cache/kustomization.yaml
  components/mintmaker/base/redis-cache/redis-configmap.yaml
  components/mintmaker/base/redis-cache/redis-deployment.yaml
  components/mintmaker/base/redis-cache/redis-networkpolicy.yaml
  components/mintmaker/base/redis-cache/redis-pvc.yaml
  components/mintmaker/base/redis-cache/redis-service.yaml
Due: rhtap-staging-e2e

Promote hac-dev to internal cluster
  components/ui/development/kustomization.yaml
  components/ui/production/kflux-ocp-p01/kustomization.yaml
  components/ui/production/stone-prod-p01/kustomization.yaml
  components/ui/production/stone-prod-p02/kustomization.yaml
  components/ui/staging/kustomization.yaml
Due: rhtap-staging-e2e

livenessprobe for smee-client and refine of smee-base
  components/smee-client/base/deployment.yaml
  components/smee/base/deployment.yaml
Due: rhtap-staging-e2e

livenessprobe for smee-client and refine of smee-base (#6154)
  components/smee-client/base/deployment.yaml
  components/smee/base/deployment.yaml
Due: rhtap-staging-e2e

Change s390x cobfiguration to static for ocp-art-p01
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/host-config.yaml
Due: none

Rollout new Component Service Account model to staging
  components/build-service/development/kustomization.yaml
  components/build-service/staging/base/kustomization.yaml
  components/image-controller/development/kustomization.yaml
  components/image-controller/staging/base/kustomization.yaml
Due: build-service-prod-overlay-update, rhtap-staging-e2e

Change s390x cobfiguration to static for ocp-art-p01 (#6160)
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/host-config.yaml
Due: none

Rollout new Component Service Account model to staging (#6162)
  components/build-service/development/kustomization.yaml
  components/build-service/staging/base/kustomization.yaml
  components/image-controller/development/kustomization.yaml
  components/image-controller/staging/base/kustomization.yaml
Due: build-service-prod-overlay-update, rhtap-staging-e2e

allow authenticated metrics for namespace-lister
  components/namespace-lister/base/kustomization.yaml
  components/namespace-lister/base/rbac.yaml
Due: rhtap-staging-e2e

allow authenticated metrics for namespace-lister (#6169)
  components/namespace-lister/base/kustomization.yaml
  components/namespace-lister/base/rbac.yaml
Due: rhtap-staging-e2e

prod: allow authenticated metrics for namespace-lister
  components/namespace-lister/production/base/kustomization.yaml
  components/namespace-lister/production/base/rbac.yaml
Due: rhtap-staging-e2e

prod: allow authenticated metrics for namespace-lister (#6170)
  components/namespace-lister/production/base/kustomization.yaml
  components/namespace-lister/production/base/rbac.yaml
Due: rhtap-staging-e2e

chore: make integration service imagePullPolicy Always for dev
  components/integration/development/manager_resources_patch.yaml
Due: none

Expose etcd_disk_defrag_inflight for cluster capacity monitoring
  components/monitoring/prometheus/base/monitoringstack/monitoringstack.yaml
Due: rhtap-staging-e2e

feat(RELEASE-1532): use trusted artifacts (#6147)
  components/release/development/release_service_config.yaml
  components/release/staging/release_service_config.yaml
Due: rhtap-staging-e2e

chore: make integration service imagePullPolicy Always for dev (#6171)
  components/integration/development/manager_resources_patch.yaml
Due: none

Only suggest TA pipelines for newer functionality
  components/build-service/base/build-pipeline-config/build-pipeline-config.yaml
Due: rhtap-staging-e2e
