Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

chore(ring-1): promote konflux-operator to ring-1
  components/konflux-operator/rings/ring-1/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-0-container-image-proxy): promote container-image-proxy to ring-0
  components/container-image-proxy/rings/ring-0/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

fix(rd-dev): fix DEPLOY_ONLY patch scope and skip container-image-proxy wait
  hack/preview.sh
Due: none

chore(ring-0-artifact-registry-proxy): promote artifact-registry-proxy to ring-0
  components/artifact-registry-proxy/rings/ring-0/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

fix(rd-dev): initialize delete file early and stage it before push
  hack/preview.sh
Due: none

fix(rd-dev): truncate stale delete file and fix --grafana for rd-dev
  hack/preview.sh
Due: none

chore: add artifact-registry-proxy to cluster-secret-store
  components/cluster-secret-store/base/appsre-stonesoup-vault-secret-store.yaml
Due: rhtap-staging-e2e

PVO11Y-5454 Remove cost-management operator from lightwell-dev (#13643)
  argo-cd-apps/base/all-clusters/infra-deployments/cost-management/costmanagement-metrics-operator.yaml
  components/cost-management/staging/lightwell-dev/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-1): promote container-image-proxy to ring-1
  components/container-image-proxy/rings/ring-1/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

fix(rd-dev): fix --grafana for rd-dev and soften Unknown app handler
  hack/preview.sh
Due: none

fix(preview): rate-limit Unknown state soft-refresh to one attempt per app
  hack/preview.sh
Due: none

KFLUXINFRA-4241 Remove staging multi-platform-controller from AppSRE ArgoCD (#13680)
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/kustomization.yaml
  argo-cd-apps/overlays/staging-downstream/mpc-lightwell-dev-patch.yaml
  argo-cd-apps/overlays/staging-downstream/staging-downstream-overlay-patch.yaml
Due: none

chore(ring-1): promote artifact-registry-proxy to ring-1
  components/artifact-registry-proxy/rings/ring-1/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

(onboarding) Migrate staging etcd-defrag AppSet to ring deployments ArgoCD (#13482)
  .github/workflows/kube-linter.yaml
  argo-cd-apps/base/member/infra-deployments/etcd-defrag/etcd-defrag.yaml
  argo-cd-apps/overlays/rd-staging/etcd-defrag/etcd-defrag-appset.yaml
  argo-cd-apps/overlays/rd-staging/etcd-defrag/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/kustomization.yaml
  configs/etcd-defrag-rd/base/cluster-role.yaml
  configs/etcd-defrag-rd/base/cronjob.yaml
  configs/etcd-defrag-rd/base/kustomization.yaml
  configs/etcd-defrag-rd/base/namespace.yaml
  configs/etcd-defrag-rd/base/role-binding.yaml
  configs/etcd-defrag-rd/base/serviceaccount.yaml
  configs/etcd-defrag-rd/rings/empty-base/empty-base/kustomization.yaml
  configs/etcd-defrag-rd/rings/ring-0/base/kustomization.yaml
  configs/etcd-defrag-rd/rings/ring-1/base/base-snapshot/cluster-role.yaml
  configs/etcd-defrag-rd/rings/ring-1/base/base-snapshot/cronjob.yaml
  configs/etcd-defrag-rd/rings/ring-1/base/base-snapshot/kustomization.yaml
  configs/etcd-defrag-rd/rings/ring-1/base/base-snapshot/namespace.yaml
  configs/etcd-defrag-rd/rings/ring-1/base/base-snapshot/role-binding.yaml
  configs/etcd-defrag-rd/rings/ring-1/base/base-snapshot/serviceaccount.yaml
  configs/etcd-defrag-rd/rings/ring-1/base/kustomization.yaml
  configs/etcd-defrag-rd/rings/ring-1/lightwell-dev/kustomization.yaml
  configs/etcd-defrag-rd/rings/ring-1/stone-stage-p01/kustomization.yaml
  configs/etcd-defrag-rd/rings/ring-1/stone-stg-rh01/kustomization.yaml
Due: none

Change etcd-defrag appset source root to configs
  argo-cd-apps/overlays/rd-staging/etcd-defrag/etcd-defrag-appset.yaml
Due: none

Change etcd-defrag appset source root to configs (#13690)
  argo-cd-apps/overlays/rd-staging/etcd-defrag/etcd-defrag-appset.yaml
Due: none

KFLUXINFRA-4238: fix ring migration gaps for cluster-secret-store
  argo-cd-apps/base/all-clusters/infra-deployments/cluster-secret-store/cluster-secret-store.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
  components/cluster-secret-store/staging/insights-approle-id-patch.yaml
  components/cluster-secret-store/staging/konflux-verifications-rd-namespaces-patch.yaml
  components/cluster-secret-store/staging/kustomization.yaml
  components/cluster-secret-store/staging/observability-namespaces-patch.yaml
  components/cluster-secret-store/staging/perfscale-namespaces-patch.yaml
  components/cluster-secret-store/staging/rhtap-promotion-staging-patch.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4238: fix ring migration gaps for disaster-recovery
  argo-cd-apps/base/member/infra-deployments/disaster-recovery/disaster-recovery.yaml
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
  argo-cd-apps/overlays/rd-staging/disaster-recovery/disaster-recovery-appset.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
  components/disaster-recovery-rd/base/kustomization.yaml
  components/disaster-recovery-rd/base/namespace.yaml
  components/disaster-recovery-rd/base/pipeline.yaml
  components/disaster-recovery-rd/base/rbac.yaml
  components/disaster-recovery/rings/ring-0/base/kustomization.yaml
  components/disaster-recovery/rings/ring-1/lightwell-dev/kustomization.yaml
Due: rhtap-staging-e2e

chore: add artifact-registry-proxy to cluster-secret-store (#13688)
  components/cluster-secret-store/base/appsre-stonesoup-vault-secret-store.yaml
Due: rhtap-staging-e2e

feat(KONFLUX-15424): Temporarily raise kueue quotas related to number of PLRs to be able to check clusters capacity while tracking apiserver_storage_size_bytes metric
  components/kueue-rd/rings/ring-1/lightwell-dev/cluster-queue.yaml
Due: none

feat(KONFLUX-15424): Temporarily raise kueue quotas related to number of PLRs to be able to check clusters capacity while tracking apiserver_storage_size_bytes metric (#13691)
  components/kueue-rd/rings/ring-1/lightwell-dev/cluster-queue.yaml
Due: none

KFLUXINFRA-4241 Omit logcollector from production ring overlays
  components/multi-platform-controller-rd/rings/ring-2/base/kustomization.yaml
  components/multi-platform-controller-rd/rings/ring-2/base/logcollector/kustomization.yaml
  components/multi-platform-controller-rd/rings/ring-2/base/logcollector/otelcol-config-es.yaml
  components/multi-platform-controller-rd/rings/ring-3/base/kustomization.yaml
  components/multi-platform-controller-rd/rings/ring-3/base/logcollector/kustomization.yaml
  components/multi-platform-controller-rd/rings/ring-3/base/logcollector/otelcol-config-es.yaml
  components/multi-platform-controller-rd/rings/ring-4/base/kustomization.yaml
  components/multi-platform-controller-rd/rings/ring-4/base/logcollector/kustomization.yaml
  components/multi-platform-controller-rd/rings/ring-4/base/logcollector/otelcol-config-es.yaml
Due: rhtap-staging-e2e

Revert "KFLUXINFRA-4241 Omit logcollector from production ring overlays"
  components/multi-platform-controller-rd/rings/ring-2/base/kustomization.yaml
  components/multi-platform-controller-rd/rings/ring-2/base/logcollector/kustomization.yaml
  components/multi-platform-controller-rd/rings/ring-2/base/logcollector/otelcol-config-es.yaml
  components/multi-platform-controller-rd/rings/ring-3/base/kustomization.yaml
  components/multi-platform-controller-rd/rings/ring-3/base/logcollector/kustomization.yaml
  components/multi-platform-controller-rd/rings/ring-3/base/logcollector/otelcol-config-es.yaml
  components/multi-platform-controller-rd/rings/ring-4/base/kustomization.yaml
  components/multi-platform-controller-rd/rings/ring-4/base/logcollector/kustomization.yaml
  components/multi-platform-controller-rd/rings/ring-4/base/logcollector/otelcol-config-es.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4241 Point stone-prod-p02 win SSH key at production vault
  components/multi-platform-controller-rd/rings/ring-3/stone-prod-p02/external-secrets/aws-win-ssh-key-es.yaml
Due: none

KFLUXINFRA-4241 Quote rd-production MPC ApplicationSet tenant label
  argo-cd-apps/overlays/rd-production/multi-platform-controller/multi-platform-controller-appset.yaml
Due: none

Update from release-service
  components/konflux-ui/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(RELEASE-2696): add release ns to stage CSS
  components/cluster-secret-store/staging/konflux-release-service-namespaces-patch.yaml
  components/cluster-secret-store/staging/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-0-konflux-operator): promote konflux-operator
  components/konflux-operator/rings/ring-0/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

Disable auto-sync for staging-downstream AppSets
  argo-cd-apps/overlays/staging-downstream/disable-auto-sync.yaml
  argo-cd-apps/overlays/staging-downstream/kustomization.yaml
Due: none

(onboarding) Remove staging etcd-defrag apps from AppSRE ArgoCD
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
Due: none

feat: add git resolver auth
  components/konflux-verifications-rd/base/git-credentials-external-secret.yaml
  components/konflux-verifications-rd/base/kustomization.yaml
  components/konflux-verifications-rd/rings/ring-1/base/base-snapshot/git-credentials-external-secret.yaml
  components/konflux-verifications-rd/rings/ring-1/base/base-snapshot/kustomization.yaml
Due: rhtap-staging-e2e

feat: add git-credentials ExternalSecret for konflux-conformance-tests
  components/cluster-secret-store/staging/konflux-verifications-rd-namespaces-patch.yaml
  components/konflux-verifications-rd/base/git-credentials-external-secret.yaml
  components/konflux-verifications-rd/base/kustomization.yaml
  components/konflux-verifications-rd/rings/ring-1/base/base-snapshot/git-credentials-external-secret.yaml
  components/konflux-verifications-rd/rings/ring-1/base/base-snapshot/kustomization.yaml
Due: rhtap-staging-e2e

chore: bump konflux-ui (production) e5f64507ddce => 49d821907ec7 (#13693)
  components/konflux-ui/production/base/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/build-service/development/kustomization.yaml
  components/build-service/staging/base/kustomization.yaml
Due: build-service-prod-overlay-update, rhtap-staging-e2e

chore(KFLUXVNGD-1158): federate squid_up from container-image-proxy namespace in staging
  components/monitoring/prometheus/staging/base/federation/endpoints-params.yaml
Due: rhtap-staging-e2e

Disable auto-sync for staging-downstream AppSets (#13697)
  argo-cd-apps/overlays/staging-downstream/disable-auto-sync.yaml
  argo-cd-apps/overlays/staging-downstream/kustomization.yaml
Due: none

feat: bump repository validator
  components/repository-validator/staging/kustomization.yaml
Due: rhtap-staging-e2e
