Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

KFLUXVNGD-1360 trust both proxy CAs in Ring 4
  components/container-image-proxy/rings/ring-4/base/caching-helm-generator.yaml
  components/squid/production/kflux-prd-rh02/kustomization.yaml
Due: rhtap-staging-e2e

etcd-shield: pull metrics certs from cert-manager (ring 0)
  components/etcd-shield/base/metrics/certificate.yaml
  components/etcd-shield/base/metrics/issuer.yaml
  components/etcd-shield/base/metrics/kustomization.yaml
  components/etcd-shield/base/metrics/monitor.yaml
  components/etcd-shield/base/service.yaml
  components/etcd-shield/rings/ring-0/base/base-snapshot/metrics/certificate.yaml
  components/etcd-shield/rings/ring-0/base/base-snapshot/metrics/issuer.yaml
  components/etcd-shield/rings/ring-0/base/base-snapshot/metrics/kustomization.yaml
  components/etcd-shield/rings/ring-0/base/base-snapshot/metrics/monitor.yaml
  components/etcd-shield/rings/ring-0/base/base-snapshot/service.yaml
Due: rhtap-staging-e2e

KFLUXVNGD-1360 trust both proxy CAs in Ring 4 (#14608)
  components/container-image-proxy/rings/ring-4/base/caching-helm-generator.yaml
  components/squid/production/kflux-prd-rh02/kustomization.yaml
Due: rhtap-staging-e2e

Missing kustomize resources for specific clusters
  components/pvsec/rings/ring-1/stone-stage-p01/kustomization.yaml
  components/pvsec/rings/ring-1/stone-stg-rh01/kustomization.yaml
Due: none

Missing kustomize resources for specific clusters (#14609)
  components/pvsec/rings/ring-1/stone-stage-p01/kustomization.yaml
  components/pvsec/rings/ring-1/stone-stg-rh01/kustomization.yaml
Due: none

KFLUXINFRA-4661 policies: split buildah ROKS seccomp mutation into two rules
  components/policies/rings/ring-1/lightwell-dev/buildah-roks-seccomp-cp.yaml
  components/policies/rings/ring-2/kflux-lw-p01/buildah-roks/buildah-roks-seccomp-and-caps-cp.yaml
Due: none

KFLUXINFRA-4661 policies: split buildah ROKS seccomp mutation into two rules (#14610)
  components/policies/rings/ring-1/lightwell-dev/buildah-roks-seccomp-cp.yaml
  components/policies/rings/ring-2/kflux-lw-p01/buildah-roks/buildah-roks-seccomp-and-caps-cp.yaml
Due: none

Reorganize cluster secret store layout
  components/cluster-secret-store/base/appsre-stonesoup-vault-secret-store.yaml
  components/cluster-secret-store/base/appsre-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-1/base/base-snapshot/appsre-stonesoup-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-1/base/base-snapshot/appsre-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-1/base/kustomization.yaml
  components/cluster-secret-store/rings/ring-1/base/patches/appsre-vault-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-1/base/patches/konflux-release-service-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-1/base/patches/konflux-verifications-rd-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-1/base/patches/stonesoup-vault-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-2/base/base-snapshot/appsre-stonesoup-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-2/base/base-snapshot/appsre-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-2/base/kustomization.yaml
  components/cluster-secret-store/rings/ring-2/base/patches/appsre-vault-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-2/base/patches/observability-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-2/base/patches/perfscale-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-2/base/patches/stonesoup-vault-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-3/base/base-snapshot/appsre-stonesoup-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-3/base/base-snapshot/appsre-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-3/base/kustomization.yaml
  components/cluster-secret-store/rings/ring-3/base/patches/appsre-vault-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-3/base/patches/observability-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-3/base/patches/perfscale-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-3/base/patches/stonesoup-vault-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-4/base/base-snapshot/appsre-stonesoup-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-4/base/base-snapshot/appsre-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-4/base/kustomization.yaml
  components/cluster-secret-store/rings/ring-4/base/patches/appsre-vault-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-4/base/patches/observability-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-4/base/patches/perfscale-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-4/base/patches/stonesoup-namespaces-patch.yaml
Due: rhtap-staging-e2e

chore(ring-0-smee-client): promote smee-client to ring-0
  components/smee-client/rings/ring-0/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-0-konflux-operator): promote konflux-operator to ring-0
  components/konflux-operator/rings/ring-0/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-0-project-controller): promote project-controller to ring-0
  components/project-controller/rings/ring-0/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-1-project-controller): promote project-controller to ring-1
  components/project-controller/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

fix securityContext double entry
  components/kubearchive/production/kflux-prd-rh02/kustomization.yaml
Due: none

chore(ring-1-notification-controller): promote notification-controller to ring-1
  components/notification-controller/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-1-external-secrets-operator): promote external-secrets-operator to ring-1
  components/external-secrets-operator/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

test cert-manager/ingress configuration on dev
  components/kubearchive/development/kubearchive-ingress.yaml
  components/kubearchive/development/kustomization.yaml
Due: none

Update from release-service
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

chore(ring-0-crossplane-control-plane): promote crossplane-control-plane to ring-0
  components/crossplane-control-plane/rings/ring-0/base/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

KFLUXINFRA-4301 policies: normalize ring-1 kueue base references
  components/policies/rings/ring-1/base/kustomization.yaml
  components/policies/rings/ring-1/lightwell-dev/kustomization.yaml
  components/policies/rings/ring-1/stone-stage-p01/kueue-config/kustomization.yaml
  components/policies/rings/ring-1/stone-stage-p01/kustomization.yaml
  components/policies/rings/ring-1/stone-stg-rh01/kueue-config/kustomization.yaml
  components/policies/rings/ring-1/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

fix(KAR-964): Liveness/Readiness Probe Timeouts ring2(1) (#14524)
  components/kubearchive/production/kflux-ocp-p01/kustomization.yaml
  components/kubearchive/production/kflux-prd-rh03/kustomization.yaml
  components/kubearchive/production/kflux-rhel-p01/kustomization.yaml
Due: none

fix(KAR-964): Liveness/Readiness Probe Timeouts ring 4 (#14530)
  components/kubearchive/production/kflux-prd-rh02/kustomization.yaml
Due: none

chore(ring-1-crossplane-control-plane): promote crossplane-control-plane to ring-1
  components/crossplane-control-plane/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4638 Promote GPU host SSH gating to ring-3 (#14589)
  components/multi-platform-controller/rings/ring-3/base/host-config-chart/files/linux-g64xlarge-amd64-init.sh
Due: rhtap-staging-e2e

change KubeArchive Logging approvers list
  components/vector-kubearchive-log-collector/OWNERS
Due: none

change KubeArchive approvers list
  components/kubearchive/OWNERS
Due: none

Update from release-service
  components/image-rbac-proxy/development/kustomization.yaml
  components/image-rbac-proxy/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4301 policies: normalize ring-1 kueue base references (#14622)
  components/policies/rings/ring-1/base/kustomization.yaml
  components/policies/rings/ring-1/lightwell-dev/kustomization.yaml
  components/policies/rings/ring-1/stone-stage-p01/kueue-config/kustomization.yaml
  components/policies/rings/ring-1/stone-stage-p01/kustomization.yaml
  components/policies/rings/ring-1/stone-stg-rh01/kueue-config/kustomization.yaml
  components/policies/rings/ring-1/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4479 move kflux-stg-p02 overlays to renamed component dirs
  components/cluster-secret-store/rings/ring-1/kflux-stg-p02/kustomization.yaml
  components/kyverno-rd/rings/ring-1/kflux-stg-p02/kustomization.yaml
  components/kyverno/rings/ring-1/kflux-stg-p02/job_resources.yaml
  components/kyverno/rings/ring-1/kflux-stg-p02/kustomization.yaml
  components/kyverno/rings/ring-1/kflux-stg-p02/kyverno-helm-generator.yaml
  components/kyverno/rings/ring-1/kflux-stg-p02/kyverno-helm-values.yaml
Due: none

eso: use only relevant CIDR blocks in ingress policies (ring 2) (#14374)
  components/external-secrets-operator/rings/ring-2/base/base-snapshot/allow-ingress-np.yaml
  components/external-secrets-operator/rings/ring-2/kflux-fedora-01/ingress-pod-cidr-patch.yaml
  components/external-secrets-operator/rings/ring-2/kflux-fedora-01/kustomization.yaml
  components/external-secrets-operator/rings/ring-2/kflux-lw-p01/ingress-pod-cidr-patch.yaml
  components/external-secrets-operator/rings/ring-2/kflux-lw-p01/kustomization.yaml
  components/external-secrets-operator/rings/ring-2/kflux-ocp-p01/ingress-pod-cidr-patch.yaml
  components/external-secrets-operator/rings/ring-2/kflux-ocp-p01/kustomization.yaml
  components/external-secrets-operator/rings/ring-2/kflux-osp-p01/ingress-pod-cidr-patch.yaml
  components/external-secrets-operator/rings/ring-2/kflux-osp-p01/kustomization.yaml
  components/external-secrets-operator/rings/ring-2/kflux-prd-es01/ingress-pod-cidr-patch.yaml
  components/external-secrets-operator/rings/ring-2/kflux-prd-es01/kustomization.yaml
  components/external-secrets-operator/rings/ring-2/kflux-prd-rh03/ingress-pod-cidr-patch.yaml
  components/external-secrets-operator/rings/ring-2/kflux-prd-rh03/kustomization.yaml
  components/external-secrets-operator/rings/ring-2/kflux-rhel-p01/ingress-pod-cidr-patch.yaml
  components/external-secrets-operator/rings/ring-2/kflux-rhel-p01/kustomization.yaml
  components/external-secrets-operator/rings/ring-2/stone-prod-p01/ingress-pod-cidr-patch.yaml
  components/external-secrets-operator/rings/ring-2/stone-prod-p01/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4479 move kflux-stg-p02 overlays to renamed component dirs (#14637)
  components/cluster-secret-store/rings/ring-1/kflux-stg-p02/kustomization.yaml
  components/kyverno-rd/rings/ring-1/kflux-stg-p02/kustomization.yaml
  components/kyverno/rings/ring-1/kflux-stg-p02/job_resources.yaml
  components/kyverno/rings/ring-1/kflux-stg-p02/kustomization.yaml
  components/kyverno/rings/ring-1/kflux-stg-p02/kyverno-helm-generator.yaml
  components/kyverno/rings/ring-1/kflux-stg-p02/kyverno-helm-values.yaml
Due: none

Respond to fullsend comments
  components/cluster-secret-store/base/appsre-stonesoup-vault-secret-store.yaml
  components/cluster-secret-store/base/appsre-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-1/base/base-snapshot/appsre-stonesoup-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-1/base/base-snapshot/appsre-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-1/base/patches/appsre-vault-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-2/base/base-snapshot/appsre-stonesoup-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-2/base/base-snapshot/appsre-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-2/base/patches/appsre-vault-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-3/base/base-snapshot/appsre-stonesoup-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-3/base/base-snapshot/appsre-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-3/base/patches/appsre-vault-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-4/base/base-snapshot/appsre-stonesoup-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-4/base/base-snapshot/appsre-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-4/base/kustomization.yaml
  components/cluster-secret-store/rings/ring-4/base/patches/appsre-vault-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-4/base/patches/stonesoup-vault-namespaces-patch.yaml
Due: rhtap-staging-e2e

Reorganize cluster-secret-store component layout (#14614)
  components/cluster-secret-store/base/appsre-stonesoup-vault-secret-store.yaml
  components/cluster-secret-store/base/appsre-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-1/base/base-snapshot/appsre-stonesoup-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-1/base/base-snapshot/appsre-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-1/base/kustomization.yaml
  components/cluster-secret-store/rings/ring-1/base/patches/appsre-vault-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-1/base/patches/konflux-release-service-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-1/base/patches/konflux-verifications-rd-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-1/base/patches/stonesoup-vault-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-2/base/base-snapshot/appsre-stonesoup-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-2/base/base-snapshot/appsre-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-2/base/kustomization.yaml
  components/cluster-secret-store/rings/ring-2/base/patches/appsre-vault-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-2/base/patches/observability-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-2/base/patches/perfscale-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-2/base/patches/stonesoup-vault-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-3/base/base-snapshot/appsre-stonesoup-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-3/base/base-snapshot/appsre-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-3/base/kustomization.yaml
  components/cluster-secret-store/rings/ring-3/base/patches/appsre-vault-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-3/base/patches/observability-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-3/base/patches/perfscale-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-3/base/patches/stonesoup-vault-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-4/base/base-snapshot/appsre-stonesoup-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-4/base/base-snapshot/appsre-vault-secret-store.yaml
  components/cluster-secret-store/rings/ring-4/base/kustomization.yaml
  components/cluster-secret-store/rings/ring-4/base/patches/appsre-vault-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-4/base/patches/observability-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-4/base/patches/perfscale-namespaces-patch.yaml
  components/cluster-secret-store/rings/ring-4/base/patches/stonesoup-vault-namespaces-patch.yaml
Due: rhtap-staging-e2e

SPRE-6961 Add banner to staging clusters for SPRE-6961
  components/konflux-operator/rings/ring-1/kflux-stg-p02/konflux-info/info-patch.yaml
  components/konflux-operator/rings/ring-1/stone-stage-p01/konflux-info/info-patch.yaml
Due: none

KFLUXVNGD-1360 retain Ring 4 caching CA bundle
  components/squid/production/kflux-prd-rh02/kustomization.yaml
Due: none

PVO11Y-5492: VIctoriMetrics PoC (#14565)
  components/monitoring/grafana/staging/stone-stg-rh01/kustomization.yaml
  components/monitoring/grafana/staging/stone-stg-rh01/vm-poc-datasource.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/kustomization.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/alloy/alloy-config.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/alloy/alloy-networkpolicy.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/README.md
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/kustomization.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/namespace.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/networkpolicy.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/operator-helm-generator.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/operator-values.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/rbac.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/scrape-networkpolicies.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/tekton-networkpolicy.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/tekton-scrapes.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/vmagent.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/vmalert.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/vmcluster.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/vmrule.yaml
Due: rhtap-staging-e2e

chore(KONFLUX-15689): remove knative-eventing from production ring-3
  argo-cd-apps/base/member/infra-deployments/knative-eventing/knative-eventing.yaml
  components/knative-eventing/production/stone-prd-rh01/kustomization.yaml
  components/knative-eventing/production/stone-prod-p02/kustomization.yaml
Due: none
