Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

KFLUXINFRA-2236 - continued work from Manish's PR. Applying fixes, round V.
  tests/disaster-recovery/const.go
  tests/disaster-recovery/disaster_recovery.go
  tests/go.mod
Due: none

KFLUXINFRA-2236 Use Tekton Chains public key for EC verification
  tests/disaster-recovery/backup_infra.go
  tests/disaster-recovery/const.go
Due: none

KFLUXINFRA-2236 - apply temporary allowance of PLRs number overshoot after DR until integration service fixes their bug
  tests/disaster-recovery/tenant_application_lifecycle.go
Due: none

KFLUXSE-404 Fix segment-bridge telemetry on konflux-operator ring-1
  components/konflux-operator/rings/ring-1/base/cr/telemetry/telemetry.yaml
Due: rhtap-staging-e2e

KFLUXSPRT-8608 Bump repository-validator staging config ref
  components/repository-validator/staging/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-0-konflux-operator): promote konflux-operator
  components/konflux-operator/rings/ring-0/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXSPRT-8608 Bump repository-validator staging config ref (#13334)
  components/repository-validator/staging/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5365 Update production pipeline-service dashboard to use Tekton Prometheus datasource (#13194)
  components/monitoring/grafana/production/dashboards/pipeline-service/grafana-config.yaml
Due: none

KFLUXSPRT-8608 Bump repository-validator production config ref
  components/repository-validator/production/kustomization.yaml
Due: none

chore(ring-1): promote konflux-operator to ring-1
  components/konflux-operator/rings/ring-1/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/konflux-ui/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXSE-404 Fix segment-bridge telemetry on konflux-operator ring-1 (#13335)
  components/konflux-operator/rings/ring-1/base/cr/telemetry/telemetry.yaml
Due: rhtap-staging-e2e

PVO11Y-5365 Drop tekton controller metrics from Platform Prometheus in production (#13195)
  components/monitoring/prometheus/production/tekton-ms/kustomization.yaml
  components/monitoring/prometheus/production/tekton-ms/openshift-pipelines-monitor-drop-tekton-controller.yaml
Due: none

KFLUXSPRT-8608 Bump repository-validator production config ref (#13337)
  components/repository-validator/production/kustomization.yaml
Due: none

CI fix: remove ServerSideApply and normalize step timeouts to canonical Go duration format
  argo-cd-apps/base/member/infra-deployments/disaster-recovery/disaster-recovery.yaml
  components/disaster-recovery/development/kustomization.yaml
  components/disaster-recovery/development/pipeline.yaml
  components/disaster-recovery/development/rbac.yaml
  components/disaster-recovery/development/triggertemplate.yaml
  components/disaster-recovery/staging/base/cronjob.yaml
  components/disaster-recovery/staging/base/event_listener.yaml
  components/disaster-recovery/staging/base/kustomization.yaml
  components/disaster-recovery/staging/base/localqueue.yaml
  components/disaster-recovery/staging/base/networkpolicy_allow_el_from_ns.yaml
  components/disaster-recovery/staging/base/rbac-pipeline.yaml
  components/disaster-recovery/staging/base/rbac-triggers.yaml
  components/disaster-recovery/staging/base/triggerbinding.yaml
  components/disaster-recovery/staging/base/triggertemplate.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/notification-controller/development/kustomization.yaml
  components/notification-controller/staging/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/project-controller/development/kustomization.yaml
  components/project-controller/staging/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/smee-client/staging/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Update from release-service
  components/squid/development/caching-helm-generator.yaml
  components/squid/staging/caching-helm-generator.yaml
Due: rhtap-staging-e2e

CI fix: remove ServerSideApply and normalize step timeouts to canonical Go duration format (#13186)
  argo-cd-apps/base/member/infra-deployments/disaster-recovery/disaster-recovery.yaml
  components/disaster-recovery/development/kustomization.yaml
  components/disaster-recovery/development/pipeline.yaml
  components/disaster-recovery/development/rbac.yaml
  components/disaster-recovery/development/triggertemplate.yaml
  components/disaster-recovery/staging/base/cronjob.yaml
  components/disaster-recovery/staging/base/event_listener.yaml
  components/disaster-recovery/staging/base/kustomization.yaml
  components/disaster-recovery/staging/base/localqueue.yaml
  components/disaster-recovery/staging/base/networkpolicy_allow_el_from_ns.yaml
  components/disaster-recovery/staging/base/rbac-pipeline.yaml
  components/disaster-recovery/staging/base/rbac-triggers.yaml
  components/disaster-recovery/staging/base/triggerbinding.yaml
  components/disaster-recovery/staging/base/triggertemplate.yaml
Due: rhtap-staging-e2e

PVO11Y-5384 Enable delivery tracing in staging (#13238)
  components/integration/staging/base/manager_resources_patch.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stage-p01/resources/update-tekton-config-pac.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
  components/release/staging/controller-manager-otel-env-patch.yaml
  components/release/staging/kustomization.yaml
Due: rhtap-staging-e2e

feat(PVO11Y-5332): Forward Konflux Tenant-level Capacity metrics
  components/monitoring/prometheus/staging/base/federation/endpoints-params.yaml
  components/monitoring/prometheus/staging/base/federation/prometheusrule-uwm.yaml
Due: rhtap-staging-e2e

Vendor pulp-access-controller manifests instead of referencing external repo
  components/pulp-access-controller/production/combined.yaml
  components/pulp-access-controller/production/kustomization.yaml
  components/pulp-access-controller/staging/combined.yaml
  components/pulp-access-controller/staging/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/image-rbac-proxy/development/kustomization.yaml
  components/image-rbac-proxy/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Account for multiple ResourceQuotas
  components/monitoring/prometheus/staging/base/federation/prometheusrule-uwm.yaml
Due: rhtap-staging-e2e

fix(PVO11Y-5400): fix boostrap and gapfill logic for high volume tenants
  components/monitoring/exporters/kaexporter/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Use stricter selector to only get real workload containers
  components/monitoring/prometheus/staging/base/federation/prometheusrule-uwm.yaml
Due: rhtap-staging-e2e

chore: update image-rbac-proxy owners
  components/image-rbac-proxy/OWNERS
Due: none

chore: remove hongweiliu17 from integration owners
  components/integration/OWNERS
Due: none

Re-include selector for tenant namespaces
  components/monitoring/prometheus/staging/base/federation/prometheusrule-uwm.yaml
Due: rhtap-staging-e2e

fix(PVO11Y-5400): fix boostrap and gapfill logic for high volume tenants (#13350)
  components/monitoring/exporters/kaexporter/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

fix(PVO11Y-5400): fix boostrap and gapfill logic for high volume tenants for production
  components/monitoring/exporters/kaexporter/production/base/kustomization.yaml
Due: rhtap-staging-e2e

Optimize resource selector and escape the dot
  components/monitoring/prometheus/staging/base/federation/prometheusrule-uwm.yaml
Due: rhtap-staging-e2e

chore: remove hongweiliu17 from integration owners (#13352)
  components/integration/OWNERS
Due: none

Do not sum ResourceQuota used
  components/monitoring/prometheus/staging/base/federation/prometheusrule-uwm.yaml
Due: rhtap-staging-e2e
