Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

Fix grafana connection to loki (#7590)
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/grafana-helm-values.yaml
Due: rhtap-staging-e2e

Manual mintmaker update
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

KFLUXINFRA-2067: Push Kueue metrics to RHOBS (#7563)
  components/monitoring/prometheus/production/base/monitoringstack/endpoints-params.yaml
  components/monitoring/prometheus/production/base/monitoringstack/writeRelabelConfigs.yaml
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
  components/monitoring/prometheus/staging/base/monitoringstack/writeRelabelConfigs.yaml
Due: rhtap-staging-e2e

Add kubearchive-logging to staging
  components/kubearchive/staging/base/external-secret.yaml
  components/kubearchive/staging/base/kustomization.yaml
  components/kubearchive/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

Remove member operator subscription on es-01 (#7542)
  components/sandbox/toolchain-member-operator/staging/kflux-stg-es01/kustomization.yaml
Due: rhtap-staging-e2e

Add kubearchive-logging to staging (#7599)
  components/kubearchive/staging/base/external-secret.yaml
  components/kubearchive/staging/base/kustomization.yaml
  components/kubearchive/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

Make argo ignore the secret updates
  components/kubearchive/staging/base/external-secret.yaml
Due: rhtap-staging-e2e

Get rid of toolchain member operator on staging
  components/sandbox/toolchain-member-operator/staging/base/kustomization.yaml
  components/sandbox/toolchain-member-operator/staging/base/ns.yaml
  components/sandbox/toolchain-member-operator/staging/base/patch_resources.yaml
  components/sandbox/toolchain-member-operator/staging/kflux-stg-es01/kustomization.yaml
  components/sandbox/toolchain-member-operator/staging/stone-stage-p01/kustomization.yaml
  components/sandbox/toolchain-member-operator/staging/stone-stg-rh01/kustomization.yaml
  components/sandbox/toolchain-member-operator/staging/stone-stg-rh01/ns.yaml
Due: rhtap-staging-e2e

gpu instances: make /var/run/cdi world-writable
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
Due: none

Make argo ignore the secret updates (#7601)
  components/kubearchive/staging/base/external-secret.yaml
Due: rhtap-staging-e2e

Get rid of toolchain member operator on staging (#7602)
  components/sandbox/toolchain-member-operator/staging/base/kustomization.yaml
  components/sandbox/toolchain-member-operator/staging/base/ns.yaml
  components/sandbox/toolchain-member-operator/staging/base/patch_resources.yaml
  components/sandbox/toolchain-member-operator/staging/kflux-stg-es01/kustomization.yaml
  components/sandbox/toolchain-member-operator/staging/stone-stage-p01/kustomization.yaml
  components/sandbox/toolchain-member-operator/staging/stone-stg-rh01/kustomization.yaml
  components/sandbox/toolchain-member-operator/staging/stone-stg-rh01/ns.yaml
Due: rhtap-staging-e2e

add ClusterPolicy to deny reserved virtual domain
  components/policies/development/namespace-lister/deny-virtual-domain/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/policies/development/namespace-lister/deny-virtual-domain/.chainsaw-test/chainsaw-test.yaml
  components/policies/development/namespace-lister/deny-virtual-domain/.chainsaw-test/resources/namespace-no-labels.yaml
  components/policies/development/namespace-lister/deny-virtual-domain/.chainsaw-test/resources/namespace-with-virtual-annotation.yaml
  components/policies/development/namespace-lister/deny-virtual-domain/.chainsaw-test/resources/namespace-with-virtual-label.yaml
  components/policies/development/namespace-lister/deny-virtual-domain/.chainsaw-test/resources/tenant-namespace-with-virtual-annotation.yaml
  components/policies/development/namespace-lister/deny-virtual-domain/.chainsaw-test/resources/tenant-namespace-with-virtual-label.yaml
  components/policies/development/namespace-lister/deny-virtual-domain/.chainsaw-test/resources/tenant-namespace.yaml
  components/policies/development/namespace-lister/deny-virtual-domain/deny-virtual-domain.yaml
  components/policies/development/namespace-lister/deny-virtual-domain/kustomization.yaml
  components/policies/development/namespace-lister/kustomization.yaml
  components/policies/staging/base/kustomization.yaml
  components/policies/staging/base/namespace-lister/kustomization.yaml
Due: rhtap-staging-e2e

Enable konflux-admins to manage OCP projects
  components/authentication/base/konflux-admins.yaml
Due: rhtap-staging-e2e

Add shumathu as reviewer to pipeline-service OWNERS
  components/pipeline-service/OWNERS
Due: none

Enable konflux-admins to manage OCP projects (#7606)
  components/authentication/base/konflux-admins.yaml
Due: rhtap-staging-e2e

give konflux admins rights on crds and webhooks
  components/authentication/base/konflux-admins.yaml
Due: rhtap-staging-e2e

give konflux admins rights on crds and webhooks (#7608)
  components/authentication/base/konflux-admins.yaml
Due: rhtap-staging-e2e

mintmaker: enable profiling in staging
  components/mintmaker/staging/base/manager_patch.yaml
Due: rhtap-staging-e2e

Revert "SRVKP-8255: Run one PAC watcher replica (#7472)"
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

Update PAC images in staging
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

Update PAC on staging (#7610)
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

mintmaker: enable profiling in staging (#7609)
  components/mintmaker/staging/base/manager_patch.yaml
Due: rhtap-staging-e2e

mintmaker: Fix YAML type error in mintmaker manager patch
  components/mintmaker/staging/base/manager_patch.yaml
Due: rhtap-staging-e2e

mintmaker: Fix YAML type error in mintmaker manager patch (#7612)
  components/mintmaker/staging/base/manager_patch.yaml
Due: rhtap-staging-e2e

KubeArchive: promote to v1.5.0 production clusters (#7569)
  components/kubearchive/production/kflux-ocp-p01/kustomization.yaml
  components/kubearchive/production/kflux-prd-rh03/kustomization.yaml
  components/kubearchive/production/kflux-rhel-p01/kustomization.yaml
  components/kubearchive/production/stone-prod-p02/kustomization.yaml
Due: none

Update PAC image on rh02 and rh03
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/resources/kustomization.yaml
  components/pipeline-service/production/kflux-prd-rh02/resources/override-pac-images.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/resources/kustomization.yaml
  components/pipeline-service/production/kflux-prd-rh03/resources/override-pac-images.yaml
Due: none

Enable queuing for all pipelineruns on rh02 and rh03
  components/kueue/production/kflux-prd-rh02/kustomization.yaml
  components/kueue/production/kflux-prd-rh03/kustomization.yaml
Due: none

Update PAC image on rh02 and rh03 & Enable queuing for all pipelineruns on rh02 and rh03 (#7615)
  components/kueue/production/kflux-prd-rh02/kustomization.yaml
  components/kueue/production/kflux-prd-rh03/kustomization.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/resources/kustomization.yaml
  components/pipeline-service/production/kflux-prd-rh02/resources/override-pac-images.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/resources/kustomization.yaml
  components/pipeline-service/production/kflux-prd-rh03/resources/override-pac-images.yaml
Due: none

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
