Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

Update from release-service
  components/konflux-ui/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

bind konflux-bot-* SA to allowed ClusterRoles only - ring 1
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/.chainsaw-test/chainsaw-assert-validatingadmissionpolicy.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/.chainsaw-test/chainsaw-test.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/.chainsaw-test/resources/invalid-konflux-bot-role-rolebinding.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/.chainsaw-test/resources/invalid-serviceaccounts-rolebinding.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/.chainsaw-test/resources/tenant-namespace.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/.chainsaw-test/resources/tenant-role.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/.chainsaw-test/resources/valid-konflux-bot-allowed-clusterrole-rolebinding.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/.chainsaw-test/resources/valid-non-konflux-bot-role-rolebinding.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/.chainsaw-test/resources/valid-serviceaccounts-rolebinding.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/kustomization.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/restrict-binding-serviceaccounts-create-validatingadmissionpolicy.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/restrict-binding-serviceaccounts-create-validatingadmissionpolicybinding.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/kustomization.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/.chainsaw-test/chainsaw-assert-validatingadmissionpolicy.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/.chainsaw-test/chainsaw-test.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/.chainsaw-test/resources/invalid-serviceaccounts-rolebinding-with-label.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/.chainsaw-test/resources/invalid-serviceaccounts-rolebinding.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/.chainsaw-test/resources/tenant-namespace.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/.chainsaw-test/resources/valid-konflux-bot-allowed-clusterrole-rolebinding-with-label.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/.chainsaw-test/resources/valid-konflux-bot-allowed-clusterrole-rolebinding.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/.chainsaw-test/resources/valid-serviceaccounts-rolebinding-with-konflux-bot-added.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/.chainsaw-test/resources/valid-serviceaccounts-rolebinding-with-label.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/.chainsaw-test/resources/valid-serviceaccounts-rolebinding.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/kustomization.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/restrict-binding-serviceaccounts-update-validatingadmissionpolicy.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/restrict-binding-serviceaccounts-update-validatingadmissionpolicybinding.yaml
  components/policies/production/kflux-fedora-01/kustomization.yaml
  components/policies/production/kflux-osp-p01/kustomization.yaml
  components/policies/production/stone-prod-p01/kustomization.yaml
Due: rhtap-staging-e2e

bind konflux-bot-* SA to allowed ClusterRoles only - ring 2
  components/policies/production/kflux-ocp-p01/kustomization.yaml
  components/policies/production/kflux-rhel-p01/kustomization.yaml
  components/policies/production/stone-prod-p02/kustomization.yaml
Due: none

bind konflux-bot-* SA to allowed ClusterRoles only - ring 3
  components/policies/production/base/konflux-rbac/kustomization.yaml
  components/policies/production/kflux-fedora-01/kustomization.yaml
  components/policies/production/kflux-ocp-p01/kustomization.yaml
  components/policies/production/kflux-osp-p01/kustomization.yaml
  components/policies/production/kflux-rhel-p01/kustomization.yaml
  components/policies/production/stone-prod-p01/kustomization.yaml
  components/policies/production/stone-prod-p02/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5358 - upgrade OTel Collector image to 0.156.0
  components/monitoring/tracing/otel-collector/development/otel-collector-helm-values.yaml
  components/monitoring/tracing/otel-collector/staging/otel-collector-helm-values.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/external-secrets-operator/staging/kustomization.yaml
Due: rhtap-staging-e2e

Create ring-1 clusters for pipeline-service
  components/pipeline-service-rd/rings/ring-1/stone-stage-p01/deploy.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stage-p01/kustomization.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stage-p01/patches/pipelines-as-code-es-key-patch.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stage-p01/patches/tekton-chains-public-key-es-key-patch.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stage-p01/patches/tekton-chains-signing-es-key-patch.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stage-p01/patches/tekton-results-db-es-key-patch.yaml.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stage-p01/patches/tekton-results-s3-es-key-patch.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stage-p01/patches/update-tekton-cfg-settings-patch.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stg-rh01/deploy.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stg-rh01/kustomization.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stg-rh01/patches/add-tekton-pipelines-controller.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stg-rh01/patches/pipelines-as-code-es-key-patch.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stg-rh01/patches/tekton-chains-public-key-es-key-patch.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stg-rh01/patches/tekton-chains-signing-es-key-patch.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stg-rh01/patches/tekton-results-db-es-key-patch.yaml.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stg-rh01/patches/tekton-results-s3-es-key-patch.yaml
Due: none

Move SLSA v1.0 Chains config to staging base (#13142)
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/resources/kustomization.yaml
  components/pipeline-service/staging/stone-stage-p01/resources/tekton-chains-slsa-v1.yaml
  components/pipeline-service/staging/stone-stg-rh01/resources/kustomization.yaml
  components/pipeline-service/staging/stone-stg-rh01/resources/tekton-chains-slsa-v1.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/monitoring/grafana/development/dashboards/release/kustomization.yaml
  components/release/development/kustomization.yaml
Due: none

feat(): add supplementary RBAC and resources to ring-0 konflux-operator deployment
  components/konflux-operator/rings/ring-0/base/cr/build/kustomization.yaml
  components/konflux-operator/rings/ring-0/base/cr/build/rbac/build-admin.yaml
  components/konflux-operator/rings/ring-0/base/cr/build/rbac/build-maintainer.yaml
  components/konflux-operator/rings/ring-0/base/cr/build/rbac/kustomization.yaml
  components/konflux-operator/rings/ring-0/base/cr/build/rbac/view-konflux-integration-runner.yaml
  components/konflux-operator/rings/ring-0/base/cr/image-controller/kustomization.yaml
  components/konflux-operator/rings/ring-0/base/cr/image-controller/rbac/image-controller-admin.yaml
  components/konflux-operator/rings/ring-0/base/cr/image-controller/rbac/image-controller-maintainer.yaml
  components/konflux-operator/rings/ring-0/base/cr/image-controller/rbac/kustomization.yaml
  components/konflux-operator/rings/ring-0/base/cr/integration/kustomization.yaml
  components/konflux-operator/rings/ring-0/base/cr/integration/rbac/delete-snapshots.yaml
  components/konflux-operator/rings/ring-0/base/cr/integration/rbac/integration-service-maintainers.yaml
  components/konflux-operator/rings/ring-0/base/cr/integration/rbac/kustomization.yaml
  components/konflux-operator/rings/ring-0/base/cr/integration/rbac/manage-integrationtestscenarios.yaml
  components/konflux-operator/rings/ring-0/base/cr/integration/rbac/manage-resolutionrequests.yaml
  components/konflux-operator/rings/ring-0/base/cr/integration/rbac/modify-pipelineruns-taskruns.yaml
  components/konflux-operator/rings/ring-0/base/cr/release/cronjobs/kustomization.yaml
  components/konflux-operator/rings/ring-0/base/cr/release/cronjobs/remove-internal-requests.yaml
  components/konflux-operator/rings/ring-0/base/cr/release/e2e-release-pipeline-resources-role.yaml
  components/konflux-operator/rings/ring-0/base/cr/release/ibm-public-key-clusterrole.yaml
  components/konflux-operator/rings/ring-0/base/cr/release/kustomization.yaml
  components/konflux-operator/rings/ring-0/base/cr/release/monitor-pipeline-role.yaml
  components/konflux-operator/rings/ring-0/base/cr/release/release-service-configurator-role.yaml
  components/konflux-operator/rings/ring-0/base/cr/release/release-team.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/notification-controller/development/kustomization.yaml
  components/notification-controller/staging/kustomization.yaml
Due: rhtap-staging-e2e

Add ibm-public-key secret access to release pipeline ClusterRole (#12519)
  components/release/production/ibm-public-key-patch.yaml
  components/release/production/kustomization.yaml
Due: none

Promote release-service and grafana-dashboard from staging to production
  components/monitoring/grafana/production/dashboards/release/kustomization.yaml
  components/release/production/kustomization.yaml
Due: none

KFLUXINFRA-2236 - amend a part of Vlad's PR that's holding back this debug process
  components/disaster-recovery/development/triggerbinding.yaml
Due: none

Update from release-service
  components/smee-client/staging/kustomization.yaml
Due: rhtap-staging-e2e

Promote release-service and grafana-dashboard from staging to production (#13179)
  components/monitoring/grafana/production/dashboards/release/kustomization.yaml
  components/release/production/kustomization.yaml
Due: none

Document the manual production ring-rollout mechanism as a skill
  skills/pr-workflow.md
  skills/production-ring-rollout.md
Due: none

Update from release-service
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Update from release-service
  components/build-service/development/kustomization.yaml
  components/build-service/staging/base/kustomization.yaml
Due: build-service-prod-overlay-update, rhtap-staging-e2e

Delete etcd-shield apps from staging overlays
  argo-cd-apps/base/member/infra-deployments/etcd-shield/etcd-shield.yaml
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
Due: none

Update from release-service
  components/image-controller/development/kustomization.yaml
  components/image-controller/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Delete etcd-shield apps from staging overlays (#13170)
  argo-cd-apps/base/member/infra-deployments/etcd-shield/etcd-shield.yaml
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
Due: none

Update pipelines index to build 854 in dev/staging
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

Update pipelines index to build 854 in dev/staging (#13173)
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/multi-platform-controller/base/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/squid/development/caching-helm-generator.yaml
  components/squid/staging/caching-helm-generator.yaml
Due: rhtap-staging-e2e

chore(ring-0-konflux-operator): promote konflux-operator
  components/konflux-operator/rings/ring-0/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

add gitlab token secret
  components/konflux-ci/production/kflux-prd-rh03/e2e-tests-gitlab-token.yaml
  components/konflux-ci/production/kflux-prd-rh03/kustomization.yaml
Due: none

Update from release-service
  components/internal-services/development/kustomization.yaml
Due: none

bind konflux-bot-* SA to allowed ClusterRoles only - ring 1 (#13165)
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/.chainsaw-test/chainsaw-assert-validatingadmissionpolicy.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/.chainsaw-test/chainsaw-test.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/.chainsaw-test/resources/invalid-konflux-bot-role-rolebinding.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/.chainsaw-test/resources/invalid-serviceaccounts-rolebinding.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/.chainsaw-test/resources/tenant-namespace.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/.chainsaw-test/resources/tenant-role.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/.chainsaw-test/resources/valid-konflux-bot-allowed-clusterrole-rolebinding.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/.chainsaw-test/resources/valid-non-konflux-bot-role-rolebinding.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/.chainsaw-test/resources/valid-serviceaccounts-rolebinding.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/kustomization.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/restrict-binding-serviceaccounts-create-validatingadmissionpolicy.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/create/restrict-binding-serviceaccounts-create-validatingadmissionpolicybinding.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/kustomization.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/.chainsaw-test/chainsaw-assert-validatingadmissionpolicy.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/.chainsaw-test/chainsaw-test.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/.chainsaw-test/resources/invalid-serviceaccounts-rolebinding-with-label.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/.chainsaw-test/resources/invalid-serviceaccounts-rolebinding.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/.chainsaw-test/resources/tenant-namespace.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/.chainsaw-test/resources/valid-konflux-bot-allowed-clusterrole-rolebinding-with-label.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/.chainsaw-test/resources/valid-konflux-bot-allowed-clusterrole-rolebinding.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/.chainsaw-test/resources/valid-serviceaccounts-rolebinding-with-konflux-bot-added.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/.chainsaw-test/resources/valid-serviceaccounts-rolebinding-with-label.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/.chainsaw-test/resources/valid-serviceaccounts-rolebinding.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/kustomization.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/restrict-binding-serviceaccounts-update-validatingadmissionpolicy.yaml
  components/policies/production/base/konflux-rbac/restrict-binding-serviceaccounts/update/restrict-binding-serviceaccounts-update-validatingadmissionpolicybinding.yaml
  components/policies/production/kflux-fedora-01/kustomization.yaml
  components/policies/production/kflux-osp-p01/kustomization.yaml
  components/policies/production/stone-prod-p01/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5365 Add Tekton Prometheus Grafana datasource to production (ring 1)
  argo-cd-apps/base/all-clusters/infra-deployments/monitoring-workload-grafana/monitoring-workload-grafana.yaml
  components/monitoring/grafana/production/kflux-prd-rh02/kustomization.yaml
  components/monitoring/grafana/production/stone-prod-p01/kustomization.yaml
  components/monitoring/grafana/production/tekton-ms-datasource/kustomization.yaml
  components/monitoring/grafana/production/tekton-ms-datasource/tekton-ms-datasource.yaml
Due: none
