Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

fix(KONFLUX-14215): update otel collector to 0.153.0 on dev
  components/kubearchive/production/kflux-fedora-01/kustomization.yaml
  components/kubearchive/production/kflux-ocp-p01/kustomization.yaml
  components/kubearchive/production/kflux-osp-p01/kustomization.yaml
  components/kubearchive/production/kflux-prd-rh02/kustomization.yaml
  components/kubearchive/production/kflux-prd-rh03/kustomization.yaml
  components/kubearchive/production/kflux-rhel-p01/kustomization.yaml
  components/kubearchive/production/stone-prd-rh01/kustomization.yaml
  components/kubearchive/production/stone-prod-p01/kustomization.yaml
  components/kubearchive/production/stone-prod-p02/kustomization.yaml
Due: none

Update from release-service
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Update from release-service
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

fix(KONFLUX-14215): update otel collector to 0.153.0 on staging (#12048)
  components/kubearchive/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

increase nslister memory in stg-rh01
  components/namespace-lister/staging/stone-stg-rh01/patches/deployment_resources.yaml
Due: rhtap-staging-e2e

UI proxy: migrate ring 2 clusters and remove base-ring2 (production ring 2)
  components/konflux-ui/production/base-ring2/dex/dex.yaml
  components/konflux-ui/production/base-ring2/dex/kustomization.yaml
  components/konflux-ui/production/base-ring2/kustomization.yaml
  components/konflux-ui/production/base-ring2/proxy/auth.conf
  components/konflux-ui/production/base-ring2/proxy/kite.conf
  components/konflux-ui/production/base-ring2/proxy/kubearchive.conf
  components/konflux-ui/production/base-ring2/proxy/kustomization.yaml
  components/konflux-ui/production/base-ring2/proxy/nginx.conf
  components/konflux-ui/production/base-ring2/proxy/otel-collector-config.yaml
  components/konflux-ui/production/base-ring2/proxy/proxy.yaml
  components/konflux-ui/production/base-ring2/proxy/tekton-results-workspaces.conf
  components/konflux-ui/production/base-ring2/proxy/tekton-results.conf
  components/konflux-ui/production/base-ring2/route-and-oauth.yaml
  components/konflux-ui/production/kflux-ocp-p01/kustomization.yaml
  components/konflux-ui/production/kflux-ocp-p01/oauth2-proxy-args-patch.yaml
  components/konflux-ui/production/kflux-ocp-p01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/stone-prd-rh01/kustomization.yaml
  components/konflux-ui/production/stone-prd-rh01/oauth2-proxy-args-patch.yaml
  components/konflux-ui/production/stone-prd-rh01/remove-run-as-user-proxy-patch.yaml
  components/konflux-ui/production/stone-prod-p02/kustomization.yaml
  components/konflux-ui/production/stone-prod-p02/oauth2-proxy-args-patch.yaml
  components/konflux-ui/production/stone-prod-p02/remove-run-as-user-proxy-patch.yaml
Due: none

increase nslister memory in stg-rh01 (#12062)
  components/namespace-lister/staging/stone-stg-rh01/patches/deployment_resources.yaml
Due: rhtap-staging-e2e

KONFLUX-11582_dev_oomkilled_memory_limits
  components/vector-kubearchive-log-collector/development/loki-helm-dev-values.yaml
Due: none

KFLUXVNGD-994 Increase nginx cache volume to 1TB - ring 2
  components/squid/production/kflux-osp-p01/squid-helm-generator.yaml
  components/squid/production/kflux-prd-rh03/squid-helm-generator.yaml
  components/squid/production/stone-prod-p02/squid-helm-generator.yaml
Due: none

fix(KONFLUX-14215): update otel collector to 0.153.0 (#12047)
  components/kubearchive/development/kustomization.yaml
Due: none

KFLUXVNGD-994 Increase nginx cache volume to 1TB - ring 2 (#12061)
  components/squid/production/kflux-osp-p01/squid-helm-generator.yaml
  components/squid/production/kflux-prd-rh03/squid-helm-generator.yaml
  components/squid/production/stone-prod-p02/squid-helm-generator.yaml
Due: none

enable g6xlarge in the OSP cluster
  components/kueue/production/kflux-osp-p01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/base/host-config-chart/files/linux-g6xlarge-amd64-init.sh
  components/multi-platform-controller/base/host-config-chart/templates/host-config.yaml
  components/multi-platform-controller/production-downstream/kflux-osp-p01/host-values.yaml
Due: rhtap-staging-e2e

KFLUXVNGD-994 Increase nginx cache volume to 1TB - ring 3
  components/squid/production/kflux-fedora-01/squid-helm-generator.yaml
  components/squid/production/kflux-rhel-p01/squid-helm-generator.yaml
  components/squid/production/stone-prd-rh01/squid-helm-generator.yaml
Due: none

reduce concurrent g6.4xlarge VMs in OSP cluster
  components/kueue/production/kflux-osp-p01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/production-downstream/kflux-osp-p01/host-values.yaml
Due: none

KFLUXVNGD-994 Increase nginx cache volume to 1TB - ring 3 (#12067)
  components/squid/production/kflux-fedora-01/squid-helm-generator.yaml
  components/squid/production/kflux-rhel-p01/squid-helm-generator.yaml
  components/squid/production/stone-prd-rh01/squid-helm-generator.yaml
Due: none

reduce concurrent g6.4xlarge VMs in OSP cluster (#12068)
  components/kueue/production/kflux-osp-p01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/production-downstream/kflux-osp-p01/host-values.yaml
Due: none

KFLUXVNGD-999 Deploy redirect caching to production - batch 1
  components/squid/production/kflux-ocp-p01/squid-helm-generator.yaml
  components/squid/production/kflux-osp-p01/squid-helm-generator.yaml
  components/squid/production/kflux-prd-rh02/squid-helm-generator.yaml
  components/squid/production/stone-prod-p01/squid-helm-generator.yaml
Due: none

KFLUXVNGD-999 Deploy redirect caching to production - batch 1 (#12069)
  components/squid/production/kflux-ocp-p01/squid-helm-generator.yaml
  components/squid/production/kflux-osp-p01/squid-helm-generator.yaml
  components/squid/production/kflux-prd-rh02/squid-helm-generator.yaml
  components/squid/production/stone-prod-p01/squid-helm-generator.yaml
Due: none

KFLUXVNGD-1000 Deploy redirect caching to production - batch 2
  components/squid/production/kflux-fedora-01/squid-helm-generator.yaml
  components/squid/production/kflux-prd-rh03/squid-helm-generator.yaml
  components/squid/production/kflux-rhel-p01/squid-helm-generator.yaml
  components/squid/production/stone-prd-rh01/squid-helm-generator.yaml
  components/squid/production/stone-prod-p02/squid-helm-generator.yaml
Due: none

KFLUXVNGD-1000 Deploy redirect caching to production - batch 2 (#12070)
  components/squid/production/kflux-fedora-01/squid-helm-generator.yaml
  components/squid/production/kflux-prd-rh03/squid-helm-generator.yaml
  components/squid/production/kflux-rhel-p01/squid-helm-generator.yaml
  components/squid/production/stone-prd-rh01/squid-helm-generator.yaml
  components/squid/production/stone-prod-p02/squid-helm-generator.yaml
Due: none

Update from release-service
  components/image-controller/development/kustomization.yaml
  components/image-controller/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

hack: replace appstudio-utils image w/ task-runner (#12029)
  hack/new-cluster/tasks/variables.yaml
  hack/new-cluster/templates/konflux-ui/configure-oauth-proxy-secret.yaml
Due: none

fix(KONFLUX-11582): ingesters oomkilled - staging configuration fixes
  components/vector-kubearchive-log-collector/staging/stone-stage-p01/loki-helm-stg-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-stg-values.yaml
Due: rhtap-staging-e2e

test(KFLUXVNGD-924): skeleton for e2e tests
  components/konflux-operator/ci/openshift-overlay-e2e/README.md
  components/konflux-operator/ci/openshift-overlay-e2e/ci-common.sh
  components/konflux-operator/ci/openshift-overlay-e2e/install.sh
  components/konflux-operator/ci/openshift-overlay-e2e/run-e2e.sh
  components/konflux-operator/ci/openshift-overlay-e2e/run.sh
Due: none

fix(KONFLUX-14215): update otel collector to 0.153.0 on kflux-fedora-01
  components/kubearchive/production/kflux-fedora-01/kustomization.yaml
Due: none

fix(KONFLUX-14215): update otel collector to 0.153.0 on kflux-ocp-p01
  components/kubearchive/production/kflux-ocp-p01/kustomization.yaml
Due: none

fix(KONFLUX-14215): update otel collector to 0.153.0 on kflux-osp-p01
  components/kubearchive/production/kflux-osp-p01/kustomization.yaml
Due: none

fix(KONFLUX-14215): update otel collector to 0.153.0 on kflux-prd-rh02
  components/kubearchive/production/kflux-prd-rh02/kustomization.yaml
Due: none

fix(KONFLUX-14215): update otel collector to 0.153.0 on kflux-prd-rh03
  components/kubearchive/production/kflux-prd-rh03/kustomization.yaml
Due: none

fix(KONFLUX-14215): update otel collector to 0.153.0 on kflux-rhel-p01
  components/kubearchive/production/kflux-rhel-p01/kustomization.yaml
Due: none

fix(KONFLUX-14215): update otel collector to 0.153.0 on stone-prd-rh01
  components/kubearchive/production/stone-prd-rh01/kustomization.yaml
Due: none

fix(KONFLUX-14215): update otel collector to 0.153.0 on stone-prod-p01
  components/kubearchive/production/stone-prod-p01/kustomization.yaml
Due: none

fix(KONFLUX-14215): update otel collector to 0.153.0 on stone-prod-p02
  components/kubearchive/production/stone-prod-p02/kustomization.yaml
Due: none

fix missing replay_memory_ceiling param
  components/vector-kubearchive-log-collector/development/loki-helm-dev-values.yaml
Due: none

fix(KONFLUX-14215): update otel collector to 0.153.0 on kflux-fedora-01 (#12083)
  components/kubearchive/production/kflux-fedora-01/kustomization.yaml
Due: none

fix(KONFLUX-11582): ingesters oomkilled - staging configuration fixes (#12074)
  components/vector-kubearchive-log-collector/staging/stone-stage-p01/loki-helm-stg-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-stg-values.yaml
Due: rhtap-staging-e2e

fix(KONFLUX-11582): ingesters oomkilled - kflux-ocp-p01 configuration fixes
  components/vector-kubearchive-log-collector/production/kflux-ocp-p01/loki-helm-prod-values.yaml
Due: none

image-rbac-proxy: use task-runner image in stg/dev
  components/image-rbac-proxy/development/kustomization.yaml
  components/image-rbac-proxy/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

feat(KFLUXVNGD-1022): add operator changelog workflow and placeholder comment
  .github/workflows/operator-changelog.yaml
  infra-tools/Makefile
  infra-tools/cmd/changelog-generator/main.go
  infra-tools/internal/github/comments.go
  infra-tools/internal/github/comments_test.go
Due: none

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
