Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

Remove LocalQueue monitoring to fix OOMKilled (3370 resources) (#10938)
  components/monitoring/custom-kube-state-metrics/base/custom-resource-state-config.yaml
  components/monitoring/custom-kube-state-metrics/base/rbac.yaml
Due: rhtap-staging-e2e

kueue: set correct priority to retested PLRs in prod (#10936)
  components/kueue/production/base/tekton-kueue/config.yaml
Due: rhtap-staging-e2e

Add c8xlarge-d160 profiles on rh01, 02 and internal prods (#10924)
  components/kueue/production/kflux-ocp-p01/queue-config/cluster-queue.yaml
  components/kueue/production/kflux-osp-p01/queue-config/cluster-queue.yaml
  components/kueue/production/kflux-prd-rh02/queue-config/cluster-queue.yaml
  components/kueue/production/kflux-rhel-p01/queue-config/cluster-queue.yaml
  components/kueue/production/stone-prd-rh01/queue-config/cluster-queue.yaml
  components/kueue/production/stone-prod-p01/queue-config/cluster-queue.yaml
  components/kueue/production/stone-prod-p02/queue-config/cluster-queue.yaml
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/host-values.yaml
  components/multi-platform-controller/production-downstream/kflux-osp-p01/host-values.yaml
  components/multi-platform-controller/production-downstream/kflux-rhel-p01/host-values.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p01/host-values.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/host-values.yaml
  components/multi-platform-controller/production/kflux-prd-rh02/host-values.yaml
  components/multi-platform-controller/production/stone-prd-rh01/host-values.yaml
Due: none

added upgrade-test for build-service and image-controller
  .tekton/build-service-prod-overlay-update.yaml
  .tekton/image-controller-prod-overlay-update.yaml
  .tekton/tasks/validate-build-service-upgrade.yaml
  .tekton/tasks/validate-image-controller-upgrade.yaml
  components/konflux-ci/production/kflux-prd-rh03/kustomization.yaml
  components/konflux-ci/production/kflux-prd-rh03/upgrade-sa-token.yaml
Due: none

Update mintmaker on staging
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Add MinIO/OADP dev overlay for local e2e [KFLUXINFRA-899]
  argo-cd-apps/base/backup/kustomization.yaml
  argo-cd-apps/base/local-cluster-secret/all-in-one/kustomization.yaml
  argo-cd-apps/k-components/assign-backup-role-to-local-cluster/kustomization.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  components/backup/development/in-cluster-local/README.md
  components/backup/development/in-cluster-local/backup-s3-credentials.yaml
  components/backup/development/in-cluster-local/backup-tenants-schedule.yaml
  components/backup/development/in-cluster-local/dpa-minio-patch.yaml
  components/backup/development/in-cluster-local/kustomization.yaml
  components/backup/development/in-cluster-local/minio-create-bucket-job.yaml
  components/backup/development/in-cluster-local/minio-storage-configuration.yaml
  components/backup/development/in-cluster-local/minio-tenant.yaml
  components/backup/development/in-cluster-local/namespace.yaml
Due: none

adding label replacement to api-server-probe for cluster stage-p01
  components/monitoring/blackbox/staging/stone-stage-p01/kustomization.yaml
Due: rhtap-staging-e2e

adding label replacement to api-server-probe for cluster stage-p01 (#10948)
  components/monitoring/blackbox/staging/stone-stage-p01/kustomization.yaml
Due: rhtap-staging-e2e

fix(dev): generate konflux-info cluster-config
  argo-cd-apps/overlays/development/delete-applications.yaml
  components/konflux-info/development/cluster-config.env
  components/konflux-info/development/kustomization.yaml
Due: none

Update mintmaker on staging (#10944)
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

bump application-api version (#10347)
  components/application-api/kustomization.yaml
Due: none

Promote release-service from staging to production (ece02423d99c) (#10852)
  components/release/production/kustomization.yaml
Due: none

Promote release-service from staging to production (3bf18ae7cab9)
  components/release/production/kustomization.yaml
Due: none

Revert "Update mintmaker on staging (#10944)"
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Revert "Update mintmaker on staging (#10944)" (#10951)
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Upgrade pipelines nightly version in dev and staging
  components/monitoring/grafana/base/dashboards/pipeline-service/grafana-config.yaml
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

fix(KFLUXSPRT-7359): decrease MIN_SNAPSHOTS_TO_KEEP_PER_COMPONENT for rh03
  components/integration/production/kflux-prd-rh03/snapshotgc_inputs_patch.yaml
Due: none

Add new components to new-cluster playbook
  hack/new-cluster/playbook.yaml
  hack/new-cluster/tasks/configs.yaml
  hack/new-cluster/tasks/variables.yaml
  hack/new-cluster/templates/cert-manager/kustomization.yaml
  hack/new-cluster/templates/image-rbac-proxy/configmap.yaml
  hack/new-cluster/templates/image-rbac-proxy/dex-config.yaml
  hack/new-cluster/templates/image-rbac-proxy/kustomization.yaml
  hack/new-cluster/templates/image-rbac-proxy/route-patch.yaml
  hack/new-cluster/templates/image-rbac-proxy/sa-patch.yaml
  hack/new-cluster/templates/konflux-kite/database-secret-path.yaml
  hack/new-cluster/templates/konflux-kite/kustomization.yaml
  hack/new-cluster/templates/kubearchive/external-secret.yaml
  hack/new-cluster/templates/kubearchive/kubearchive.yaml
  hack/new-cluster/templates/kubearchive/kustomization.yaml
  hack/new-cluster/templates/kueue/kustomization.yaml
  hack/new-cluster/templates/kueue/queue-config/cluster-queue.yaml
  hack/new-cluster/templates/kueue/queue-config/kustomization.yaml
  hack/new-cluster/templates/policies/kustomization.yaml
  hack/new-cluster/templates/vector-kubearchive-log-collector/kustomization.yaml
  hack/new-cluster/templates/vector-kubearchive-log-collector/loki-helm-generator.yaml
  hack/new-cluster/templates/vector-kubearchive-log-collector/loki-helm-values.yaml
  hack/new-cluster/templates/vector-kubearchive-log-collector/vector-helm-generator.yaml
  hack/new-cluster/templates/vector-kubearchive-log-collector/vector-helm-prod-values.yaml
  hack/new-cluster/templates/vector-kubearchive-log-collector/vector-helm-values.yaml
Due: none

Change metric conf to velero schedule for testing purposes
  components/monitoring/custom-kube-state-metrics/base/custom-resource-state-config.yaml
  components/monitoring/custom-kube-state-metrics/base/rbac.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-3050 - Add golangci-lint configuration for infra-tools
  infra-tools/.golangci.yml
Due: none

authorization: add kueue subresources to everyone-can-view
  components/authentication/base/everyone-can-view.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/squid/development/squid-helm-generator.yaml
  components/squid/staging/squid-helm-generator.yaml
Due: rhtap-staging-e2e

address review comments
  .tekton/tasks/validate-image-controller-upgrade.yaml
Due: none

Promote latest MPC from staging to prod
  components/multi-platform-controller/production-downstream/base/kustomization.yaml
  components/multi-platform-controller/production/base/kustomization.yaml
Due: rhtap-staging-e2e

maintenance: pause PLRs processing on rh03
  components/kueue/production/kflux-prd-rh03/queue-config/cluster-queue.yaml
Due: none

KFLUXINFRA-3006: Update new-cluster playbook (#10664)
  hack/new-cluster/README.md
  hack/new-cluster/playbook.yaml
  hack/new-cluster/tasks/configs.yaml
  hack/new-cluster/tasks/variables.yaml
  hack/new-cluster/templates/cert-manager/kustomization.yaml
  hack/new-cluster/templates/etcd-defrag/kustomization.yaml
  hack/new-cluster/templates/image-rbac-proxy/configmap.yaml
  hack/new-cluster/templates/image-rbac-proxy/dex-config.yaml
  hack/new-cluster/templates/image-rbac-proxy/kustomization.yaml
  hack/new-cluster/templates/image-rbac-proxy/route-patch.yaml
  hack/new-cluster/templates/image-rbac-proxy/sa-patch.yaml
  hack/new-cluster/templates/konflux-info/info.json
  hack/new-cluster/templates/konflux-kite/database-secret-path.yaml
  hack/new-cluster/templates/konflux-kite/kustomization.yaml
  hack/new-cluster/templates/konflux-ui/remove-run-as-user-proxy-patch.yaml
  hack/new-cluster/templates/kubearchive/external-secret.yaml
  hack/new-cluster/templates/kubearchive/kubearchive.yaml
  hack/new-cluster/templates/kubearchive/kustomization.yaml
  hack/new-cluster/templates/kueue/kustomization.yaml
  hack/new-cluster/templates/kueue/queue-config/cluster-queue.yaml
  hack/new-cluster/templates/kueue/queue-config/kustomization.yaml
  hack/new-cluster/templates/monitoring/prometheus/cluster-id-label.yaml
  hack/new-cluster/templates/monitoring/prometheus/kustomization.yaml
  hack/new-cluster/templates/multi-platform-controller/external-secrets.yaml
  hack/new-cluster/templates/multi-platform-controller/host-config.yaml
  hack/new-cluster/templates/multi-platform-controller/host-values.yaml
  hack/new-cluster/templates/multi-platform-controller/kustomization.yaml
  hack/new-cluster/templates/pipeline-service/deploy.yaml
  hack/new-cluster/templates/policies/kustomization.yaml
  hack/new-cluster/templates/proactive-scaler/kustomization.yaml
  hack/new-cluster/templates/vector-kubearchive-log-collector/kustomization.yaml
  hack/new-cluster/templates/vector-kubearchive-log-collector/loki-helm-generator.yaml
  hack/new-cluster/templates/vector-kubearchive-log-collector/loki-helm-values.yaml
  hack/new-cluster/templates/vector-kubearchive-log-collector/vector-helm-generator.yaml
  hack/new-cluster/templates/vector-kubearchive-log-collector/vector-helm-prod-values.yaml
  hack/new-cluster/templates/vector-kubearchive-log-collector/vector-helm-values.yaml
Due: none

cleanup pipelineruns which are 1 day old
  components/konflux-ci/production/kflux-prd-rh03/cleanup-cronjob.yaml
Due: none

RELEASE-2233: Deploy RHTAS on stone-stg-rh01 for keyless signing
  argo-cd-apps/base/member/infra-deployments/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/rhtas/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/rhtas/rhtas.yaml
  components/konflux-info/staging/stone-stg-rh01/cluster-config.env
  components/rhtas/base/kustomization.yaml
  components/rhtas/base/operator.yaml
  components/rhtas/staging/base/kustomization.yaml
  components/rhtas/staging/base/securesign.yaml
  components/rhtas/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
