Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

KONFLUX-15926 Use default Homebrew prefix on macOS (ring 2) (#14480) (#14534)
  components/multi-platform-controller/rings/ring-3/base/host-config-chart/files/macos-mac2metal-arm64-init.sh
Due: rhtap-staging-e2e

Update from release-service
  components/konflux-ui/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

k8s-groups: add ibmid support for kflux-stg-p02
  argo-cd-apps/base/all-clusters/internal-infra-deployments/k8s-groups/k8s-groups.yaml
Due: none

KFLUXDP-1148: (onboarding) Remove production cluster-secret-store apps from AppSRE ArgoCD
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
Due: none

Shorten the CronJob name
  components/mintmaker/production/stone-prod-p02/create-dependency-update-check-osci-rhel-containers-tenant.yaml
Due: none

KFLUXDP-1148: (onboarding) Remove production cluster-secret-store apps from AppSRE ArgoCD (#14544)
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
Due: none

KFLUXINFRA-4294: (onboarding) Migrate cluster-secret-store-rh production to ring deployments
  argo-cd-apps/overlays/rd-production/cluster-secret-store-rh/cluster-secret-store-rh-appset.yaml
  argo-cd-apps/overlays/rd-production/cluster-secret-store-rh/kustomization.yaml
  argo-cd-apps/overlays/rd-production/kustomization.yaml
  components/cluster-secret-store-rh-rd/OWNERS
  components/cluster-secret-store-rh-rd/base/appsre-stonesoup-vault-rh-secret-store.yaml
  components/cluster-secret-store-rh-rd/base/kustomization.yaml
  components/cluster-secret-store-rh-rd/base/rh-artifacts-bucket-writer-secret-store.yaml
  components/cluster-secret-store-rh-rd/rings/empty-base/empty-base/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-0/base/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-1/base/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/base/base-snapshot/appsre-stonesoup-vault-rh-secret-store.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/base/base-snapshot/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/base/base-snapshot/rh-artifacts-bucket-writer-secret-store.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/base/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/kflux-lw-p01/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/kflux-ocp-p01/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/kflux-osp-p01/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/kflux-rhel-p01/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/kflux-rhel-p01/rhel-appsre-vault-approle-es.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/kflux-rhel-p01/rhel-secret-store.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/kflux-rhel-p01/trusted-ca-configmap.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/stone-prod-p01/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-3/base/base-snapshot/appsre-stonesoup-vault-rh-secret-store.yaml
  components/cluster-secret-store-rh-rd/rings/ring-3/base/base-snapshot/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-3/base/base-snapshot/rh-artifacts-bucket-writer-secret-store.yaml
  components/cluster-secret-store-rh-rd/rings/ring-3/base/insights/insights-secret-store.yaml
  components/cluster-secret-store-rh-rd/rings/ring-3/base/insights/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-3/base/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-3/stone-prd-rh01/insights-conditions-patch.yaml
  components/cluster-secret-store-rh-rd/rings/ring-3/stone-prd-rh01/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-3/stone-prod-p02/insights-conditions-patch.yaml
  components/cluster-secret-store-rh-rd/rings/ring-3/stone-prod-p02/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-4/base/kustomization.yaml
Due: rhtap-staging-e2e

Add production banner for tenants-config ArgoCD URL post migration (#14334)
  components/konflux-info/production/kflux-ocp-p01/banner-content.yaml
  components/konflux-info/production/kflux-osp-p01/banner-content.yaml
  components/konflux-info/production/kflux-prd-rh02/banner-content.yaml
  components/konflux-info/production/kflux-prd-rh03/banner-content.yaml
  components/konflux-info/production/kflux-rhel-p01/banner-content.yaml
  components/konflux-info/production/stone-prd-rh01/banner-content.yaml
  components/konflux-info/production/stone-prod-p01/banner-content.yaml
  components/konflux-info/production/stone-prod-p02/banner-content.yaml
Due: none

KONFLUX-15926 Use default Homebrew prefix on macOS (ring 4)
  components/multi-platform-controller/rings/ring-4/base/host-config-chart/files/macos-mac2metal-arm64-init.sh
Due: rhtap-staging-e2e

KFLUXINFRA-4294: (onboarding) Migrate cluster-secret-store-rh production to ring deployments (#13581)
  argo-cd-apps/overlays/rd-production/cluster-secret-store-rh/cluster-secret-store-rh-appset.yaml
  argo-cd-apps/overlays/rd-production/cluster-secret-store-rh/kustomization.yaml
  argo-cd-apps/overlays/rd-production/kustomization.yaml
  components/cluster-secret-store-rh-rd/OWNERS
  components/cluster-secret-store-rh-rd/base/appsre-stonesoup-vault-rh-secret-store.yaml
  components/cluster-secret-store-rh-rd/base/kustomization.yaml
  components/cluster-secret-store-rh-rd/base/rh-artifacts-bucket-writer-secret-store.yaml
  components/cluster-secret-store-rh-rd/rings/empty-base/empty-base/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-0/base/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-1/base/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/base/base-snapshot/appsre-stonesoup-vault-rh-secret-store.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/base/base-snapshot/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/base/base-snapshot/rh-artifacts-bucket-writer-secret-store.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/base/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/kflux-lw-p01/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/kflux-ocp-p01/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/kflux-osp-p01/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/kflux-rhel-p01/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/kflux-rhel-p01/rhel-appsre-vault-approle-es.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/kflux-rhel-p01/rhel-secret-store.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/kflux-rhel-p01/trusted-ca-configmap.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/stone-prod-p01/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-3/base/base-snapshot/appsre-stonesoup-vault-rh-secret-store.yaml
  components/cluster-secret-store-rh-rd/rings/ring-3/base/base-snapshot/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-3/base/base-snapshot/rh-artifacts-bucket-writer-secret-store.yaml
  components/cluster-secret-store-rh-rd/rings/ring-3/base/insights/insights-secret-store.yaml
  components/cluster-secret-store-rh-rd/rings/ring-3/base/insights/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-3/base/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-3/stone-prd-rh01/insights-conditions-patch.yaml
  components/cluster-secret-store-rh-rd/rings/ring-3/stone-prd-rh01/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-3/stone-prod-p02/insights-conditions-patch.yaml
  components/cluster-secret-store-rh-rd/rings/ring-3/stone-prod-p02/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-4/base/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4294: (onboarding) Remove production cluster-secret-store-rh apps from AppSRE ArgoCD
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
Due: none

Fix cluster-secret-store-rh to deploy to all tenant clusters
  argo-cd-apps/overlays/rd-production/cluster-secret-store-rh/cluster-secret-store-rh-appset.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/kflux-fedora-01/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/kflux-prd-rh03/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-4/base/base-snapshot/appsre-stonesoup-vault-rh-secret-store.yaml
  components/cluster-secret-store-rh-rd/rings/ring-4/base/base-snapshot/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-4/base/base-snapshot/rh-artifacts-bucket-writer-secret-store.yaml
  components/cluster-secret-store-rh-rd/rings/ring-4/kflux-prd-rh02/kustomization.yaml
Due: rhtap-staging-e2e

Fix cluster-secret-store-rh to deploy to all tenant clusters (#14551)
  argo-cd-apps/overlays/rd-production/cluster-secret-store-rh/cluster-secret-store-rh-appset.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/kflux-fedora-01/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-2/kflux-prd-rh03/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-4/base/base-snapshot/appsre-stonesoup-vault-rh-secret-store.yaml
  components/cluster-secret-store-rh-rd/rings/ring-4/base/base-snapshot/kustomization.yaml
  components/cluster-secret-store-rh-rd/rings/ring-4/base/base-snapshot/rh-artifacts-bucket-writer-secret-store.yaml
  components/cluster-secret-store-rh-rd/rings/ring-4/kflux-prd-rh02/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4294: (onboarding) Remove production cluster-secret-store-rh apps from AppSRE ArgoCD (#14550)
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
Due: none

Update from release-service
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

KFLUXDP-1207: (onboarding) Migrate project-controller production to ring deployments
  argo-cd-apps/overlays/rd-production/kustomization.yaml
  argo-cd-apps/overlays/rd-production/project-controller/kustomization.yaml
  argo-cd-apps/overlays/rd-production/project-controller/project-controller-appset.yaml
  components/project-controller-rd/rings/ring-2/base/base-snapshot/crd-manager-project-controller-crb.yaml
  components/project-controller-rd/rings/ring-2/base/base-snapshot/grant-argocd-rb.yaml
  components/project-controller-rd/rings/ring-2/base/base-snapshot/kustomization.yaml
  components/project-controller-rd/rings/ring-2/base/base-snapshot/project-controller-maintainers-rb.yaml
  components/project-controller-rd/rings/ring-2/base/kustomization.yaml
  components/project-controller-rd/rings/ring-2/kflux-fedora-01/kustomization.yaml
  components/project-controller-rd/rings/ring-2/kflux-lw-p01/kustomization.yaml
  components/project-controller-rd/rings/ring-2/kflux-ocp-p01/kustomization.yaml
  components/project-controller-rd/rings/ring-2/kflux-osp-p01/kustomization.yaml
  components/project-controller-rd/rings/ring-2/kflux-prd-rh03/kustomization.yaml
  components/project-controller-rd/rings/ring-2/kflux-rhel-p01/kustomization.yaml
  components/project-controller-rd/rings/ring-2/stone-prod-p01/kustomization.yaml
  components/project-controller-rd/rings/ring-3/base/base-snapshot/crd-manager-project-controller-crb.yaml
  components/project-controller-rd/rings/ring-3/base/base-snapshot/grant-argocd-rb.yaml
  components/project-controller-rd/rings/ring-3/base/base-snapshot/kustomization.yaml
  components/project-controller-rd/rings/ring-3/base/base-snapshot/project-controller-maintainers-rb.yaml
  components/project-controller-rd/rings/ring-3/base/kustomization.yaml
  components/project-controller-rd/rings/ring-3/stone-prd-rh01/kustomization.yaml
  components/project-controller-rd/rings/ring-3/stone-prod-p02/kustomization.yaml
  components/project-controller-rd/rings/ring-4/base/base-snapshot/crd-manager-project-controller-crb.yaml
  components/project-controller-rd/rings/ring-4/base/base-snapshot/grant-argocd-rb.yaml
  components/project-controller-rd/rings/ring-4/base/base-snapshot/kustomization.yaml
  components/project-controller-rd/rings/ring-4/base/base-snapshot/project-controller-maintainers-rb.yaml
  components/project-controller-rd/rings/ring-4/base/kustomization.yaml
  components/project-controller-rd/rings/ring-4/kflux-prd-rh02/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXDP-1207: (onboarding) Migrate project-controller production to ring deployments (#14549)
  argo-cd-apps/overlays/rd-production/kustomization.yaml
  argo-cd-apps/overlays/rd-production/project-controller/kustomization.yaml
  argo-cd-apps/overlays/rd-production/project-controller/project-controller-appset.yaml
  components/project-controller-rd/rings/ring-2/base/base-snapshot/crd-manager-project-controller-crb.yaml
  components/project-controller-rd/rings/ring-2/base/base-snapshot/grant-argocd-rb.yaml
  components/project-controller-rd/rings/ring-2/base/base-snapshot/kustomization.yaml
  components/project-controller-rd/rings/ring-2/base/base-snapshot/project-controller-maintainers-rb.yaml
  components/project-controller-rd/rings/ring-2/base/kustomization.yaml
  components/project-controller-rd/rings/ring-2/kflux-fedora-01/kustomization.yaml
  components/project-controller-rd/rings/ring-2/kflux-lw-p01/kustomization.yaml
  components/project-controller-rd/rings/ring-2/kflux-ocp-p01/kustomization.yaml
  components/project-controller-rd/rings/ring-2/kflux-osp-p01/kustomization.yaml
  components/project-controller-rd/rings/ring-2/kflux-prd-rh03/kustomization.yaml
  components/project-controller-rd/rings/ring-2/kflux-rhel-p01/kustomization.yaml
  components/project-controller-rd/rings/ring-2/stone-prod-p01/kustomization.yaml
  components/project-controller-rd/rings/ring-3/base/base-snapshot/crd-manager-project-controller-crb.yaml
  components/project-controller-rd/rings/ring-3/base/base-snapshot/grant-argocd-rb.yaml
  components/project-controller-rd/rings/ring-3/base/base-snapshot/kustomization.yaml
  components/project-controller-rd/rings/ring-3/base/base-snapshot/project-controller-maintainers-rb.yaml
  components/project-controller-rd/rings/ring-3/base/kustomization.yaml
  components/project-controller-rd/rings/ring-3/stone-prd-rh01/kustomization.yaml
  components/project-controller-rd/rings/ring-3/stone-prod-p02/kustomization.yaml
  components/project-controller-rd/rings/ring-4/base/base-snapshot/crd-manager-project-controller-crb.yaml
  components/project-controller-rd/rings/ring-4/base/base-snapshot/grant-argocd-rb.yaml
  components/project-controller-rd/rings/ring-4/base/base-snapshot/kustomization.yaml
  components/project-controller-rd/rings/ring-4/base/base-snapshot/project-controller-maintainers-rb.yaml
  components/project-controller-rd/rings/ring-4/base/kustomization.yaml
  components/project-controller-rd/rings/ring-4/kflux-prd-rh02/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXDP-1207: (onboarding) Remove production project-controller apps from AppSRE ArgoCD
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
Due: none

chore(ring-1-konflux-operator): promote konflux-operator to ring-1
  components/konflux-operator/rings/ring-1/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-2-konflux-operator): promote konflux-operator to ring-2
  components/konflux-operator/rings/ring-2/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

KONFLUX-15926 Use default Homebrew prefix on macOS (ring 4) (#14547)
  components/multi-platform-controller/rings/ring-4/base/host-config-chart/files/macos-mac2metal-arm64-init.sh
Due: rhtap-staging-e2e

KFLUXDP-1207: (onboarding) Remove production project-controller apps from AppSRE ArgoCD (#14554)
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
Due: none

Migrate dev pipeline-service to rd-dev overlay
  argo-cd-apps/overlays/development-operator/kustomization.yaml
  argo-cd-apps/overlays/development-operator/pipeline-service-operator-patch.yaml
  argo-cd-apps/overlays/development/delete-applications.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  argo-cd-apps/overlays/rd-dev/kustomization.yaml
  argo-cd-apps/overlays/rd-dev/pipeline-service-operator-patch.yaml
  argo-cd-apps/overlays/rd-dev/pipeline-service/kustomization.yaml
  argo-cd-apps/overlays/rd-dev/pipeline-service/pipeline-service-appset.yaml
  components/pipeline-service-rd/rings/ring-0/operator/kustomization.yaml
Due: none

Apply batched suggestions from code review
  argo-cd-apps/overlays/rd-staging/pvsec/pvsec-appset.yaml
  components/pvsec/rings/ring-1/base/base-snapshot/crypto-rules/kustomization.yaml
Due: rhtap-staging-e2e

Apply suggested changes
  argo-cd-apps/overlays/rd-staging/kustomization.yaml
  components/pvsec/rings/ring-1/base/external-secret.yaml
  components/pvsec/rings/ring-1/base/image-stream.yaml
  components/pvsec/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

Linting
  components/pvsec/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

chore(ring-0-crossplane-control-plane): promote crossplane-control-plane to ring-0
  components/crossplane-control-plane/rings/ring-0/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-0-project-controller): promote project-controller to ring-0
  components/project-controller/rings/ring-0/base/base-snapshot/crd-manager-project-controller-crb.yaml
  components/project-controller/rings/ring-0/base/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXVNGD-1360 remove temporary Ring 3 bundle retention (#14532)
  components/container-image-proxy/rings/ring-3/base/caching-helm-generator.yaml
  components/container-image-proxy/rings/ring-3/base/kustomization.yaml
Due: rhtap-staging-e2e

fix: remove invalid allocatedCPU from loki chunksCache on staging
  components/vector-kubearchive-log-collector/staging/stone-stage-p01/loki-helm-stg-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-stg-values.yaml
Due: rhtap-staging-e2e

fix(results): re-add missing env vars after operator migration
  components/pipeline-service-rd/base/openshift-pipelines/tekton-config.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/lightwell-dev/deploy.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

chore(ring-1-crossplane-control-plane): promote crossplane-control-plane to ring-1
  components/crossplane-control-plane/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/integration/development/kustomization.yaml
  components/integration/staging/base/kustomization.yaml
Due: rhtap-staging-e2e
