Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

KFLUXSE-404 Sync Segment write key from Vault on konflux-operator ring-1 (#13229)
  components/cluster-secret-store/base/appsre-stonesoup-vault-secret-store.yaml
  components/konflux-operator/rings/ring-1/base/cr/telemetry/external-secrets/kustomization.yaml
  components/konflux-operator/rings/ring-1/base/cr/telemetry/external-secrets/segment-write-key.yaml
  components/konflux-operator/rings/ring-1/base/cr/telemetry/kustomization.yaml
  components/konflux-operator/rings/ring-1/base/cr/telemetry/telemetry.yaml
  components/konflux-operator/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

Externalize MPC embedded scripts - KFLUXINFRA-4159 Prod - Ring2 (#13197)
  components/multi-platform-controller/base/host-config-chart/files/linux-g64xlarge-amd64-init.sh
  components/multi-platform-controller/base/host-config-chart/files/linux-g6xlarge-amd64-init.sh
  components/multi-platform-controller/base/host-config-chart/files/linux-root-amd64-init.sh
  components/multi-platform-controller/base/host-config-chart/files/linux-test-amd64-init.sh
  components/multi-platform-controller/base/host-config-chart/files/macos-mac2metal-arm64-init.sh
  components/multi-platform-controller/base/host-config-chart/templates/_cloud-init-userdata.tpl
  components/multi-platform-controller/base/host-config-chart/templates/_windows-init.ps1.tpl
  components/multi-platform-controller/base/host-config-chart/templates/host-config.yaml
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/kustomization.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/kustomization.yaml
  components/multi-platform-controller/production/base/host-config-chart/files/linux-g64xlarge-amd64-init.sh
  components/multi-platform-controller/production/base/host-config-chart/files/linux-g6xlarge-amd64-init.sh
  components/multi-platform-controller/production/base/host-config-chart/templates/host-config.yaml
  components/multi-platform-controller/production/kflux-prd-rh02/kustomization.yaml
  components/multi-platform-controller/production/stone-prd-rh01/kustomization.yaml
Due: rhtap-staging-e2e

Move `images` field to etcd-shield tier-2 folders (#13280)
  .github/workflows/kube-linter.yaml
  components/etcd-shield/base/kustomization.yaml
  components/etcd-shield/rings/ring-0/base/base-snapshot/kustomization.yaml
  components/etcd-shield/rings/ring-0/base/kustomization.yaml
  components/etcd-shield/rings/ring-1/base/base-snapshot/kustomization.yaml
  components/etcd-shield/rings/ring-1/base/kustomization.yaml
  components/etcd-shield/rings/ring-2/base/base-snapshot/kustomization.yaml
  components/etcd-shield/rings/ring-2/base/kustomization.yaml
  components/etcd-shield/rings/ring-3/base/base-snapshot/kustomization.yaml
  components/etcd-shield/rings/ring-3/base/kustomization.yaml
  components/etcd-shield/rings/ring-4/base/base-snapshot/kustomization.yaml
  components/etcd-shield/rings/ring-4/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-0-konflux-operator): promote konflux-operator
  components/konflux-operator/rings/ring-0/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-1): promote konflux-operator to ring-1
  components/konflux-operator/rings/ring-1/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

chore: bum new kite version
  components/konflux-kite/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-1): promote dummy-deployment to ring-1
  components/dummy-deployment/overlays/staging/kustomization.yaml
Due: rhtap-staging-e2e

chore: bum new kite version (#13288)
  components/konflux-kite/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

bind konflux-bot-* SA to allowed ClusterRoles only - ring 3
  components/policies/production/base/konflux-rbac/kustomization.yaml
  components/policies/production/kflux-fedora-01/kustomization.yaml
  components/policies/production/kflux-ocp-p01/kustomization.yaml
  components/policies/production/kflux-osp-p01/kustomization.yaml
  components/policies/production/kflux-rhel-p01/kustomization.yaml
  components/policies/production/stone-prod-p01/kustomization.yaml
  components/policies/production/stone-prod-p02/kustomization.yaml
Due: rhtap-staging-e2e

Move schedule calc CronJob to prod
  components/mintmaker/base/cronjobs/kustomization.yaml
  components/mintmaker/base/cronjobs/mintmaker-schedule-calculator.yaml
  components/mintmaker/base/rbac/kustomization.yaml
  components/mintmaker/base/rbac/mintmaker-schedule-calculator-manager.yaml
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/production/base/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

chore(ring-3): promote authentication to ring-3
  components/authentication/rings/ring-3/base/base-snapshot/rbac/patches/everyone-can-view-patch.yaml
Due: rhtap-staging-e2e

fix: add update and delete to test-runner cluster role
  components/konflux-ci/base/test-runner-cluster-role.yaml
Due: rhtap-staging-e2e

Configure forge as global PAC repository
  components/pipeline-service/production/kflux-fedora-01/deploy.yaml
  components/pipeline-service/production/kflux-fedora-01/resources/forge-bot-secret.yaml
  components/pipeline-service/production/kflux-fedora-01/resources/forge-repository.yaml
  components/pipeline-service/production/kflux-fedora-01/resources/kustomization.yaml
Due: none

chore(ring-0-etcd-shield): promote etcd-shield to ring-0
  components/etcd-shield/rings/ring-0/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-1): promote etcd-shield to ring-1
  components/etcd-shield/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

Configure forge as global PAC repository (#13285)
  components/pipeline-service/production/kflux-fedora-01/deploy.yaml
  components/pipeline-service/production/kflux-fedora-01/resources/forge-bot-secret.yaml
  components/pipeline-service/production/kflux-fedora-01/resources/forge-repository.yaml
  components/pipeline-service/production/kflux-fedora-01/resources/kustomization.yaml
Due: none

Update from release-service
  components/konflux-ui/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

KONFLUX-15200: loki-querier CrashLoopBackoff on prd-rh02 ocp-p01
  components/vector-kubearchive-log-collector/production/kflux-ocp-p01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-prd-rh02/loki-helm-prod-values.yaml
Due: none

remove max_query_length limitations
  components/vector-kubearchive-log-collector/production/kflux-ocp-p01/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/kflux-prd-rh02/loki-helm-prod-values.yaml
Due: none

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
