Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

chore(ring-1-konflux-operator): promote konflux-operator to ring-1
  components/konflux-operator/rings/ring-1/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXVNGD-1360 retain Ring 4 caching CA bundle (#14611)
  components/squid/production/kflux-prd-rh02/kustomization.yaml
Due: none

chore(ring-0-artifact-registry-proxy): promote artifact-registry-proxy to ring-0
  components/artifact-registry-proxy/rings/ring-0/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/integration/development/kustomization.yaml
  components/integration/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-0-policies): promote policies to ring-0
  components/policies/rings/ring-0/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/README.md
  components/policies/rings/ring-0/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/policies/rings/ring-0/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/chainsaw-assert-failure-policy.yaml
  components/policies/rings/ring-0/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/chainsaw-test.yaml
  components/policies/rings/ring-0/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/configmap-host-config.yaml
  components/policies/rings/ring-0/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/expected-pod-local-platform.yaml
  components/policies/rings/ring-0/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/expected-pod-no-matching-label.yaml
  components/policies/rings/ring-0/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/expected-pod-no-platform.yaml
  components/policies/rings/ring-0/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/expected-pod-remote-platform-not-mutated.yaml
  components/policies/rings/ring-0/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/expected-pod-remote-platform.yaml
  components/policies/rings/ring-0/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/namespace-multi-platform-controller.yaml
  components/policies/rings/ring-0/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/pod-local-platform.yaml
  components/policies/rings/ring-0/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/pod-no-matching-label.yaml
  components/policies/rings/ring-0/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/pod-no-platform.yaml
  components/policies/rings/ring-0/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/pod-remote-platform.yaml
  components/policies/rings/ring-0/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/adjust-buildah-resources-for-remote-platforms-cp.yaml
  components/policies/rings/ring-0/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/kustomization.yaml
  components/policies/rings/ring-0/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/kyverno-configmap-read-rb.yaml
  components/policies/rings/ring-0/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/kyverno-configmap-read-role.yaml
  components/policies/rings/ring-0/base/base-snapshot/build-resources/kustomization.yaml
  components/policies/rings/ring-0/base/base-snapshot/konflux-rbac/kustomization.yaml
  components/policies/rings/ring-0/base/base-snapshot/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/chainsaw-assert-validatingadmissionpolicy.yaml
  components/policies/rings/ring-0/base/base-snapshot/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/chainsaw-test.yaml
  components/policies/rings/ring-0/base/base-snapshot/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/invalid-rolebinding-model.yaml
  components/policies/rings/ring-0/base/base-snapshot/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/invalid-rolebinding-secrets.yaml
  components/policies/rings/ring-0/base/base-snapshot/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/invalid-rolebinding-viewer.yaml
  components/policies/rings/ring-0/base/base-snapshot/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/tenant-namespace.yaml
  components/policies/rings/ring-0/base/base-snapshot/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/tenant-role.yaml
  components/policies/rings/ring-0/base/base-snapshot/konflux-rbac/restrict-binding-denylist/create/.chainsaw-test/resources/valid-rolebinding.yaml
  components/policies/rings/ring-0/base/base-snapshot/konflux-rbac/restrict-binding-denylist/create/kustomization.yaml
  components/policies/rings/ring-0/base/base-snapshot/konflux-rbac/restrict-binding-denylist/create/restrict-binding-denylist-create-validatingadmissionpolicy.yaml
  components/policies/rings/ring-0/base/base-snapshot/konflux-rbac/restrict-binding-denylist/create/restrict-binding-denylist-create-validatingadmissionpolicybinding.yaml
  components/policies/rings/ring-0/base/base-snapshot/konflux-rbac/restrict-binding-denylist/kustomization.yaml
  components/policies/rings/ring-0/base/base-snapshot/kustomization.yaml
Due: rhtap-staging-e2e

chore: add rbac for nudgeconfigs
  components/authentication/base/rbac/konflux-admins-cr.yaml
  components/authentication/rings/ring-1/base/base-snapshot/rbac/konflux-admins-cr.yaml
  components/authentication/rings/ring-2/base/base-snapshot/rbac/konflux-admins-cr.yaml
  components/authentication/rings/ring-3/base/base-snapshot/rbac/konflux-admins-cr.yaml
  components/authentication/rings/ring-4/base/base-snapshot/rbac/konflux-admins-cr.yaml
  components/konflux-rbac/production/base/bot/konflux-model-bot-actions.yaml
  components/konflux-rbac/production/base/bot/konflux-viewer-bot-actions.yaml
  components/konflux-rbac/production/base/user/konflux-admin-user-actions.yaml
  components/konflux-rbac/production/base/user/konflux-contributor-user-actions.yaml
  components/konflux-rbac/production/base/user/konflux-maintainer-user-actions.yaml
  components/konflux-rbac/production/base/user/konflux-viewer-user-actions.yaml
  components/konflux-rbac/staging/base/bot/konflux-model-bot-actions.yaml
  components/konflux-rbac/staging/base/bot/konflux-viewer-bot-actions.yaml
  components/konflux-rbac/staging/base/user/konflux-admin-user-actions.yaml
  components/konflux-rbac/staging/base/user/konflux-contributor-user-actions.yaml
  components/konflux-rbac/staging/base/user/konflux-maintainer-user-actions.yaml
  components/konflux-rbac/staging/base/user/konflux-viewer-user-actions.yaml
Due: rhtap-staging-e2e

KFLUXVNGD-1360 stop rendering legacy Ring 4 CA bundle
  components/squid/production/kflux-prd-rh02/caching-helm-generator.yaml
  components/squid/production/kflux-prd-rh02/kustomization.yaml
Due: none

chore(ring-1-artifact-registry-proxy): promote artifact-registry-proxy to ring-1
  components/artifact-registry-proxy/rings/ring-1/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

chore(ring-1-policies): promote policies to ring-1
  components/policies/rings/ring-1/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/README.md
  components/policies/rings/ring-1/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/chainsaw-assert-clusterpolicy.yaml
  components/policies/rings/ring-1/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/chainsaw-assert-failure-policy.yaml
  components/policies/rings/ring-1/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/chainsaw-test.yaml
  components/policies/rings/ring-1/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/configmap-host-config.yaml
  components/policies/rings/ring-1/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/expected-pod-local-platform.yaml
  components/policies/rings/ring-1/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/expected-pod-no-matching-label.yaml
  components/policies/rings/ring-1/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/expected-pod-no-platform.yaml
  components/policies/rings/ring-1/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/expected-pod-remote-platform-not-mutated.yaml
  components/policies/rings/ring-1/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/expected-pod-remote-platform.yaml
  components/policies/rings/ring-1/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/namespace-multi-platform-controller.yaml
  components/policies/rings/ring-1/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/pod-local-platform.yaml
  components/policies/rings/ring-1/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/pod-no-matching-label.yaml
  components/policies/rings/ring-1/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/pod-no-platform.yaml
  components/policies/rings/ring-1/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/.chainsaw-test/resources/pod-remote-platform.yaml
  components/policies/rings/ring-1/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/adjust-buildah-resources-for-remote-platforms-cp.yaml
  components/policies/rings/ring-1/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/kustomization.yaml
  components/policies/rings/ring-1/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/kyverno-configmap-read-rb.yaml
  components/policies/rings/ring-1/base/base-snapshot/build-resources/adjust-buildah-resources-for-remote-platforms/kyverno-configmap-read-role.yaml
  components/policies/rings/ring-1/base/base-snapshot/build-resources/kustomization.yaml
  components/policies/rings/ring-1/base/base-snapshot/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-0-konflux-operator): promote konflux-operator to ring-0
  components/konflux-operator/rings/ring-0/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

fix ingress route
  components/kubearchive/development/kubearchive-ingress.yaml
Due: none

fixup(PVO11Y-5385): remove dead honorLabels from MTTB ServiceMonitor
  components/monitoring/tracing/otel-collector/staging/servicemonitors/otel-collector-mttb-servicemonitor.yaml
Due: rhtap-staging-e2e

KFLUXVNGD-1358 provision Ring 2 proxy verification
  argo-cd-apps/overlays/rd-production/konflux-verifications-rd/konflux-verifications-rd-appset.yaml
  argo-cd-apps/overlays/rd-production/konflux-verifications-rd/kustomization.yaml
  argo-cd-apps/overlays/rd-production/kustomization.yaml
  components/konflux-verifications-rd/README.md
  components/konflux-verifications-rd/rings/ring-2/base/base-snapshot/kustomization.yaml
  components/konflux-verifications-rd/rings/ring-2/base/base-snapshot/profiles/runner/kustomization.yaml
  components/konflux-verifications-rd/rings/ring-2/base/base-snapshot/profiles/runner/namespace.yaml
  components/konflux-verifications-rd/rings/ring-2/base/base-snapshot/profiles/runner/rolebinding.yaml
  components/konflux-verifications-rd/rings/ring-2/base/base-snapshot/profiles/runner/serviceaccounts.yaml
  components/konflux-verifications-rd/rings/ring-2/base/base-snapshot/suites/konflux-vanguard/proxy/OWNERS
  components/konflux-verifications-rd/rings/ring-2/base/base-snapshot/suites/konflux-vanguard/proxy/cluster-config-access.yaml
  components/konflux-verifications-rd/rings/ring-2/base/base-snapshot/suites/konflux-vanguard/proxy/kustomization.yaml
  components/konflux-verifications-rd/rings/ring-2/base/base-snapshot/suites/konflux-vanguard/proxy/runner/build-scc.yaml
  components/konflux-verifications-rd/rings/ring-2/base/base-snapshot/suites/konflux-vanguard/proxy/runner/konflux-vanguard-admins-rb.yaml
  components/konflux-verifications-rd/rings/ring-2/base/base-snapshot/suites/konflux-vanguard/proxy/runner/kustomization.yaml
  components/konflux-verifications-rd/rings/ring-2/base/kustomization.yaml
  components/konflux-verifications-rd/rings/ring-2/stone-prod-p01/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-0-kyverno): promote kyverno to ring-0
  components/kyverno/rings/ring-0/base/kustomization.yaml
  components/kyverno/rings/ring-0/base/kyverno-helm-generator.yaml
Due: rhtap-staging-e2e

fix ingress host
  components/kubearchive/development/kubearchive-ingress.yaml
Due: none

chore(ring-1-kyverno): promote kyverno to ring-1
  components/kyverno/rings/ring-1/lightwell-dev/kustomization.yaml
  components/kyverno/rings/ring-1/lightwell-dev/kyverno-helm-generator.yaml
  components/kyverno/rings/ring-1/stone-stage-p01/kustomization.yaml
  components/kyverno/rings/ring-1/stone-stage-p01/kyverno-helm-generator.yaml
  components/kyverno/rings/ring-1/stone-stg-rh01/kustomization.yaml
  components/kyverno/rings/ring-1/stone-stg-rh01/kyverno-helm-generator.yaml
Due: none

fix service-exporter resources
  components/pipeline-service-rd/base/tekton-logging/pipeline-metrics-exporter-deployment.yaml
  components/pipeline-service-rd/rings/ring-0/base/base-snapshot/tekton-logging/pipeline-metrics-exporter-deployment.yaml
  components/pipeline-service-rd/rings/ring-0/base/kustomization.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/service-exporter-resources.yaml
  components/pipeline-service-rd/rings/ring-1/base/base-snapshot/tekton-logging/pipeline-metrics-exporter-deployment.yaml
  components/pipeline-service-rd/rings/ring-1/base/kustomization.yaml
  components/pipeline-service-rd/rings/ring-1/base/patches/service-exporter-resources.yaml
  components/pipeline-service-rd/rings/ring-2/base/base-snapshot/tekton-logging/pipeline-metrics-exporter-deployment.yaml
  components/pipeline-service-rd/rings/ring-2/stone-stage-p01/deploy.yaml
  components/pipeline-service-rd/rings/ring-2/stone-stage-p01/kustomization.yaml
  components/pipeline-service-rd/rings/ring-2/stone-stage-p01/patches/pipelines-as-code-es-key-patch.yaml
  components/pipeline-service-rd/rings/ring-2/stone-stage-p01/patches/tekton-chains-public-key-es-key-patch.yaml
  components/pipeline-service-rd/rings/ring-2/stone-stage-p01/patches/tekton-chains-signing-es-key-patch.yaml
  components/pipeline-service-rd/rings/ring-2/stone-stage-p01/patches/tekton-results-db-es-key-patch.yaml
  components/pipeline-service-rd/rings/ring-2/stone-stage-p01/patches/tekton-results-s3-es-key-patch.yaml
  components/pipeline-service-rd/rings/ring-2/stone-stage-p01/patches/update-tekton-cfg-settings-patch.yaml
  components/pipeline-service-rd/rings/ring-2/stone-stg-rh01/deploy.yaml
  components/pipeline-service-rd/rings/ring-2/stone-stg-rh01/kustomization.yaml
  components/pipeline-service-rd/rings/ring-2/stone-stg-rh01/patches/add-tekton-pipelines-controller.yaml
  components/pipeline-service-rd/rings/ring-2/stone-stg-rh01/patches/pipelines-as-code-es-key-patch.yaml
  components/pipeline-service-rd/rings/ring-2/stone-stg-rh01/patches/tekton-chains-public-key-es-key-patch.yaml
  components/pipeline-service-rd/rings/ring-2/stone-stg-rh01/patches/tekton-chains-signing-es-key-patch.yaml
  components/pipeline-service-rd/rings/ring-2/stone-stg-rh01/patches/tekton-results-db-es-key-patch.yaml
  components/pipeline-service-rd/rings/ring-2/stone-stg-rh01/patches/tekton-results-s3-es-key-patch.yaml
  components/pipeline-service-rd/rings/ring-2/stone-stg-rh01/patches/update-tekton-cfg-settings-patch.yaml
  components/pipeline-service-rd/rings/ring-3/base/base-snapshot/tekton-logging/pipeline-metrics-exporter-deployment.yaml
  components/pipeline-service-rd/rings/ring-4/base/base-snapshot/tekton-logging/pipeline-metrics-exporter-deployment.yaml
Due: rhtap-staging-e2e

promote Tekton Results fix for dev+staging
  components/pipeline-service-rd/rings/ring-0/base/base-snapshot/openshift-pipelines/tekton-config.yaml
  components/pipeline-service-rd/rings/ring-1/base/base-snapshot/openshift-pipelines/tekton-config.yaml
  components/pipeline-service-rd/rings/ring-1/kflux-stg-p02/kustomization.yaml
Due: rhtap-staging-e2e

eso: use only relevant CIDR blocks in ingress policies (ring 3)
  components/external-secrets-operator/rings/ring-3/stone-prd-rh01/ingress-pod-cidr-patch.yaml
  components/external-secrets-operator/rings/ring-3/stone-prd-rh01/kustomization.yaml
  components/external-secrets-operator/rings/ring-3/stone-prod-p02/ingress-pod-cidr-patch.yaml
  components/external-secrets-operator/rings/ring-3/stone-prod-p02/kustomization.yaml
Due: none

rename cert-manager secret temporary as -pending
  components/kubearchive/development/kustomization.yaml
Due: none

change KubeArchive approvers list (#14626)
  components/kubearchive/OWNERS
Due: none

change KubeArchive Logging approvers list (#14628)
  components/vector-kubearchive-log-collector/OWNERS
Due: none

PVO11Y-5585 Fix kanary S3 upload by using VolumeClaimTemplate workspace
  components/monitoring/kanary/staging/base/configmaps/kanary-workspace-vct.yaml
  components/monitoring/kanary/staging/base/configmaps/kustomization.yaml
  components/monitoring/kanary/staging/base/kustomization.yaml
  components/monitoring/kanary/staging/lightwell-dev/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/lightwell-dev/cronjobs/kanary-cronjob-rpm.yaml
  components/monitoring/kanary/staging/lightwell-dev/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/lightwell-dev/cronjobs/kanary-simple-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/lightwell-dev/cronjobs/kanary-simple-cronjob-rpm.yaml
  components/monitoring/kanary/staging/lightwell-dev/cronjobs/kanary-simple-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-rpm.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-simple-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-simple-cronjob-rpm.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-simple-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-rpm.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-simple-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-simple-cronjob-rpm.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-simple-cronjob-single-arch.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-2883: move p02 macos runners to us-east-1 (#14502)
  components/kueue/rings/ring-3/stone-prod-p02/cluster-queue.yaml
  components/multi-platform-controller/rings/ring-3/stone-prod-p02/external-secrets/aws-macos-ssh-key-es.yaml
  components/multi-platform-controller/rings/ring-3/stone-prod-p02/host-values.yaml
Due: none

Update from release-service
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

chore(ring-1-notification-controller): promote notification-controller to ring-1
  components/notification-controller/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4669 Enable OADP backup for kflux-lw-p01 and set KMS on kflux-stg-p02
  components/backup/production/kflux-lw-p01/backup-s3-credentials-patch.yaml
  components/backup/production/kflux-lw-p01/dpa-bucket-patch.yaml
  components/backup/production/kflux-lw-p01/dpa-kmskeyid-patch.yaml
  components/backup/production/kflux-lw-p01/kustomization.yaml
Due: none

PVO11Y-5577 Replace unavailable MinIO PoC with SeaweedFS
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/mimir/README.md
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/mimir/kustomization.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/mimir/mimir-networkpolicy.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/mimir/mimir-values.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/mimir/seaweedfs.yaml
Due: rhtap-staging-e2e

PVO11Y-5577 Generate SeaweedFS S3 credentials automatically
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/mimir/README.md
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/mimir/kustomization.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/mimir/seaweedfs-credentials.yaml
Due: rhtap-staging-e2e

PVO11Y-5577 Remove Mimir PoC README
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/mimir/README.md
Due: rhtap-staging-e2e

Promote integration-service from staging to production
  components/integration/production/base/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5585 Fix kanary S3 upload by using VolumeClaimTemplate workspace (#14625)
  components/monitoring/kanary/staging/base/configmaps/kanary-workspace-vct.yaml
  components/monitoring/kanary/staging/base/configmaps/kustomization.yaml
  components/monitoring/kanary/staging/base/kustomization.yaml
  components/monitoring/kanary/staging/lightwell-dev/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/lightwell-dev/cronjobs/kanary-cronjob-rpm.yaml
  components/monitoring/kanary/staging/lightwell-dev/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/lightwell-dev/cronjobs/kanary-simple-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/lightwell-dev/cronjobs/kanary-simple-cronjob-rpm.yaml
  components/monitoring/kanary/staging/lightwell-dev/cronjobs/kanary-simple-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-rpm.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-simple-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-simple-cronjob-rpm.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-simple-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-rpm.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-simple-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-simple-cronjob-rpm.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-simple-cronjob-single-arch.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4662: allow konflux admins to bind bot ClusterRoles
  components/konflux-rbac/staging/base/user/konflux-admin-user-actions.yaml
Due: rhtap-staging-e2e

PVO11Y-5633 Add perfscale tenant namespaces to kanary priority class
  components/kueue/rings/ring-0/base/tekton-kueue/config.yaml
  components/kueue/rings/ring-1/base/tekton-kueue/config.yaml
  hack/test-tekton-kueue-config.py
Due: rhtap-staging-e2e

mimir poc minio to seaweedfs unblock (#14655)
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/mimir/kustomization.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/mimir/mimir-networkpolicy.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/mimir/mimir-values.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/mimir/seaweedfs-credentials.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/mimir/seaweedfs.yaml
Due: rhtap-staging-e2e

Add staging banner for SPRE-6972 incident
  components/konflux-operator/rings/ring-1/base/cr/konflux-info/konflux-info.yaml
Due: rhtap-staging-e2e

PVO11Y-5577 Remove blocked S3 password generator from Mimir PoC
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/mimir/kustomization.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/mimir/mimir-values.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/mimir/seaweedfs-credentials.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/mimir/seaweedfs.yaml
Due: rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
