Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

Upgrade actions/checkout in pull_request_target - KFLUXINFRA-4156
  .github/workflows/operator-changelog.yaml
  .github/workflows/pr-env-label.yaml
  .github/workflows/pr-render-diff.yaml
  .github/workflows/verify-pipelines-configs.yaml
Due: none

Move konflux-operator appset to ring-0 overlay
  argo-cd-apps/base/ring-deployments/konflux-operator/kustomization.yaml
  argo-cd-apps/base/ring-deployments/kustomization.yaml
  argo-cd-apps/overlays/development-operator/kustomization.yaml
  argo-cd-apps/overlays/ring-0/konflux-operator/konflux-operator-appset.yaml
  argo-cd-apps/overlays/ring-0/konflux-operator/kustomization.yaml
  argo-cd-apps/overlays/ring-0/kustomization.yaml
Due: none

[KFLUXINFRA-3215] [KFLUXINFRA-3217] Removed wrong file (#12878)
  components/backup/base/all-clusters/oadp/install-oadp.yaml
  components/backup/production/kflux-fedora-01/kustomization.yaml
  components/backup/production/kflux-fedora-01/oadp-channel-patch.yaml
  components/backup/production/kflux-osp-p01/kustomization.yaml
  components/backup/production/kflux-osp-p01/oadp-channel-patch.yaml
  components/backup/production/kflux-prd-rh02/kustomization.yaml
  components/backup/production/kflux-prd-rh02/oadp-channel-patch.yaml
  components/backup/production/kflux-prd-rh03/kustomization.yaml
  components/backup/production/kflux-prd-rh03/oadp-channel-patch.yaml
  components/backup/production/kflux-rhel-p01/kustomization.yaml
  components/backup/production/kflux-rhel-p01/oadp-channel-patch.yaml
  components/backup/production/stone-prod-p01/kustomization.yaml
  components/backup/production/stone-prod-p01/oadp-channel-patch.yaml
  components/backup/staging/stone-stage-p01/kustomization.yaml
  components/backup/staging/stone-stage-p01/oadp-channel-patch.yaml
  components/backup/staging/stone-stg-rh01/kustomization.yaml
  components/backup/staging/stone-stg-rh01/oadp-channel-patch.yaml
Due: rhtap-staging-e2e

Do not merge, testing e2e
  components/backup/development/in-cluster-local/kustomization.yaml
Due: none

PVO11Y-5342 Remove kueue ClusterPolicy from fedora kustomization (#13011)
  components/policies/production/kflux-fedora-01/kustomization.yaml
  components/policies/production/kflux-fedora-01/patches/kueue-policy-prepare-recreate.yaml
Due: none

PVO11Y-5342 Fix production OCI_STORAGE for kanary
  components/monitoring/kanary/production/base/pipelines/kanary-otel-pipeline.yaml
  components/monitoring/kanary/production/base/tasks/run-kanary-tests.yaml
  components/monitoring/kanary/production/kflux-fedora-01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-fedora-01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/kflux-ocp-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-ocp-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/kflux-prd-rh02/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-prd-rh02/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/kflux-prd-rh03/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-prd-rh03/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/kflux-rhel-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-rhel-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/stone-prd-rh01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/stone-prd-rh01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/stone-prod-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/stone-prod-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/stone-prod-p02/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/stone-prod-p02/cronjobs/kanary-cronjob-single-arch.yaml
Due: rhtap-staging-e2e

Add konflux permissions
  components/monitoring/prometheus/staging/tekton-ms/base/rbac.yaml
Due: rhtap-staging-e2e

Change o11y permissions to maintainer
  components/monitoring/prometheus/staging/tekton-ms/base/rbac.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/konflux-ui/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5342 Fix production OCI_STORAGE for kanary (#13035)
  components/monitoring/kanary/production/base/pipelines/kanary-otel-pipeline.yaml
  components/monitoring/kanary/production/base/tasks/run-kanary-tests.yaml
  components/monitoring/kanary/production/kflux-fedora-01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-fedora-01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/kflux-ocp-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-ocp-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/kflux-prd-rh02/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-prd-rh02/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/kflux-prd-rh03/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-prd-rh03/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/kflux-rhel-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-rhel-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/stone-prd-rh01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/stone-prd-rh01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/stone-prod-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/stone-prod-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/stone-prod-p02/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/stone-prod-p02/cronjobs/kanary-cronjob-single-arch.yaml
Due: rhtap-staging-e2e

RELEASE-2389 Promote release-service to staging
  components/release/staging/kustomization.yaml
Due: rhtap-staging-e2e

Add konflux o11y permissions to Tekton MS (#13013)
  components/monitoring/prometheus/staging/tekton-ms/base/rbac.yaml
Due: rhtap-staging-e2e

PVO11Y-5094 Deploy Tekton Prometheus to production (ring 1) (#13026)
  components/cluster-secret-store/production/kustomization.yaml
  components/cluster-secret-store/production/observability-namespaces-patch.yaml
  components/monitoring/prometheus/production/stone-prod-p01/kustomization.yaml
  components/monitoring/prometheus/production/tekton-ms/base/kustomization.yaml
  components/monitoring/prometheus/production/tekton-ms/base/monitoringstack.yaml
  components/monitoring/prometheus/production/tekton-ms/base/namespace.yaml
  components/monitoring/prometheus/production/tekton-ms/base/rbac.yaml
  components/monitoring/prometheus/production/tekton-ms/base/servicemonitor-pipeline-exporter.yaml
  components/monitoring/prometheus/production/tekton-ms/base/servicemonitor.yaml
  components/monitoring/prometheus/production/tekton-ms/external-secrets/kustomization.yaml
  components/monitoring/prometheus/production/tekton-ms/external-secrets/rhobs.yaml
  components/monitoring/prometheus/production/tekton-ms/kube-rbac-proxy.yaml
  components/monitoring/prometheus/production/tekton-ms/kustomization.yaml
  components/monitoring/prometheus/production/tekton-ms/networkpolicy.yaml
  components/monitoring/prometheus/production/tekton-ms/remote-write-env-details.yaml
  components/monitoring/prometheus/production/tekton-ms/source-environment-label.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4007: Ensure appsets are ring-specific (#12998)
  argo-cd-apps/base/ring-deployments/authentication-rd/authentication-rd.yaml
  argo-cd-apps/base/ring-deployments/konflux-operator/kustomization.yaml
  argo-cd-apps/base/ring-deployments/kustomization.yaml
  argo-cd-apps/overlays/development-operator/kustomization.yaml
  argo-cd-apps/overlays/ring-0/konflux-operator/konflux-operator-appset.yaml
  argo-cd-apps/overlays/ring-0/konflux-operator/kustomization.yaml
  argo-cd-apps/overlays/ring-0/kustomization.yaml
  argo-cd-apps/overlays/ring-1/authentication-appset.yaml
  argo-cd-apps/overlays/ring-1/kustomization.yaml
  argo-cd-apps/overlays/ring-1/patches/all-clusters-patch.yaml
  argo-cd-apps/overlays/ring-1/patches/external-clusters-patch.yaml
  argo-cd-apps/overlays/ring-1/patches/internal-clusters-patch.yaml
  argo-cd-apps/overlays/ring-1/patches/ring-patch.yaml
  argo-cd-apps/overlays/ring-2/authentication-appset.yaml
  argo-cd-apps/overlays/ring-2/kustomization.yaml
  argo-cd-apps/overlays/ring-2/patches/all-clusters-patch.yaml
  argo-cd-apps/overlays/ring-2/patches/external-clusters-patch.yaml
  argo-cd-apps/overlays/ring-2/patches/internal-clusters-patch.yaml
  argo-cd-apps/overlays/ring-2/patches/ring-patch.yaml
  argo-cd-apps/overlays/ring-3/authentication-appset.yaml
  argo-cd-apps/overlays/ring-3/kustomization.yaml
  argo-cd-apps/overlays/ring-3/patches/all-clusters-patch.yaml
  argo-cd-apps/overlays/ring-3/patches/external-clusters-patch.yaml
  argo-cd-apps/overlays/ring-3/patches/internal-clusters-patch.yaml
  argo-cd-apps/overlays/ring-4/authentication-appset.yaml
  argo-cd-apps/overlays/ring-4/kustomization.yaml
  argo-cd-apps/overlays/ring-4/patches/all-clusters-patch.yaml
  argo-cd-apps/overlays/ring-4/patches/ring-patch.yaml
Due: none

Update pipelines to next nightly build in dev/staging 5.0.5-849 (#12999)
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

KFLUXVNGD-1121 Upgrade crossplane-control-plane in dev and staging
  components/crossplane-control-plane/development/kustomization.yaml
  components/crossplane-control-plane/k-components/crossplane-resources/deployment-resources-patch.yaml
  components/crossplane-control-plane/k-components/crossplane-resources/kustomization.yaml
  components/crossplane-control-plane/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXVNGD-1121 Upgrade crossplane-control-plane in dev and staging (#13020)
  components/crossplane-control-plane/development/kustomization.yaml
  components/crossplane-control-plane/k-components/crossplane-resources/deployment-resources-patch.yaml
  components/crossplane-control-plane/k-components/crossplane-resources/kustomization.yaml
  components/crossplane-control-plane/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXVNGD-1121 Promote crossplane-control-plane upgrade to production (ring 1)
  components/crossplane-control-plane/production/base/kustomization.yaml
  components/crossplane-control-plane/production/kflux-fedora-01/environment-config.yaml
  components/crossplane-control-plane/production/kflux-fedora-01/kustomization.yaml
  components/crossplane-control-plane/production/kflux-ocp-p01/kustomization.yaml
  components/crossplane-control-plane/production/kflux-osp-p01/kustomization.yaml
  components/crossplane-control-plane/production/kflux-prd-rh02/kustomization.yaml
  components/crossplane-control-plane/production/kflux-prd-rh03/kustomization.yaml
  components/crossplane-control-plane/production/kflux-rhel-p01/kustomization.yaml
  components/crossplane-control-plane/production/stone-prd-rh01/kustomization.yaml
  components/crossplane-control-plane/production/stone-prod-p01/kustomization.yaml
  components/crossplane-control-plane/production/stone-prod-p02/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5342 Restore kueue ClusterPolicy on fedora
  components/policies/production/kflux-fedora-01/kustomization.yaml
Due: none

PVO11Y-5342 Add oci-storage param to staging kanary
  components/monitoring/kanary/staging/base/pipelines/kanary-otel-pipeline.yaml
  components/monitoring/kanary/staging/base/tasks/run-kanary-tests.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-single-arch.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/internal-services/development/kustomization.yaml
Due: none

konflux-ui: dynamic dex SA token for production ring 1 (stone-prod-p01, stone-prod-p02, kflux-prd-rh02, kflux-prd-rh03)
  components/konflux-ui/production/base/dex-dynamic/dex.yaml
  components/konflux-ui/production/base/dex-dynamic/kustomization.yaml
  components/konflux-ui/production/base/dex-dynamic/run-dex.sh
  components/konflux-ui/production/base/kustomization.yaml
  components/konflux-ui/production/kflux-fedora-01/kustomization.yaml
  components/konflux-ui/production/kflux-ocp-p01/kustomization.yaml
  components/konflux-ui/production/kflux-osp-p01/kustomization.yaml
  components/konflux-ui/production/kflux-prd-rh02/dex-config.yaml
  components/konflux-ui/production/kflux-prd-rh02/kustomization.yaml
  components/konflux-ui/production/kflux-prd-rh02/remove-dex-client-secret.yaml
  components/konflux-ui/production/kflux-prd-rh02/remove-dex-client.yaml
  components/konflux-ui/production/kflux-prd-rh03/dex-config.yaml
  components/konflux-ui/production/kflux-prd-rh03/kustomization.yaml
  components/konflux-ui/production/kflux-prd-rh03/remove-dex-client-secret.yaml
  components/konflux-ui/production/kflux-prd-rh03/remove-dex-client.yaml
  components/konflux-ui/production/kflux-rhel-p01/kustomization.yaml
  components/konflux-ui/production/stone-prd-rh01/kustomization.yaml
  components/konflux-ui/production/stone-prod-p01/dex-config.yaml
  components/konflux-ui/production/stone-prod-p01/kustomization.yaml
  components/konflux-ui/production/stone-prod-p01/remove-dex-client-secret.yaml
  components/konflux-ui/production/stone-prod-p01/remove-dex-client.yaml
  components/konflux-ui/production/stone-prod-p02/dex-config.yaml
  components/konflux-ui/production/stone-prod-p02/kustomization.yaml
  components/konflux-ui/production/stone-prod-p02/remove-dex-client-secret.yaml
  components/konflux-ui/production/stone-prod-p02/remove-dex-client.yaml
  hack/new-cluster/templates/konflux-ui/dex-config.yaml
  hack/new-cluster/templates/konflux-ui/kustomization.yaml
Due: rhtap-staging-e2e

KONFLUX-14156 Update multi-platform-controller on production (ring-2) (#13023)
  components/multi-platform-controller/base/logcollector/otelcollector.yaml
  components/multi-platform-controller/production-downstream/base/kustomization.yaml
  components/multi-platform-controller/production-downstream/kflux-osp-p01/kustomization.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p01/kustomization.yaml
  components/multi-platform-controller/production/base/kustomization.yaml
  components/multi-platform-controller/production/kflux-fedora-01/kustomization.yaml
  components/multi-platform-controller/production/kflux-prd-rh02/kustomization.yaml
  components/multi-platform-controller/production/kflux-prd-rh03/kustomization.yaml
  components/multi-platform-controller/production/logcollector-ring1/kustomization.yaml
  components/multi-platform-controller/production/logcollector-ring1/otelcollector.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/integration/development/kustomization.yaml
  components/integration/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/monitoring/grafana/development/dashboards/release/kustomization.yaml
  components/release/development/kustomization.yaml
Due: none

chore: bump konflux-ui (production) efc5e023bba5 => 699264adfe48 (#13007)
  components/konflux-ui/production/base/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5342 Restore kueue ClusterPolicy on fedora (#13012)
  components/policies/production/kflux-fedora-01/kustomization.yaml
Due: none

KFLUXVNGD-1121 Promote crossplane-control-plane upgrade to production (ring 1) (#13040)
  components/crossplane-control-plane/production/base/kustomization.yaml
  components/crossplane-control-plane/production/kflux-fedora-01/environment-config.yaml
  components/crossplane-control-plane/production/kflux-fedora-01/kustomization.yaml
  components/crossplane-control-plane/production/kflux-ocp-p01/kustomization.yaml
  components/crossplane-control-plane/production/kflux-osp-p01/kustomization.yaml
  components/crossplane-control-plane/production/kflux-prd-rh02/kustomization.yaml
  components/crossplane-control-plane/production/kflux-prd-rh03/kustomization.yaml
  components/crossplane-control-plane/production/kflux-rhel-p01/kustomization.yaml
  components/crossplane-control-plane/production/stone-prd-rh01/kustomization.yaml
  components/crossplane-control-plane/production/stone-prod-p01/kustomization.yaml
  components/crossplane-control-plane/production/stone-prod-p02/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4007 fix: restore missing list generator and repo-details injection to rd-dev konflux-operator appset
  argo-cd-apps/overlays/rd-dev/konflux-operator/konflux-operator-appset.yaml
  argo-cd-apps/overlays/rd-dev/konflux-operator/kustomization.yaml
Due: none

KFLUXVNGD-1121 Promote crossplane-control-plane upgrade to remaining production clusters
  components/crossplane-control-plane/production/kflux-ocp-p01/environment-config.yaml
  components/crossplane-control-plane/production/kflux-ocp-p01/kustomization.yaml
  components/crossplane-control-plane/production/kflux-osp-p01/environment-config.yaml
  components/crossplane-control-plane/production/kflux-osp-p01/kustomization.yaml
  components/crossplane-control-plane/production/kflux-prd-rh02/environment-config.yaml
  components/crossplane-control-plane/production/kflux-prd-rh02/kustomization.yaml
  components/crossplane-control-plane/production/kflux-prd-rh03/environment-config.yaml
  components/crossplane-control-plane/production/kflux-prd-rh03/kustomization.yaml
  components/crossplane-control-plane/production/kflux-rhel-p01/environment-config.yaml
  components/crossplane-control-plane/production/kflux-rhel-p01/kustomization.yaml
  components/crossplane-control-plane/production/stone-prd-rh01/environment-config.yaml
  components/crossplane-control-plane/production/stone-prd-rh01/kustomization.yaml
  components/crossplane-control-plane/production/stone-prod-p01/environment-config.yaml
  components/crossplane-control-plane/production/stone-prod-p01/kustomization.yaml
  components/crossplane-control-plane/production/stone-prod-p02/environment-config.yaml
  components/crossplane-control-plane/production/stone-prod-p02/kustomization.yaml
Due: none

Delete old production authentication AppSets
  argo-cd-apps/base/all-clusters/infra-deployments/authentication/authentication.yaml
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
Due: none

Create a MM schedule calculator service account.
  components/mintmaker/staging/base/kustomization.yaml
  components/mintmaker/staging/base/mintmaker-schedule-calculator-manager.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Add new cronjob
  components/mintmaker/staging/base/kustomization.yaml
  components/mintmaker/staging/base/mintmaker-schedule-calculator.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Fix review
  components/mintmaker/staging/base/mintmaker-schedule-calculator-manager.yaml
  components/mintmaker/staging/base/mintmaker-schedule-calculator.yaml
Due: rhtap-staging-e2e

Promote release-service from development to staging
  components/release/staging/kustomization.yaml
Due: rhtap-staging-e2e

Promote release-service and grafana-dashboard from development to staging
  components/monitoring/grafana/staging/dashboards/release/kustomization.yaml
  components/release/staging/kustomization.yaml
Due: rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
