Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

fix for .status.terminatingReplicas not declared
  argo-cd-apps/base/member/infra-deployments/vector-kubearchive-log-collector/vector-kubearchive-log-collector.yaml
Due: none

fix overbroad transient error match
  hack/preview.sh
Due: none

fix transcient oc get failure
  hack/preview.sh
Due: none

chore(ring-0-konflux-operator): promote konflux-operator
  components/konflux-operator/rings/ring-0/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4260 fix cleanupController key ordering in dev kyverno-helm-values.yaml
  components/kyverno/development/kyverno-helm-values.yaml
Due: none

Update from release-service
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

chore(ring-1-konflux-operator): promote konflux-operator to ring-1
  components/konflux-operator/rings/ring-1/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

fix(KONFLUX-15700): enable secrets creation
  components/image-rbac-proxy/production/kflux-lw-p01/kustomization.yaml
Due: none

KFLUXINFRA-4238: Migrate cluster-secret-store to ring deployments (staging only)
  argo-cd-apps/base/all-clusters/infra-deployments/cluster-secret-store/cluster-secret-store.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/cluster-secret-store/cluster-secret-store-appset.yaml
  argo-cd-apps/overlays/rd-staging/cluster-secret-store/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/kustomization.yaml
  components/cluster-secret-store-rd/OWNERS
  components/cluster-secret-store-rd/base/kustomization.yaml
  components/cluster-secret-store-rd/rings/empty-base/empty-base/kustomization.yaml
  components/cluster-secret-store-rd/rings/ring-0/base/kustomization.yaml
  components/cluster-secret-store-rd/rings/ring-1/base/appsre-stonesoup-vault-secret-store.yaml
  components/cluster-secret-store-rd/rings/ring-1/base/appsre-vault-secret-store.yml
  components/cluster-secret-store-rd/rings/ring-1/base/kustomization.yaml
  components/cluster-secret-store-rd/rings/ring-1/base/patches/insights-approle-id-patch.yaml
  components/cluster-secret-store-rd/rings/ring-1/base/patches/konflux-release-service-namespaces-patch.yaml
  components/cluster-secret-store-rd/rings/ring-1/base/patches/konflux-verifications-rd-namespaces-patch.yaml
  components/cluster-secret-store-rd/rings/ring-1/base/patches/observability-namespaces-patch.yaml
  components/cluster-secret-store-rd/rings/ring-1/base/patches/perfscale-namespaces-patch.yaml
  components/cluster-secret-store-rd/rings/ring-1/base/patches/rhtap-promotion-staging-patch.yaml
  components/cluster-secret-store-rd/rings/ring-1/lightwell-dev/kustomization.yaml
  components/cluster-secret-store-rd/rings/ring-1/stone-stage-p01/kustomization.yaml
  components/cluster-secret-store-rd/rings/ring-1/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

KONFLUX-15403 Enable PostgreSQL monitoring on kube-shard APIShard
  components/kube-shard/rings/ring-1/base/konflux-tekton-shard-apishard.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/monitoring/grafana/development/dashboards/release/kustomization.yaml
  components/release/development/kustomization.yaml
Due: none

KONFLUX-15403 Update kube-shard to 91964cb for pgstattuple_approx bloat metrics
  components/kube-shard/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

fix(pipeline-service): bump pipeline-metrics-exporter memory on lightwell-dev staging
  components/pipeline-service/staging/lightwell-dev/deploy.yaml
  components/pipeline-service/staging/lightwell-dev/resources/kustomization.yaml
  components/pipeline-service/staging/lightwell-dev/resources/update-pipeline-metrics-exporter-resources.yaml
Due: rhtap-staging-e2e

SPRE-6759 Forward Grafana memory metrics from staging to RHOBS
  components/monitoring/prometheus/staging/base/federation/endpoints-params.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/image-rbac-proxy/development/kustomization.yaml
  components/image-rbac-proxy/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4495 Add kflux-lw-p01 to monitoring-blackbox ApplicationSet
  argo-cd-apps/base/monitoring-blackbox/monitoring-blackbox.yaml
  components/monitoring/blackbox/production/kflux-lw-p01/kustomization.yaml
Due: none

Revert "fix(KONFLUX-15700): enable secrets creation (#13964)"
  components/image-rbac-proxy/production/kflux-lw-p01/kustomization.yaml
Due: none

revert workaround from STONEINTG-1732, added fix for blind polling when PLRs hang
  tests/disaster-recovery/tenant_application_lifecycle.go
Due: none

KFLUXINFRA-4541 address Qodo/fullsend review: fix premature StopTrying and missing overshoot fail-fast
  tests/disaster-recovery/tenant_application_lifecycle.go
Due: none

Promote release-service and grafana-dashboard from development to staging (#13873)
  components/monitoring/grafana/staging/dashboards/release/kustomization.yaml
  components/release/staging/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4541 fix baseline capture to happen before the trigger, not on first poll
  tests/disaster-recovery/dr_same_version.go
  tests/disaster-recovery/tenant_application_lifecycle.go
Due: none

KFLUXINFRA-4541 fix Phase 1 baseline: capture succeeded counts, not just totals
  tests/disaster-recovery/dr_same_version.go
Due: none

Add konflux-o11y-admins group for kflux-lw-p01
  components/monitoring/prometheus/production/kflux-lw-p01/kustomization.yaml
  components/monitoring/prometheus/production/kflux-lw-p01/o11y-admins-group.yaml
Due: none

KFLUXINFRA-4541 read succeeded+total counts from a single List call
  tests/disaster-recovery/dr_same_version.go
  tests/disaster-recovery/tenant_application_lifecycle.go
Due: none

PVO11Y-5536 Forward cardinality exporter metrics to RHOBS from kflux-lw-p01
  components/monitoring/prometheus/production/kflux-lw-p01/writeRelabelConfigs.yaml
Due: none

PVO11Y-5536 Deploy cardinality exporter to kflux-lw-p01
  argo-cd-apps/base/member/infra-deployments/monitoring-cardinality/monitoring-cardinality.yaml
  components/monitoring/exporters/cardinality/production/kflux-lw-p01/kustomization.yaml
Due: none

KFLUXINFRA-4541 clean up stale doc comments per fullsend review
  tests/disaster-recovery/tenant_application_lifecycle.go
Due: none

PVO11Y-5538 Enable Tekton MS Prometheus on kflux-lw-p01
  components/monitoring/prometheus/production/kflux-lw-p01/kustomization.yaml
  components/monitoring/prometheus/production/kflux-lw-p01/storage-class-patch.yaml
Due: none

chore(ring-1-repository-validator): promote repository-validator to ring-1
  components/repository-validator-rd/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5534 Add Tekton MS datasource to kflux-lw-p01 Grafana
  argo-cd-apps/base/all-clusters/infra-deployments/monitoring-workload-grafana/monitoring-workload-grafana.yaml
  components/monitoring/grafana/production/kflux-lw-p01/kustomization.yaml
Due: none

Update dr_same_version.go
  tests/disaster-recovery/dr_same_version.go
Due: none

Update from release-service
  components/konflux-ui/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Add konflux-o11y-admins group for kflux-lw-p01 (#13977)
  components/monitoring/prometheus/production/kflux-lw-p01/kustomization.yaml
  components/monitoring/prometheus/production/kflux-lw-p01/o11y-admins-group.yaml
Due: none

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
