Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

KONFLUX-15031 Bump custom-kube-state-metrics to v2.19.1 in production
  components/monitoring/custom-kube-state-metrics/production/kustomization.yaml
Due: none

PVO11Y-5403 Use loadtest image in push-kanary-metrics, drop runtime pip install (#13368)
  components/monitoring/kanary/staging/base/tasks/push-kanary-metrics.yaml
Due: rhtap-staging-e2e

fix(KONFLUX-15214): upgrade otel collector to 0.158.0 in dev (#13381)
  components/kubearchive/development/kustomization.yaml
Due: none

KFLUXINFRA-4373 SHA pinning enforcement for GitHub Actions (#13406)
  .github/workflows/chainsaw-tests.yaml
  .github/workflows/codecov.yaml
  .github/workflows/forbid-clusterpolicies.yaml
  .github/workflows/infra-tools-ci.yaml
  .github/workflows/kube-linter.yaml
  .github/workflows/kyverno-policies-tests.yaml
  .github/workflows/operator-changelog.yaml
  .github/workflows/pr-env-label.yaml
  .github/workflows/pr-render-diff.yaml
  .github/workflows/test-tekton-kueue-config.yaml
  .github/workflows/validate-banner.yaml
  .github/workflows/verify-kueue-queue-configs.yaml
  .github/workflows/verify-pipelines-configs.yaml
  .github/workflows/yamllint.yaml
Due: none

KONFLUX-15031 Update base KSM image and README to v2.19.1
  components/monitoring/custom-kube-state-metrics/README.md
  components/monitoring/custom-kube-state-metrics/base/deployment.yaml
Due: rhtap-staging-e2e

Move schedule calc CronJob to prod
  components/mintmaker/base/cronjobs/kustomization.yaml
  components/mintmaker/base/cronjobs/mintmaker-schedule-calculator.yaml
  components/mintmaker/base/rbac/kustomization.yaml
  components/mintmaker/base/rbac/mintmaker-schedule-calculator-manager.yaml
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/production/base/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Update from release-service
  components/kyverno/chainsaw/kustomization.yaml
  components/kyverno/development/kustomization.yaml
  components/kyverno/staging/stone-stage-p01/kustomization.yaml
  components/kyverno/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-0-konflux-operator): promote konflux-operator
  components/konflux-operator/rings/ring-0/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-1): promote konflux-operator to ring-1
  components/konflux-operator/rings/ring-1/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/external-secrets-operator/staging/kustomization.yaml
Due: rhtap-staging-e2e

Update new-cluster playbook to support rd
  hack/new-cluster/README.md
  hack/new-cluster/playbook.yaml
  hack/new-cluster/tasks/components.yaml
  hack/new-cluster/tasks/k-components.yaml
  hack/new-cluster/tasks/variables.yaml
  hack/new-cluster/templates/authentication/kustomization.yaml
Due: none

Fixed bugs in new-cluster playbook
  hack/new-cluster/README.md
  hack/new-cluster/playbook.yaml
  hack/new-cluster/tasks/configs.yaml
  hack/new-cluster/tasks/variables.yaml
  hack/new-cluster/templates/vector-kubearchive-log-collector/vector-helm-values.yaml
Due: none

Update from release-service
  components/konflux-ui/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

feat(KFLUXVNGD-1230): Add lightwell-dev cluster to ring-1 staging
  components/cert-manager/staging/lightwell-dev/kustomization.yaml
  components/konflux-operator/rings/ring-1/base/cr/build/build-service.yaml
  components/konflux-operator/rings/ring-1/lightwell-dev/build/OWNERS
  components/konflux-operator/rings/ring-1/lightwell-dev/build/external-secret-path-patch.yaml
  components/konflux-operator/rings/ring-1/lightwell-dev/integration/OWNERS
  components/konflux-operator/rings/ring-1/lightwell-dev/integration/external-secret-path-patch.yaml
  components/konflux-operator/rings/ring-1/lightwell-dev/konflux-info/OWNERS
  components/konflux-operator/rings/ring-1/lightwell-dev/konflux-info/info-patch.yaml
  components/konflux-operator/rings/ring-1/lightwell-dev/konflux-ui/OWNERS
  components/konflux-operator/rings/ring-1/lightwell-dev/konflux-ui/ui-patch.yaml
  components/konflux-operator/rings/ring-1/lightwell-dev/kustomization.yaml
  components/konflux-operator/rings/ring-1/lightwell-dev/namespace-lister/OWNERS
  components/konflux-operator/rings/ring-1/lightwell-dev/namespace-lister/resources-patch.yaml
  components/konflux-operator/rings/ring-1/stone-stage-p01/build/webhook-urls-patch.yaml
  components/pipeline-service/staging/lightwell-dev/deploy.yaml
  components/pipeline-service/staging/lightwell-dev/kustomization.yaml
  components/pipeline-service/staging/lightwell-dev/resources/kustomization.yaml
  components/pipeline-service/staging/lightwell-dev/resources/pipelines-as-code-secret-path.yaml
  components/pipeline-service/staging/lightwell-dev/resources/tekton-chains-public-key-path.yaml
  components/pipeline-service/staging/lightwell-dev/resources/tekton-chains-signing-secret-path.yaml
  components/pipeline-service/staging/lightwell-dev/resources/update-tekton-config-pac.yaml
Due: rhtap-staging-e2e

chore(ring-0-dummy-deployment): promote dummy-deployment
  components/dummy-deployment/overlays/development/kustomization.yaml
Due: none

KFLUXINFRA-4411 Add ROKS pod CIDR to ESO webhook NetworkPolicy (staging)
  components/external-secrets-operator/staging/networkpolicy-allow-ingress.yaml
Due: rhtap-staging-e2e

Move schedule calc CronJob to prod (#13256)
  components/mintmaker/base/cronjobs/kustomization.yaml
  components/mintmaker/base/cronjobs/mintmaker-schedule-calculator.yaml
  components/mintmaker/base/rbac/kustomization.yaml
  components/mintmaker/base/rbac/mintmaker-schedule-calculator-manager.yaml
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/production/base/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

KFLUXINFRA-2236: DR test suite refinements and fixes (#13320)
  tests/disaster-recovery/backup_infra.go
  tests/disaster-recovery/const.go
  tests/disaster-recovery/disaster_recovery.go
  tests/disaster-recovery/dr_backwards_compat.go
  tests/disaster-recovery/dr_same_version.go
  tests/disaster-recovery/dr_suite.go
  tests/disaster-recovery/tenant_application_lifecycle.go
  tests/go.mod
  tests/go.sum
Due: none

KONFLUX-15031 Bump custom-kube-state-metrics to v2.19.1 in production (#13409)
  components/monitoring/custom-kube-state-metrics/README.md
  components/monitoring/custom-kube-state-metrics/base/deployment.yaml
  components/monitoring/custom-kube-state-metrics/production/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4411 Add ROKS pod CIDR to ESO webhook NetworkPolicy (staging) (#13424)
  components/external-secrets-operator/staging/networkpolicy-allow-ingress.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4404 Exclude lightwell-dev and kflux-lw-p01 from legacy ApplicationSets
  argo-cd-apps/overlays/staging-downstream/exclude-operator-owned-clusters.yaml
  argo-cd-apps/overlays/staging-downstream/kustomization.yaml
Due: none

Update README.md for testing
  components/disaster-recovery/README.md
Due: none

KFLUXINFRA-4404 Exclude lightwell-dev and kflux-lw-p01 from legacy ApplicationSets (#13425)
  argo-cd-apps/overlays/staging-downstream/exclude-operator-owned-clusters.yaml
  argo-cd-apps/overlays/staging-downstream/kustomization.yaml
Due: none

KFLUXINFRA-4409 Add MPC deployment for temporary lightwell-dev cluster
  argo-cd-apps/overlays/staging-downstream/kustomization.yaml
  argo-cd-apps/overlays/staging-downstream/mpc-lightwell-dev-patch.yaml
  components/multi-platform-controller/staging-downstream/lightwell-dev/external-secrets.yaml
  components/multi-platform-controller/staging-downstream/lightwell-dev/host-values.yaml
  components/multi-platform-controller/staging-downstream/lightwell-dev/kustomization.yaml
Due: none

feat(KFLUXVNGD-1230): Add lightwell-dev cluster to ring-1 staging (#13418)
  components/cert-manager/staging/lightwell-dev/kustomization.yaml
  components/konflux-operator/rings/ring-1/base/cr/build/build-service.yaml
  components/konflux-operator/rings/ring-1/lightwell-dev/build/OWNERS
  components/konflux-operator/rings/ring-1/lightwell-dev/build/external-secret-path-patch.yaml
  components/konflux-operator/rings/ring-1/lightwell-dev/integration/OWNERS
  components/konflux-operator/rings/ring-1/lightwell-dev/integration/external-secret-path-patch.yaml
  components/konflux-operator/rings/ring-1/lightwell-dev/konflux-info/OWNERS
  components/konflux-operator/rings/ring-1/lightwell-dev/konflux-info/info-patch.yaml
  components/konflux-operator/rings/ring-1/lightwell-dev/konflux-ui/OWNERS
  components/konflux-operator/rings/ring-1/lightwell-dev/konflux-ui/ui-patch.yaml
  components/konflux-operator/rings/ring-1/lightwell-dev/kustomization.yaml
  components/konflux-operator/rings/ring-1/lightwell-dev/namespace-lister/OWNERS
  components/konflux-operator/rings/ring-1/lightwell-dev/namespace-lister/resources-patch.yaml
  components/konflux-operator/rings/ring-1/stone-stage-p01/build/webhook-urls-patch.yaml
  components/pipeline-service/staging/lightwell-dev/deploy.yaml
  components/pipeline-service/staging/lightwell-dev/kustomization.yaml
  components/pipeline-service/staging/lightwell-dev/resources/kustomization.yaml
  components/pipeline-service/staging/lightwell-dev/resources/pipelines-as-code-secret-path.yaml
  components/pipeline-service/staging/lightwell-dev/resources/tekton-chains-public-key-path.yaml
  components/pipeline-service/staging/lightwell-dev/resources/tekton-chains-signing-secret-path.yaml
  components/pipeline-service/staging/lightwell-dev/resources/update-tekton-config-pac.yaml
Due: rhtap-staging-e2e

Add cert-manager metrics to staging federation endpoints-params
  components/monitoring/prometheus/staging/base/federation/endpoints-params.yaml
Due: rhtap-staging-e2e

feat(KFLUXVNGD-1230): Add lightwell-dev to internal-tenant staging cluster list
  argo-cd-apps/k-components/deploy-to-staging-internal-tenant-clusters/internal-tenant-clusters-list-patch.yaml
Due: none

feat(KFLUXVNGD-1230): Add lightwell-dev to internal-tenant staging cluster list (#13430)
  argo-cd-apps/k-components/deploy-to-staging-internal-tenant-clusters/internal-tenant-clusters-list-patch.yaml
Due: none

KFLUXINFRA-4409 Remove commented logcollector line from lightwell-dev overlay
  components/multi-platform-controller/staging-downstream/lightwell-dev/kustomization.yaml
Due: none

feat(KFLUXVNGD-1230): Add lightwell-dev to pipeline-service and cert-manager ApplicationSets
  argo-cd-apps/base/member/infra-deployments/cert-manager/cert-manager.yaml
  argo-cd-apps/base/member/infra-deployments/pipeline-service/pipeline-service.yaml
Due: none

feat(KFLUXVNGD-1230): Add lightwell-dev to pipeline-service and cert-manager ApplicationSets (#13433)
  argo-cd-apps/base/member/infra-deployments/cert-manager/cert-manager.yaml
  argo-cd-apps/base/member/infra-deployments/pipeline-service/pipeline-service.yaml
Due: none

Update from release-service
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
