Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

Test
  README.md
Due: none

Change trigger for pull_request open event
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-review.yml
Due: none

Change trigger for pull_request open event (#8184)
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-review.yml
Due: none

Remove adm64 from local platforms on staging
  components/kueue/staging/stone-stage-p01/queue-config/cluster-queue.yaml
  components/kueue/staging/stone-stg-rh01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/staging-downstream/host-config.yaml
  components/multi-platform-controller/staging/host-config.yaml
Due: rhtap-staging-e2e

Remove adm64 from local platforms on staging (#8185)
  components/kueue/staging/stone-stage-p01/queue-config/cluster-queue.yaml
  components/kueue/staging/stone-stg-rh01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/staging-downstream/host-config.yaml
  components/multi-platform-controller/staging/host-config.yaml
Due: rhtap-staging-e2e

optimize chunk flushing to s3 to avoid slowdown error
  components/vector-kubearchive-log-collector/production/stone-prod-p02/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/stone-prod-p02/vector-helm-values.yaml
Due: none

optimize chunk flushing to s3 to avoid slowdown error (#8187)
  components/vector-kubearchive-log-collector/production/stone-prod-p02/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/stone-prod-p02/vector-helm-values.yaml
Due: none

remove more sandbox references
  hack/bootstrap-cluster.sh
  hack/bootstrap-host-cluster.sh
  hack/bootstrap-member-cluster.sh
  hack/build/setup-namespace.sh
  hack/hac/installHac.sh
Due: none

TEST
  hack/preview.sh
Due: none

feat(SRVKP-8847) Exposing Stage Metrics (#8191)
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: rhtap-staging-e2e

remove retry configuration
  components/vector-kubearchive-log-collector/production/stone-prod-p02/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/stone-prod-p02/vector-helm-values.yaml
Due: none

Revert "feat(SRVKP-8847) Exposing Stage Metrics (#8191)"
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: rhtap-staging-e2e

remove retry configuration (#8199)
  components/vector-kubearchive-log-collector/production/stone-prod-p02/loki-helm-prod-values.yaml
  components/vector-kubearchive-log-collector/production/stone-prod-p02/vector-helm-values.yaml
Due: none

Revert "feat(SRVKP-8847) Exposing Stage Metrics (#8191)" (#8197)
  components/monitoring/prometheus/staging/base/monitoringstack/endpoints-params.yaml
Due: rhtap-staging-e2e

feat(KFLUXVNGD-416): deploy squid to development and staging
  argo-cd-apps/base/member/infra-deployments/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/squid/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/squid/squid.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  components/squid/OWNERS
  components/squid/development/kustomization.yaml
  components/squid/development/squid-helm-generator.yaml
  components/squid/staging/kustomization.yaml
  components/squid/staging/squid-helm-generator.yaml
Due: rhtap-staging-e2e

mintmaker: create ca-bundle configmap in all staging and production clusters
  components/mintmaker/production/base/kustomization.yaml
  components/mintmaker/production/kflux-ocp-p01/kustomization.yaml
  components/mintmaker/production/kflux-osp-p01/kustomization.yaml
  components/mintmaker/production/kflux-rhel-p01/kustomization.yaml
  components/mintmaker/production/pentest-p01/kustomization.yaml
  components/mintmaker/production/stone-prod-p01/kustomization.yaml
  components/mintmaker/production/stone-prod-p02/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
  components/mintmaker/staging/stone-stage-p01/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Remove production smee server
  argo-cd-apps/base/host/kustomization.yaml
  argo-cd-apps/base/host/smee/kustomization.yaml
  argo-cd-apps/base/host/smee/smee.yaml
  argo-cd-apps/overlays/development/delete-applications.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  components/smee/OWNERS
  components/smee/README.md
  components/smee/base/deployment.yaml
  components/smee/base/kustomization.yaml
  components/smee/base/route.yaml
  components/smee/base/service.yaml
  components/smee/production/stone-prd-host1/ip-allow-list.yaml
  components/smee/production/stone-prd-host1/kustomization.yaml
  components/smee/staging/stone-stg-host/kustomization.yaml
Due: rhtap-staging-e2e

mintmaker: create ca-bundle configmap in all staging and production clusters (#8203)
  components/mintmaker/production/base/kustomization.yaml
  components/mintmaker/production/kflux-ocp-p01/kustomization.yaml
  components/mintmaker/production/kflux-osp-p01/kustomization.yaml
  components/mintmaker/production/kflux-rhel-p01/kustomization.yaml
  components/mintmaker/production/pentest-p01/kustomization.yaml
  components/mintmaker/production/stone-prod-p01/kustomization.yaml
  components/mintmaker/production/stone-prod-p02/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
  components/mintmaker/staging/stone-stage-p01/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Remove production smee server (#8160)
  argo-cd-apps/base/host/kustomization.yaml
  argo-cd-apps/base/host/smee/kustomization.yaml
  argo-cd-apps/base/host/smee/smee.yaml
  argo-cd-apps/overlays/development/delete-applications.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  components/smee/OWNERS
  components/smee/README.md
  components/smee/base/deployment.yaml
  components/smee/base/kustomization.yaml
  components/smee/base/route.yaml
  components/smee/base/service.yaml
  components/smee/production/stone-prd-host1/ip-allow-list.yaml
  components/smee/production/stone-prd-host1/kustomization.yaml
  components/smee/staging/stone-stg-host/kustomization.yaml
Due: rhtap-staging-e2e

Advertise new user advisor notebooklm
  components/konflux-info/production/kflux-ocp-p01/banner-content.yaml
  components/konflux-info/production/kflux-osp-p01/banner-content.yaml
  components/konflux-info/production/kflux-prd-rh02/banner-content.yaml
  components/konflux-info/production/kflux-prd-rh03/banner-content.yaml
  components/konflux-info/production/kflux-rhel-p01/banner-content.yaml
  components/konflux-info/production/stone-prd-rh01/banner-content.yaml
  components/konflux-info/production/stone-prod-p01/banner-content.yaml
  components/konflux-info/production/stone-prod-p02/banner-content.yaml
Due: none

feat: collect metrics from nginx in proxy pod
  components/konflux-ui/staging/base/proxy/nginx.conf
  components/konflux-ui/staging/base/proxy/proxy.yaml
Due: rhtap-staging-e2e

Advertise new user advisor notebooklm (#8206)
  components/konflux-info/production/kflux-ocp-p01/banner-content.yaml
  components/konflux-info/production/kflux-osp-p01/banner-content.yaml
  components/konflux-info/production/kflux-prd-rh02/banner-content.yaml
  components/konflux-info/production/kflux-prd-rh03/banner-content.yaml
  components/konflux-info/production/kflux-rhel-p01/banner-content.yaml
  components/konflux-info/production/stone-prd-rh01/banner-content.yaml
  components/konflux-info/production/stone-prod-p01/banner-content.yaml
  components/konflux-info/production/stone-prod-p02/banner-content.yaml
Due: none

refactor: create new server block and follow cursor changes
  components/konflux-ui/staging/base/proxy/nginx.conf
  components/konflux-ui/staging/base/proxy/proxy.yaml
Due: rhtap-staging-e2e

ci: upload kustomize manifests on failure
  .github/workflows/kube-linter.yaml
Due: none

ci: simplify error reporting in kube-linter job
  .github/workflows/kube-linter.yaml
Due: none

fix: update postgresql helm charts to oci registry
  components/pipeline-service/development/dev-only-pipeline-service-storage-configuration.yaml
Due: none

KubeArchive: instal on `kflux-osp-p01`
  argo-cd-apps/base/member/infra-deployments/kubearchive/kubearchive.yaml
  components/konflux-ui/production/kflux-osp-p01/kubearchive.conf
  components/konflux-ui/production/kflux-osp-p01/kustomization.yaml
  components/kubearchive/production/kflux-osp-p01/kustomization.yaml
Due: none

KFLUXINFRA-2245: Update AMI with NVIDIA GPU Drivers
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
Due: none

KFLUXINFRA-2245: Update AMI with NVIDIA GPU Drivers (#8222)
  components/multi-platform-controller/production/kflux-prd-rh03/host-config.yaml
Due: none

Make sink restart on kubearchive-logging CM change
  components/kubearchive/development/kustomization.yaml
  components/kubearchive/production/stone-prod-p02/kustomization.yaml
  components/kubearchive/staging/base/kustomization.yaml
Due: rhtap-staging-e2e
