Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

Update from release-service
  components/monitoring/grafana/development/dashboards/release/kustomization.yaml
  components/release/development/kustomization.yaml
Due: none

MPC wait for Nvidia CDI to be ready in stg
  components/multi-platform-controller/staging/base/host-config-chart/files/linux-g64xlarge-amd64-init.sh
Due: rhtap-staging-e2e

PVO11Y-5268 Enable honorLabels on tekton-ms ServiceMonitor (#12696)
  components/monitoring/prometheus/base/tekton-ms/servicemonitor.yaml
Due: rhtap-staging-e2e

Add ibm public key to key viewer rb
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
Due: rhtap-staging-e2e

feat(PVO11Y-5283): forward Kueue admission wait sum and count
  components/monitoring/prometheus/production/base/federation/endpoints-params.yaml
Due: rhtap-staging-e2e

Restore whitespace changes
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
Due: rhtap-staging-e2e

MPC wait for Nvidia CDI to be ready in stg (#12702)
  components/multi-platform-controller/staging/base/host-config-chart/files/linux-g64xlarge-amd64-init.sh
Due: rhtap-staging-e2e

Run sync-rings and hack/generate-deploy-config
  components/pipeline-service/production/kflux-fedora-01/deploy.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-osp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/kflux-rhel-p01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: none

Update from release-service
  components/konflux-ui/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

remove tekton-ci component
  argo-cd-apps/base/tekton-ci/kustomization.yaml
  argo-cd-apps/base/tekton-ci/tekton-ci.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  components/cluster-secret-store/base/appsre-stonesoup-vault-secret-store.yaml
  components/tekton-ci/base/appstudio-pipelines-runner-rolebinding.yaml
  components/tekton-ci/base/external-secrets/clair-in-ci-db-github-token.yaml
  components/tekton-ci/base/external-secrets/github-secret.yaml
  components/tekton-ci/base/external-secrets/infra-deployments-pr-creator.yaml
  components/tekton-ci/base/external-secrets/kustomization.yaml
  components/tekton-ci/base/external-secrets/quay-push-secret.yaml
  components/tekton-ci/base/external-secrets/registry-redhat-io-pull-secret.yaml
  components/tekton-ci/base/external-secrets/slack-webhook-notification-secret.yaml
  components/tekton-ci/base/external-secrets/snyk-shared-token.yaml
  components/tekton-ci/base/kustomization.yaml
  components/tekton-ci/base/namespace.yaml
  components/tekton-ci/base/repository.yaml
  components/tekton-ci/base/serviceaccount.yaml
  components/tekton-ci/base/tekton-ci-maintainers-rb.yaml
  components/tekton-ci/production/infra-deployments-pr-creator.yaml
  components/tekton-ci/production/kustomization.yaml
  components/tekton-ci/production/plnsvc-ci-secret.yaml
  components/tekton-ci/production/plnsvc-codecov-secret.yaml
  components/tekton-ci/production/quay-push-secret.yaml
  components/tekton-ci/production/snyk-shared-token.yaml
  components/tekton-ci/staging/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/integration/development/kustomization.yaml
  components/integration/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5268 Add source_environment label to tekton-ms
  components/monitoring/prometheus/staging/tekton-ms/kustomization.yaml
  components/monitoring/prometheus/staging/tekton-ms/source-environment-label.yaml
Due: rhtap-staging-e2e

PVO11Y-5268 Add source_environment label to tekton-ms (#12731)
  components/monitoring/prometheus/staging/tekton-ms/kustomization.yaml
  components/monitoring/prometheus/staging/tekton-ms/source-environment-label.yaml
Due: rhtap-staging-e2e

Promote integration-service from staging to production
  components/integration/production/base/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5291 Update kanary pipeline to use managed release namespace
  components/monitoring/kanary/staging/base/pipelines/kanary-otel-pipeline.yaml
  components/monitoring/kanary/staging/base/tasks/run-kanary-tests.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-single-arch.yaml
Due: rhtap-staging-e2e

Disable tekton events controller in production Ring 1
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-fedora-01/deploy.yaml
  components/pipeline-service/production/kflux-osp-p01/deploy.yaml
  components/pipeline-service/production/rings/ring-2/kustomization.yaml
  components/pipeline-service/production/rings/ring-3/kustomization.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
Due: rhtap-staging-e2e

Disable tekton events controller in production Ring 2
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-rhel-p01/deploy.yaml
  components/pipeline-service/production/rings/ring-2/kustomization.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: none

PVO11Y-5291 Update kanary pipeline to use managed release namespace (#12739)
  components/monitoring/kanary/staging/base/pipelines/kanary-otel-pipeline.yaml
  components/monitoring/kanary/staging/base/tasks/run-kanary-tests.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stage-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/staging/stone-stg-rh01/cronjobs/kanary-cronjob-single-arch.yaml
Due: rhtap-staging-e2e

KAR-896 force auth for gateway on staging (#12447)
  components/vector-kubearchive-log-collector/staging/base/loki-secret.yaml
  components/vector-kubearchive-log-collector/staging/stone-stage-p01/loki-helm-stg-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-stg-values.yaml
Due: rhtap-staging-e2e

chore: remove ci-helper-app (#12633)
  argo-cd-apps/base/ci-helper-app/ci-helper-app.yaml
  argo-cd-apps/base/ci-helper-app/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-staging/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
  components/backup/base/member/schedules/backup-tenants-schedule.yaml
  components/backup/development/in-cluster-local/backup-tenants-schedule.yaml
  components/ci-helper-app/OWNERS
  components/ci-helper-app/base/kustomization.yaml
  components/ci-helper-app/base/rbac/ci-helper-app.yaml
  components/ci-helper-app/base/rbac/kustomization.yaml
  components/ci-helper-app/development/kustomization.yaml
  components/ci-helper-app/staging/external-secrets/ci-helper-app-secrets.yaml
  components/ci-helper-app/staging/external-secrets/kustomization.yaml
  components/ci-helper-app/staging/kustomization.yaml
  components/cluster-secret-store/base/appsre-stonesoup-vault-secret-store.yaml
  components/konflux-ci/base/repository.yaml
  docs/_data/navigation.yml
  docs/misc/ci-helper-app.md
  docs/misc/visual-learning-guides/visual-components-map.html
  hack/bootstrap-host-cluster.sh
  hack/destroy-cluster.sh
  hack/new-cluster/templates/backup/backup-tenants-schedule.yaml
  hack/preview-template.env
  hack/secret-creator/create-ci-helper-app-secret.sh
Due: rhtap-staging-e2e

SPRE-4610: bump internal-infra-deployments ref for staging repo health probes
  components/monitoring/blackbox/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/blackbox/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

Enable proxy for pnpm on staging clusters
  components/konflux-info/staging/stone-stage-p01/cluster-config.env
  components/konflux-info/staging/stone-stg-rh01/cluster-config.env
Due: rhtap-staging-e2e

Disable tekton events controller in production Ring 1 (#12573)
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-fedora-01/deploy.yaml
  components/pipeline-service/production/kflux-osp-p01/deploy.yaml
  components/pipeline-service/production/rings/ring-2/kustomization.yaml
  components/pipeline-service/production/rings/ring-3/kustomization.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
Due: rhtap-staging-e2e

Enable proxy for go, pip, pnpm on select prod clusters
  components/konflux-info/production/kflux-prd-rh02/cluster-config.env
  components/konflux-info/production/stone-prod-p01/cluster-config.env
Due: none

Add RISC-V static host config to MPC staging upstream
  components/multi-platform-controller/staging/host-values.yaml
Due: rhtap-staging-e2e

Remove trailing whitespace
  components/multi-platform-controller/staging/host-values.yaml
Due: rhtap-staging-e2e

Enable proxy for pnpm on staging clusters (#12753)
  components/konflux-info/staging/stone-stage-p01/cluster-config.env
  components/konflux-info/staging/stone-stg-rh01/cluster-config.env
Due: rhtap-staging-e2e

Add overlays for ring deployments
  argo-cd-apps/app-of-app-sets/ring-0/kustomization.yaml
  argo-cd-apps/app-of-app-sets/ring-0/patches/name-patch.yaml
  argo-cd-apps/app-of-app-sets/ring-0/patches/source-path-patch.yaml
  argo-cd-apps/app-of-app-sets/ring-0/patches/target-namespace-patch.yaml
  argo-cd-apps/app-of-app-sets/ring-1/kustomization.yaml
  argo-cd-apps/app-of-app-sets/ring-1/patches/name-patch.yaml
  argo-cd-apps/app-of-app-sets/ring-1/patches/source-path-patch.yaml
  argo-cd-apps/app-of-app-sets/ring-2/kustomization.yaml
  argo-cd-apps/app-of-app-sets/ring-2/patches/name-patch.yaml
  argo-cd-apps/app-of-app-sets/ring-2/patches/source-path-patch.yaml
  argo-cd-apps/app-of-app-sets/ring-2/patches/target-namespace-patch.yaml
  argo-cd-apps/app-of-app-sets/ring-3/kustomization.yaml
  argo-cd-apps/app-of-app-sets/ring-3/patches/name-patch.yaml
  argo-cd-apps/app-of-app-sets/ring-3/patches/source-path-patch.yaml
  argo-cd-apps/app-of-app-sets/ring-3/patches/target-namespace-patch.yaml
  argo-cd-apps/app-of-app-sets/ring-4/kustomization.yaml
  argo-cd-apps/app-of-app-sets/ring-4/patches/name-patch.yaml
  argo-cd-apps/app-of-app-sets/ring-4/patches/source-path-patch.yaml
  argo-cd-apps/app-of-app-sets/ring-4/patches/target-namespace-patch.yaml
  argo-cd-apps/base/ring-deployments/kustomization.yaml
  argo-cd-apps/overlays/ring-0/kustomization.yaml
  argo-cd-apps/overlays/ring-0/patches/dev-application-sync-wave-disaster-recovery.yaml
  argo-cd-apps/overlays/ring-0/patches/dev-application-sync-wave-kueue.yaml
  argo-cd-apps/overlays/ring-0/patches/dev-application-sync-wave-kyverno.yaml
  argo-cd-apps/overlays/ring-0/patches/dev-application-sync-wave-pipeline-service.yaml
  argo-cd-apps/overlays/ring-0/patches/dev-application-sync-wave-policies.yaml
  argo-cd-apps/overlays/ring-1/kustomization.yaml
  argo-cd-apps/overlays/ring-1/patches/ring-patch.yaml
  argo-cd-apps/overlays/ring-2/kustomization.yaml
  argo-cd-apps/overlays/ring-2/patches/ring-patch.yaml
  argo-cd-apps/overlays/ring-3/kustomization.yaml
  argo-cd-apps/overlays/ring-3/patches/ring-patch.yaml
  argo-cd-apps/overlays/ring-4/kustomization.yaml
  argo-cd-apps/overlays/ring-4/patches/ring-patch.yaml
  infra-tools/internal/detector/detector.go
  infra-tools/internal/detector/detector_test.go
Due: none

Update ClusterQueue for RISC-V
  components/kueue/staging/stone-stage-p01/queue-config/cluster-queue.yaml
Due: rhtap-staging-e2e

Move host-config to staging downstream
  components/multi-platform-controller/staging-downstream/host-values.yaml
Due: none

Add external secret for RISC-V static host ssh key
  components/multi-platform-controller/staging-downstream/external-secrets.yaml
Due: none

SPRE-4610: bump internal-infra-deployments ref for staging Nexus repo health probes (#12750)
  components/monitoring/blackbox/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/blackbox/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5265 Add konflux-o11y group to tenant-4 token manager
  components/perf-team-prometheus-reader/base/tenants-rbac/konflux-perfscale-4-tenant/serviceaccount-loadtest.yaml
Due: rhtap-staging-e2e

Promote release-service and grafana-dashboard from development to staging
  components/monitoring/grafana/staging/dashboards/release/kustomization.yaml
  components/release/staging/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-3009 Add CronJob to sync LE cert to manual routes on kflux-fedora-01
  components/konflux-ui/production/kflux-fedora-01/letsencrypt/kustomization.yaml
  components/konflux-ui/production/kflux-fedora-01/letsencrypt/route-cert-sync-cronjob.yaml
Due: none

SPRE-4610: bump internal-infra-deployments ref for nexus repo health fix
  components/monitoring/blackbox/staging/stone-stage-p01/kustomization.yaml
  components/monitoring/blackbox/staging/stone-stg-rh01/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Promote release-service and grafana-dashboard from development to staging (#12768)
  components/monitoring/grafana/staging/dashboards/release/kustomization.yaml
  components/release/staging/kustomization.yaml
Due: rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
