Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

Update owner for info repo (#7973)
  components/konflux-info/OWNERS
Due: none

Temporarily add new RHEL s390x VMs in FRA
  components/kueue/production/kflux-rhel-p01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/production-downstream/kflux-rhel-p01/external-secrets.yaml
  components/multi-platform-controller/production-downstream/kflux-rhel-p01/host-config.yaml
Due: none

Remove the whole new build banner
  components/konflux-info/production/kflux-ocp-p01/banner-content.yaml
  components/konflux-info/production/kflux-osp-p01/banner-content.yaml
  components/konflux-info/production/kflux-prd-rh02/banner-content.yaml
  components/konflux-info/production/kflux-prd-rh03/banner-content.yaml
  components/konflux-info/production/kflux-rhel-p01/banner-content.yaml
  components/konflux-info/production/stone-prd-rh01/banner-content.yaml
  components/konflux-info/production/stone-prod-p01/banner-content.yaml
  components/konflux-info/production/stone-prod-p02/banner-content.yaml
  components/konflux-info/staging/stone-stage-p01/banner-content.yaml
  components/konflux-info/staging/stone-stg-rh01/banner-content.yaml
Due: rhtap-staging-e2e

ocp-p01: Support user defined workload priority class (#7958)
  components/kueue/production/kflux-ocp-p01/config.yaml
  components/kueue/production/kflux-ocp-p01/kustomization.yaml
  hack/test-tekton-kueue-config.py
Due: none

Remove the whole new build banner (#7975)
  components/konflux-info/production/kflux-ocp-p01/banner-content.yaml
  components/konflux-info/production/kflux-osp-p01/banner-content.yaml
  components/konflux-info/production/kflux-prd-rh02/banner-content.yaml
  components/konflux-info/production/kflux-prd-rh03/banner-content.yaml
  components/konflux-info/production/kflux-rhel-p01/banner-content.yaml
  components/konflux-info/production/stone-prd-rh01/banner-content.yaml
  components/konflux-info/production/stone-prod-p01/banner-content.yaml
  components/konflux-info/production/stone-prod-p02/banner-content.yaml
  components/konflux-info/staging/stone-stage-p01/banner-content.yaml
  components/konflux-info/staging/stone-stg-rh01/banner-content.yaml
Due: rhtap-staging-e2e

Temporarily add new RHEL s390x VMs in FRA (#7974)
  components/kueue/production/kflux-rhel-p01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/production-downstream/kflux-rhel-p01/external-secrets.yaml
  components/multi-platform-controller/production-downstream/kflux-rhel-p01/host-config.yaml
Due: none

Fix gosmee payload size limit to handle MintMaker MRs > 1MB in staging
  components/smee-client/staging/gosmee-v0.28.0-patch.yaml
  components/smee-client/staging/kustomization.yaml
  components/smee/staging/stone-stg-host/gosmee-v0.28.0-patch.yaml
  components/smee/staging/stone-stg-host/kustomization.yaml
Due: rhtap-staging-e2e

Fix gosmee payload size limit to handle MintMaker MRs > 1MB in staging (#7934)
  components/smee-client/staging/gosmee-v0.28.0-patch.yaml
  components/smee-client/staging/kustomization.yaml
  components/smee/staging/stone-stg-host/gosmee-v0.28.0-patch.yaml
  components/smee/staging/stone-stg-host/kustomization.yaml
Due: rhtap-staging-e2e

Add 160BG disk flavors of all the MPC AWS m archs
  components/kueue/production/kflux-rhel-p01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/production-downstream/kflux-rhel-p01/host-config.yaml
Due: none

Revert "Fix gosmee payload size limit to handle MintMaker MRs > 1MB in stagin…"
  components/smee-client/staging/gosmee-v0.28.0-patch.yaml
  components/smee-client/staging/kustomization.yaml
  components/smee/staging/stone-stg-host/gosmee-v0.28.0-patch.yaml
  components/smee/staging/stone-stg-host/kustomization.yaml
Due: rhtap-staging-e2e

Revert "Fix gosmee payload size limit to handle MintMaker MRs > 1MB in stagin…" (#7983)
  components/smee-client/staging/gosmee-v0.28.0-patch.yaml
  components/smee-client/staging/kustomization.yaml
  components/smee/staging/stone-stg-host/gosmee-v0.28.0-patch.yaml
  components/smee/staging/stone-stg-host/kustomization.yaml
Due: rhtap-staging-e2e

Add 160BG disk flavors of all the MPC AWS m archs (#7982)
  components/kueue/production/kflux-rhel-p01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/production-downstream/kflux-rhel-p01/host-config.yaml
Due: none

Promote release-service from development to staging
  components/release/staging/kustomization.yaml
Due: rhtap-staging-e2e

Promote release-service from development to staging (#7986)
  components/release/staging/kustomization.yaml
Due: rhtap-staging-e2e

Moving IBMZ Instances to Frankfurt(EU) for RHEL Environment
  components/kueue/production/kflux-rhel-p01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/production-downstream/kflux-rhel-p01/host-config.yaml
Due: none

Monitor Github/Gitlab availability
  components/mintmaker/staging/base/kustomization.yaml
  components/mintmaker/staging/blackbox/blackbox-deployment.yaml
  components/mintmaker/staging/blackbox/blackbox-service.yaml
  components/mintmaker/staging/blackbox/git-platforms.yaml
  components/mintmaker/staging/blackbox/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Moving IBMZ Instances to Frankfurt(EU) for RHEL Environment (#7885)
  components/kueue/production/kflux-rhel-p01/queue-config/cluster-queue.yaml
  components/multi-platform-controller/production-downstream/kflux-rhel-p01/host-config.yaml
Due: none

Update MintMaker OWNERS
  components/mintmaker/OWNERS
Due: none

Fix overlays deployed for the crossplane-config component
  argo-cd-apps/overlays/development/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
Due: none

info: remove maintenance banners
  components/konflux-info/production/kflux-prd-rh03/banner-content.yaml
  components/konflux-info/production/stone-prd-rh01/banner-content.yaml
  components/konflux-info/production/stone-prod-p01/banner-content.yaml
  components/konflux-info/production/stone-prod-p02/banner-content.yaml
Due: none

info: remove maintenance banners (#7998)
  components/konflux-info/production/kflux-prd-rh03/banner-content.yaml
  components/konflux-info/production/stone-prd-rh01/banner-content.yaml
  components/konflux-info/production/stone-prod-p01/banner-content.yaml
  components/konflux-info/production/stone-prod-p02/banner-content.yaml
Due: none

feat(kite): add bridge operator manifests
  components/konflux-kite/base/backend/deployment.yaml
  components/konflux-kite/base/backend/rbac.yaml
  components/konflux-kite/base/backend/routes.yaml
  components/konflux-kite/base/backend/service.yaml
  components/konflux-kite/base/kustomization.yaml
  components/konflux-kite/base/operator/cluster-role-binding.yaml
  components/konflux-kite/base/operator/cluster-role.yaml
  components/konflux-kite/base/operator/manager.yaml
  components/konflux-kite/base/operator/role-binding.yaml
  components/konflux-kite/base/operator/role.yaml
  components/konflux-kite/base/operator/service-account.yaml
Due: rhtap-staging-e2e

Update components/smee-client/staging/gosmee-v0.28.0-patch.yaml
  components/smee-client/staging/gosmee-v0.28.0-patch.yaml
Due: rhtap-staging-e2e

Update components/smee/staging/stone-stg-host/gosmee-v0.28.0-patch.yaml
  components/smee/staging/stone-stg-host/gosmee-v0.28.0-patch.yaml
Due: rhtap-staging-e2e

Fix gosmee payload size limit to handle MintMaker MRs > 1MB in staging (#7984)
  components/smee-client/staging/gosmee-v0.28.0-patch.yaml
  components/smee-client/staging/kustomization.yaml
  components/smee/staging/stone-stg-host/gosmee-v0.28.0-patch.yaml
  components/smee/staging/stone-stg-host/kustomization.yaml
Due: rhtap-staging-e2e

Revert "Fix gosmee payload size limit to handle MintMaker MRs > 1MB in stagin…" (#8001)
  components/smee-client/staging/gosmee-v0.28.0-patch.yaml
  components/smee-client/staging/kustomization.yaml
  components/smee/staging/stone-stg-host/gosmee-v0.28.0-patch.yaml
  components/smee/staging/stone-stg-host/kustomization.yaml
Due: rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
