Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

mintmaker: add new renovate-image annotation rules for pre-prod (#14087)
  components/mintmaker/development/kustomizeconfig.yaml
  components/mintmaker/staging/base/kustomizeconfig.yaml
Due: rhtap-staging-e2e

fix(KAR-964): liveness probe timeouts - development (#14119)
  components/kubearchive/development/kustomization.yaml
Due: none

KFLUXINFRA-4286 chore(kyverno): remove staging apps from AppSRE ArgoCD (#14132)
  argo-cd-apps/base/member/infra-deployments/kyverno/kyverno.yaml
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
Due: none

Regenerate kflux-prd-rh02 deny-unallowed-annotations policy files (#14140)
  components/policies/production/kflux-prd-rh02/kueue/deny-unallowed-annotations/.chainsaw-test/resources/pipelinerun_with_allowed_and_unallowed_annotations.yaml
  components/policies/production/kflux-prd-rh02/kueue/deny-unallowed-annotations/.chainsaw-test/resources/pipelinerun_with_allowed_annotations.yaml
  components/policies/production/kflux-prd-rh02/kueue/deny-unallowed-annotations/deny-unallowed-annotations-configmap.yaml
Due: none

Re-enable auto-sync for ext. staging AppSets (#14141)
  argo-cd-apps/overlays/konflux-public-staging/disable-auto-sync-patch.yaml
  argo-cd-apps/overlays/konflux-public-staging/kustomization.yaml
Due: none

Update from release-service
  components/project-controller/development/kustomization.yaml
  components/project-controller/staging/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/notification-controller/development/kustomization.yaml
  components/notification-controller/staging/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/smee-client/staging/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-1-notification-controller): promote notification-controller to ring-1
  components/notification-controller-rd/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

Update konflux-kite staging images to a2b99c1
  components/konflux-kite/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Enable Tekton termination message compression in production
  components/pipeline-service/production/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/production/kflux-fedora-01/deploy.yaml
  components/pipeline-service/production/kflux-lw-p01/deploy.yaml
  components/pipeline-service/production/kflux-ocp-p01/deploy.yaml
  components/pipeline-service/production/kflux-osp-p01/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh02/deploy.yaml
  components/pipeline-service/production/kflux-prd-rh03/deploy.yaml
  components/pipeline-service/production/kflux-rhel-p01/deploy.yaml
  components/pipeline-service/production/stone-prd-rh01/deploy.yaml
  components/pipeline-service/production/stone-prod-p01/deploy.yaml
  components/pipeline-service/production/stone-prod-p02/deploy.yaml
Due: rhtap-staging-e2e

PVO11Y-5568 Add IBM O11y admins (#14126)
  components/monitoring/prometheus/production/kflux-lw-p01/o11y-admins-group.yaml
Due: none

Update from release-service
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Validate notifications in existing ImageRepository objects
  components/policies-rd/rings/ring-1/base/image-controller/restrict-notifications-url.yaml
Due: rhtap-staging-e2e

fix(KFLUXVNGD-1157): revert http-proxy to squid.caching on ring-3
  components/konflux-info/production/stone-prd-rh01/cluster-config.env
  components/konflux-info/production/stone-prod-p02/cluster-config.env
Due: none

KFLUXINFRA-4586 Remove unsupported deployments for ROKS cluster kflux-lw-p01
  argo-cd-apps/base/member/infra-deployments/etcd-defrag/etcd-defrag.yaml
  argo-cd-apps/overlays/production-downstream/exclude-kubelet-config-roks-clusters.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  argo-cd-apps/overlays/rd-production/etcd-defrag/exclude-roks-clusters.yaml
  argo-cd-apps/overlays/rd-production/etcd-defrag/kustomization.yaml
  configs/etcd-defrag-rd/rings/ring-2/kflux-lw-p01/kustomization.yaml
  configs/etcd-defrag/production/kflux-lw-p01/kustomization.yaml
Due: none

Update konflux-kite staging images to a2b99c1 (#14151)
  components/konflux-kite/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

fix(KFLUXVNGD-1157): revert http-proxy to squid.caching on ring-3 (#14154)
  components/konflux-info/production/stone-prd-rh01/cluster-config.env
  components/konflux-info/production/stone-prod-p02/cluster-config.env
Due: none

feat(PVO11Y-5503): Enable S3 artifact upload for kanary production clusters
  components/monitoring/kanary/production/base/pipelines/kanary-otel-pipeline.yaml
  components/monitoring/kanary/production/base/tasks/push-kanary-metrics.yaml
  components/monitoring/kanary/production/base/tasks/run-kanary-tests.yaml
  components/monitoring/kanary/production/kflux-fedora-01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-fedora-01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/kflux-ocp-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-ocp-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/kflux-prd-rh02/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-prd-rh02/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/kflux-prd-rh03/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-prd-rh03/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/kflux-rhel-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-rhel-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/stone-prd-rh01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/stone-prd-rh01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/stone-prod-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/stone-prod-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/stone-prod-p02/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/stone-prod-p02/cronjobs/kanary-cronjob-single-arch.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4613 Grant snapshot patch permissions (#14127)
  components/konflux-rbac/production/base/konflux-releaser-bot-actions.yaml
  components/konflux-rbac/staging/base/bot/konflux-releaser-bot-actions.yaml
Due: rhtap-staging-e2e

mintmaker: add new renovate-image annotation rule for prod
  components/mintmaker/production/base/kustomizeconfig.yaml
Due: rhtap-staging-e2e

feat(PVO11Y-5503): Enable S3 artifact upload for kanary production clusters
  components/monitoring/kanary/production/base/pipelines/kanary-otel-pipeline.yaml
  components/monitoring/kanary/production/base/tasks/push-kanary-metrics.yaml
  components/monitoring/kanary/production/base/tasks/run-kanary-tests.yaml
  components/monitoring/kanary/production/kflux-fedora-01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-fedora-01/cronjobs/kanary-cronjob-rpm.yaml
  components/monitoring/kanary/production/kflux-fedora-01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/kflux-ocp-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-ocp-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/kflux-prd-rh02/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-prd-rh02/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/kflux-prd-rh03/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-prd-rh03/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/kflux-rhel-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-rhel-p01/cronjobs/kanary-cronjob-rpm.yaml
  components/monitoring/kanary/production/kflux-rhel-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/stone-prd-rh01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/stone-prd-rh01/cronjobs/kanary-cronjob-rpm.yaml
  components/monitoring/kanary/production/stone-prd-rh01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/stone-prod-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/stone-prod-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/stone-prod-p02/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/stone-prod-p02/cronjobs/kanary-cronjob-rpm.yaml
  components/monitoring/kanary/production/stone-prod-p02/cronjobs/kanary-cronjob-single-arch.yaml
Due: rhtap-staging-e2e

Increase the number or PLR from 250 to 300 on ocp cluster
  components/kueue/rings/ring-2/kflux-ocp-p01/cluster-queue.yaml
Due: none

konflux-info banner details for SA Migration
  components/konflux-info/staging/stone-stage-p01/banner-content.yaml
  components/konflux-info/staging/stone-stg-rh01/banner-content.yaml
Due: rhtap-staging-e2e

this is a test - do not merge
  components/backup/development/in-cluster-local/namespace.yaml
Due: none

Update from release-service
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

konflux-info banner details for SA Migration (#14161)
  components/konflux-info/staging/stone-stage-p01/banner-content.yaml
  components/konflux-info/staging/stone-stg-rh01/banner-content.yaml
Due: rhtap-staging-e2e

Increase the number or PLR from 250 to 300 on ocp cluster (#14135)
  components/kueue/rings/ring-2/kflux-ocp-p01/cluster-queue.yaml
Due: none

chore(konflux-info): add jnkubica to production banner OWNERS
  components/konflux-info/production/OWNERS
Due: none

Deploy pulp-access-controller v1.2.0 with cluster-scoped domains and TBR credentials (#14015)
  components/pulp-access-controller/production/combined.yaml
  components/pulp-access-controller/staging/combined.yaml
Due: rhtap-staging-e2e

KFLUXVNGD-1157 Revert http-proxy to squid.caching (ring-2)
  components/konflux-info/production/kflux-ocp-p01/cluster-config.env
  components/konflux-info/production/kflux-osp-p01/cluster-config.env
  components/konflux-info/production/kflux-prd-rh03/cluster-config.env
  components/konflux-info/production/kflux-rhel-p01/cluster-config.env
  components/konflux-info/production/stone-prod-p01/cluster-config.env
Due: none

refactor the konflux-rbac folder (prod)
  components/konflux-rbac/production/base/bot/konflux-builder-bot-actions.yaml
  components/konflux-rbac/production/base/bot/konflux-externalpuller-bot-actions.yaml
  components/konflux-rbac/production/base/bot/konflux-integrationtest-bot-actions.yaml
  components/konflux-rbac/production/base/bot/konflux-model-bot-actions.yaml
  components/konflux-rbac/production/base/bot/konflux-releaser-bot-actions.yaml
  components/konflux-rbac/production/base/bot/konflux-secrets-bot-actions.yaml
  components/konflux-rbac/production/base/bot/konflux-viewer-bot-actions.yaml
  components/konflux-rbac/production/base/bot/kustomization.yaml
  components/konflux-rbac/production/base/internalbot/konflux-tester-internalbot-actions.yaml
  components/konflux-rbac/production/base/internalbot/kustomization.yaml
  components/konflux-rbac/production/base/kustomization.yaml
  components/konflux-rbac/production/base/user/konflux-admin-user-actions.yaml
  components/konflux-rbac/production/base/user/konflux-contributor-user-actions.yaml
  components/konflux-rbac/production/base/user/konflux-maintainer-user-actions.yaml
  components/konflux-rbac/production/base/user/konflux-viewer-user-actions.yaml
  components/konflux-rbac/production/base/user/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXVNGD-1157 Revert http-proxy to squid.caching (ring-2) (#14164)
  components/konflux-info/production/kflux-ocp-p01/cluster-config.env
  components/konflux-info/production/kflux-osp-p01/cluster-config.env
  components/konflux-info/production/kflux-prd-rh03/cluster-config.env
  components/konflux-info/production/kflux-rhel-p01/cluster-config.env
  components/konflux-info/production/stone-prod-p01/cluster-config.env
Due: none

feat(PVO11Y-5503): Enable S3 artifact upload for kanary production clusters (#14159)
  components/monitoring/kanary/production/base/pipelines/kanary-otel-pipeline.yaml
  components/monitoring/kanary/production/base/tasks/push-kanary-metrics.yaml
  components/monitoring/kanary/production/base/tasks/run-kanary-tests.yaml
  components/monitoring/kanary/production/kflux-fedora-01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-fedora-01/cronjobs/kanary-cronjob-rpm.yaml
  components/monitoring/kanary/production/kflux-fedora-01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/kflux-ocp-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-ocp-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/kflux-prd-rh02/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-prd-rh02/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/kflux-prd-rh03/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-prd-rh03/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/kflux-rhel-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/kflux-rhel-p01/cronjobs/kanary-cronjob-rpm.yaml
  components/monitoring/kanary/production/kflux-rhel-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/stone-prd-rh01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/stone-prd-rh01/cronjobs/kanary-cronjob-rpm.yaml
  components/monitoring/kanary/production/stone-prd-rh01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/stone-prod-p01/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/stone-prod-p01/cronjobs/kanary-cronjob-single-arch.yaml
  components/monitoring/kanary/production/stone-prod-p02/cronjobs/kanary-cronjob-multi-arch.yaml
  components/monitoring/kanary/production/stone-prod-p02/cronjobs/kanary-cronjob-rpm.yaml
  components/monitoring/kanary/production/stone-prod-p02/cronjobs/kanary-cronjob-single-arch.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4600 Add g7.2xlarge and g7.4xlarge GPU instances for stone-stage-p01 (#14123)
  components/kueue/rings/ring-1/stone-stage-p01/cluster-queue.yaml
  components/multi-platform-controller/rings/ring-1/base/host-config-chart/templates/host-config.yaml
  components/multi-platform-controller/rings/ring-1/stone-stage-p01/host-values.yaml
  components/policies-rd/rings/ring-1/stone-stage-p01/kueue-config/deny-unallowed-annotations-configmap.yaml
Due: rhtap-staging-e2e

refactor the konflux-rbac folder (prod) (#14061)
  components/konflux-rbac/production/base/bot/konflux-builder-bot-actions.yaml
  components/konflux-rbac/production/base/bot/konflux-externalpuller-bot-actions.yaml
  components/konflux-rbac/production/base/bot/konflux-integrationtest-bot-actions.yaml
  components/konflux-rbac/production/base/bot/konflux-model-bot-actions.yaml
  components/konflux-rbac/production/base/bot/konflux-releaser-bot-actions.yaml
  components/konflux-rbac/production/base/bot/konflux-secrets-bot-actions.yaml
  components/konflux-rbac/production/base/bot/konflux-viewer-bot-actions.yaml
  components/konflux-rbac/production/base/bot/kustomization.yaml
  components/konflux-rbac/production/base/internalbot/konflux-tester-internalbot-actions.yaml
  components/konflux-rbac/production/base/internalbot/kustomization.yaml
  components/konflux-rbac/production/base/kustomization.yaml
  components/konflux-rbac/production/base/user/konflux-admin-user-actions.yaml
  components/konflux-rbac/production/base/user/konflux-contributor-user-actions.yaml
  components/konflux-rbac/production/base/user/konflux-maintainer-user-actions.yaml
  components/konflux-rbac/production/base/user/konflux-viewer-user-actions.yaml
  components/konflux-rbac/production/base/user/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4509 Add rotation banner to stg-p01
  components/konflux-operator/rings/ring-1/base/cr/konflux-info/konflux-info.yaml
Due: rhtap-staging-e2e

fixup(PVO11Y-4877): drop delivery.tekton.dev.application from MTTB span metrics
  components/monitoring/prometheus/staging/base/federation/writeRelabelConfigs.yaml
  components/monitoring/tracing/otel-collector/staging/otel-collector-helm-values.yaml
  components/monitoring/tracing/otel-collector/staging/servicemonitors/otel-collector-mttb-servicemonitor.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/integration/development/kustomization.yaml
  components/integration/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4509 Add konflux-bot-3
  components/konflux-rbac/production/base/user/konflux-admin-user-actions.yaml
  components/konflux-rbac/staging/base/user/konflux-admin-user-actions.yaml
Due: rhtap-staging-e2e
