Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)

chore(ring-0-konflux-operator): promote konflux-operator
  components/konflux-operator/rings/ring-0/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

Fix kube & yaml lint errors in kueue-rd component
  .github/workflows/kube-linter.yaml
  components/kueue-rd/base/monitoring/kustomization.yaml
  components/kueue-rd/rings/ring-0/base/base-snapshot/monitoring/kustomization.yaml
  components/kueue-rd/rings/ring-1/base/base-snapshot/monitoring/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXSE-404 Sync Segment write key from Vault on konflux-operator ring-1
  components/cluster-secret-store/base/appsre-stonesoup-vault-secret-store.yaml
  components/konflux-operator/rings/ring-1/base/cr/telemetry/external-secrets/kustomization.yaml
  components/konflux-operator/rings/ring-1/base/cr/telemetry/external-secrets/segment-write-key.yaml
  components/konflux-operator/rings/ring-1/base/cr/telemetry/kustomization.yaml
  components/konflux-operator/rings/ring-1/base/cr/telemetry/telemetry.yaml
  components/konflux-operator/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

bind konflux-bot-* SA to allowed ClusterRoles only - ring 2
  components/policies/production/kflux-ocp-p01/kustomization.yaml
  components/policies/production/kflux-rhel-p01/kustomization.yaml
  components/policies/production/stone-prod-p02/kustomization.yaml
Due: none

Update from release-service
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Omit local cluster from all-clusters k-component (#13252)
  argo-cd-apps/k-components/deploy-to-all-staging-clusters/all-clusters-label-selector-patch.yaml
Due: none

Fix yamllint errors in pipeline-service-rd
  components/pipeline-service-rd/README.md
  components/pipeline-service-rd/base/openshift-pipelines/rbac/pipeline-exporter-crb.yaml
  components/pipeline-service-rd/base/openshift-pipelines/rbac/tekton-chains-public-key-crbs.yaml
  components/pipeline-service-rd/base/tekton-results/config-maps/example-leader-election-cm.yaml
  components/pipeline-service-rd/base/tekton-results/rbac/watcher-crb.yaml
  components/pipeline-service-rd/rings/ring-0/base/base-snapshot/openshift-pipelines/rbac/pipeline-exporter-crb.yaml
  components/pipeline-service-rd/rings/ring-0/base/base-snapshot/openshift-pipelines/rbac/tekton-chains-public-key-crbs.yaml
  components/pipeline-service-rd/rings/ring-0/base/base-snapshot/tekton-results/config-maps/example-leader-election-cm.yaml
  components/pipeline-service-rd/rings/ring-0/base/base-snapshot/tekton-results/rbac/watcher-crb.yaml
  components/pipeline-service-rd/rings/ring-0/base/patches/minio-patches/add-template-argocd-sync-options-annotation-patch.yaml
  components/pipeline-service-rd/rings/ring-0/base/tekton-results-api-cm.yaml
  components/pipeline-service-rd/rings/ring-1/base/base-snapshot/openshift-pipelines/rbac/pipeline-exporter-crb.yaml
  components/pipeline-service-rd/rings/ring-1/base/base-snapshot/openshift-pipelines/rbac/tekton-chains-public-key-crbs.yaml
  components/pipeline-service-rd/rings/ring-1/base/base-snapshot/tekton-results/config-maps/example-leader-election-cm.yaml
  components/pipeline-service-rd/rings/ring-1/base/base-snapshot/tekton-results/rbac/watcher-crb.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stg-rh01/patches/add-tekton-pipelines-controller.yaml
Due: rhtap-staging-e2e

Test etcd-shield auto-promotion with Kargo (#13254)
  components/etcd-shield/base/config.yaml
Due: rhtap-staging-e2e

chore(ring-0-etcd-shield): promote etcd-shield to ring-0
  components/etcd-shield/rings/ring-0/base/base-snapshot/config.yaml
Due: rhtap-staging-e2e

chore(ring-1): promote etcd-shield to ring-1
  components/etcd-shield/rings/ring-1/base/base-snapshot/config.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4276 Bump repository-validator production config ref
  components/repository-validator/production/kustomization.yaml
Due: none

KFLUXINFRA-4276 Bump repository-validator production config ref (#13261)
  components/repository-validator/production/kustomization.yaml
Due: none

Apply new labels to rd-production appsets
  argo-cd-apps/k-components/deploy-to-all-production-clusters/all-clusters-label-selector-patch.yaml
  argo-cd-apps/overlays/rd-production/authentication/authentication-appset.yaml
  argo-cd-apps/overlays/rd-production/etcd-shield/etcd-shield-appset.yaml
  argo-cd-apps/overlays/rd-production/kustomization.yaml
  argo-cd-apps/overlays/rd-production/patches/all-clusters-patch.yaml
  argo-cd-apps/overlays/rd-production/patches/external-clusters-patch.yaml
  argo-cd-apps/overlays/rd-production/patches/internal-clusters-patch.yaml
  argo-cd-apps/overlays/rd-production/patches/member-clusters-patch.yaml
  argo-cd-apps/overlays/rd-staging/authentication/authentication-appset.yaml
  argo-cd-apps/overlays/rd-staging/etcd-shield/etcd-shield-appset.yaml
Due: none

Remove test etcd-shield artifact
  components/etcd-shield/base/config.yaml
Due: rhtap-staging-e2e

Add staging and dev overlay appsets for kueue
  argo-cd-apps/overlays/development/dev-application-sync-wave-kueue.yaml
  argo-cd-apps/overlays/rd-dev/kueue/kueue-appset.yaml
  argo-cd-apps/overlays/rd-dev/kueue/kustomization.yaml
  argo-cd-apps/overlays/rd-dev/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/kustomization.yaml
Due: none

chore(crossplane): bump dev and stg (#13253)
  components/crossplane-control-plane/development/kustomization.yaml
  components/crossplane-control-plane/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

Apply new labels to rd-production appsets (#13258)
  argo-cd-apps/k-components/deploy-to-all-production-clusters/all-clusters-label-selector-patch.yaml
  argo-cd-apps/overlays/rd-production/authentication/authentication-appset.yaml
  argo-cd-apps/overlays/rd-production/etcd-shield/etcd-shield-appset.yaml
  argo-cd-apps/overlays/rd-production/kustomization.yaml
  argo-cd-apps/overlays/rd-production/patches/all-clusters-patch.yaml
  argo-cd-apps/overlays/rd-production/patches/external-clusters-patch.yaml
  argo-cd-apps/overlays/rd-production/patches/internal-clusters-patch.yaml
  argo-cd-apps/overlays/rd-production/patches/member-clusters-patch.yaml
  argo-cd-apps/overlays/rd-staging/authentication/authentication-appset.yaml
  argo-cd-apps/overlays/rd-staging/etcd-shield/etcd-shield-appset.yaml
Due: none

Remove test etcd-shield artifact (#13262)
  components/etcd-shield/base/config.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/kueue/development/tekton-kueue/kustomization.yaml
Due: none

Update from release-service
  components/konflux-ui/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-1): promote konflux-operator to ring-1
  components/konflux-operator/rings/ring-1/base/invariant/kustomization.yaml
Due: rhtap-staging-e2e

remove konflux-rhel-read-events ClusterRole (#13244)
  components/konflux-rbac/production/kflux-rhel-p01/kustomization.yaml
  components/konflux-rbac/production/kflux-rhel-p01/rhel/konflux-rhel-read-events-role.yaml
  components/konflux-rbac/production/kflux-rhel-p01/rhel/kustomization.yaml
  components/konflux-rbac/production/stone-prod-p02/kustomization.yaml
  components/konflux-rbac/production/stone-prod-p02/rhel/konflux-rhel-read-events-role.yaml
  components/konflux-rbac/production/stone-prod-p02/rhel/kustomization.yaml
Due: none

chore: add risk-assessment skill for Fullsend and Cursor (#13135)
  AGENTS.md
  skills/pr-workflow.md
  skills/risk-assessment.md
Due: none

bind konflux-bot-* SA to allowed ClusterRoles only - ring 2 (#13166)
  components/policies/production/kflux-ocp-p01/kustomization.yaml
  components/policies/production/kflux-rhel-p01/kustomization.yaml
  components/policies/production/stone-prod-p02/kustomization.yaml
Due: none

Promote integration-service from staging to production
  components/integration/production/base/kustomization.yaml
Due: rhtap-staging-e2e

Externalize MPC embedded scripts - KFLUXINFRA-4159 Prod - Ring2
  components/multi-platform-controller/base/host-config-chart/files/linux-g64xlarge-amd64-init.sh
  components/multi-platform-controller/base/host-config-chart/files/linux-g6xlarge-amd64-init.sh
  components/multi-platform-controller/base/host-config-chart/files/linux-root-amd64-init.sh
  components/multi-platform-controller/base/host-config-chart/files/linux-test-amd64-init.sh
  components/multi-platform-controller/base/host-config-chart/files/macos-mac2metal-arm64-init.sh
  components/multi-platform-controller/base/host-config-chart/templates/_cloud-init-userdata.tpl
  components/multi-platform-controller/base/host-config-chart/templates/_windows-init.ps1.tpl
  components/multi-platform-controller/base/host-config-chart/templates/host-config.yaml
  components/multi-platform-controller/production-downstream/kflux-ocp-p01/kustomization.yaml
  components/multi-platform-controller/production-downstream/stone-prod-p02/kustomization.yaml
  components/multi-platform-controller/production/kflux-prd-rh02/kustomization.yaml
  components/multi-platform-controller/production/stone-prd-rh01/kustomization.yaml
Due: rhtap-staging-e2e

fixing empty trail spaces
  components/multi-platform-controller/production/base/host-config-chart/files/linux-g64xlarge-amd64-init.sh
  components/multi-platform-controller/production/base/host-config-chart/files/linux-g6xlarge-amd64-init.sh
  components/multi-platform-controller/production/base/host-config-chart/templates/host-config.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/mintmaker/development/kustomization.yaml
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

Move `images` field to etcd-shield tier-2 folders
  .github/workflows/kube-linter.yaml
  components/etcd-shield/base/kustomization.yaml
  components/etcd-shield/rings/ring-0/base/base-snapshot/kustomization.yaml
  components/etcd-shield/rings/ring-0/base/kustomization.yaml
  components/etcd-shield/rings/ring-1/base/base-snapshot/kustomization.yaml
  components/etcd-shield/rings/ring-1/base/kustomization.yaml
  components/etcd-shield/rings/ring-2/base/base-snapshot/kustomization.yaml
  components/etcd-shield/rings/ring-2/base/kustomization.yaml
  components/etcd-shield/rings/ring-3/base/base-snapshot/kustomization.yaml
  components/etcd-shield/rings/ring-3/base/kustomization.yaml
  components/etcd-shield/rings/ring-4/base/base-snapshot/kustomization.yaml
  components/etcd-shield/rings/ring-4/base/kustomization.yaml
Due: rhtap-staging-e2e
