Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

chore(ring-3-kyverno): promote kyverno to ring-3
  components/kyverno/rings/ring-3/stone-prd-rh01/kustomization.yaml
  components/kyverno/rings/ring-3/stone-prod-p02/kustomization.yaml
Due: none

chore(ring-2-project-controller): promote project-controller to ring-2
  components/project-controller/rings/ring-2/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-3-repository-validator): promote repository-validator to ring-3
  components/repository-validator/rings/ring-3/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-2-repository-validator): promote repository-validator to ring-2
  components/repository-validator/rings/ring-2/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-2-etcd-shield): promote etcd-shield to ring-2
  components/etcd-shield/rings/ring-2/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-2-etcd-defrag): promote etcd-defrag to ring-2
  configs/etcd-defrag/rings/ring-2/base/base-snapshot/cronjob.yaml
  configs/etcd-defrag/rings/ring-2/base/base-snapshot/kustomization.yaml
  configs/etcd-defrag/rings/ring-2/base/kustomization.yaml
Due: none

Restrict ImageRepository notification URL to Red Hat Bombino only on production clusters (ring-2)
  components/policies/rings/ring-2/base/image-controller/.chainsaw-test/chainsaw-assert-imagerepository-crd.yaml
  components/policies/rings/ring-2/base/image-controller/.chainsaw-test/chainsaw-assert-validatingadmissionpolicy.yaml
  components/policies/rings/ring-2/base/image-controller/.chainsaw-test/chainsaw-test.yaml
  components/policies/rings/ring-2/base/image-controller/.chainsaw-test/resources/imagerepository-bad-deprecated-group.yaml
  components/policies/rings/ring-2/base/image-controller/.chainsaw-test/resources/imagerepository-bad-lookalike-url.yaml
  components/policies/rings/ring-2/base/image-controller/.chainsaw-test/resources/imagerepository-bad-mixed.yaml
  components/policies/rings/ring-2/base/image-controller/.chainsaw-test/resources/imagerepository-bad-stage-url.yaml
  components/policies/rings/ring-2/base/image-controller/.chainsaw-test/resources/imagerepository-bad-url.yaml
  components/policies/rings/ring-2/base/image-controller/.chainsaw-test/resources/imagerepository-crd-deprecated.yaml
  components/policies/rings/ring-2/base/image-controller/.chainsaw-test/resources/imagerepository-crd.yaml
  components/policies/rings/ring-2/base/image-controller/.chainsaw-test/resources/imagerepository-existing-bad-url-added-invalid.yaml
  components/policies/rings/ring-2/base/image-controller/.chainsaw-test/resources/imagerepository-existing-bad-url-changed-url.yaml
  components/policies/rings/ring-2/base/image-controller/.chainsaw-test/resources/imagerepository-existing-bad-url-duplicated.yaml
  components/policies/rings/ring-2/base/image-controller/.chainsaw-test/resources/imagerepository-existing-bad-url-fixed.yaml
  components/policies/rings/ring-2/base/image-controller/.chainsaw-test/resources/imagerepository-existing-bad-url-retitled.yaml
  components/policies/rings/ring-2/base/image-controller/.chainsaw-test/resources/imagerepository-existing-bad-url-updated-metadata.yaml
  components/policies/rings/ring-2/base/image-controller/.chainsaw-test/resources/imagerepository-existing-bad-url.yaml
  components/policies/rings/ring-2/base/image-controller/.chainsaw-test/resources/imagerepository-good-bombino.yaml
  components/policies/rings/ring-2/base/image-controller/.chainsaw-test/resources/imagerepository-good-no-notifications.yaml
  components/policies/rings/ring-2/base/image-controller/kustomization.yaml
  components/policies/rings/ring-2/base/image-controller/restrict-notifications-url-validationadmissionpolicy.yaml
  components/policies/rings/ring-2/base/image-controller/restrict-notifications-url-validationadmissionpolicybinding.yaml
  components/policies/rings/ring-2/base/kustomization.yaml
Due: rhtap-staging-e2e

feat(RELEASE-2116): add retryablePipelines to ReleaseServiceConfig (#14420)
  components/release/development/release_service_config.yaml
  components/release/production/release_service_config.yaml
  components/release/staging/release_service_config.yaml
Due: rhtap-staging-e2e

update k8s-group folder for kflux-stg-es01
  argo-cd-apps/base/all-clusters/internal-infra-deployments/k8s-groups/k8s-groups.yaml
Due: none

chore(STONEINTG-1833): serve image-rbac-proxy and dex from (#14511)
  argo-cd-apps/base/member/infra-deployments/image-rbac-proxy/image-rbac-proxy.yaml
  components/image-rbac-proxy/staging/stone-stage-p01/cert-manager/dex-certificate.yaml
  components/image-rbac-proxy/staging/stone-stage-p01/cert-manager/kustomization.yaml
  components/image-rbac-proxy/staging/stone-stage-p01/cert-manager/proxy-certificate.yaml
  components/image-rbac-proxy/staging/stone-stage-p01/kustomization.yaml
  components/image-rbac-proxy/staging/stone-stage-p01/service-tls-patch.yaml
Due: rhtap-staging-e2e

chore(STONEINTG-1854): let image-rbac-proxy admins patch Routes
  components/image-rbac-proxy/base/rbac/image-rbac-proxy-admin.yaml
Due: rhtap-staging-e2e

Revert "KFLUXINFRA-4365 - Announce stone-prd-p01 SA rotation (#14600)"
  components/konflux-info/production/stone-prod-p01/banner-content.yaml
  components/konflux-operator/rings/ring-2/stone-prod-p01/konflux-info/info-patch.yaml
Due: none

KFLUXINFRA-0000: (onboarding) Migrate production trust-manager AppSet to ring deployments ArgoCD (#14716)
  argo-cd-apps/overlays/rd-production/kustomization.yaml
  argo-cd-apps/overlays/rd-production/trust-manager/kustomization.yaml
  argo-cd-apps/overlays/rd-production/trust-manager/trust-manager-appset.yaml
  components/trust-manager-rd/rings/ring-2/base/kustomization.yaml
  components/trust-manager-rd/rings/ring-2/base/trust-manager-helm-generator.yaml
  components/trust-manager-rd/rings/ring-2/kflux-fedora-01/kustomization.yaml
  components/trust-manager-rd/rings/ring-2/kflux-lw-p01/kustomization.yaml
  components/trust-manager-rd/rings/ring-2/kflux-ocp-p01/kustomization.yaml
  components/trust-manager-rd/rings/ring-2/kflux-osp-p01/kustomization.yaml
  components/trust-manager-rd/rings/ring-2/kflux-prd-rh03/kustomization.yaml
  components/trust-manager-rd/rings/ring-2/kflux-rhel-p01/kustomization.yaml
  components/trust-manager-rd/rings/ring-2/stone-prod-p01/kustomization.yaml
  components/trust-manager-rd/rings/ring-3/base/kustomization.yaml
  components/trust-manager-rd/rings/ring-3/base/trust-manager-helm-generator.yaml
  components/trust-manager-rd/rings/ring-3/stone-prd-rh01/kustomization.yaml
  components/trust-manager-rd/rings/ring-3/stone-prod-p02/kustomization.yaml
  components/trust-manager-rd/rings/ring-4/base/kustomization.yaml
  components/trust-manager-rd/rings/ring-4/base/trust-manager-helm-generator.yaml
  components/trust-manager-rd/rings/ring-4/kflux-prd-rh02/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-0000: (onboarding) Remove production trust-manager apps from AppSRE ArgoCD
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
Due: none

Revert "KFLUXINFRA-4365 - Announce stone-prd-p01 SA rotation (#14600)" (#14721)
  components/konflux-info/production/stone-prod-p01/banner-content.yaml
  components/konflux-operator/rings/ring-2/stone-prod-p01/konflux-info/info-patch.yaml
Due: none

KFLUXINFRA-0000: (onboarding) Remove production trust-manager apps from AppSRE ArgoCD (#14722)
  argo-cd-apps/overlays/konflux-public-production/delete-applications.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/delete-applications.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
Due: none

Update from release-service
  components/build-service/development/kustomization.yaml
  components/build-service/staging/base/kustomization.yaml
Due: build-service-prod-overlay-update, rhtap-staging-e2e

Update from release-service
  components/internal-services/development/kustomization.yaml
Due: none

chore(RELEAS-2754): remove monitor
  components/release/base/kustomization.yaml
  components/release/base/monitor-pipeline-role.yaml
  components/release/base/monitor/development/configmap.yaml
  components/release/base/monitor/development/kustomization.yaml
  components/release/base/monitor/production/configmap.yaml
  components/release/base/monitor/production/kustomization.yaml
  components/release/base/monitor/staging/configmap.yaml
  components/release/base/monitor/staging/kustomization.yaml
  components/release/base/monitor/staging/patches/env-secrets-patch.yaml
  components/release/development/kustomization.yaml
  components/release/production/kustomization.yaml
  components/release/staging/external-secrets/release-monitor-secret.yaml
  components/release/staging/kustomization.yaml
Due: rhtap-staging-e2e

fix: set temporary certificate to avoid conflict between existing cert (#14696)
  components/konflux-kite/base/cert-manager/certificate.yaml
Due: rhtap-staging-e2e

chore(STONEINTG-1854): let image-rbac-proxy admins patch Routes (#14720)
  components/image-rbac-proxy/base/rbac/image-rbac-proxy-admin.yaml
Due: rhtap-staging-e2e

chore(KONFLUX-15971): upgrade kubearchive otel collector to 0.160.0 in dev
  components/kubearchive/development/kustomization.yaml
Due: none

chore(KONFLUX-15971): upgrade kubearchive otel collector to 0.160.0 in stage
  components/kubearchive/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-0-crossplane-control-plane): promote crossplane-control-plane to ring-0
  components/crossplane-control-plane/rings/ring-0/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-0-trust-manager): promote trust-manager to ring-0
  components/trust-manager/rings/ring-0/base/trust-manager-helm-generator.yaml
Due: rhtap-staging-e2e

chore(ring-1-crossplane-control-plane): promote crossplane-control-plane to ring-1
  components/crossplane-control-plane/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-2-authentication): promote authentication to ring-2
  components/authentication/rings/ring-2/base/base-snapshot/rbac/patches/everyone-can-view-patch.yaml
Due: rhtap-staging-e2e

chore(KONFLUX-15971): upgrade kubearchive otel collector to 0.160.0 in prod - ring2
  components/kubearchive/production/kflux-fedora-01/kustomization.yaml
  components/kubearchive/production/kflux-lw-p01/kustomization.yaml
  components/kubearchive/production/kflux-ocp-p01/kustomization.yaml
  components/kubearchive/production/kflux-osp-p01/kustomization.yaml
  components/kubearchive/production/kflux-prd-rh03/kustomization.yaml
  components/kubearchive/production/kflux-rhel-p01/kustomization.yaml
  components/kubearchive/production/stone-prod-p01/kustomization.yaml
Due: none

Add konflux-chore-automation priority for hummingbird lockfile updates
  components/kueue/rings/ring-2/kflux-prd-rh03/config.yaml
  components/kueue/rings/ring-2/kflux-prd-rh03/kustomization.yaml
  components/kueue/rings/ring-2/kflux-prd-rh03/workload-priority-classes.yaml
Due: none

KFLUXINFRA-4626 Add s390x-static-15 to kflux-ocp-p01 MPC and Kueue s390x quota
  components/kueue/rings/ring-2/kflux-ocp-p01/cluster-queue.yaml
  components/multi-platform-controller/rings/ring-2/kflux-ocp-p01/host-values.yaml
Due: none

KFLUXINFRA-4626 Add s390x-static-15 to kflux-ocp-p01 MPC and Kueue s390x quota (#14719)
  components/kueue/rings/ring-2/kflux-ocp-p01/cluster-queue.yaml
  components/multi-platform-controller/rings/ring-2/kflux-ocp-p01/host-values.yaml
Due: none

chore(ring-2-external-secrets-operator): promote external-secrets-operator to ring-2
  components/external-secrets-operator/rings/ring-2/base/base-snapshot/allow-ingress-np.yaml
  components/external-secrets-operator/rings/ring-2/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-2-container-image-proxy): promote container-image-proxy to ring-2
  components/container-image-proxy/rings/ring-2/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

feat(KFLUXINFRA-4446) Include kueue config and changes in ring-3.
  components/kueue/rings/ring-3/base/base-snapshot/workload-priority-classes.yaml
  components/kueue/rings/ring-3/stone-prd-rh01/config.yaml
  components/kueue/rings/ring-3/stone-prod-p02/config.yaml
  hack/test-tekton-kueue-config.py
Due: rhtap-staging-e2e

KFLUXVNGD-1160 remove legacy Squid from development and staging
  argo-cd-apps/overlays/development/delete-applications.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
  components/monitoring/prometheus/staging/base/federation/endpoints-params.yaml
  components/squid/development/caching-helm-generator.yaml
  components/squid/development/kustomization.yaml
  components/squid/staging/artifact-registry-credentials.yaml
  components/squid/staging/caching-helm-generator.yaml
  components/squid/staging/kustomization.yaml
Due: rhtap-staging-e2e

Migrate staging pipeline-service to new Argo CDs (#14703)
  argo-cd-apps/base/member/infra-deployments/pipeline-service/pipeline-service.yaml
  argo-cd-apps/overlays/konflux-public-production/cluster-secret-store-production-auto-sync-patch.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-production/production-auto-sync-patch.yaml
  argo-cd-apps/overlays/production-downstream/cluster-secret-store-production-auto-sync-patch.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/production-auto-sync-patch.yaml
  argo-cd-apps/overlays/rd-staging/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/pipeline-service/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/pipeline-service/pipeline-service-appset.yaml
  components/pipeline-service-rd/README.md
  components/pipeline-service-rd/base/tekton-logging/pipeline-metrics-exporter-deployment.yaml
  components/pipeline-service-rd/rings/empty-base/empty-base/kustomization.yaml
  components/pipeline-service-rd/rings/ring-0/base/base-snapshot/tekton-logging/pipeline-metrics-exporter-deployment.yaml
  components/pipeline-service-rd/rings/ring-1/base/base-snapshot/kustomization.yaml
  components/pipeline-service-rd/rings/ring-1/base/base-snapshot/tekton-logging/pipeline-metrics-exporter-deployment.yaml
  components/pipeline-service-rd/rings/ring-1/base/kustomization.yaml
  components/pipeline-service-rd/rings/ring-1/base/patches/add-env-to-api-container-patch.yaml
  components/pipeline-service-rd/rings/ring-1/base/patches/chains-slsa-artifact-format-patch.yaml
  components/pipeline-service-rd/rings/ring-1/base/patches/set-api-container-resources-limits-patch.yaml
  components/pipeline-service-rd/rings/ring-1/base/patches/set-api-container-resources-requests-patch.yaml
  components/pipeline-service-rd/rings/ring-1/base/patches/set-argocd-sync-wave-to-1-patch.yaml
  components/pipeline-service-rd/rings/ring-1/base/patches/tektonconfig-disable-pruner-patch.yaml
  components/pipeline-service-rd/rings/ring-1/base/patches/update-tekton-results-watcher-container-args-patch.yaml
  components/pipeline-service-rd/rings/ring-1/kflux-stg-p02/deploy.yaml
  components/pipeline-service-rd/rings/ring-1/lightwell-dev/kustomization.yaml
  components/pipeline-service-rd/rings/ring-1/lightwell-dev/patches/delete-tekton-results-cluster-rbac-patch.yaml
  components/pipeline-service-rd/rings/ring-1/lightwell-dev/patches/delete-tekton-results-external-secrets-patch.yaml
  components/pipeline-service-rd/rings/ring-1/lightwell-dev/patches/delete-tekton-results-namespace-patch.yaml
  components/pipeline-service-rd/rings/ring-1/lightwell-dev/patches/delete-tekton-results-test-resources-patch.yaml
  components/pipeline-service-rd/rings/ring-1/lightwell-dev/patches/delete-tr-namespaced-resources-patch.yaml
  components/pipeline-service-rd/rings/ring-1/lightwell-dev/patches/pipeline-metrics-exporter-resources-patch.yaml
  components/pipeline-service-rd/rings/ring-1/lightwell-dev/patches/pipelines-as-code-secret-path-patch.yaml
  components/pipeline-service-rd/rings/ring-1/lightwell-dev/patches/tekton-chains-public-key-path-patch.yaml
  components/pipeline-service-rd/rings/ring-1/lightwell-dev/patches/tekton-chains-signing-secret-path-patch.yaml
  components/pipeline-service-rd/rings/ring-1/lightwell-dev/patches/tekton-config-pac-settings-patch.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stage-p01/deploy.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stg-rh01/deploy.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stg-rh01/kustomization.yaml
  components/pipeline-service-rd/rings/ring-1/stone-stg-rh01/security-context-constraints.yaml
Due: rhtap-staging-e2e

Remove old staging pipeline-service appsets
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
  components/pipeline-service-rd/empty-base/empty-base/kustomization.yaml
Due: none

Remove old staging pipeline-service appsets (#14734)
  argo-cd-apps/overlays/konflux-public-staging/delete-applications.yaml
  argo-cd-apps/overlays/staging-downstream/delete-applications.yaml
  components/pipeline-service-rd/empty-base/empty-base/kustomization.yaml
Due: none

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
