Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

Enable Tekton termination message compression to fix multiarch result truncation
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/lightwell-dev/deploy.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

bump kube-shard memory limit
  components/kube-shard/rings/ring-1/lightwell-dev/kustomization.yaml
  components/kube-shard/rings/ring-1/lightwell-dev/patch_deployment-limits.yaml
Due: none

give kube-shard Guaranteed QoS
  components/kube-shard/rings/ring-1/lightwell-dev/patch_deployment-limits.yaml
Due: none

give kube-shard more memory and Guaranteed QoS (#13861)
  components/kube-shard/rings/ring-1/lightwell-dev/kustomization.yaml
  components/kube-shard/rings/ring-1/lightwell-dev/patch_deployment-limits.yaml
Due: none

chore(ring-0-artifact-registry-proxy): promote artifact-registry-proxy to ring-0
  components/artifact-registry-proxy/rings/ring-0/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

chore(ring-1-artifact-registry-proxy): promote artifact-registry-proxy to ring-1
  components/artifact-registry-proxy/rings/ring-1/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

Remove build-pipeline-runner role binding from Build Service
  components/build-service/base/build-pipeline-runner-rolebinding.yaml
  components/build-service/base/kustomization.yaml
Due: rhtap-staging-e2e

Switch Tekton Results from standalone to operator-managed deployment
  components/konflux-operator/rings/ring-0/base/cr/konflux-ui/ui.yaml
  components/konflux-operator/rings/ring-1/base/cr/konflux-ui/ui.yaml
  components/konflux-operator/rings/ring-1/base/cr/telemetry/telemetry.yaml
  components/konflux-ui/staging/base/proxy/tekton-results.conf
  components/pipeline-service/development/dev-only-pipeline-service-storage-configuration.yaml
  components/pipeline-service/development/kustomization.yaml
  components/pipeline-service/development/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/base/kustomization.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/lightwell-dev/deploy.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
  hack/secret-creator/create-plnsvc-secrets.sh
Due: rhtap-staging-e2e

chore(ring-0-container-image-proxy): promote container-image-proxy to ring-0
  components/container-image-proxy/rings/ring-0/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

chore(ring-1-container-image-proxy): promote container-image-proxy to ring-1
  components/container-image-proxy/rings/ring-1/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

chore(ring-0-etcd-shield): promote etcd-shield to ring-0
  components/etcd-shield/rings/ring-0/base/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4495 Use IBM Cloud DB CA for tekton-results on kflux-lw-p01 (#13856)
  components/pipeline-service/production/kflux-lw-p01/deploy.yaml
  components/pipeline-service/production/kflux-lw-p01/resources/kustomization.yaml
  components/pipeline-service/production/kflux-lw-p01/resources/tekton-results-database-secret-path.yaml
  components/pipeline-service/production/kflux-lw-p01/resources/tekton-results-db-ca-patch.yaml
Due: none

Update from release-service
  components/konflux-ui/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-0-etcd-defrag): promote etcd-defrag-rd to ring-0
  configs/etcd-defrag-rd/rings/ring-0/base/base-snapshot/cluster-role.yaml
  configs/etcd-defrag-rd/rings/ring-0/base/base-snapshot/cronjob.yaml
  configs/etcd-defrag-rd/rings/ring-0/base/base-snapshot/kustomization.yaml
  configs/etcd-defrag-rd/rings/ring-0/base/base-snapshot/namespace.yaml
  configs/etcd-defrag-rd/rings/ring-0/base/base-snapshot/role-binding.yaml
  configs/etcd-defrag-rd/rings/ring-0/base/base-snapshot/serviceaccount.yaml
Due: none

SPRE-6614 add spre-telemetry SA and RBAC to production workload clusters
  argo-cd-apps/base/member/infra-deployments/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/spre-telemetry/kustomization.yaml
  argo-cd-apps/base/member/infra-deployments/spre-telemetry/spre-telemetry.yaml
  argo-cd-apps/overlays/development/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/production-downstream/kustomization.yaml
  components/spre-telemetry/OWNERS
  components/spre-telemetry/base/clusterrolebinding.yaml
  components/spre-telemetry/base/kustomization.yaml
  components/spre-telemetry/base/serviceaccount.yaml
  components/spre-telemetry/base/token-minting-rbac.yaml
  components/spre-telemetry/development/kustomization.yaml
  components/spre-telemetry/production/empty-base/kustomization.yaml
  components/spre-telemetry/production/kflux-ocp-p01/kustomization.yaml
  components/spre-telemetry/production/kflux-osp-p01/kustomization.yaml
  components/spre-telemetry/production/kflux-prd-rh02/kustomization.yaml
  components/spre-telemetry/production/kflux-prd-rh03/kustomization.yaml
  components/spre-telemetry/production/kflux-rhel-p01/kustomization.yaml
  components/spre-telemetry/production/stone-prd-rh01/kustomization.yaml
  components/spre-telemetry/production/stone-prod-p01/kustomization.yaml
  components/spre-telemetry/production/stone-prod-p02/kustomization.yaml
  components/spre-telemetry/staging/empty-base/kustomization.yaml
Due: rhtap-staging-e2e

SPRE-6614 add konflux-telemetry-bot-actions ClusterRole to konflux-rbac
  components/konflux-rbac/production/base/konflux-telemetry-bot-actions.yaml
  components/konflux-rbac/production/base/kustomization.yaml
  components/konflux-rbac/staging/base/konflux-telemetry-bot-actions.yaml
  components/konflux-rbac/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-1-etcd-defrag): promote etcd-defrag-rd to ring-1
  configs/etcd-defrag-rd/rings/ring-1/base/kustomization.yaml
Due: none

chore(ring-1-etcd-shield): promote etcd-shield to ring-1
  components/etcd-shield/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

Promote release-service and grafana-dashboard from development to staging
  components/monitoring/grafana/staging/dashboards/release/kustomization.yaml
  components/release/staging/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/mintmaker/staging/base/kustomization.yaml
Due: mintmaker-prod-overlay-update, rhtap-staging-e2e

KFLUXINFRA-4495 Add kueue-rd ring-2 overlay for kflux-lw-p01
  components/kueue-rd/rings/ring-2/kflux-lw-p01/cluster-queue.yaml
  components/kueue-rd/rings/ring-2/kflux-lw-p01/config.yaml
  components/kueue-rd/rings/ring-2/kflux-lw-p01/kustomization.yaml
Due: none

KFLUXINFRA-4495 Add kueue-rd ring-2 overlay for kflux-lw-p01 (#13874)
  components/kueue-rd/rings/ring-2/kflux-lw-p01/cluster-queue.yaml
  components/kueue-rd/rings/ring-2/kflux-lw-p01/config.yaml
  components/kueue-rd/rings/ring-2/kflux-lw-p01/kustomization.yaml
Due: none

KFLUXINFRA-4254 Add agent files defense CI checks
  .github/workflows/agent-files-detect.yaml
  .github/workflows/agent-files-enforce.yaml
  .gitignore
Due: none

KFLUXINFRA-4426 render-diff: skip empty-base overlays instead of reporting BUILD ERROR (#13840)
  infra-tools/internal/renderdiff/engine.go
  infra-tools/internal/renderdiff/engine_test.go
Due: none

KFLUXVNGD-1306 remove crossplane from Lightwell clusters (#13832)
  argo-cd-apps/base/member/infra-deployments/crossplane-control-plane/crossplane-control-plane.yaml
  components/crossplane-control-plane/production/kflux-lw-p01/kustomization.yaml
  components/crossplane-control-plane/staging/lightwell-dev/kustomization.yaml
Due: rhtap-staging-e2e

KFLUXINFRA-4260 use ArgoCD Server-Side Diff for kyverno CRDs instead of Replace=true
  argo-cd-apps/base/member/infra-deployments/kyverno/kyverno.yaml
  components/kyverno/chainsaw/kyverno-helm-values.yaml
  components/kyverno/development/kyverno-helm-values.yaml
  hack/new-cluster/templates/kyverno/kyverno-helm-values.yaml
Due: none

Update from release-service
  components/image-rbac-proxy/development/kustomization.yaml
  components/image-rbac-proxy/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-2-etcd-shield): promote etcd-shield to ring-2
  components/etcd-shield/rings/ring-2/base/base-snapshot/deployment.yaml
Due: rhtap-staging-e2e

Add deployment state investigation skill
  AGENTS.md
  skills/deployment-state/SKILL.md
  skills/deployment-state/references/divergence-history.md
  skills/deployment-state/references/evidence-and-challenge.md
  skills/deployment-state/references/fix-to-rollout.md
  skills/deployment-state/references/interpret-bug-fixes.md
  skills/deployment-state/references/repository-resolution.md
  skills/deployment-state/references/rollout-inventory.md
  skills/deployment-state/references/source-change-range.md
Due: none

Fix etcd-shield image name in ring-2 kustomization
  components/etcd-shield/rings/ring-2/base/kustomization.yaml
Due: rhtap-staging-e2e

fixup(PVO11Y-4877): fix spanmetrics ServiceMonitor scrape regex and label handling
  components/monitoring/tracing/otel-collector/staging/servicemonitors/otel-collector-mttb-servicemonitor.yaml
Due: rhtap-staging-e2e

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
