Repository redhat-appstudio/infra-deployments: changes, and which Tekton pipelines are due for each by the changed paths.
All: build-service-prod-overlay-update, image-controller-prod-overlay-update, mintmaker-prod-overlay-update, rhtap-staging-e2e

build-service-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-build
      - name: COMPONENT_NAME
        value: build-service
      - name: SCRIPT
  ...

image-controller-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-image-controller
      - name: COMPONENT_NAME
        value: image-controller
      - name: SCRIPT
  ...

mintmaker-prod-overlay-update:
  pipelineSpec:
    tasks:
    - name: promote-component-from-stage-to-prod
      params:
      - name: BRANCH_NAME
        value: stage-to-prod-mintmaker
      - name: COMPONENT_NAME
        value: mintmaker
      - name: SCRIPT
  ...

rhtap-staging-e2e:
  params:
  - name: repo_url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: pull_request_number
    value: '{{ pull_request_number }}'
  - name: source_branch
    value: '{{ source_branch }}'
  pipelineRef:
    name: rhtap-staging-e2e
  workspaces:
  - name: git
    volumeClaimTemplate:
  ...

chore(ring-1-project-controller): promote project-controller to ring-1
  components/project-controller/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

PVO11Y-5577: stage VictoriaMetrics PoC for stone-stg-rh01
  components/monitoring/prometheus/staging/stone-stg-rh01/kustomization.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/kustomization.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/namespace.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/networkpolicy.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/operator-helm-generator.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/operator-values.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/rbac.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/vmagent.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/vmcluster.yaml
Due: rhtap-staging-e2e

PVO11Y-5577: correct staging VM PoC integration
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/operator-values.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/rbac.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/vmagent.yaml
Due: rhtap-staging-e2e

PVO11Y-5577: add VM PoC ruler and cleanup guide
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/README.md
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/kustomization.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/operator-values.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/vmalert.yaml
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/vmrule.yaml
Due: rhtap-staging-e2e

PVO11Y-5577: clarify converted monitor teardown
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/README.md
Due: rhtap-staging-e2e

fix: remove invalid allocatedCPU from loki chunksCache on staging (#14561)
  components/vector-kubearchive-log-collector/staging/stone-stage-p01/loki-helm-stg-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/loki-helm-stg-values.yaml
Due: rhtap-staging-e2e

PVO11Y-5577: document monitor reconversion on rollout
  components/monitoring/prometheus/staging/stone-stg-rh01/poc/victoriametrics/README.md
Due: rhtap-staging-e2e

fix(results): re-add missing env vars after operator migration (#14562)
  components/pipeline-service-rd/base/openshift-pipelines/tekton-config.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/lightwell-dev/deploy.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/build-service/development/kustomization.yaml
  components/build-service/staging/base/kustomization.yaml
Due: build-service-prod-overlay-update, rhtap-staging-e2e

k8s-groups: add ibmid support for kflux-stg-p02 (#14545)
  argo-cd-apps/base/all-clusters/internal-infra-deployments/k8s-groups/k8s-groups.yaml
Due: none

Change etcd-defrag frequency back to 5min
  configs/etcd-defrag/base/cronjob.yaml
Due: none

fix tekton results logs path in staging
  components/pipeline-service-rd/base/openshift-pipelines/tekton-config.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/lightwell-dev/deploy.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

fix tekton results logs path in staging (#14567)
  components/pipeline-service-rd/base/openshift-pipelines/tekton-config.yaml
  components/pipeline-service/staging/base/main-pipeline-service-configuration.yaml
  components/pipeline-service/staging/lightwell-dev/deploy.yaml
  components/pipeline-service/staging/stone-stage-p01/deploy.yaml
  components/pipeline-service/staging/stone-stg-rh01/deploy.yaml
Due: rhtap-staging-e2e

fix: enable env var interpolation for vector 0.57.0 on staging
  components/vector-kubearchive-log-collector/staging/stone-stage-p01/vector-helm-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/vector-helm-values.yaml
Due: rhtap-staging-e2e

Disable Tekton controller trace emission in staging
  components/monitoring/tracing/otel-collector/staging/disable-tekton-tracing.yaml
  components/monitoring/tracing/otel-collector/staging/kustomization.yaml
Due: rhtap-staging-e2e

(onboarding) Create new staging pvsec AppSet in rd-staging overlay (#14541)
  argo-cd-apps/overlays/rd-staging/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/pvsec/kustomization.yaml
  argo-cd-apps/overlays/rd-staging/pvsec/pvsec-appset.yaml
  components/pvsec/rings/ring-1/base/base-snapshot/crypto-rules/kustomization.yaml
  components/pvsec/rings/ring-1/base/base-snapshot/crypto-rules/role-binding.yaml
  components/pvsec/rings/ring-1/base/base-snapshot/crypto-scanner-namespace.yaml
  components/pvsec/rings/ring-1/base/base-snapshot/kustomization.yaml
  components/pvsec/rings/ring-1/base/external-secret.yaml
  components/pvsec/rings/ring-1/base/image-stream.yaml
  components/pvsec/rings/ring-1/base/kustomization.yaml
Due: rhtap-staging-e2e

Change etcd-defrag frequency back to 5min (#14566)
  configs/etcd-defrag/base/cronjob.yaml
Due: none

chore(ring-0-etcd-defrag): promote etcd-defrag to ring-0
  configs/etcd-defrag/rings/ring-0/base/base-snapshot/cronjob.yaml
Due: none

chore(ring-1-etcd-defrag): promote etcd-defrag to ring-1
  configs/etcd-defrag/rings/ring-1/base/base-snapshot/cronjob.yaml
Due: none

fix: enable env var interpolation for vector 0.57.0 on staging (#14568)
  components/vector-kubearchive-log-collector/staging/stone-stage-p01/vector-helm-values.yaml
  components/vector-kubearchive-log-collector/staging/stone-stg-rh01/vector-helm-values.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/monitoring/grafana/development/dashboards/release/kustomization.yaml
  components/release/development/kustomization.yaml
Due: none

Change etcd-defrag frequency back to 5min ring-2
  configs/etcd-defrag/rings/ring-2/base/base-snapshot/cronjob.yaml
Due: none

Change etcd-defrag frequency back to 5min ring-2 (#14572)
  configs/etcd-defrag/rings/ring-2/base/base-snapshot/cronjob.yaml
Due: none

Update from release-service
  components/internal-services/development/kustomization.yaml
Due: none

chore(ring-2-artifact-registry-proxy): promote artifact-registry-proxy to ring-2
  components/artifact-registry-proxy/rings/ring-2/base/caching-helm-generator.yaml
Due: rhtap-staging-e2e

chore(ring-2-external-secrets-operator): promote external-secrets-operator to ring-2
  components/external-secrets-operator/rings/ring-2/base/kustomization.yaml
Due: rhtap-staging-e2e

chore(ring-2-repository-validator): promote repository-validator to ring-2
  components/repository-validator/rings/ring-2/base/kustomization.yaml
Due: rhtap-staging-e2e

Update from release-service
  components/konflux-ui/staging/base/kustomization.yaml
Due: rhtap-staging-e2e

feat: deploy konflux-operator ring-2 for stone-prod-p01
  argo-cd-apps/overlays/production-downstream/exclude-operator-owned-clusters.yaml
  argo-cd-apps/overlays/rd-production/konflux-operator/konflux-operator-appset.yaml
  components/konflux-operator/rings/ring-2/base/cr/konflux-info/konflux-info.yaml
  components/konflux-operator/rings/ring-2/stone-prod-p01/build/OWNERS
  components/konflux-operator/rings/ring-2/stone-prod-p01/build/external-secret-path-patch.yaml
  components/konflux-operator/rings/ring-2/stone-prod-p01/build/webhook-urls-patch.yaml
  components/konflux-operator/rings/ring-2/stone-prod-p01/integration/OWNERS
  components/konflux-operator/rings/ring-2/stone-prod-p01/integration/external-secret-path-patch.yaml
  components/konflux-operator/rings/ring-2/stone-prod-p01/konflux-info/OWNERS
  components/konflux-operator/rings/ring-2/stone-prod-p01/konflux-info/info-patch.yaml
  components/konflux-operator/rings/ring-2/stone-prod-p01/konflux-ui/OWNERS
  components/konflux-operator/rings/ring-2/stone-prod-p01/konflux-ui/ui-patch.yaml
  components/konflux-operator/rings/ring-2/stone-prod-p01/kustomization.yaml
  components/konflux-operator/rings/ring-2/stone-prod-p01/namespace-lister/OWNERS
Due: rhtap-staging-e2e

KFLUXINFRA-4628 Pin canonical validator config in ring 2 (#14499)
  components/repository-validator/rings/ring-2/kflux-lw-p01/kustomization.yaml
Due: none

feat: deploy konflux-operator ring-2 for stone-prod-p01 (#14574)
  argo-cd-apps/overlays/production-downstream/exclude-operator-owned-clusters.yaml
  argo-cd-apps/overlays/rd-production/konflux-operator/konflux-operator-appset.yaml
  components/konflux-operator/rings/ring-2/base/cr/konflux-info/konflux-info.yaml
  components/konflux-operator/rings/ring-2/stone-prod-p01/build/OWNERS
  components/konflux-operator/rings/ring-2/stone-prod-p01/build/external-secret-path-patch.yaml
  components/konflux-operator/rings/ring-2/stone-prod-p01/build/webhook-urls-patch.yaml
  components/konflux-operator/rings/ring-2/stone-prod-p01/integration/OWNERS
  components/konflux-operator/rings/ring-2/stone-prod-p01/integration/external-secret-path-patch.yaml
  components/konflux-operator/rings/ring-2/stone-prod-p01/konflux-info/OWNERS
  components/konflux-operator/rings/ring-2/stone-prod-p01/konflux-info/info-patch.yaml
  components/konflux-operator/rings/ring-2/stone-prod-p01/konflux-ui/OWNERS
  components/konflux-operator/rings/ring-2/stone-prod-p01/konflux-ui/ui-patch.yaml
  components/konflux-operator/rings/ring-2/stone-prod-p01/kustomization.yaml
  components/konflux-operator/rings/ring-2/stone-prod-p01/namespace-lister/OWNERS
Due: rhtap-staging-e2e

fix(): remove migrating banner from konflux-info
  components/konflux-operator/rings/ring-2/stone-prod-p01/konflux-info/info-patch.yaml
Due: none

fix(): remove migrating banner from konflux-info (#14577)
  components/konflux-operator/rings/ring-2/stone-prod-p01/konflux-info/info-patch.yaml
Due: none

chore: add operator-owned AppSet exclude wiring on konflux-public-production
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-production/preserve-resources-on-deletion.yaml
Due: none

chore: add operator-owned AppSet exclude wiring on konflux-public-production (#14579)
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/konflux-public-production/preserve-resources-on-deletion.yaml
Due: none

feat: deploy konflux-operator ring-2 for kflux-prd-rh03
  argo-cd-apps/overlays/konflux-public-production/exclude-operator-owned-clusters.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/rd-production/konflux-operator/konflux-operator-appset.yaml
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/build/OWNERS
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/build/external-secret-path-patch.yaml
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/integration/OWNERS
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/integration/external-secret-path-patch.yaml
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/integration/snapshotgc-patch.yaml
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/konflux-info/OWNERS
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/konflux-info/info-patch.yaml
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/konflux-ui/OWNERS
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/konflux-ui/ui-patch.yaml
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/kustomization.yaml
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/namespace-lister/OWNERS
Due: none

feat: deploy konflux-operator ring-2 for kflux-prd-rh03 (#14576)
  argo-cd-apps/overlays/konflux-public-production/exclude-operator-owned-clusters.yaml
  argo-cd-apps/overlays/konflux-public-production/kustomization.yaml
  argo-cd-apps/overlays/rd-production/konflux-operator/konflux-operator-appset.yaml
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/build/OWNERS
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/build/external-secret-path-patch.yaml
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/integration/OWNERS
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/integration/external-secret-path-patch.yaml
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/integration/snapshotgc-patch.yaml
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/konflux-info/OWNERS
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/konflux-info/info-patch.yaml
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/konflux-ui/OWNERS
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/konflux-ui/ui-patch.yaml
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/kustomization.yaml
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/namespace-lister/OWNERS
Due: none

fix: disable telemetry on rh03
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/kustomization.yaml
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/telemetry/telemetry-patch.yaml
Due: none

fix: disable telemetry on rh03 (#14580)
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/kustomization.yaml
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/telemetry/telemetry-patch.yaml
Due: none

Revert "fix: disable telemetry on rh03 (#14580)"
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/kustomization.yaml
  components/konflux-operator/rings/ring-2/kflux-prd-rh03/telemetry/telemetry-patch.yaml
Due: none

Path conditions:
  build-service-prod-overlay-update: any of: components/build-service/staging/base/kustomization.yaml
  image-controller-prod-overlay-update: any of: components/image-controller/staging/kustomization.yaml
  mintmaker-prod-overlay-update: any of: components/mintmaker/staging/base/kustomization.yaml
  rhtap-staging-e2e: ((any of: **/staging/**) or (any of: argo-cd-apps/app-of-app-sets/base/**)) or (any of: components/*/base/**)
